<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.agronomia_add_product.product_detail') }}</h1>
    </div>
    <form class="cusstom__container bg-white" @submit.prevent="formSubmit()">
      <div class="row">
        <div class="col-xl-9">
          <div class="row justify-content-between align-items-start">
            <div class="col-xl-8">
              <p>{{ __('labels.product') }}: <span class="font-weight-bold">{{ product.name }}</span></p>
            </div>
            <div>
              <div class="d-flex align-items-center">
                <span class="mr-2"> {{ __('labels.inactive') }} </span>
                <toggle-button @change="toggleActive()" :width="65" :height="25" :value="formData.is_active" :sync="true" class="mb-0" />
                <span class="ml-2"> {{ __('labels.active') }} </span>
              </div>
            </div>
          </div>
          <div class="my-5" />
          <div class="row">
            <div class="col-xl-12 mb-3">
              <h6 class="text-uppercase">{{ __('labels.agronomia_add_product.cantidade_y_stock') }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <div class="form-group">
                <label>{{ __('labels.agronomia_add_product.form_of_presentation') }}</label>
                <h6 class="font-weight-normal">{{ product.unit_of_measure }} </h6>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="form-group">
                <label>{{ __('labels.agronomia_add_product.quantity_available') }}</label>
                <div class="flex-nowrap align-items-center form-inline">
                  <input type="text" pattern="^[0-9]+$" required id="available_quanity" v-model="formData.available_quanity" class="form-control text-right"/>
                  <span>{{ __('labels.agronomia_add_product.units') }} </span>
                </div>
                <p class="form-error" v-if="formErrors.available_quanity" >{{ formErrors.available_quanity }}</p>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="form-group">
                <label>
                  {{ __('labels.agronomia_add_product.sales_area') }}
                  <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.Zona_de_venta'), trigger: 'click hover', html: true}">
                    <i class="fas fa-question" />
                  </label>
                </label>
                <div class="flex-nowrap align-items-center form-inline">
                  <input type="text" pattern="^[0-9]+$" required id="sales_range_in_km" v-model="formData.sales_range_in_km" class="form-control text-right"/>
                  <span>{{ __('labels.agronomia_add_product.km_around') }} </span>
                </div>
                <p class="form-error" v-if="formErrors.sales_range_in_km" >{{ formErrors.sales_range_in_km }}</p>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="form-group">
                <label>{{ __('labels.agronomia_add_product.price_per_unit') }} USD</label>
                <div class="flex-nowrap align-items-center form-inline">
                  <input type="number" step="0.01" min="0" pattern="[0-9]+([\.,][0-9]+)?" required id="agronomia_price" v-model="formData.agronomia_price" class="form-control text-right" />
                </div>
                <p class="form-error" v-if="formErrors.agronomia_price" >{{ formErrors.agronomia_price }}</p>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="form-group">
                <label>{{ __('labels.agronomia_add_product.bonus_price_per_unit') }} USD</label>
                <div class="flex-nowrap align-items-center form-inline">
                  <input type="number" step="0.01" min="0" pattern="[0-9]+([\.,][0-9]+)?" required id="bonus_price" v-model="formData.bonus_price" class="form-control mr-2 text-right" :disabled="formData.bonus_applicable == 0" :readonly="product.bonus_applicable == 0"/>
                  <span>{{ __('labels.agronomia_add_product.buying_more_than') }} </span>
                  <input type="text" pattern="^[0-9]+$" required id="min_bonus_quanitity" v-model="formData.min_bonus_quanitity" class="form-control mx-2 text-right" :disabled="formData.bonus_applicable == 0" :readonly="formData.bonus_applicable == 0"/>
                  <span>{{ __('labels.agronomia_add_product.units') }} </span>
                </div>
                <div class="custom-checkbox mt-4">
                  <input type="checkbox" name="bonus_applicable" class="custom-control-input" id="bonus_applicable" v-model="formData.bonus_applicable" true-value="0" false-value="1" />
                  <label class="custom-control-label pl-4" for="bonus_applicable">{{ __('labels.agronomia_add_product.do_not_offer_bonus_price') }}</label>
                </div>
                <p class="form-error" v-if="formErrors.min_bonus_quanitity" >{{ formErrors.min_bonus_quanitity }}</p>
                <p class="form-error" v-if="formErrors.bonus_price" >{{ formErrors.bonus_price }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.brand">
              <div class="form-group">
                <label>{{ __('labels.brand') }}</label>
                <h6 class="font-weight-normal">{{ product.brand }}</h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.band">
              <div class="form-group">
                <label>{{ __('labels.band') }}</label>
                <h6 class="font-weight-normal">{{ product.band }}</h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.treatments">
              <div class="form-group">
                <label>{{ __('labels.treatments') }}</label>
                <h6 class="font-weight-normal">{{ product.treatments  }}</h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.ingredients">
              <div class="form-group">
                <label>{{ __('labels.active_principle') }}</label>
                <h6 class="font-weight-normal">{{ product.ingredients }}</h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.grade">
              <div class="form-group">
                <label>{{ __('labels.grade') }}</label>
                <h6 class="font-weight-normal"> {{ product.grade }} </h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.diameter">
              <div class="form-group">
                <label>{{ __('labels.diameter') }}</label>
                <h6 class="font-weight-normal"> {{ product.diameter }} </h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.length">
              <div class="form-group">
                <label>{{ __('labels.length') }}</label>
                <h6 class="font-weight-normal"> {{ product.length }} </h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.gasoline_grade">
              <div class="form-group">
                <label>{{ __('labels.gasoline_grade') }}</label>
                <h6 class="font-weight-normal"> {{ product.gasoline_grade }} </h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.attribute_1">
              <div class="form-group">
                <label>{{ __('labels.formulation') }}</label>
                <h6 class="font-weight-normal"> {{ product.attribute_1 }} </h6>
              </div>
            </div>
            <div class="col-6 col-xl-3 mb-xl-4" v-if="product.attribute_2">
              <div class="form-group">
                <label>{{ __('labels.attributes') }}</label>
                <h6 class="font-weight-normal"> {{ product.attribute_2 }} </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group text-right">
        <router-link :to="{name: 'my_products'}" class="btn btn-outline-success btn-lg rounded-pill mr-3" v-if="agronomiaProductId">
          <b>{{ __('labels.agronomia_add_product.return') }}</b>
        </router-link>
        <router-link :to="{name: 'products'}" class="btn btn-outline-success btn-lg rounded-pill mr-3" v-else>
          <b>{{ __('labels.agronomia_add_product.return') }}</b>
        </router-link>
        <button type="submit" class="btn btn-success btn-lg rounded-pill">
          <b>{{ __('labels.save') }}</b>
        </button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: 'EditSelectedProduct',
  data() {
    return {
      agronomiaProductId: '',
      productId: '',
      product: {
        name: '',
        unit_of_measure: '',
        brand: '',
        band: '',
        treatments: '',
        ingredients: '',
        grade: '',
        diameter: '',
        length: '',
        gasoline_grade: '',
      },
      formData: {
        is_active: true,
        available_quanity: '',
        sales_range_in_km: '',
        agronomia_price: '',
        bonus_price: '',
        min_bonus_quanitity: '',
        bonus_applicable: 1,
      },
      formErrors: {},
    }
  },
  async created() {
    if(this.$route.name == 'my_product') //EDIT PRODUCT
    {
      this.agronomiaProductId = this.$route.params.agronomiaProductId;
      this.getAgronomiaProduct();
    }
    else
    {
      this.productId = this.$route.params.productId;
      this.getProductDetail();

      const user = await this.$api.getMyProfile();
      this.formData.sales_range_in_km = user.sales_range_in_km;
    }
  },
  methods: {
    async getAgronomiaProduct()
    {
      const agronomiaProduct = await this.$api.getAgronomiaProductDetail({id: this.agronomiaProductId});
      this.formData = {
        is_active: (agronomiaProduct.is_active == 1)?true:false,
        available_quanity: agronomiaProduct.available_quanity,
        sales_range_in_km: agronomiaProduct.sales_range_in_km,
        agronomia_price: agronomiaProduct.agronomia_price,
        bonus_price: agronomiaProduct.bonus_price,
        min_bonus_quanitity: agronomiaProduct.min_bonus_quanitity,
        bonus_applicable: agronomiaProduct.bonus_applicable,
      };
      this.productId = agronomiaProduct.product_id; 
      this.getProductDetail();
    },
    async getProductDetail()
    {
      const product = await this.$api.getProductDetail({product_id: this.productId});
      this.product = {
        name: product.name,
        unit_of_measure: product.unit_of_measure,
        brand: product.brand.value,
        band: product.band.name,
        treatments: product.treatments.name,
        ingredients: product.ingredients.value,
        grade: product.grade.value,
        diameter: product.diameter.name,
        length: product.length.name,
        gasoline_grade: product.gasoline_grade.value,
        attribute_1: product.attribute_1.value,
        attribute_2: product.attribute_2.value,
      }
    },
    toggleActive() {
      this.formData.is_active = !this.formData.is_active;
    },
    async formSubmit() {
      this.resetFormErrors = [];
      
      const data = {
        product_id : this.productId,
        available_quanity : this.formData.available_quanity,
        sales_range_in_km : this.formData.sales_range_in_km,
        agronomia_price : this.formData.agronomia_price,
        bonus_applicable : this.formData.bonus_applicable,
        bonus_price : (this.formData.bonus_applicable)?this.formData.bonus_price:'',
        min_bonus_quanitity : (this.formData.bonus_applicable)?this.formData.min_bonus_quanitity:'',
        is_active : (this.formData.is_active)?1:0,
      }

      if(this.agronomiaProductId != '')
      {
        data.id = this.agronomiaProductId;
        const response = await this.$api.agronomiaEditProduct(data);
        if(response.code == 200)
        {
          this.$toaster.success(response.message);
          this.$router.push({name: 'my_products'});
        }
        else
        {
          this.$toaster.error(response.message);
          this.formErrors = response.errors;
        }
      }
      else
      {
        const response = await this.$api.agronomiaAddProduct(data);
        if(response.code == 200)
        {
          this.$toaster.success(response.message);
          this.$router.push({name: 'my_products'});
        }
        else
        {
          this.$toaster.error(response.message);
          this.formErrors = response.errors;
        }
      }
    },
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
}
</script>
<style lang="scss" scoped>
.form-group {
  margin-bottom: 35px;
  label,
  .form-control {
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0.8rem;
  }
  label {
    font-weight: 800;
    height: 25px;
  }
  .form-control {
    margin-top: 0.5rem;
    max-width: 130px;
    font-weight: 600;
    border-bottom: 3px solid #c9ded2;
    &:hover,
    &:focus,
    &:required:invalid {
      border-bottom: 3px solid #c9ded2;
    }
  }
}
</style>