<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.chat').toUpperCase() }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive chat-table">
            <table class="table table-condensed table-default" id="dt_table">
              <thead>
                <tr>
                  <th>{{ __('labels.order_number') }}</th>
                  <th class="text-center" width="15%">{{ __('labels.state') }}</th>
                  <th class="text-center" width="15%">{{ __('labels.chat') }}</th>
                </tr>
              </thead>
              <tbody v-if="dt_rows.length > 0">
                <template v-for="(single_row, key) in dt_rows">
                  <tr v-bind:key="single_row.id" :class="{'chat_open': single_row.chat_toggle}">
                    <!-- IF AGRONOMIA -->
                    <td v-html="single_row.text"></td>
                    <td align="center">
                      <div class="d-flex justify-content-between justify-content-sm-end">
                        <div class="d-flex align-items-center">
                          <span class="mr-2"> {{ __('labels.inactive') }} </span>
                          <toggle-button @change="changeChatState(single_row.id, $event, key)" :value="single_row.chat_status_boolean" :width="65" :height="25" :sync="true" class="mb-0" :disabled="single_row.master_chat_status === 0" />
                          <span class="ml-2">{{ __('labels.active') }}</span>
                        </div>
                        <button type="button" class="chat-toggle-btn" v-on:click="toggleChat(key)">
                          <i class="fa fa-3x" :class="(single_row.chat_toggle)?'fa-caret-down':'fa-caret-up'"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr v-if="single_row.chat_toggle" v-bind:key="`${single_row.id}_chat`">
                    <td colspan="2">
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 chat-screen" id="chatScreen">
                          <template v-for="message in single_row.chat_data.messages">
                            <div class="container" v-if="user.id != message.sender_id" v-bind:key="`message_${message.id}`">
                              <img :src="single_row.chat_data.sender_avtar" alt="Avatar">
                              <p>
                                {{ message.text }}
                              </p>
                            </div>
                            <div class="container right" v-else v-bind:key="`message_${message.id}`">
                              <p class="darker">
                                {{ message.text }}
                              </p>
                              <img :src="user.avtar_path" alt="Avatar">
                            </div>
                          </template>
                          <div class="d-flex justify-content-end my-4 form-inline">
                            <div class="input-group chat-input">
                              <input type="text" class="form-control text-danger" v-model="message" disabled :placeholder="__('labels.chat_is_disabled_by_admin')" v-if="single_row.master_chat_status == 0">
                              <input type="text" class="form-control text-danger" v-model="message" disabled :placeholder="__('labels.chat_is_disabled_by_producer')" v-else-if="user.user_type == 1 && single_row.agronomia_chat_status == 0">
                              <input type="text" class="form-control text-danger" v-model="message" disabled :placeholder="__('labels.chat_is_disabled_by_agronomia')" v-else-if="user.user_type == 2 && single_row.producer_chat_status == 0">
                              <input type="text" class="form-control" v-model="message" :placeholder="__('labels.write_the_message_here')" v-else required v-on:keyup.enter="sendMessage(single_row.id)">
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-success send-button mt-2 mt-sm-0 ml-sm-2" :style="{borderRadius: '25px'}" v-on:click="sendMessage(single_row.id)" :disabled="!message" >
                                  {{ __('labels.send') }}
                                </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </template>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="3">
                    <div class="p-4 text-center bg-light">
                      <strong>{{ __('labels.no_orders_found') }}</strong>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["panel"],
  data() {
    return {
      dt_table: "",
      dt_rows: [],
      message: '',
      user: JSON.parse(localStorage.getItem('user'))
    };
  },
  created: function() {},
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */

    this.initTable();

    let pusher = new Pusher('7c9bdd9952c4e6f70a14', {
      cluster: 'ap2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');

    channel.bind('order-chat-message-sent', data => this.pusherCallback(data));

    //channel.bind('order-chat-message-read', data => this.pusherCallback(data)); this feature disabled for now
  },
  methods: {
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table").DataTable({
        order: [[0, "desc"]],
        searching: false,
        sorting: false,
        lengthChange: false,
        paging: false,
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        pageLength: 10,
        bInfo: false,
        language: {
          search: "",
          searchPlaceholder: self.__("labels.search"),
          sLengthMenu: self.__("labels.show_dt") + " _MENU_",
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: BASE_URL + "/web_api/orders",
          data: {
            order_status: 2,
            columns: ['orders.id'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            self.dt_rows.map(row => {
              row.chat_toggle = false;
              row.chat_data   = [];
              if(self.user.user_type == 1) //IF AGRONOMIA
              {
                let text = self.__('labels.enter_here_to_chat_with_the_producer_for_the_order_no');
                text = text.replace(':producer', `PRODUCTOR ${row.producer_custom_id}`);
                text = text.replace(':order_no', `<b>Nro ${row.custom_order_no}</b>`);
                row.text = text;
                row.chat_status_boolean = (row.producer_chat_status == 1 && row.master_chat_status) ? true : false;
              }
              else if(self.user.user_type == 2) //IF productor
              {
                let text = self.__('labels.enter_here_to_chat_with_the_agronomia_for_the_order_no');
                text = text.replace(':agronomia', `AGRONOMIA ${row.agronomia_custom_id}`);
                text = text.replace(':order_no', `<b>Nro ${row.custom_order_no}</b>`);
                row.text = text;
                row.chat_status_boolean = (row.agronomia_chat_status == 1 && row.master_chat_status) ? true : false;
              }
            });
            return false;
          }
        },
        drawCallback: function( settings ) {
          $("#dt_table thead").remove();
        }
      });
    },
    changeChatState(id, event, key) {
      // CHANGE BUTTON STATUS
      let row = this.dt_rows[key];
      row.chat_status_boolean = !row.chat_status_boolean;
      Vue.set(this.dt_rows, key, row);
      
      this.$api.changeChatState({order_id: id}).then(response => {
        if (response.code == 200)
        {
          this.$toaster.success(response.message);
        }
        else
        {
          this.$toaster.error(response.message);
        }
      });
    },
    toggleChat(key) {

      // CHANGE CURRENT ROW TOGGLE STATUS
      let row = this.dt_rows[key];
      row.chat_toggle = !row.chat_toggle;

      // CLOSE ALL OTHER CHATS
      this.dt_rows.map((mappedRow, mappedKey) => {
        if(mappedKey != key)
        {
          mappedRow.chat_toggle = false;
          mappedRow.chat_data = [];
        }
      });

      if(row.chat_toggle) // IF CURRENT ROW TOGGLE STATUS IS OPEN
      {
        // FETCH CHAT MESSAGES
        this.$api.retriveOrderChatMessages({order_id: this.dt_rows[key].id}).then(response => {
          if(response.code == 200)
          {
            row.chat_data = response.data;
            Vue.set(this.dt_rows, key, row);
            this.chatScrollToBottom();
          }
          else
          {
            this.$toaster.error(response.message);
          }
        });
      }
      else // IF CURRENT ROW TOGGLE STATUS IS CLOSED
      {
        row.chat_data = [];
        Vue.set(this.dt_rows, key, row);
      }
    },
    sendMessage(order_id) {
      this.$api.sendOrderChatMessages({order_id: order_id, text: this.message}).then(response => {
        if(response.code != 200)
        {
          this.$toaster.error(response.message);
        }
        else
        {
          this.message = '';
          
        }
      });
    },
    pusherCallback(data) {
      if(data.sender_id == this.user.id || data.receiver_id == this.user.id)
      {
        this.dt_rows.map((row, key) => {
          if(row.chat_toggle == true && row.id == data.order_id)
          {
            row.chat_data.messages.push(data);
            Vue.set(this.dt_rows, key, row);
            this.chatScrollToBottom();
          }
        });
      }
    },
    chatScrollToBottom() {
      //WAIT UNTIL CHAT IS SCREEN IS GENERATING
      setTimeout(() => {
       var elem = document.getElementById('chatScreen');
       elem.scrollTop = elem.scrollHeight;
      }, 200);
    }
  }
};
</script>
<style lang="scss"  scoped>
.chat-toggle-btn
{
  border: 0px;
  background-color: transparent;
  color: #d8ceb5;
}
.chat-input .form-control {
  width: 400px;
  background: transparent;
}
.chat-input .form-control::placeholder {
  text-transform: none;
  font-weight: 600;
  color: #000;
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .chat-table {
    table.dataTable.no-footer {
      border-bottom: none !important;
    }
    table.dataTable tbody tr {
      display: block;
      margin-bottom: 5px;
      &.chat_open {
        margin-bottom: 0;
      }
    }
    table.dataTable tbody th, table.dataTable tbody td {
      display: block;
      border: none !important;
      border-left: 2px solid #d6cfb5 !important;
      border-right: 2px solid #d6cfb5 !important;
      border-bottom: 2px solid #d6cfb5 !important;
    }
    .chat-input {
      flex-direction: column;
      align-items: flex-end;
      .form-control {
        width: 100%;
      }
    }
    .chat-screen {
      height: 300px;
    }
    .chat-screen .container img {
      width: 40px;
    }
    .chat-screen .container p {
      padding: 7px 8px;
      border-radius: 8px;
      font-size: 0.9rem;
    }
  }
}
</style>