<template>
  <div>
    <AgronomiaForm :app="this.app" v-if="user.user_type === 1" />
    <ProducerForm :app="this.app" v-if="user.user_type === 2" />
  </div>
</template>
<script>
import AgronomiaForm from './Agronomia/Complete_registeration.vue';
import ProducerForm from './Producer/Complete_registeration.vue';
export default {
  props: ["app"],
  components: {AgronomiaForm, ProducerForm},
  created: function() {},
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
};
</script>