<template>
  <div>
    <AgronomiaDashboard v-if="user.user_type === 1" />
    <ProductorDashboard v-if="user.user_type === 2" />
  </div>
</template>
<script>
import AgronomiaDashboard from './Agronomia/Dashboard.vue';
import ProductorDashboard from './Producer/Dashboard/ProductorDashboard.vue';
export default {
  props: ["panel"],
  components: {
    ProductorDashboard,
    AgronomiaDashboard
  },
  created: function() {
    this.panel.activeMenu(this.panel.menubar, 'dashboard');
  },
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>
<style>
</style>