<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.faq') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row justify-content-center">
        <div class="col-xl-7">
          <VueFaqAccordion :items="faqs" borderColor="#d6cfb5" activeColor="#000" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueFaqAccordion from './../../form/VueFaqAccordion.vue'
export default {
  name: "Faq",
  components: { VueFaqAccordion },
  data() {
    return {
      faqs: [],
    }
  },
  async created() {
    try {
      const faqs = await this.$api.getFaq();
      faqs.filter((faq) => {
        this.faqs.push({
          title: faq.question,
          value: faq.reply
        })
      })
    } catch (error) {
      console.log(error);
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>

<style lang="scss" scoped>
</style>