<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">
        {{ __('labels.my_account') }}
        <span class="font-weight-light" style="font-size: 22px;" v-if="formData.verified">
          <img :src="`${APP_URL}public/template/images/verified-icon.png`" />
          {{ __('Usuario verificado') }}
        </span>
      </h1>
    </div>
    <form class="cusstom__container bg-white" @submit.prevent="submitForm()">

      <!-- FOR AGRONOMIA ONLY -->
      <div class="row" v-if="user.user_type == 1">
        <div class="col-12">
          <h6 class="text-uppercase font-700 mb-3">{{ __('labels.my_account_form.contact_information') }}</h6>
        </div>
      </div>
      <!-- FOR AGRONOMIA ONLY -->

      <!-- START OF FIRST ROW -->
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="row">

            <!-- FIRST NAME -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="firstname">{{ __('labels.my_account_form.firstname') }}<sup>*</sup></label>
                <input type="text" id="firstname" v-model="formData.firstname" class="form-control" readonly="true" />
              </div>
            </div>
            <!-- END OF FIRST NAME -->

            <!-- SURNAME -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="surname">{{ __('labels.my_account_form.surname') }}<sup>*</sup></label>
                <input type="text" id="surname" v-model="formData.surname" class="form-control" readonly="true" />
              </div>
            </div>
            <!-- END OF SURNAME -->

            <!-- EMAIL -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="email">{{ __('labels.my_account_form.email') }}<sup>*</sup></label>
                <input type="email" id="email" v-model="formData.email" class="form-control" readonly="true" />
              </div>
            </div>
            <!-- END OF EMAIL -->

            <!-- BUSINESS NAME (FOR SMALL DEVICES ONLY) -->
            <div class="col-6 d-block d-md-none" v-if="user.user_type == 2">
              <div class="form-group">
                <label class="font-700" for="business_name">{{ __('labels.my_account_form.business_name') }}<sup>*</sup></label>
                <input type="text" id="business_name" v-model="formData.business_name" class="form-control" readonly="true" />
              </div>
            </div>
            <!-- BUSINESS NAME (FOR SMALL DEVICES ONLY) -->

            <!-- MOBILE NO. (FOR AGRONOMIA ONLY) -->
            <div class="col-6 col-md-3" v-if="user.user_type == 1">
              <div class="form-group">
                <label class="font-700" for="mobile">{{ __('labels.my_account_form.mobile') }}</label>
                <div class="row">
                  <div class="col-3 pr-0">
                    <input type="text" id="mobile_prefix" v-model="formData.mobile_prefix" class="form-control pr-0" :readonly="readonlyMobile" v-mask="'####'"  />
                  </div>
                  <div class="col-8 col-md-9">
                    <div class="input-group">
                      <input type="text" id="mobile" v-model="formData.mobile" class="form-control" :readonly="readonlyMobile" v-mask="'########'" />
                      <div class="input-group-prepend d-block d-md-none" style="border-bottom: 3px solid #c9ded2;">
                        <button type="button" class="btn-no-style text-dark input-group-text" v-on:click="enableMobileField()" v-if="readonlyMobile"><i class="fa circle bg-dark text-light fa-pencil-alt"></i></button>
                        <button type="button" class="btn-no-style text-dark input-group-text" v-on:click="enableMobileField()" v-else><i class="fas circle bg-dark text-light fa-save"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="form-error" v-if="formErrors.mobile_prefix">{{ formErrors.mobile_prefix }}</p>
                <p class="form-error" v-if="formErrors.mobile">{{ formErrors.mobile }}</p>
              </div>
            </div>
            <!-- MOBILE NO. (FOR AGRONOMIA ONLY)   -->
          </div>
        </div>

        <!-- MOBILE NO. EDIT BUTTON (FOR AGRONOMIA ONLY)   -->
        <div class="col-md-2 col-xl-2 d-none d-sm-none d-sm-none d-md-block" v-if="user.user_type == 1">
          <div class="row">
            <div class="col-12 edit-button-container">
              <button type="button" class="btn-no-style text-dark" v-on:click="enableMobileField()" v-if="readonlyMobile">
                {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
              </button>
              <button type="button" class="btn-no-style text-dark" v-on:click="enableMobileField()" v-else>
                {{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- MOBILE NO. EDIT BUTTON (FOR AGRONOMIA ONLY)   -->
      </div>
      <!-- END OF FIRST ROW -->

      <!-- START OF SECOND ROW (FOR PRODUCER ONLY) -->
      <div class="row" v-if="user.user_type == 2">
        <div class="col-12 col-md-10">
          <div class="row">

            <!-- BUSINESS NAME (FOR LARGE SCREEN ONLY) -->
            <div class="col-3 d-none d-md-block">
              <div class="form-group">
                <label class="font-700" for="business_name">{{ __('labels.my_account_form.business_name') }}<sup>*</sup></label>
                <input type="text" id="business_name" v-model="formData.business_name" class="form-control" readonly="true" />
              </div>
            </div>
            <!-- BUSINESS NAME (FOR LARGE SCREEN ONLY) -->

            <!-- CUIT -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="cuit">{{ __('labels.my_account_form.cuit') }}<sup>*</sup></label>
                <input type="text" id="cuit" v-model="formData.cuit" class="form-control text-info-md" readonly="true" />
              </div>
            </div>
            <!-- CUIT -->
            
            <!-- MOBILE -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="mobile">{{ __('labels.my_account_form.my_phone') }}<sup>*</sup></label>
                <div class="row">
                  <!-- PREFIX -->
                  <div class="col-3 pr-0">
                    <input type="text" id="mobile_prefix" v-model="formData.mobile_prefix" class="form-control text-info-md pr-0" :readonly="readonlyMobile"  v-mask="'####'" />
                  </div>
                  <!-- END OF PREFIX -->
                  <!-- MOBILE -->
                  <div class="col-9">
                    <div class="input-group">
                      <input type="text" id="mobile" v-model="formData.mobile" class="form-control text-info-md" :readonly="readonlyMobile" v-mask="'########'" />
                      <div class="input-group-prepend d-block d-md-none" style="border-bottom: 3px solid #c9ded2;">
                        <button type="button" class="btn-no-style text-dark input-group-text" v-on:click="enableMobileField()" v-if="readonlyMobile"><i class="fa circle bg-dark text-light fa-pencil-alt"></i></button>
                        <button type="button" class="btn-no-style text-dark input-group-text" v-on:click="enableMobileField()" v-else><i class="fas circle bg-dark text-light fa-save"></i></button>
                      </div>
                    </div>
                  </div>
                  <!-- END OF MOBILE -->
                </div>
                <p class="form-error" v-if="formErrors.mobile_prefix">{{ formErrors.mobile_prefix }}</p>
                <p class="form-error" v-if="formErrors.mobile">{{ formErrors.mobile }}</p>
              </div>
            </div>
            <!-- END OF MOBILE -->

            <!-- MOBILE EDIT BUTTON (FOR LARGE SCREEN ONLY) -->
            <div class="col-3 d-none d-md-block">
              <div class="edit-button-container pl-2">
                <button type="button" class="btn-no-style text-dark" v-on:click="enableMobileField()" v-if="readonlyMobile">
                  {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn-no-style text-dark" v-on:click="enableMobileField()" v-else> 
                  {{ __('labels.save') }} <i class="fas circle bg-dark text-light fa-save"></i>
                </button>
              </div>
            </div>
            <!-- MOBILE EDIT BUTTON (FOR LARGE SCREEN ONLY) -->

          </div>
        </div>
      </div>
      <!-- END OF SECOND ROW -->

      <!-- FOR AGRONOMIA ONLY -->
      <div class="row" v-if="user.user_type == 1">
        <div class="col-12">
          <h6 class="text-uppercase font-700 mb-3 mt-3">{{ __('labels.my_account_form.company_data') }}</h6>
        </div>
      </div>
      <!-- FOR AGRONOMIA ONLY -->

      <!-- START OF SECOND ROW (FOR AGRONOMIA ONLY) -->
      <div class="row" v-if="user.user_type == 1">
        <div class="col-12 col-md-10">
          <div class="row">

            <!-- BUSINESS NAME -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="business_name">{{ __('labels.my_account_form.business_name') }}<sup>*</sup></label>
                <input type="text" id="business_name" v-model="formData.business_name" class="form-control" readonly="true" />
              </div>
            </div>
            <!-- BUSINESS NAME -->

            <!-- PROVINCE -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="province">{{ __('labels.my_account_form.province') }}<sup>*</sup></label>
                <input type="text" id="province" v-model="formData.province" class="form-control" :readonly="true" />
                <p class="form-error" v-if="formErrors.province">{{ formErrors.province }}</p>
              </div>
            </div>
            <!-- END OF PROVINCE -->

            <!-- LOCALITY -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="locality">{{ __('labels.my_account_form.locality') }}<sup>*</sup></label>
                <input type="text" id="locality" v-model="formData.locality" class="form-control" :readonly="true" />
                <p class="form-error" v-if="formErrors.locality">{{ formErrors.locality }}</p>
              </div>
            </div>
            <!-- END OF LOCALITY -->

            <!-- CUIT -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="cuit">{{ __('labels.my_account_form.cuit') }}<sup>*</sup></label>
                <input type="text" id="cuit" v-model="formData.cuit" class="form-control" readonly="true" />
              </div>
            </div>
            <!-- CUIT -->
          </div>
        </div>
      </div>
      <!-- END OF SECOND ROW (FOR AGRONOMIA ONLY) -->

      <!-- START OF THIRD ROW (ONLY FOR PRODUCER) -->
      <div class="row" v-if="user.user_type == 2">
        <div class="col-12 col-md-10">
          <div class="row">

            <!-- PROVINCE -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="province">{{ __('labels.my_account_form.province') }}<sup>*</sup></label>
                <input type="text" id="province" v-model="formData.province" class="form-control" :readonly="true" />
                <p class="form-error" v-if="formErrors.province">{{ formErrors.province }}</p>
              </div>
            </div>
            <!-- END OF PROVINCE -->

            <!-- LOCALITY -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="locality">{{ __('labels.my_account_form.locality') }}<sup>*</sup></label>
                <input type="text" id="locality" v-model="formData.locality" class="form-control" :readonly="true" />
                <p class="form-error" v-if="formErrors.locality">{{ formErrors.locality }}</p>
              </div>
            </div>
            <!-- END OF LOCALITY -->

            <!-- RENSPA NO. -->
            <div class="col-6 col-md-3">
              <div class="form-group">
                <label class="font-700" for="renspa_no">{{ __('labels.my_account_form.renspa_no') }}<sup>*</sup></label>
                <input type="text" id="renspa_no" v-model="formData.renspa_no" class="form-control" readonly="true" :readonly="readonlyRenspa" v-mask="'##.###.#.##########'" />
                <p class="form-error" v-if="formErrors.renspa_no">{{ formErrors.renspa_no }}</p>
              </div>
            </div>
            <!-- END OF RENSPA NO. -->

            <!-- RENSPA NO. ADD (ONLY IF NOT VERIFIED) -->
            <div class="col-6 col-md-3" v-if="!formData.verified">
              <div class="edit-button-container ml-3 text-center">
                <button type="button" class="btn btn-success btn-sm renspa-btn pl-2 pr-2 mr-1" v-on:click="enableRenspaField()" v-if="!readonlyRenspa">
                  {{ __('labels.save') }}
                </button>
                <button type="button" class="btn btn-success btn-sm renspa-btn pl-2 pr-2 mr-1" v-on:click="enableRenspaField()" v-else-if="!formData.renspa_no">
                  {{ __('labels.my_account_form.add') }}
                </button>
                <button type="button" class="btn btn-success btn-sm renspa-btn pl-2 pr-2 mr-1" v-on:click="enableRenspaField()" v-else>
                  {{ __('labels.edit') }}
                </button>
                <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.renspa_no'), trigger: 'click hover', html: true}">
                  <i class="fas fa-question" />
                </label>
              </div>
            </div>
            <!-- RENSPA NO. ADD (ONLY IF NOT VERIFIED) -->

          </div>
        </div>
      </div>
      <!-- END OF THIRD ROW (ONLY FOR PRODUCER) -->

      <!-- START OF LOCATION (ONLY FOR PRODUCER) -->
      <div class="row mt-3" v-if="user.user_type == 2">
        <div class="col-12 col-md-10">
          <!-- TITLE -->
          <div class="row">
            <div class="col-12">
              <h6 class="text-uppercase">{{ __('labels.my_account_form.my_location') }}<sup>*</sup>
                <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.MyUniccion'), trigger: 'click hover', html: true}">
                  <i class="fas fa-question" />
                </label>
              </h6>
            </div>
          </div>
          <!-- END OF TITLE -->

          <!-- START OF LOOP -->
          <template v-for="(geolocation, key) in formData.geolocation">
            <!-- LOCATION NAME -->
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input type="text" v-model="formData.geolocation[key].name" class="form-control" :placeholder="__('labels.my_account_form.here_will_be_a_name_that_refers_to_the_first_location')" :readonly="formData.geolocation[key].readonly">
                </div>
              </div>
            </div>
            <!-- LOCATION NAME -->
            <div class="row">
              <div class="col-12">
                <div class="row">

                  <!-- LATTITUDE -->
                  <div class="col-6 col-md-3">
                    <div class="form-group">
                      <label for="latitude">{{ __('labels.my_account_form.x_coordinates') }}</label>
                      <input type="text" v-model="formData.geolocation[key].latitude" class="form-control" :placeholder="__('labels.my_account_form.x_coordinates')" :readonly="formData.geolocation[key].readonly" v-mask="latitudeMask"/>
                    </div>
                  </div>
                  <!-- END OF LATTITUDE -->

                  <!-- LONGITUDE -->
                  <div class="col-6 col-md-3">
                    <div class="form-group">
                      <label for="longtitude">{{ __('labels.my_account_form.y_coordinates') }}</label>
                      <div class="input-group">
                        <input type="text" v-model="formData.geolocation[key].longtitude" class="form-control" :placeholder="__('labels.my_account_form.y_coordinates')" :readonly="formData.geolocation[key].readonly" v-mask="longitudeMask"/>
                        <div class="input-group-prepend d-block d-md-none" style="border-bottom: 3px solid #c9ded2;">
                          <button type="button" class="btn-no-style text-dark input-group-text" v-on:click="enableLocationField(key)" v-if="formData.geolocation[key].readonly"><i class="fa circle bg-dark text-light fa-pencil-alt"></i></button>
                          <button type="button" class="btn-no-style text-dark input-group-text" v-on:click="enableLocationField(key)" v-else><i class="fas circle bg-dark text-light fa-save"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END OF LONGOTUDE -->

                  <!-- EDIT BUTTON -->
                  <div class="col-6 d-none d-md-block">
                    <div class="edit-button-container ml-2">
                      <button type="button" class="btn-no-style text-dark" v-on:click="enableLocationField(key)" v-if="formData.geolocation[key].readonly">
                        {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                      </button>
                      <button type="button" class="btn-no-style text-dark" v-on:click="enableLocationField(key)" v-else>
                        {{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i>
                      </button>
                    </div>
                  </div>
                  <!-- END OF EDIT BUTTON -->

                </div>
              </div>
            </div>
          </template>
          <!-- END OF LOOP -->

          <div class="row">
            <div class="col-12 mb-2">
              <button type="button" class="btn btn-success payment-btn" v-on:click="addGeolocationField()">
                {{ __('labels.my_account_form.add_new_location') }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF LOCATION (ONLY FOR AGRONOMIA) -->

      <!-- START OF LOCATION & PAYMENT METHODS (ONLY FOR AGRONOMIA)-->
      <div class="row mt-3" v-if="user.user_type === 1">
        <!-- LOCATION -->
        <div class="col-12 col-md-7 mb-3">
          <div class="row">
            <div class="col-12">
              <h6 class="text-uppercase">{{ __('labels.my_account_form.my_location') }}<sup>*</sup>
                <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.MyUniccion'), trigger: 'click hover', html: true}">
                  <i class="fas fa-question" />
                </label>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col col-6 col-md-4-25">
              <div class="form-group">
                <label for="latitude">{{ __('labels.my_account_form.x_coordinates') }}</label>
                <input type="text" id="latitude" v-model="formData.latitude" class="form-control" :placeholder="__('labels.my_account_form.x_coordinates')" :readonly="readonlyLocation" v-mask="latitudeMask" />
                <p class="form-error" v-if="formErrors.latitude">{{ formErrors.latitude }}</p>
              </div>
            </div>
            <div class="col col-6 col-md-4-25">
              <div class="form-group">
                <label for="longtitude">{{ __('labels.my_account_form.y_coordinates') }}</label>
                <div class="input-group">
                  <input type="text" id="longtitude" v-model="formData.longtitude" class="form-control" :placeholder="__('labels.my_account_form.y_coordinates')" :readonly="readonlyLocation" v-mask="longitudeMask"/>
                  <div class="input-group-prepend d-block d-md-none" style="border-bottom: 3px solid #c9ded2;">
                    <button type="button" class="btn-no-style text-dark input-group-text" v-on:click="enableLocationField()" v-if="readonlyLocation"><i class="fa circle bg-dark text-light fa-pencil-alt"></i></button>
                    <button type="button" class="btn-no-style text-dark input-group-text" v-on:click="enableLocationField()" v-else><i class="fas circle bg-dark text-light fa-save"></i></button>
                  </div>
                </div>
                <p class="form-error" v-if="formErrors.longtitude">{{ formErrors.longtitude }}</p>
              </div>
            </div>
            <div class="col col-3-5 d-none d-md-block">
              <div class="edit-button-container pl-2">
                <button type="button" class="btn-no-style text-dark" v-on:click="enableLocationField()" v-if="readonlyLocation">
                  {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn-no-style text-dark" v-on:click="enableLocationField()" v-else>
                  {{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row" v-if="!readonlyLocation">
            <div class="col-12">
              <span class="custom-control custom-checkbox gps_checkbox custom-control-label-checkbox-wrap">
                <input type="checkbox" class="custom-control-input" style="width: auto;" @change="gpsCheckboxChanged()" v-model="formData.gps_checkbox" id="gps_checkbox">
                <label class="custom-control-label custom-control-label-checkbox font-weight-light" for="gps_checkbox">{{ __('labels.my_account_form.use_geographic_location') }}</label>
              </span>
            </div>
          </div>
        </div>
        <!-- END OF LOCATION -->

        <!-- PAYMENT METHODS -->
        <div class="col-12 col-md-5 mb-3">

          <!-- TITLE -->
          <div class="row">
            <div class="col-12">
              <h6 class="text-uppercase">{{ __('labels.my_account_form.payment_methods_that_i_accept') }}</h6>
            </div>
          </div>
          <!-- END OF TITLE -->

          <div class="row">
            <div class="col-12">

              <!-- PAYMENT METHODS -->
              <template v-for="(payment_method, key) in formData.payment_methods">
                <div class="row mt-2 mb-2" v-if="payment_method.is_allowed == true" :key="payment_method.id">
                  <div class="col-12">
                    <span class="text-success">{{ payment_method.name }}</span>
                    <button type="button" class="btn-no-style text-danger ml-3" v-on:click="removePaymentMethod(key)">
                      {{ __('labels.my_account_form.remove') }} <i class="fa fa-trash-alt circle bg-danger text-light"></i>
                    </button>
                  </div>
                </div>
              </template>
              <!-- END OF PAYMENT METHODS -->

              <!-- PAYMENT METHOD DROPDOWN -->
              <div class="row mt-2" v-if="PaymentMethodFieldStatus">
                <div class="col-12">
                  <div class="form-group input-group payment-method-container">
                    <input type="text" id="payment_method" v-model="payment_method" class="form-control" :placeholder="__('labels.my_account_form.type_text_to_add_payment_method')" autocomplete="off" list="paymentMethodsList" v-on:input="selectPaymentMethod()"/>
                    <div class="input-group-append">
                      <button type="button" v-on:click="changePaymentMethodField()">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    <datalist id="paymentMethodsList">
                      <template v-for="payment_method in formData.payment_methods">
                        <option v-if="payment_method.is_allowed == false" v-bind:key="`payment_method_${payment_method.id}`">{{payment_method.name}}</option>
                      </template>
                    </datalist>
                  </div>
                  <p class="form-error" v-if="formErrors.payment_method">{{ formErrors.payment_method }}</p>
                </div>
              </div>
              <!-- END OF PAYMENT METHOD DROPDOWN -->
            </div>

            <!-- ADD NEW BUTTON -->
            <div class="col-12 mb-2" v-if="PaymentMethodFieldStatus == false">
              <button type="button" class="btn btn-success payment-btn" v-on:click="changePaymentMethodField()">
                {{ __('labels.my_account_form.add_another_form_of_payment_method') }}
              </button>
            </div>
            <!-- END OF ADD NEW BUTTON -->
          </div>
        </div>
        <!-- END OF PAYMENT METHODS -->
      </div>
      <!-- END OF LOCATION & PAYMENT METHODS (ONLY FOR AGRONOMIA) -->

      <!-- AVATAR -->
      <div class="row" v-if="user.user_type === 1">
        <div class="col-12">
          <h6 class="text-uppercase">{{ __('labels.my_account_form.select_avtar') }}</h6>
        </div>
      </div>
      <div class="row mt-2 mb-2" v-if="user.user_type === 1">
        <div class="col-12">
          <div class="d-flex">
            <div class="form-group profile-avtar mr-4" v-for="avtar in avtars" :key='avtar.id'>
              <input type="radio" name="avtar_id" :id="`avtar_${avtar.id}`" v-model="formData.avtar_id" :value="avtar.id" />
              <label class="profile-avtar__image rounded-circle" :for="`avtar_${avtar.id}`">
                <img :src="avtar.filepath" :alt="avtar.id" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF AVATAR -->

      <!-- PASSWORD ROW -->
      <div class="row mt-3">
        <div class="col-12 col-md-5">
          <div class="row">
            <div class="col-12">
              <h6 class="text-uppercase">{{ __('labels.my_account_form.change_password') }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input type="text" id="password" v-model="formData.password" class="form-control" :placeholder="__('labels.my_account_form.password')" />
                <p class="form-error" v-if="formErrors.password">{{ formErrors.password }}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input type="text" id="password_confirmation" v-model="formData.password_confirmation" class="form-control" :placeholder="__('labels.my_account_form.confirm_password')" />
                <p class="form-error" v-if="formErrors.password">{{ formErrors.password }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-right">
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg submit-btn pr-5 pl-5 mt-3">{{ __('labels.save') }}</button>
          </div>
        </div>
      </div>
      <!-- END OF PASSWORD ROW -->

    </form>
  </div>
</template>
<script>
import createNumberMask from 'text-mask-addons/dist/createNumberMask';
const latitudeMask = createNumberMask({
  prefix: '',
  suffix: '',
  includeThousandsSeparator: false,
  allowDecimal: true,
  decimalSymbol: '.',
  decimalLimit: 25,
  integerLimit: 2,
  allowNegative: true,
});
const longitudeMask = createNumberMask({
  prefix: '',
  suffix: '',
  includeThousandsSeparator: false,
  allowDecimal: true,
  decimalSymbol: '.',
  decimalLimit: 25,
  integerLimit: 3,
  allowNegative: true,
});
export default {
  props: ["panel"],
  data() {
    return {
      APP_URL: process.env.MIX_LOCAL_APP_URL,
      latitudeMask: latitudeMask,
      longitudeMask: longitudeMask,
      avtars: [],
      formData: {
        firstname: "",
        surname: "",
        email: "",
        business_name: "",
        cuit: "",
        mobile_prefix: "",
        mobile: "",
        province: "",
        locality: "",
        renspa_no: "",
        latitude: null,
        longtitude: null,
        gps_checkbox: false,
        avtar_id: null,
        password: "",
        password_confirmation: "",
        payment_methods: [],
        geolocation: [],
        step_2: 0,
        verified: 0,
      },
      readonlyMobile: true,
      readonlyRenspa: true,
      readonlyLocation: true,
      PaymentMethodFieldStatus: false,
      payment_method: '',
      formErrors: {
        mobile_prefix: '',
        mobile: '',
        renspa_no: '',
        latitude: '',
        longtitude: '',
        password: '',
        payment_method: '',
      }
    };
  },
  async created() {
    try
    {
      this.avtars = await this.$api.getAvatars();
      const profile = await this.$api.getMyProfile();
      this.formData = {
        firstname: profile.firstname,
        surname: profile.surname,
        email: profile.email,
        business_name: profile.business_name,
        cuit: profile.cuit,
        mobile_prefix: profile.mobile_prefix,
        mobile: profile.mobile,
        province: profile.province_name,
        locality: profile.locality_name,
        renspa_no: (profile.user_type == 2)?profile.renspa_no:null,
        latitude: (profile.user_type == 1)?profile.latitude:null,
        longtitude: (profile.user_type == 1)?profile.longtitude:null,
        avtar_id: (profile.user_type == 1)?profile.avtar_id:null,
        password: "",
        password_confirmation: "",
        payment_methods: (profile.user_type == 1)?profile.payment_methods:[],
        geolocation: [],
        step_2: profile.step_2,
        verified: profile.verified,
      };

      if(profile.user_type == 2)
      {
        profile.geolocation.map((row, key) => {
          this.formData.geolocation.push({
            id: row.id,
            name: row.name ,
            latitude: row.latitude,
            longtitude: row.longtitude,
            readonly: true
          });
        });
      }
    }
    catch (error)
    {
      console.log(error);
    }
  },
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
  methods: {
    enableMobileField()
    {
      this.readonlyMobile = !this.readonlyMobile;
    },
    enableRenspaField() 
    {
      this.readonlyRenspa = !this.readonlyRenspa;
    },
    enableLocationField(key = -1)
    {
      if(key >= 0)
      {
        let row = this.formData.geolocation[key];
        row.readonly = !row.readonly;
        Vue.set(this.formData.geolocation, key, row);
      }
      else
      {
        this.readonlyLocation = !this.readonlyLocation;
      }
    },
    gpsCheckboxChanged() {
      if(this.formData.gps_checkbox) {

        //do we support geolocation
        if(!("geolocation" in navigator)) {
          this.$toaster.danger('Geolocation is not available.');
          return;
        }

        navigator.geolocation.getCurrentPosition(position => {
          this.formData.latitude = position.coords.latitude;
          this.formData.longtitude = position.coords.longitude;
        }, err => {
          this.$toaster.danger(err.message);
        });
      }
    },
    removePaymentMethod(key)
    {
      let row = this.formData.payment_methods[key];
      row.is_allowed = false;
      Vue.set(this.formData.payment_methods, key, row);
    },
    selectPaymentMethod()
    {
      this.formErrors.payment_method = this.__('labels.my_account_form.please_select_payment_method_from_list');
      this.formData.payment_methods.map((row, key) => {
        if(row.name == this.payment_method)
        {
          row.is_allowed = true;
          Vue.set(this.formData.payment_methods, key, row);
          this.changePaymentMethodField();
        }
      });
    },
    changePaymentMethodField()
    {
      this.formErrors.payment_method = '';
      this.payment_method = '';
      this.PaymentMethodFieldStatus = !this.PaymentMethodFieldStatus;
    },
    addGeolocationField()
    {
      this.formData.geolocation.push({id: '', name: '' , latitude: '', longtitude: '', readonly: false});
    },
    async submitForm() {
      const data = {
        mobile_prefix: this.formData.mobile_prefix,
        mobile: this.formData.mobile,
        password: this.formData.password,
        password_confirmation: this.formData.password_confirmation,
      };

      if(this.user.user_type == 1)
      {
        data.latitude = this.formData.latitude;
        data.longtitude = this.formData.longtitude;
        data.avtar_id = this.formData.avtar_id;
        data.payment_methods = [];
        this.formData.payment_methods.map((row, key) => {
          if(row.is_allowed)
          {
            data.payment_methods.push(row.id); 
          }
        });
      }

      if(this.user.user_type == 2)
      {
        data.renspa_no = this.formData.renspa_no;
        data.geolocation = [];
        this.formData.geolocation.map((row, key) => {
          data.geolocation.push({id: row.id, name: row.name, latitude: row.latitude, longtitude: row.longtitude});
        });
      }
      
      this.formErrors = {
        mobile: '',
        renspa_no: '',
        latitude: '',
        longtitude: '',
        password: '',
        payment_method: '',
      };

      try
      {
        const response = await this.$api.updateProfile(data);
        localStorage.setItem('user', JSON.stringify(response.data));
        this.panel.user = response.data;
        this.formData.step_2 = response.data.step_2;
        this.formData.verified = response.data.verified;
        this.$toaster.success(response.message);
      }
      catch(error)
      {
        this.$toaster.error(error.message);
        const errors = error.errors;
        for (var key in errors)
        {
          this.formErrors[key] = errors[key];
        }
      }
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>
<style lang="scss" scoped>
#password, #password_confirmation 
{
  font-family: text-security-disc;
}
#password::-webkit-input-placeholder, #password_confirmation::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: sans-serif !important;
}
#password::-moz-placeholder, #password_confirmation::-moz-placeholder { /* Firefox 19+ */
  font-family: sans-serif !important;
}
#password:-ms-input-placeholder, #password_confirmation:-ms-input-placeholder { /* IE 10+ */
  font-family: sans-serif !important;
}
#password:-moz-placeholder, #password_confirmation:-moz-placeholder { /* Firefox 18- */
  font-family: sans-serif !important;
}
.form-group label
{
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-left: 0;
  color: rgb(66, 66, 66);
}
.form-group .form-control
{
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-left: 0;
  color: #4f9267;
  border-bottom: 3px solid #c9ded2;
}
.form-group .form-control:hover, .form-group .form-control:focus, .form-group .form-control:required:invalid
{
  border-bottom: 3px solid #c9ded2;
}
.form-group .form-control:disabled, .form-group .form-control[readonly]
{
  background-color: transparent;
}
.col-3-5
{
  flex: 0 0 28%;
  max-width: 28%;
}
@media(min-width:767px) {
  .col-md-4-25
  {
    flex: 0 0 36%;
    max-width: 36%;
  }
  .text-info-md
  {
    color: #509fbb !important;
  }
}
.edit-button-container
{
  position: relative;
}
.edit-button-container
{
  position: absolute;
  bottom: 24px;
  left: -20px;
}
.custom-control {
  padding-left: 0;
}
.custom-checkbox .custom-control-label::before {
  border-color: #40875b;
}
.payment-btn, .submit-btn
{
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6);
     -moz-box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6);
          box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6);
}
.payment-btn:focus, .submit-btn:focus
{
  color:#fff !important;
  background-color:#40875b !important;
  border-color:#169b6b !important;
  -webkit-box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6) !important;
     -moz-box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6) !important;
          box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6) !important;
}
.payment-method-container button
{
  border:0px;
  background-color: transparent;
  border-bottom: 3px solid #c9ded2;
}
.submit-btn
{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.form-group {
  &.profile-avtar {
    position: relative;
    input[type=radio] {
      display: block;
      opacity: 0;
      position: absolute;
      left: 0;
    }
    .profile-avtar__image {
      border: 3px solid transparent;
      width: 50px;
      height: 50px;
      overflow: hidden;
      cursor: pointer;
      border: 2px solid #40875a;
      img {
        width: 100%;
      }
    }
    input[type=radio]:checked + .profile-avtar__image{
      box-shadow: 0 0 8px #000;
    }
  }
}
</style>