<template>
  <div id="dt-my-orders" class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.menu.my_orders') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-condensed table-default" id="dt_table">
              <thead>
                <tr>
                  <th class="text-uppercase text-center">{{ __('labels.my_orders_list.nombre') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.my_orders_list.id_pedido') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.my_orders_list.cantidad') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.my_orders_list.costo') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ user.user_type === 1 ? __('labels.my_orders_list.id_productor') : __('labels.my_orders_list.id_agronomia') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.my_orders_list.estado_del_pedid') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.my_orders_list.fecha') }}<i class="fa ml-2"></i></th>
                </tr>
              </thead>

              <tbody v-if="orders.length > 0">
                <tr v-for="order in orders" :key="order.id">
                  <td class="text-center"><strong>{{ order.product_name }}</strong></td>
                  <td class="text-center">
                    <a href="javascript:;" class="text-dark" @click.prevent="openOrderDetail(order.id)">
                      <u>{{ `${order.custom_order_no}` }}</u>
                    </a>
                  </td>
                  <td class="text-center">{{ order.ordered_quantity }} {{ order.unit_of_measure }}</td>
                  <td class="text-center">{{ `${order.total_price} USD` }}</td>
                  <td class="text-center">
                    <!-- Only agronomia can see the productor details -->
                    <a href="javascript:;" class="text-success" @click.prevent="openUserDetail(order.producer_id)" v-if="user.user_type === 1">
                      {{ `${order.producer_custom_id}` }}
                    </a>
                    <span v-else>
                      {{ `${order.agronomia_custom_id}` }}
                    </span>
                  </td>
                  <td class="text-center">
                    <!-- user_type = Producers, are not allowed to change order status -->
                    <div v-if="user.user_type !== 1">
                      <span :class="{'text-muted': order.order_status === 1 || order.order_status === 3, 'text-success': order.order_status === 2}">
                        {{ __(`labels.my_orders_list.${order.order_status_label}`) }}
                        <i class="ml-1 fas fa-lg" :class="{'fa-check-circle': order.order_status === 2, 'fa-times-circle': order.order_status === 3}" style="vertical-align: middle;"></i>
                      </span>
                    </div>
                    <!-- user_type = Agronomia can change order status -->
                    <div v-else>
                      <a href="#" v-if="order.order_status === 1" class="text-muted" @click.prevent="openOrderAction(order.id)">
                        {{ __(`labels.evaluate`) }}
                      </a>
                      <span v-else :class="{'text-muted': order.order_status === 3, 'text-success': order.order_status === 2 }" >
                        <span v-if="order.order_status === 2"> {{ __(`labels.my_orders_list.Approved`) }} </span>
                        <span v-if="order.order_status === 3"> {{ __(`labels.my_orders_list.Rejected`) }} </span>
                        <i class="ml-1 fas fa-lg" :class="{'fa-check-circle': order.order_status === 2, 'fa-times-circle': order.order_status === 3}" style="vertical-align: middle;"></i>
                      </span>
                    </div>
                  </td>
                  <td class="text-center">{{ order.order_date }}</td>
                </tr>
              </tbody>
                  
              <tbody v-else>
                <tr>
                  <td colspan="7">
                    <div class="p-4 text-center bg-light">
                      <strong>{{ __('labels.no_orders_found') }}</strong>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Order Detail Modal -->
    <OrderDetail 
      v-if="showOrderDetail"
      :order_id="selectedOrderId"
      @close="closeOrderDetail()"
      @submit="submitOrderAction()"
    />

    <!-- Order Action Model -->
    <OrderAction 
      v-if="showOrderAction"
      :order_id="selectedOrderId"
      @close="closeOrderAction()"
      @submit="submitOrderAction()"
    />

    <!-- Producer Detail Modal -->
    <UserDetail 
      v-if="showUserDetail"
      :user_id="selectedUserId"
      @close="closeUserDetail()"
    />
  </div>
</template>
<script>
import OrderDetail from "./Modals/OrderDetail.vue";
import OrderAction from "./Modals/OrderAction.vue";
import UserDetail from "./Modals/UserDetail.vue";
import Modal from "./../../form/modal.vue";
export default {
  name: "MyOrders",
  components: {
    Modal, OrderDetail, OrderAction, UserDetail
  },
  data() {
    return {
      dt_table: "",
      orders: [],
      selectedOrderId: null,
      selectedUserId: null,
      showOrderDetail: false,
      showOrderAction: false,
      showUserDetail: false,
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
  },
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
  methods: {
    initTable() {
      var self = this;
      if(this.user.user_type == 1)
      {
        var columns = ['products.name', 'orders.id', 'orders.ordered_quantity', 'orders.total_price', 'producer.business_name', 'orders.order_status', 'orders.approval_date'];
      }
      else if(this.user.user_type == 2)
      {
        var columns = ['products.name', 'orders.id', 'orders.ordered_quantity', 'orders.total_price', 'agronomia.business_name', 'orders.order_status', 'orders.approval_date'];
      }
      
      self.dt_table = $("#dt_table").DataTable({
        order: [[1, "desc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        searching: false,
        lengthChange: false,
        pageLength: 10,
        language: {
          search: "",
          searchPlaceholder: self.__("labels.search"),
          sLengthMenu: self.__("labels.show_dt") + " _MENU_",
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: BASE_URL + "/web_api/orders",
          data: {
            columns: columns,
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.orders = json.data;
            return false;
          }
        }
      });
    },
    openUserDetail(user_id) {
      this.selectedUserId = user_id;
      this.showUserDetail = true;
    },
    closeUserDetail() {
      this.showUserDetail = false;
    },
    openOrderDetail(order_id) {
      this.selectedOrderId = order_id;
      this.showOrderDetail = true;
    },
    closeOrderDetail() {
      this.showOrderDetail = false;
    },
    openOrderAction(order_id) {
      this.selectedOrderId = order_id;
      this.showOrderAction = true;
    },
    closeOrderAction() {
      this.showOrderAction = false;
    },
    submitOrderAction() {
      this.dt_table.ajax.reload();
    },
  }
};
</script>
<style lang="scss" scoped>
.modal-footer > div {
  width: 100%;
}
#dt-my-orders
{
  & #dt_table_length, #dt_table_filter
  {
    display: none;
  }
  /* & .custom-checkbox .custom-control-label::before
  {
    border: 2px solid #d6cfb5 !important;
  }
  & .custom-control-input:checked ~ .custom-control-label::before
  {
    background-color: #d8ceb5;
  } */
  table.dataTable thead
  {
    & .sorting_desc, .sorting_asc, .sorting
    {
      background-image: none;
      & i:before
      {
        content: "\f30c";
        color: #d6cfb5;
      }
      & i:after
      {
        content: "\f309";
        color: #d6cfb5;
      }
    }
    & .sorting_asc i::before
    {
      color: rgb(80, 80, 80);
    }
    & .sorting_desc i::after
    {
      color: rgb(80, 80, 80);
    }
  }
}
a {
  text-decoration: underline;
}
</style>