<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.products') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row justify-content-between align-items-start mb-3">
        <div class="col-12 col-md-12 col-xl-7" :style="{textAlign: 'justify'}">
          <p>Aquí podrás ver todos tus productos que ofreces a tus clientes. Puedes aplicar descuentos/aumentos de precio en masa y buscar un producto de tu lista para editarlo o eliminarlo.</p>
        </div>
        <div class="col-12 col-md-12 col-xl-5 text-right">
          <router-link
            :to="{name: 'products'}"
            class="btn btn-success load-new-product-btn"
            v-if="user.step_2">{{ __('labels.user_products_list.load_new_product') }}</router-link>

          <router-link
            :to="{name: 'complete_registeration'}"
            class="btn btn-success load-new-product-btn"
            v-else>{{ __('labels.user_products_list.load_new_product') }}</router-link>

          <label class="tooltip-btn tooltip-big" v-tooltip.auto="{content: __('labels.help_texts.Cargar_nuevo_producto'), trigger: 'click hover', html: true}">
            <i class="fas fa-question" />
          </label>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-header">{{ __('labels.user_products_list.products_list') }}</div>
        <div class="card-body">
          <div class="row p-1">
            <div class="col-12 col-md-12 col-xl-7 mb-2">
              <div class="dataTables_length">
                <label>{{ __('labels.datatable.to_show') }}
                  <select v-model="dt_table_length" v-on:change="redrawTable()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="col-10 col-md-8 col-xl-3 mb-2">
              <div class="dataTables_filter">
                <label>
                  <input type="text" v-model="dt_table_search" :placeholder="__('labels.user_products_list.write_the_product_to_look_for')" v-on:keyup="redrawTable()">
                </label>
              </div>
            </div>
            <div class="col-2 col-md-4 col-xl-2"></div>
          </div>
          <div class="row p-1">
            <div class="col-12 col-md-12 col-laptop-2 col-lg-7 col-xl-7 mb-3">
              <form class="form-inline" @submit.prevent="submitForm()">
                <label class="action_type_container mb-2">
                  {{ __('labels.user_products_list.apply') }}
                  <select v-model="formData.action_type" class="form-control action_type ml-2 mr-2">
                    <option :value="1">{{ __('labels.user_products_list.increase') }}</option>
                    <option :value="2">{{ __('labels.user_products_list.discount') }}</option>
                  </select>
                </label>
                <label class="percentage_container mb-2">
                  {{ __('labels.user_products_list.in_the_price') }}
                  <div class="input-group mx-2">
                    <input type="number" max="100" min="0" v-model="formData.percentage" class="form-control mr-2" />
                    <div class="input-group-text">%</div>
                  </div>
                </label>
                <label class="submit_container mb-1">
                  <button type="submit" class="btn btn-success">{{ __('labels.user_products_list.apply') }}</button>
                </label>
              </form>
            </div>
            <div class="col-12 col-md-12 col-laptop-2 col-lg-5 col-xs-5 mb-3 agronomia-my-products dt-category-filter">
              <div class="row">
                <div class="col-12"><label class="font-weight-bold">{{ __('labels.user_products_list.also_search_for') }}:</label></div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 col-lg-8 col-xl-9 full-width">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                      <select id="category_id" v-model="dt_category" class="form-control" required v-on:change="dt_subcategory = ''">
                        <option value="">{{ __('labels.user_products_list.category') }}...</option>
                        <option v-for="category in categories" :key='category.id' :value="category">{{ category.name }}</option>
                      </select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                      <select id="subcategory_id" v-model="dt_subcategory" class="form-control" required>
                        <option value="">{{ __('labels.user_products_list.subcategory') }}...</option>
                        <option v-for="sub_category in dt_category.sub_categories" :key='sub_category.id' :value="sub_category.id">{{ sub_category.name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 col-xl-3 full-width mb-2">
                  <button type="button" class="btn btn-success" v-on:click="reinitTable()">{{ __('labels.user_products_list.apply') }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="dt-agronomia-my-products">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="table-responsive">
                <table class="table table-condensed table-default" id="dt_table">
                  <thead>
                    <tr>
                      <td align="center" :style="{width: '9px'}">
                        <div class="custom-checkbox">
                          <input type="checkbox" v-model="selectAll" id="select_all" class="custom-control-input" v-on:change="selecteAllChanged()" />
                          <label class="custom-control-label" for="select_all"></label>
                        </div>
                      </td>
                      <th class="text-uppercase text-center">{{ __('labels.user_products_list.name') }}<i class="fa ml-2"></i></th>
                      <th class="text-uppercase text-center">{{ __('labels.user_products_list.quantity_in_preset_units') }}<i class="fa ml-2"></i></th>
                      <th class="text-uppercase text-center">{{ __('labels.user_products_list.price') }}<i class="fa ml-2"></i></th>
                      <th class="text-uppercase text-center">{{ __('labels.user_products_list.edit') }}<i class="fa ml-2"></i></th>
                      <th class="text-uppercase text-center">{{ __('labels.user_products_list.status') }}<i class="fa ml-2"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(product) in dt_rows" v-bind:key="product.id">
                      <td align="center">
                        <div class="custom-checkbox">
                          <input type="checkbox" :id="`product_${product.id}`" class="custom-control-input" v-model="formData.product_ids" :value="product.id" />
                          <label class="custom-control-label font-weight-bold" :for="`product_${product.id}`"></label>
                        </div>
                      </td>
                      <th class="text-center">{{ product.name }}</th>
                      <td class="text-center">{{ product.available_quanity }}</td>
                      <td class="text-center">{{ product.agronomia_price }}</td>
                      <td class="text-center">
                        <router-link :to="{name: 'my_product', params: {agronomiaProductId: product.id}}" class="text-dark">
                          {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                        </router-link>
                      </td>
                      <td class="text-center">
                        <button class="btn-no-style" :class="{ 'text-success' : product.is_active, 'text-muted': !product.is_active }">
                          <span>{{ (product.is_active)?__('labels.active'):__('labels.inactive') }}</span>
                          <i class="fas fa-lg" :class="{ 'fa-check-circle' : product.is_active, 'fa-times-circle': !product.is_active }"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["panel"],
  data() {
    return {
      user: {},
      dt_table: "",
      dt_rows: [],
      dt_table_length: 10,
      dt_table_search: '',
      dt_category: '',
      dt_subcategory: '',
      formData: {
        action_type: 1,
        product_ids: [],
        percentage: 0
      },
      categories: [],
      selectAll: false
    }
  },
  async mounted() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
    this.categories = await this.$api.getCategories();
  },
  beforeCreate: function() {
    document.body.style.backgroundColor = "#fff";
    document.body.style.display = "block";
    document.body.style.paddingTop = "0px";
    document.body.className = "toggled panel";
  },
  async created() {
    // get user
    this.user = await this.$api.getMyProfile();
  },
  methods: {
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table").DataTable({
        order: [[1, "asc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        bInfo : false,
        pageLength: 10,
        columnDefs: [
          { orderable: false, targets: 0 }
        ],
        language: {
          "url": `${BASE_URL}/public/template/json/datatable/${self.panel.app.locale}.json`,
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: BASE_URL + "/web_api/agronomia/my_products",
          data: {
            category_id: (self.dt_category.length != '')?self.dt_category.id:'',
            subcategory_id: self.dt_subcategory,
            columns: ['agronomia_products.id', 'products.name', 'agronomia_products.available_quanity', 'agronomia_products.agronomia_price', 'agronomia_products.id', 'agronomia_products.id'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            self.selectAll = false;
            self.selecteAllChanged();
            return false;
          }
        }
      });
    },
    redrawTable()
    {
      this.dt_table.page.len(this.dt_table_length).search(this.dt_table_search).draw();
    },
    reinitTable() {
      this.dt_table.destroy();
      this.initTable();
    },
    selecteAllChanged()
    {
      this.formData.product_ids = [];
      if(this.selectAll) {
        this.dt_rows.map((row, key) => {
          this.formData.product_ids.push(row.id); 
        });
      }
    },
    async submitForm() {
      const data = {
        percentage: this.formData.percentage,
        agronomia_product_ids: this.formData.product_ids,
        action_type: this.formData.action_type
      }
      try
      {
        const result = await this.$api.updateProductPrices(data);
        this.$toaster.success(result.message);
        this.reinitTable();
      }
      catch (error)
      {
        this.$toaster.error(error.message);
      }
    },
  }
};
</script>
<style lang="scss" scoped>
.tooltip-btn
{
  border-radius: 12px;
}
.dataTables_filter
{
  & label {
    width: 100% !important;
    & input
    {
      width: 100% !important;
    }
  }
}
.action_type_container
{
  position: relative;
  &:after
  {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    visibility: visible;
    font-weight: 900;
    position: absolute;
    right: 10px;
    color: rgb(216, 206, 181);
  }
  & .action_type
  {
    width: 100px;
    background: none !important;
    border-bottom: 3px solid rgb(80, 80, 80) !important;
    color: rgb(80,80,80) !important;
    font-weight: 500;
  }
}
.percentage_container
{
  .input-group {
    position: relative;
    input {
      padding-right: 20px;
      width: 70px;
      color: rgb(80,80,80) !important;
      border-bottom: 3px solid rgb(80, 80, 80) !important;
    }
    .input-group-text {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      z-index: 3;
    }
  }
}
.col-laptop-2
{
  @media (max-width: 1290px) {
    min-width: 100% !important;
    width: 100% !important;
  }
}
.full-width
{
  @media (min-width: 1291px) and (max-width: 1780px) {
    min-width: 100% !important;
    width: 100% !important;
  }
}
</style>
<style lang="scss">
  #dt-agronomia-my-products
  {
    & #dt_table_length, #dt_table_filter
    {
      display: none;
    }
    & .custom-checkbox .custom-control-label::before
    {
      border: 2px solid #d6cfb5 !important;
    }
    & .custom-control-input:checked ~ .custom-control-label::before
    {
      background-color: #d8ceb5;
    }
    table.dataTable thead
    {
      & .sorting_desc, .sorting_asc, .sorting
      {
        background-image: none;
        & i:before
        {
          content: "\f30c";
          color: #d6cfb5;
        }
        & i:after
        {
          content: "\f309";
          color: #d6cfb5;
        }
      }
      & .sorting_asc i::before
      {
        color: rgb(80, 80, 80);
      }
      & .sorting_desc i::after
      {
        color: rgb(80, 80, 80);
      }
    }
  }
</style>