<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.menu.my_sales') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-condensed table-default" id="dt_table">
              <thead>
                <tr>
                  <th class="text-center text-uppercase">{{ __('labels.my_orders_list.nombre') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.my_orders_list.id_pedido') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.my_orders_list.cantidad') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.my_orders_list.costo') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.my_orders_list.id_productor') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.my_orders_list.fecha') }}</th>
                </tr>
              </thead>
              <tbody v-if="orders.length > 0">
                <tr v-for="order in orders" :key="order.id">
                  <td class="text-center"><strong>{{ order.product_name }}</strong></td>
                  <td class="text-center">
                    <a href="javascript:;" class="text-dark" @click.prevent="openOrderDetail(order.id)">
                      <u>{{ `${order.custom_order_no}` }}</u>
                    </a>
                  </td>
                  <td class="text-center">{{ order.ordered_quantity }} {{ order.unit_of_measure }}</td>
                  <td class="text-center">{{ `${order.total_price} USD` }}</td>
                  <td class="text-center">
                    <a href="javascript:;" class="text-success" @click.prevent="openUserDetail(order.producer_id)">
                      {{ `${order.producer_custom_id}` }}
                    </a>
                  </td>
                  <td class="text-center">{{ order.approval_date || '--' }}</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="6">
                    <div class="p-4 text-center bg-light">
                      <strong>{{ __('labels.no_orders_found') }}</strong>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Order Detail Modal -->
    <OrderDetail 
      v-if="showOrderDetail"
      :order_id="selectedOrderId"
      @close="closeOrderDetail()"
    />

    <!-- Producer Detail Modal -->
    <UserDetail 
      v-if="showUserDetail"
      :user_id="selectedUserId"
      @close="closeUserDetail()"
    />
  </div>
</template>
<script>
import OrderDetail from "./Modals/OrderDetail.vue";
import UserDetail from "./Modals/UserDetail.vue";
export default {
  name: "MySales",
  components: {
    OrderDetail, UserDetail
  },
  data() {
    return {
      dt_table: "",
      orders: [],
      selectedOrderId: null,
      selectedUserId: null,
      showOrderDetail: false,
      showUserDetail: false,
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
  },
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
  methods: {
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table").DataTable({
        order: [[0, "asc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        searching: false,
        pageLength: 10,
        language: {
          search: "",
          searchPlaceholder: self.__("labels.search"),
          sLengthMenu: self.__("labels.show_dt") + " _MENU_",
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: BASE_URL + "/web_api/orders",
          type: "POST",
          dataType: "json",
          data: {
            order_status: 2,
            columns: ['products.name', 'orders.id', 'orders.ordered_quantity', 'orders.total_price', 'producer.business_name', 'orders.approval_date'],
          },
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.orders = json.data;
            return false;
          }
        }
      });
    },
    openUserDetail(user_id) {
      this.selectedUserId = user_id;
      this.showUserDetail = true;
    },
    closeUserDetail() {
      this.showUserDetail = false;
    },
    openOrderDetail(order_id) {
      this.selectedOrderId = order_id;
      this.showOrderDetail = true;
    },
    closeOrderDetail() {
      this.showOrderDetail = false;
    },
  }
};
</script>
<style lang="scss" scoped>
</style>