<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.menu.notifications') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div v-if="notifications.length > 0">
        <div class="dashboard-card mb-3 mb-xl-4" v-for="noti in notifications" :key="noti.id">
          <p class="d-flex align-items-top" v-if="noti.message_type === 'danger'">
            <i class="fas fa-lg mt-1 fa-times-circle text-danger" />
            <a v-if="noti.click_action == 'openOrderDetail'" href="javascript:;" class="ml-2 ml-lg-3 text-danger text-decoration-none" @click.prevent="openOrderDetail(noti.data.order_id)">{{noti.message}}</a>
            <span v-else class="ml-2 ml-lg-3 text-danger">{{noti.message}}</span>
          </p>
          <p class="d-flex align-items-top" v-if="noti.message_type === 'success'">
            <i class="fas fa-lg mt-1 fa-check-circle text-success" />
            <a v-if="noti.click_action == 'openOrderDetail'" href="javascript:;" class="ml-2 ml-lg-3 text-success text-decoration-none" @click.prevent="openOrderDetail(noti.data.order_id)">{{noti.message}}</a>
            <span v-else class="ml-2 ml-lg-3 text-success">{{noti.message}}</span>
          </p>
          <p class="d-flex align-items-top" v-if="noti.message_type === 'info'">
            <i class="fas fa-lg mt-1 fa-exclamation-circle text-brown" />
            <a v-if="noti.click_action == 'openOrderDetail'" href="javascript:;" class="ml-2 ml-lg-3 text-decoration-none" style="color: #434343;" @click.prevent="openOrderDetail(noti.data.order_id)">{{noti.message}}</a>
            <span v-else class="ml-2 ml-lg-3">{{noti.message}}</span>
          </p>
        </div>
      </div>
      <div v-else>
        <div class="p-4 text-center bg-light">
          <strong>{{ __('labels.no_notification_found') }}</strong>
        </div>
      </div>
    </div>

    <!-- Order Detail Modal -->
    <OrderDetail 
      v-if="showOrderDetail"
      :order_id="selectedOrderId"
      @close="closeOrderDetail()"
    />
  </div>
</template>
<script>
import OrderDetail from "./Modals/OrderDetail.vue";
export default {
  name: 'Notifications',
  components: {OrderDetail },
  data () {
    return {
      notifications: [],
      selectedOrderId: null,
      showOrderDetail: false,
    }
  },
  async created() {
    try {
      this.notifications = await this.$api.getNotifications();
    } catch (error) {
      this.$toaster.error(error.message);
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
  methods: {
    openOrderDetail(order_id) {
      this.selectedOrderId = order_id;
      this.showOrderDetail = true;
    },
    closeOrderDetail() {
      this.showOrderDetail = false;
    },
  },
}
</script>
<style lang="scss" scoped>
.dashboard-card {
  border-left: none;
  padding: 22px 30px;
  @media (max-width: 576px) {
    padding: 15px;
  }
  p {
    position: relative;
    font-weight: 700;
    margin: 0;
  }
}
.text-brown {
  color: rgb(182, 166, 126);
}
</style>