<template>
  <div>
    <AgronomiaProducts :panel="this.panel" v-if="user.user_type === 1" />
    <ProducerProducts :panel="this.panel" v-if="user.user_type === 2" />
  </div>
</template>
<script>
import AgronomiaProducts from './Agronomia/Products.vue';
import ProducerProducts from './Producer/Products.vue';
export default {
  props: ["panel"],
  components: {
    ProducerProducts,
    AgronomiaProducts
  },
  created: function() {},
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>
<style>
</style>