<template>
  <div>
    <EditSelectedProduct v-if="this.$route.name === 'editSelectedProduct' || this.$route.name === 'addSelectedProduct'" />
    <SelectNewProduct v-if="this.$route.name === 'selectNewProduct'" />
  </div>
</template>
<script>
export default {
  name: 'ProductDetail',
  data(){
    return {}
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>

<style lang="scss" scoped>

</style>