<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.menu.reviews') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <h5 class="text-success-dark">
        {{ __('labels.my_reviews.mis_calificaciones') }}
      </h5>

      <!-- Order counts, comments and my avg rating -->
      <div class="row my-3">
        <div class="col-xl-5">

          <!-- approved and rejected order counts -->
          <div class="orders-count mb-4 font-weight-bold">
            <h6 class="d-flex justify-content-between">
              {{ __('labels.my_reviews.pedidos_aprobados') }}: <span class="text-success-dark">{{ received.approved_orders }}</span>
            </h6>
            <h6 class="d-flex justify-content-between">
              {{ __('labels.my_reviews.pedidos_rechazados') }}: <span class="text-success-dark">{{ received.cancelled_orders }}</span>
            </h6>
          </div>

          <h6>{{ __('labels.my_reviews.comentarios') }} {{ received.reviews.length > 0 ? `(${received.reviews.length})` : '' }}:</h6>
          <div class="comments px-2 py-3">
              <p class="my-5 text-center font-weight-bold text-secondary" v-if="received.reviews.length === 0">
                {{ __('labels.my_reviews.no_comments') }}
              </p>
              <p class="comment" v-for="review in received.reviews" :key="review.id">
                <q>{{ review.comment }}</q>
                <span class="comment-author text-secondary">
                  - {{ review.user_business_name }}
                </span>
              </p>
          </div>

          <div class="my-4" />
          <div class="orders-count">
            <div class="d-flex justify-content-between align-items-center">
              <span class="font-weight-bold" style="max-width: 4rem">{{ __('labels.my_reviews.puntaje') }}: {{received.average_rating}} {{ __('labels.my_reviews.de') }} 5</span>
              <Ratings :rating="received.average_rating" class="Ratings" />
            </div>
          </div>

        </div>
      </div>
      <div class="my-5"></div>
      <!-- Order Reviews -->
      <div class="table-responsive">
        <table class="table table-condensed table-default" id="dt_table">
          <thead>
            <tr>
              <th class="text-center text-uppercase">{{ __('labels.my_reviews.approved_orders.para') }}</th>
              <th class="text-center text-uppercase">{{ __('labels.my_reviews.approved_orders.id_pedido') }}</th>
              <th class="text-center text-uppercase">{{ __('labels.state') }}</th>
              <th class="text-center text-uppercase">{{ __('labels.my_reviews.approved_orders.calificar') }}</th>
            </tr>
          </thead>
          <tbody v-if="orderReviews.length > 0">
            <tr v-for="review in orderReviews" :key="review.id">
              <td class="text-center">
                <a href="javascript:;" class="text-dark" @click.prevent="openUserDetail(review.producer_id)" v-if="review.producer_id">
                  <strong>{{ `${review.producer_custom_id}` }}</strong>
                </a>
                <strong v-else>{{ review.agronomia_custom_id }}</strong>
              </td>
              <td class="text-center">
                <a href="javascript:;" class="text-dark" @click.prevent="openOrderDetail(review.order_id)">
                  <u>{{ `${review.custom_order_no}` }}</u>
                </a>
              </td>
              <!-- <td class="text-center">{{ review.is_approved }}</td> -->
              <td class="text-center">
                <button class="btn-no-style" :class="{ 'text-success' : review.is_approved == 2, 'text-muted': !review.is_approved, 'text-danger': review.is_approved == 3 }">
                  <span v-if="!review.is_approved"> {{ __('labels.my_reviews.review_pendiente') }}</span>
                  <span v-else-if="review.is_approved == 1">{{ __('labels.my_reviews.reviewing_in') }}</span>
                  <span v-else-if="review.is_approved == 2">{{ __('labels.my_reviews.review_aprobados') }} <i class="fas fa-lg fa-check-circle"></i></span>
                  <span v-else-if="review.is_approved == 3"> {{ __('labels.my_reviews.review_rejected') }} <i class="fas fa-lg fa-times-circle"></i></span>
                </button>
              </td>
              <td class="text-center" v-if="review.qualify">
                <!-- <a v-if="review.ratings || review.comment" href="" @click.prevent="openReviewPopup(order)" class="text-secondary"> {{ __('labels.my_reviews.approved_orders.editar') }} </a> -->
                <a v-if="!review.ratings && !review.comment" href="" @click.prevent="openReviewPopup(review)" class="text-success-dark"> {{ __('labels.my_reviews.approved_orders.calificar') }} </a>
              </td>
              <td v-else></td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="4">
                <div class="p-4 text-center bg-light">
                  <strong>{{ __('labels.my_reviews.no_approved_order_found') }}</strong>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <Modal v-if="visibleReviewPopup" @close="toggleReviewPopup">
      <div slot="header">
        <h6>{{ __('labels.my_reviews.califar_un_usuario') }}</h6>
        <p class="text-uppercase mb-0"><span class="text-success-dark">PARA {{ reviewOrderForm.order.producer_id ? `${reviewOrderForm.order.producer_custom_id}` : `${reviewOrderForm.order.agronomia_custom_id}` }}</span></p>
      </div>
      <div slot="body">
        <form class="font-weight-bold">
          <div class="form-inline">
            <div class="form-group">
              <label>{{ __('labels.my_reviews.cantidad_de_estrellas') }}</label>
              <select v-model="reviewOrderForm.ratings" class="form-control ml-2" style="width: 100px;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="mt-4 form-group">
            <label>{{ __('labels.my_reviews.tu_comentario') }}</label>
            <textarea name="comment" id="comment" v-model="reviewOrderForm.comment" rows="1" class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div slot="footer">
        <div class="d-flex justify-content-end">
          <button class="btn btn-success rounded-pill" @click="submitMyRating()" :disabled="!isRatingFormValid"> {{ __('labels.my_reviews.enviar') }} </button>
        </div>
      </div>
    </Modal>

    <!-- Order Detail Modal -->
    <OrderDetail 
      v-if="showOrderDetail"
      :order_id="selectedOrderId"
      @close="closeOrderDetail()"
    />

    <!-- Producer Detail Modal -->
    <UserDetail 
      v-if="showUserDetail"
      :user_id="selectedUserId"
      @close="closeUserDetail()"
    />
  </div>
</template>

<script>
import OrderDetail from "./Modals/OrderDetail.vue";
import UserDetail from "./Modals/UserDetail.vue";
import Ratings from './../../form/ratings.vue';
import Modal from './../../form/modal.vue';

export default {
  name: 'Reviews',
  components: { Ratings, Modal, OrderDetail, UserDetail },
  data () {
    return {
      orderReviews: [],
      received: {},
      reviewOrderForm: {},
      visibleReviewPopup: false,
      selectedOrderId: null,
      selectedUserId: null,
      showOrderDetail: false,
      showUserDetail: false,
    };
  },
  async created() {
    this.resetReviewForm();
    this.initOrderReviews();
  },
  computed: {
    isRatingFormValid() {
      return this.reviewOrderForm.ratings || this.reviewOrderForm.comment.trim() !== '';
    }
  },
  methods: {
    async initOrderReviews() {
      try {
        this.received = await this.$api.getReceivedReviews();
        this.orderReviews = await this.$api.getApprovedOrdersForMyReviews();
      } catch (error) {
        // this.$toaster.error(error.message);
      }
    },
    openReviewPopup(order) {
      this.reviewOrderForm.order = order;
      if (order.ratings || order.comment) {
        this.reviewOrderForm.ratings = order.ratings;
        this.reviewOrderForm.comment = order.comment;
      }
      this.toggleReviewPopup();
    },
    toggleReviewPopup() {
      this.visibleReviewPopup = !this.visibleReviewPopup;
      if (!this.visibleReviewPopup) {
        this.resetReviewForm();
      }
    },
    async submitMyRating() {
      if (this.isRatingFormValid) {
        try {
          const payload = {
            order_id: this.reviewOrderForm.order.order_id,
            ratings: this.reviewOrderForm.ratings,
            comment: this.reviewOrderForm.comment
          }
          const result = await this.$api.submitOrderRating(payload);
          this.$toaster.success(result.message);
          this.resetReviewForm();
          this.initOrderReviews();
          this.toggleReviewPopup();
        } catch (error) {
          this.$toaster.error(error.message);
        }
      }
    },
    resetReviewForm() {
      this.reviewOrderForm = {
        order: {},
        ratings: '',
        comment: ''
      };
    },
    openUserDetail(user_id) {
      this.selectedUserId = user_id;
      this.showUserDetail = true;
    },
    closeUserDetail() {
      this.showUserDetail = false;
    },
    openOrderDetail(order_id) {
      this.selectedOrderId = order_id;
      this.showOrderDetail = true;
    },
    closeOrderDetail() {
      this.showOrderDetail = false;
    },
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
}
</script>
<style lang="scss" scoped>
.orders-count {
  width: 300px;
  & > h6 {
    padding: 18px 0;
    padding-right: 100px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
  }
}
.comments {
  max-height: 250px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  .comment {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-style: italic;
    &:last-of-type {
      border: none;
    }
    &-author {
      display: block;
      margin: 0 6px;
      font-size: 80%;
    }
    q {
      font-size: 0.9rem;
    }
  }
}
::v-deep {
  .star {
    i {
      font-size: 1.8rem;
    }
  }
  .modal-body {
    margin-top: 0;
  }
}
</style>