<template>
  <div>
    <div id="wrapper">
      <div class="col-12 col-md-6 m-auto">
        <h1><img :src="getMapIcon()" /></h1>
        <h3 class="mb-5">{{ __('Agregar Ubicación') }}</h3>
        <h5>{{ __('¡Ya casi puedes hacer tu primer búsqueda!') }}</h5>
        <p class="mb-5">{{ __('Necesitamos saber dónde está tu campo para mostrarte las agronomías que venden dentro de tu zona y al mejor precio.')}}</p>
        <p><b>{{ __('Conozco las coordenadas geográficas de mi campo:') }}</b></p>
        <div class="form-group mb-5">
          <div class="row">
            <div class="col-6">
              <input type="text" :placeholder="__('labels.frontend.x_coordinates')" class="form-control" v-model="formData.latitude" @change="changeLatLong()" v-mask="latitudeMask" />
            </div>
            <div class="col-6">
              <input type="text" :placeholder="__('labels.frontend.y_coordinates')" class="form-control" v-model="formData.longitude" @change="changeLatLong()" v-mask="longitudeMask" />
            </div>
          </div>
        </div>
        <p><b>{{ __('No conozco las coordenadas X e Y de mi campo:') }}</b></p>
        <div class="form-group mb-5 text-left">
          <div class="row">
            <span class="custom-control custom-checkbox gps_checkbox custom-control-label-checkbox-wrap">
              <input type="checkbox" class="custom-control-input" v-model="formData.gps_checkbox" style="width: auto;" @change="gpsCheckboxChanged()" id="gps_checkbox">
              <label class="custom-control-label custom-control-label-checkbox " for="gps_checkbox">{{ __('Seleccionar esta opción si estás en tu campo. Utilizaremos el GPS de tu dispositivo.') }}</label>
            </span>
          </div>
          <div class="row mb-3">
            <span class="custom-control custom-checkbox map_checkbox custom-control-label-checkbox-wrap">
              <input type="checkbox" class="custom-control-input" v-model="formData.map_checkbox" style="width: auto;" @change="mapCheckboxChanged()" id="map_checkbox">
              <label class="custom-control-label custom-control-label-checkbox " for="map_checkbox">{{ __('Seleccionar esta opción para encontrar tu campo utilizando el mapa.') }}<br><small><i>({{ __('Cuando aparezca el mapa, arrastra el ícono verde a la ubicación de tu campo') }})</i></small></label>
            </span>
          </div>
          <div class="row" v-show="formData.map_checkbox">
            <GmapMap ref="mapRef" :zoom="5" :center="{lat: -38.4161,lng: -63.6167}">
              <GmapMarker
                v-for="(m, index) in markers"
                :key="index"
                :ref="`marker${index}`" 
                :position="m.position"
                :draggable="true"
                @dragend="markerDragged"
                icon="http://maps.google.com/mapfiles/ms/icons/green-dot.png"
              />       
            </GmapMap>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-light btn-lg" id="submit_btn" @click="submitForm()">
            {{ __('Agregar Ubicación') }}
          </button>
        </div>
      </div>
    </div>
    <div class="panel mobile-footer">
      <div class="container">
        <ul>
          <li><a href="javascript:;" @click.prevent="logout()"> <img :src="`${app.BASE_URL}/public/template/images/ic_lgoout_deactive.png`"> </a></li>
          <li><a :href="`https://wa.me/${whatsappNo}`" target="_blank"><img :src="`${app.BASE_URL}/public/template/images/ic_whatsapp_deactive.png`"></a></li>
          <li><router-link to="/ayuda"> <img :src="`${app.BASE_URL}/public/template/images/ic_faqs_deactive.png`"> </router-link></li>
        </ul>
      </div>
    </div>
    <div id="back_to_home">
      <router-link :to="redirection_route">
        <i class="far fa-times-circle fa-2x"></i>
      </router-link>
    </div>
  </div>
</template>
<script>
import {gmapApi} from 'vue2-google-maps';
import createNumberMask from 'text-mask-addons/dist/createNumberMask';
const latitudeMask = createNumberMask({
  prefix: '',
  suffix: '',
  includeThousandsSeparator: false,
  allowDecimal: true,
  decimalSymbol: '.',
  decimalLimit: 25,
  integerLimit: 2,
  allowNegative: true,
});
const longitudeMask = createNumberMask({
  prefix: '',
  suffix: '',
  includeThousandsSeparator: false,
  allowDecimal: true,
  decimalSymbol: '.',
  decimalLimit: 25,
  integerLimit: 3,
  allowNegative: true,
});
export default {
  props: ['app'],
  data() {
    return {
      formData: {
        latitude: '',
        longitude: '',
        gps_checkbox: false,
        map_checkbox: false,
      },
      latitudeMask: latitudeMask,
      longitudeMask: longitudeMask,
      redirection_route: {},
      markers: [{position: {lat: -38.4161,lng: -63.6167}}],
      whatsappNo: process.env.MIX_WHATSAPP_NO,
    }
  },
  beforeCreate: function() {
    document.body.style.backgroundColor = "#40875b";
    document.body.style.display = "block";
    document.body.style.paddingTop = "40px";
    document.body.className = "";
  },
  async created() {

    const required_quantity = this.$route.query.required_quantity;
    const payment_method    = this.$route.query.payment_method;
    const date_of_delivery  = this.$route.query.date_of_delivery;

    if(this.$route.query.product_id != undefined
        && this.$route.query.product_id != '') {
      const product_id = this.$route.query.product_id;
      this.redirection_route = {
        path: `/productor/producto/${product_id}`,
        query: {
          required_quantity: required_quantity,
          payment_method: payment_method,
          date_of_delivery: date_of_delivery
        }
      };
    }
    else if(this.$route.query.producto_general_id != undefined
        && this.$route.query.producto_general_id != '') {
      const producto_general_id = this.$route.query.producto_general_id;
      this.redirection_route = {
        name: 'search',
        query: {
          producto_general_id: producto_general_id,
          required_quantity: required_quantity,
          payment_method: payment_method,
          date_of_delivery: date_of_delivery
        }
      };
    }
    else
    {
      this.redirection_route = {
        name: 'search',
      };
    }

    const geolocations = await this.$api.getGeolocation();
    if(geolocations.length > 0) {
      this.$router.push(this.redirection_route);
    }
  },
  methods: {
    getMapIcon() {
      return `${process.env.MIX_LOCAL_APP_URL}public/template/images/map-pin-white.png`;
    },
    gpsCheckboxChanged() {
      if(this.formData.gps_checkbox) {
        this.formData.map_checkbox = false;

        //do we support geolocation
        if(!("geolocation" in navigator)) {
          this.$toaster.danger('Geolocation is not available.');
          return;
        }

        navigator.geolocation.getCurrentPosition(position => {
          this.formData.latitude = position.coords.latitude;
          this.formData.longitude = position.coords.longitude;
        }, err => {
          this.$toaster.danger(err.message);
        });
      }
    },
    mapCheckboxChanged() {
      if(this.formData.map_checkbox) {
        this.formData.gps_checkbox = false;

        if(this.latitude != '' && this.longitude != '') {
          this.changeLatLong();
        }
      }
    },
    changeLatLong() {

      if(this.formData.latitude != '' && this.formData.longitude != '') {
        this.$refs.mapRef.$mapPromise.then((map) => {
          map.setCenter({
            lat: parseFloat(this.formData.latitude),
            lng: parseFloat(this.formData.longitude)
          });
        });

        this.markers = [{position: {lat: parseFloat(this.formData.latitude),lng: parseFloat(this.formData.longitude)}}]
      }
    },
    markerDragged(location) {
      this.formData.latitude = location.latLng.lat();
      this.formData.longitude = location.latLng.lng();
      this.changeLatLong();
    },
    async submitForm() {
      const payload = {
        latitude: this.formData.latitude,
        longitude: this.formData.longitude
      };

      try {
        const response = await this.$api.createGeolocation(payload);
        if(response.code === 200) {
          this.$toaster.success(response.message);
          this.$router.push(this.redirection_route);
        } else {
          this.$toaster.error(response.message);
        }
      } catch (error) {
        this.$toaster.error(response.message);
      }
    },
    logout() {
      this.app.loading = true;
      this.$api.logout().then(response => {
        this.app.user = false;
        if(this.app.auth_url == 'auth')
        {
          this.$router.push({name: 'admin-login'});
          this.app.loading = false;
        }
        else
        {
          window.location.href = `${process.env.MIX_LOCAL_APP_URL}login`;
        }
      });
    },
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=swap');
#wrapper {
  font-family: "Assistant", sans-serif !important;
  padding: 0px 10px 100px 10px;
  background-color: #40875b;
  color: #fff;
  text-align: center;
}
input, input:hover, input:focus {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff !important;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  color: #fff;
}
input::placeholder {
  color: #fff;
  text-transform: none;
  font-style: italic;
}
.custom-control-label::before {
  background-color: transparent;
}
.custom-checkbox .custom-control-label::before {
  border-color: #fff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: transparent;
  border-color: #fff;
}
.vue-map-container,
.vue-map-container .vue-map {
  min-width: 100%;
  height: 300px;
}
#submit_btn {
  border-radius: 25px !important;
  color: #40875b;
  font-weight: bold;
}
#back_to_home {
  position: absolute;
  top: 25px;
  right: 25px;
}
#back_to_home i {
  opacity: 0.75;
  color: rgba(255, 255, 255, 0.75);
}
</style>