<template>
  <div>
    <div id="wrapper">
      <div class="col-12 col-md-6 m-auto">
        <h3 class="mb-5">{{ __('¡Estás a un paso de efectuar tu primer pedido!') }}</h3>
        <h6>{{ __('Completa con tus datos personales por única vez y podrás realizar pedidos.') }}</h6>
        <h6 class="mb-5"><b>{{ __('¡Pzz!') }}</b> {{ __('¡Además si completas el RENSPA serás usuario verificado! ;)') }}</h6>
        <div class="form-group">
          <div class="col-9 col-md-6 col-lg-6 m-auto">
            <div class="row">
              <div class="col">
                <input type="text" :placeholder="__('NOMBRE')" class="form-control" v-model="formData.firstname" v-mask="alphaSpaceMask()" />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" :placeholder="__('APELLIDO')" class="form-control" v-model="formData.surname" v-mask="alphaSpaceMask()" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-left">
                <label class="mb-0"><b>{{ __('Celular') }}</b></label>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <input type="text" :placeholder="__('PREFIJO')" class="form-control" v-model="formData.mobile_prefix" v-mask="'####'" />
              </div>
              <div class="col-8">
                <input type="text" :placeholder="__('NÚMERO SIN EL 15')" class="form-control" v-model="formData.mobile" v-mask="'########'" />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" :placeholder="__('RENSPA (OPCIONAL)')" class="form-control" v-model="formData.renspa_no" v-mask="'##.###.#.##########'" />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <v-select
                  class="gree_v-select"
                  :options="provinces"
                  v-model="formData.province"
                  :placeholder="__('PROVINCIA')"
                  label="name"
                  code="id"
                  @input="resetLocalities()"></v-select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <v-select
                  class="gree_v-select"
                  :options="localities"
                  v-model="formData.locality"
                  :placeholder="__('LOCALIDAD')"
                  label="name"
                  code="id"></v-select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mt-5">
          <button type="button" class="btn btn-light btn-lg" id="submit_btn" @click="submitForm()">
            {{ __('Guardar') }}
          </button>
        </div>
      </div>
    </div>
    <div class="panel mobile-footer">
      <div class="container">
        <ul>
          <li><a href="javascript:;" @click.prevent="logout()"> <img :src="`${app.BASE_URL}/public/template/images/ic_lgoout_deactive.png`"> </a></li>
          <li><a :href="`https://wa.me/${whatsappNo}`" target="_blank"><img :src="`${app.BASE_URL}/public/template/images/ic_whatsapp_deactive.png`"></a></li>
          <li><router-link to="/ayuda"> <img :src="`${app.BASE_URL}/public/template/images/ic_faqs_deactive.png`"> </router-link></li>
        </ul>
      </div>
    </div>
    <div id="back_to_home">
      <router-link :to="back_route">
        <i class="far fa-times-circle fa-2x"></i>
      </router-link>
    </div>
  </div>
</template>
<script>
import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';
export default {
  props: ['app'],
  components: {
    "v-select": vSelect,
  },
  data() {
    return {
      formData: {
        firstname: '',
        surname: '',
        mobile_prefix: '',
        mobile: '',
        renspa_no: '',
        province: '',
        locality: '',
      },
      provinces: [],
      localities: [],
      redirection_route: {},
      back_route: {},
      whatsappNo: process.env.MIX_WHATSAPP_NO,
    }
  },
  beforeCreate: function() {
    document.body.style.backgroundColor = "#40875b";
    document.body.style.display = "block";
    document.body.style.paddingTop = "40px";
    document.body.className = "";
  },
  async created() {

    // get user
    const user = await this.$api.getMyProfile();
    
    this.formData.firstname     = user.firstname;
    this.formData.surname       = user.surname;
    this.formData.mobile_prefix = user.mobile_prefix;
    this.formData.mobile        = user.mobile;
    this.formData.renspa_no     = user.renspa_no;
    if(user.province != '')
    {
      this.formData.province = {
        id: user.province,
        name: user.province_name
      };
    }
    if(user.locality != '')
    {
      this.formData.locality = {
        id: user.locality,
        name: user.locality_name
      };
    }

    // get provinces
    const provinces = await this.$api.getProvinces();
    this.provinces = provinces.data;

    // get url parameters
    const required_quantity = this.$route.query.required_quantity;
    const payment_method    = this.$route.query.payment_method;
    const geolocation       = this.$route.query.geolocation;
    const date_of_delivery  = this.$route.query.date_of_delivery;
    const product_id        = this.$route.query.product_id;
    const agronomia_id      = this.$route.query.agronomia_id;

    if(this.$route.query.producto_general_id != undefined
        && this.$route.query.producto_general_id != '') {
      const producto_general_id = this.$route.query.producto_general_id;

      this.redirection_route = {
        name: 'general_productos_list',
        query: {
          producto_general_id: producto_general_id,
          required_quantity:   required_quantity,
          payment_method:      payment_method,
          geolocation:         geolocation,
          date_of_delivery:    date_of_delivery,
          product_id:          product_id,
          agronomia_id:        agronomia_id,
        },
      };

      this.back_route = {
        name: 'general_productos_list',
        query: {
          producto_general_id: producto_general_id,
          required_quantity:   required_quantity,
          payment_method:      payment_method,
          geolocation:         geolocation,
          date_of_delivery:    date_of_delivery,
        },
      };
    }
    else {
      this.redirection_route = {
        name: 'vendor_list',
        query: {
          product_id:          product_id,
          required_quantity:   required_quantity,
          payment_method:      payment_method,
          geolocation:         geolocation,
          date_of_delivery:    date_of_delivery,
          agronomia_id:        agronomia_id,
        },
      };

      this.back_route = {
        name: 'vendor_list',
        query: {
          product_id:        product_id,
          required_quantity: required_quantity,
          payment_method:    payment_method,
          geolocation:       geolocation,
          date_of_delivery:  date_of_delivery,
        },
      };
    }

    // if user already step 2
    if(user.step_2) {
      this.$router.push(this.redirection_route);
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
  methods: {
    alphaSpaceMask(length = 128) {
      var mask = '';
      for (var i = 0; i < length; i++) {
        mask += "S";
      } 
      return mask;
    },
    async resetLocalities() {
      const localities = await this.$api.getLocalities({
        province_id: this.formData.province.id
      });
      this.formData.locality = '';
      this.localities = localities.data;
    },
    async submitForm() {
      const payload = {
        firstname: this.formData.firstname,
        surname: this.formData.surname,
        mobile_prefix: this.formData.mobile_prefix,
        mobile: this.formData.mobile,
        renspa_no: this.formData.renspa_no,
        province: this.formData.province.id,
        locality: this.formData.locality.id,
      };

      try {
        const response = await this.$api.registerStep2(payload);
        this.$toaster.success(response);
        this.$router.push(this.redirection_route);
      } catch (error) {
        this.$toaster.error(error);
      }
    },
    logout() {
      this.app.loading = true;
      this.$api.logout().then(response => {
        this.app.user = false;
        if(this.app.auth_url == 'auth')
        {
          this.$router.push({name: 'admin-login'});
          this.app.loading = false;
        }
        else
        {
          window.location.href = `${process.env.MIX_LOCAL_APP_URL}login`;
        }
      });
    },
  },
}
</script>
<style>
.gree_v-select {
  margin-bottom: 10px;
}
.gree_v-select .vs__dropdown-toggle {
  border: none; 
  border-bottom: 3px solid rgba(255,255,255,0.75) !important;
  border-radius: 0;
  padding-left: 0px;
}
.gree_v-select .vs__search {
  padding-left: 0px;
  padding-right: 0px;
}
.gree_v-select .vs__search::placeholder {
  color: #fff;
  text-transform: none;
  font-weight: 600;
}
.gree_v-select .vs__clear {
  display: none;
}
.gree_v-select .vs__open-indicator {
  background-color: #40875b;
  fill: #40875b;
  width: 0; 
  height: 0; 
  border-top: 10px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.gree_v-select .vs__selected-options
{
  padding: 0px !important;
  margin-left: 0px;
}
.gree_v-select .vs__selected {
  color: #fff;
  text-transform: none;
  font-weight: 600;
  padding: 0px !important;
  margin-left: 0px;
}
</style>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=swap');
#wrapper {
  font-family: "Assistant", sans-serif !important;
  padding: 0px 10px 100px 10px;
  background-color: #40875b;
  color: #fff;
  text-align: center;
}
input, input:hover, input:focus {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(255,255,255,0.75) !important;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
}
input::placeholder {
  color: #fff;
  text-transform: none;
  font-weight: 600;
}
.custom-control-label::before {
  background-color: transparent;
}
.custom-checkbox .custom-control-label::before {
  border-color: #fff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: transparent;
  border-color: #fff;
}
.vue-map-container,
.vue-map-container .vue-map {
  min-width: 100%;
  height: 300px;
}
#submit_btn {
  border-radius: 25px !important;
  color: #40875b;
  font-weight: bold;
}
#back_to_home {
  position: absolute;
  top: 25px;
  right: 25px;
}
#back_to_home i {
  opacity: 0.75;
  color: rgba(255, 255, 255, 0.75);
}
</style>