<template>
  <div>
    <div class="container-fluid bg__for_cantainer">
      <!-- START OF OVERLAY -->
      <div class="overlay" v-if="isFilterOpen" @click="openCloseFilter()"></div>
      <!-- END OF OVERLAY -->
      <div class="d-none d-lg-flex align-items-center justify-content-between cusstom__header mb-4">
        <h1 class="h3 mb-0 text-white font__custom">&nbsp;</h1>
      </div>
      <div class="cusstom__container bg-white">
        <div class="container-fluid px-xl-5">
          <div class="my-md-5 mx-xl-5">
            <div class="col-12">
              <h4 class="text-center text-success-dark title mb-2">
                <span class="d-none d-sm-block"> {{ __('labels.products_list') }} </span>
                <!-- START OF FILTER -->
                <div class="filter" v-if="filterAttributes.length > 0">
                  <span class="filter-icon" :style="{'background-image': `url(${getFilterImage()})`}" v-on:click="openCloseFilter()"></span>
                  <div class="filter-menu p-4" v-if="isFilterOpen">
                    <label>{{ __('labels.user_products_list.filter_by') }}:</label>
                    <hr>
                    <div class="filter-attributes mb-3" v-for="(item, index) in filterAttributes" :key="index">
                      <a href="#" class="attribute d-flex justify-content-between align-items-center" @click.prevent="toggleFilter(index)">
                        <span class="text-uppercase">{{ item.label }}</span>
                        <i class="fas fa-caret-down text-success fa-lg"></i>
                      </a>
                      <ul v-if="item.is_opened">
                        <li class="custom-checkbox mt-2" v-for="(sub_item, sub_index) in item.attributes" :key="sub_index">
                          <input type="checkbox" :id="`sub_item_${index}_${sub_index}`" class="custom-control-input" :checked="sub_item.is_selected" v-on:change="selectUnselectFilter(index, sub_index)" />
                          <label class="custom-control-label d-block" :for="`sub_item_${index}_${sub_index}`">{{sub_item.label}}</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- END OF FILTER  -->
              </h4>
              <p class="text-success text-sm-center">
                {{ category_name }} - {{ subcategory_name }}
                <br>
                <small class="text-muted">{{recordsFiltered}} Productos</small>
              </p>
            </div>
          </div>
          
          <!-- START OF SELECTED FILTERS -->
          <div class="mb-sm-3 ml-sm-3" v-for="(item, index) in filterAttributes" :key="index">
            <div class="d-flex mx-sm-5 mb-2" style="width: 100%;" v-if="item.selected > 0">
              <strong>{{ item.label }}</strong>
            </div>
            <div class="d-flex mx-sm-5" style="width: 100%;" v-if="item.selected > 0">
              <template v-for="(sub_item, sub_index) in item.attributes">
                <button type="button" class="btn btn-light shadow-none btn-sm px-2 mr-2" :key="sub_index" v-if="sub_item.is_selected" v-on:click="selectUnselectFilter(index, sub_index)">
                  {{sub_item.label}} <span class="badge badge-pill badge-light">x</span>
                </button>
              </template>
            </div>
          </div>
          <!-- START SELECTED FILTERS -->

          <!-- list of products -->
          <div class="row mt-4 mx-xl-6" v-if="products.length > 0">
            <div class="col-6 col-sm-6 col-lg-4 col-xxl-3 px-xl-3" v-for="(product, index) in products" :key="index">
              <div class="product-card px-2 mb-2 mb-sm-4">
                <div class="product-card__image mb-4" :style="{'background-image': `url(${APP_URL}public/template/images/ke_insumos_logo.png)`}">
                  <!-- <img :src="" :alt="product.name"/> -->
                </div>
                <p class="text-center"><strong>{{ product.name }}</strong></p>
                <routerLink :to="`/productor/producto/${product.id}`" class="btn btn-success rounded-pill mt-auto">Ver producto</routerLink>
              </div>
            </div>
          </div>
          <div class="mt-4 mx-xl-5" v-else>
            <p class="p-4 text-center bg-light">
              <strong>{{ __('labels.user_products_list.no_products_found') }}</strong>
            </p>
          </div>
          <div class="pagination mt-4 d-flex justify-content-center">
            <button @click.prevent="changePage('prev')" class="btn pagination-item mx-3" :disabled="getDisabledPrev"> <i class="fas fa-long-arrow-alt-left"></i> </button>
            <button @click.prevent="changePage('next')" class="btn pagination-item mx-3" :disabled="getDisabledNext"> <i class="fas fa-long-arrow-alt-right"></i> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Products",
  data() {
    return {
      APP_URL: process.env.MIX_LOCAL_APP_URL,
      subcategoryId: '',
      filterData: [],
      products: [],
      category_name: '',
      subcategory_name: '',
      isFilterOpen: false,
      filterAttributes: [],
      selectedAttributes: [],
      openedFilterSubmenues: [],
      openedFilter: '',
      length: 12,
      start: 0,
      recordsFiltered: 0,
    }
  },
  async created() {
    if(this.$route.params.subcategoryId != undefined)
    {
      this.subcategoryId = this.$route.params.subcategoryId;
    }

    const page = parseInt(this.$route.query.page);
    if (page != NaN && page >= 1) {
      this.start = (page - 1) * this.length;
    }
    this.prepareFilterData();
    this.retriveFilterAttributes();
    this.retriveProducts();
  },
  computed: {
    getDisabledPrev() {
      return this.start < this.length;
    },
    getDisabledNext() {
      return (this.recordsFiltered - this.start) < this.length;
    }
  },
  methods: {
    getFilterImage() {
      return `${process.env.MIX_LOCAL_APP_URL}public/template/images/filter_icon.png`;
    },
    prepareFilterData()
    {
      this.filterData = {
        subcategory_id: this.subcategoryId,
        opened_filter: this.openedFilter,
      };
      this.filterAttributes.map((mappedRow, mappedKey) => {
        this.filterData[mappedRow.name] = [];
        mappedRow.attributes.map((mappedAttribute, mappedAttributeKey) => {
          if(mappedAttribute.is_selected)
          {
            this.filterData[mappedRow.name].push(mappedAttribute.value)
          }
        });
      });
    },
    async retriveProducts()
    {
      this.prepareFilterData();
      const order = [{'column': 0,'dir': 'asc'}];
      const columns = ['products.name'];
      const response = await this.$api.getProductList({...this.filterData, ...{length: this.length.toString(), start: this.start.toString(), order, columns}});
      this.products = response.data;
      this.recordsFiltered = response.recordsFiltered;
      this.category_name = response.category_name;
      this.subcategory_name = response.subcategory_name;
      if (screen.width > 768) {
        this.$scrollTo('#content-wrapper', 500, {el: '#content-wrapper',container: '.bg__for_cantainer'});
      } else {
        this.$scrollTo('body', 500);
      }
    },
    async retriveFilterAttributes()
    {
      this.prepareFilterData();
      this.filterAttributes = await this.$api.getProductFilterAttributes(this.filterData);
    },
    openCloseFilter()
    {
      this.isFilterOpen = !this.isFilterOpen;
      if (this.isFilterOpen){
        document.getElementsByClassName('bg__for_cantainer')[0].style.overflow = 'hidden';
      } else {
        document.getElementsByClassName('bg__for_cantainer')[0].style.overflow = 'auto';
      }
    },
    toggleFilter(index)
    {
      this.filterAttributes.map((mappedRow, mappedKey) => {
        // CLOSE ALL OTHER TABS
        if (mappedKey != index)
        {
          mappedRow.is_opened = false;
        }
        else
        {
          // TOGGLE CURRENT TAB
          mappedRow.is_opened = !mappedRow.is_opened;
          this.openedFilter = (mappedRow.is_opened)?mappedRow.name:'';
        }
        Vue.set(this.filterAttributes, mappedKey, mappedRow);
      });
    },
    selectUnselectFilter(index, sub_index)
    {
      this.filterAttributes.map((mappedRow, mappedKey) => {
        if(mappedKey == index)
        {
          mappedRow.attributes.map((mappedAttribute, mappedAttributeKey) => {
            if(mappedAttributeKey == sub_index)
            {
              if(mappedAttribute.is_selected)
              {
                mappedAttribute.is_selected = false;
                mappedRow.selected--;
              }
              else
              {
                mappedAttribute.is_selected = true;
                mappedRow.selected++;
              }
              Vue.set(this.filterAttributes, mappedKey, mappedRow);
              this.retriveFilterAttributes();

              this.start = 12;
              this.changePage('prev');
            }
          });
        }
      });
    },
    changePage(direction) {
      if (direction === 'next') {
        this.start = this.start + this.length;
      } else {
        this.start = this.start - this.length;
      }
      const page = ((this.start / this.length) + 1);
      window.history.pushState(null, '', `${this.APP_URL}producer/productos/${this.subcategoryId}?page=${page}`);
      this.retriveProducts();
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  font-weight: 700;
  font-size: 1.4rem;
  position: relative;
  @media (max-width: 576px) {
    margin: 0 !important;
  }
  .filter {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    @media (max-width: 576px) {
      right: -10px;
      top: -5px;
    }
    &-icon {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50% !important;
      color: #fff;
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0;
      display: block;

      @media (max-width: 576px) {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
    &-menu {
      color: #434343;
      text-align: left;
      position: absolute;
      right: 0;
      @media (max-width: 320px) {
        right: -30px;
      }
      top: calc(100% + 10px);
      background: #fff;
      z-index: 2;
      border-radius: 15px;
      box-shadow: 0 0 15px #0000003b;
      font-size: 0.9rem;
      width: 290px;
      hr {
        margin-top: 0.7rem;
        margin-bottom: 1.1rem;
        border-top: 1px solid rgb(179, 220, 192);
      }
      label {
        margin-bottom: 0;
      }
    }
    &-attributes {
      a.attribute {
        color: #434343;
        text-decoration: none;
        &:hover {
          opacity: 0.8;
        }
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding-left: 8px;
        font-weight: normal;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}
.product-card {
  height: 340px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #f7f7f7;
  border-radius: 29px;
  box-shadow: 0 0 15px #d0d0d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  @media (max-width: 576px) {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 13px;
    height: 270px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    font-size: 0.75rem;
  }
  &__image {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3.5px solid #40875a;
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    img {
      width: 100%;
    }
      
    @media (max-width: 576px) {
      width: 140px;
      height: 140px;
    }
  }
}
a.btn-success {
  color: white;
}
.overlay {
  position:fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.pagination-item {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: #40875a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50% !important;
  padding: 0;
}
</style>