<template>
  <div>
    <div class="container-fluid bg__for_cantainer">
      <div class="d-none d-lg-flex align-items-center justify-content-between cusstom__header mb-4">
        <h1 class="h3 mb-0 text-white font__custom">&nbsp;</h1>
      </div>
      <div class="cusstom__container bg-white">

        <!-- product title -->
        <h4 class="text-center text-success-dark title mb-2">
          {{ product.name }}
        </h4>
        <p class="text-success text-center">
          {{ product.category_name }} - {{ product.subcategory_name }}
        </p>
        <!-- end of product title -->
        <div class="container">
          <div class="row justify-content-center">
            <form class="col-xl-5" @submit.prevent="submitVendorSearch()">
              <div class="product-card mt-4">

                <!-- product -->
                <div class="product-card__image mb-4" :style="{'background-image': `url(${APP_URL}public/template/images/ke_insumos_logo.png)`}">
                </div>
                <div class="brief-description input-group" :class="{'active': showFullDescription}" @click="showFullDescription = !showFullDescription">
                  <p v-html="product.description" v-if="showFullDescription" :class="{'active': showFullDescription}" />
                  <p class="text-muted" v-html="__('labels.user_products_list.brief_product_description')" v-else />
                    <div class="input-group-append tail">
                      <span class="input-group-text">
                        <i class="fas fa-sort-up" :class="{'active': showFullDescription}"></i>
                      </span>
                    </div>
                </div>
                <!-- end of product product -->

                <div class="d-inline-block my-3" />
                <p class="text-center mb-0">
                  <strong>Por favor, complete los siguientes campos para buscar las agronomias con el mejor precio.</strong>
                </p>
                <div class="d-inline-block my-3" />

                <!-- Quantity Input -->
                <div class="form-group">
                  <div class="input-group quantity">
                    <input
                      type="number"
                      class="form-control"
                      :placeholder="__('labels.vendor_search_form.quantity_comparar')"
                      aria-describedby="quantity-icon"
                      v-model="formData.quantity"
                    />
                    <div class="input-group-append tail">
                      <span class="input-group-text">{{ product.unit_of_measure }}</span>
                    </div>
                  </div>
                  <p class="form-error" v-if="formErrors.quantity">{{formErrors.quantity}}</p>
                </div>
                <!-- End of Quantity Input -->

                <div class="d-inline-block mb-1" />

                <!-- Delivery Date -->
                <div class="form-group">
                  <div class="input-group">
                    <datepicker
                      inputClass="success-datepicker form-control"
                      format="dd-MM-yyyy"
                      v-model="formData.deliveryDate"
                      :clearButton="true"
                      clear-button-icon="fa fa-times"
                      :placeholder="__('labels.vendor_search_form.delivery_date_placeholder')"
                      :disabled-dates="{to: getYesterday()}"
                      wrapperClass="position-relative vue-calendar"
                      :bootstrap-styling="true"
                    ></datepicker>
                    <div class="input-group-append tail mr-2" v-if="!formData.deliveryDate">
                      <span class="input-group-text"><i class="fas fa-caret-down text-success"></i></span>
                    </div>
                  </div>
                  <p class="form-error" v-if="formErrors.deliveryDate">{{formErrors.deliveryDate}}</p>
                </div>
                <!-- End of Delivery Date -->

                <div class="d-inline-block mb-1" />
                
                <!-- Payment Methods -->
                <div class="form-group">
                  <div class="input-group">
                    <select v-model="formData.paymentMethod" class="form-control text-uppercase hidden__arrow">
                      <option value>{{ __('labels.vendor_search_form.way_to_pay') }}</option>
                      <option
                        v-for="method in payment_methods"
                        v-bind:key="method.id"
                        :value="method.id"
                      >{{ method.name }}</option>
                    </select>
                    <div class="input-group-append tail mr-2">
                      <span class="input-group-text"><i class="fas fa-caret-down text-success"></i></span>
                    </div>
                  </div>
                  <p class="form-error" v-if="formErrors.paymentMethod">{{formErrors.paymentMethod}}</p>
                </div>
                <!-- End of Payment Methods -->

                <div class="d-inline-block mb-1" />

                <!-- Geo Location -->
                <div class="form-group">
                  <div class="input-group">
                    <select
                      v-model="formData.geolocation"
                      class="form-control text-uppercase hidden__arrow"
                      @change="openLocationPage()">
                      <option value>{{ __('labels.vendor_search_form.i_want_it_in_choose_location') }}</option>
                      <template v-if="geolocations.length > 0">
                        <option v-for="geolocation in geolocations" v-bind:key="geolocation.id" :value="geolocation.id">
                          {{ geolocation.name }}
                        </option>
                      </template>
                      <template v-else>
                        <option value="+">{{ __('labels.vendor_search_form.add_my_first_location') }}</option>
                      </template>
                    </select>
                    <div class="input-group-append tail">
                      <span class="input-group-text"><i class="fas fa-caret-down text-success"></i></span>
                    </div>
                  </div>
                  <p class="form-error" v-if="formErrors.geolocation">{{formErrors.geolocation}}</p>
                </div>
                <!-- End of Geo Location -->

              </div>
              <div class="d-inline-block mb-4"></div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn rounded-pill btn-success btn-lg">{{ __('labels.search') }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- NO VENDORS FOUND MODAL -->
    <transition name="fade" mode="out-in">
      <Modal v-if="noVendorsModal">
        <div slot="body">
          <div class="row mb-3" :style="{paddingRight: '5%', paddingLeft: '5%'}">
            <div class="col-md-12 text-center" :style="{fontWeight: 'bold'}">
              {{ __('labels.vendor_search_form.oops_there_are_no_agronomies_that_match_your_search') }}
            </div>
          </div>
          <div class="row mb-2" :style="{paddingRight: '5%', paddingLeft: '5%'}">
            <div class="col-md-12 text-center" :style="{fontWeight: 'bold'}">
              {{ __('labels.vendor_search_form.please_try_again') }}
            </div>
          </div>
          <div class="row" :style="{paddingRight: '5%', paddingLeft: '5%'}">
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-success" v-on:click="noVendorsModal = false">
                <b>{{ __('labels.vendor_search_form.new_search') }}</b>
              </button>
            </div>
          </div>
        </div>
      </Modal>
    </transition>
    <!-- END OF NO VENDORS FOUND MODAL -->

  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import moment from "moment-timezone";
import Modal from "./../../../form/modal";
export default {
  name: "SingleProductDetail",
  components: { Datepicker, Modal },
  data() {
    return {
      noVendorsModal: false,
      APP_URL: process.env.MIX_LOCAL_APP_URL,
      product: {},
      payment_methods: [],
      geolocations: [],
      showFullDescription: false,
      formErrors: {
        product: "",
        deliveryDate: "",
        quantity: "",
        paymentMethod: "",
        geolocation: "",
        vendorsSearch: ""
      },
      formData: {
        product: {},
        deliveryDate: '',
        quantity: '',
        paymentMethod: '',
        geolocation: '',
      }
    }
  },
  beforeCreate: function() {
    document.body.style.backgroundColor = "#fff";
    document.body.style.display = "block";
    document.body.style.paddingTop = "0px";
    document.body.className = "toggled panel";
  },
  async created() {
    try {
      const product = await this.$api.getProductDetail({product_id: this.$route.params.id});
      this.payment_methods = await this.$api.getPaymentMethods();
      this.geolocations = await this.$api.getGeolocation();
      this.product = {...this.product, ...product};
      this.formData.product = {...this.formData.product, ...product};
    } catch (error) {
      this.$toaster.error(error.message);
      this.$router.push({ path: '/productos'}); 
    }

    if(this.$route.query.required_quantity != undefined
        && this.$route.query.required_quantity != '') {
      this.formData.quantity = this.$route.query.required_quantity;
    }

    if(this.$route.query.payment_method != undefined
        && this.$route.query.payment_method != '') {
      this.formData.paymentMethod = this.$route.query.payment_method;
    }

    if(this.$route.query.date_of_delivery != undefined
        && this.$route.query.date_of_delivery != '') {
      this.formData.deliveryDate = moment(this.$route.query.date_of_delivery, 'DD-MM-YYYY');
    }
  },
  methods: {
    getYesterday() {
      return new Date(moment().subtract(1, 'days'));
    },
    validateVendorForm() {
      let hasError = false;
      if (!this.formData.product.id) {
        hasError = true;
        this.formErrors.product = this.__(
          "labels.vendor_search_form.product_error"
        );
      } else {
        this.formErrors.product = "";
      }

      if (!this.formData.quantity) {
        hasError = true;
        this.formErrors.quantity = this.__(
          "labels.vendor_search_form.quantity_error"
        );
      } else {
        this.formErrors.quantity = "";
      }

      if (!this.formData.deliveryDate) {
        hasError = true;
        this.formErrors.deliveryDate = this.__(
          "labels.vendor_search_form.delivery_date_error"
        );
      } else {
        this.formErrors.deliveryDate = "";
      }

      if (!this.formData.paymentMethod) {
        hasError = true;
        this.formErrors.paymentMethod = this.__(
          "labels.vendor_search_form.payment_method_error"
        );
      } else {
        this.formErrors.paymentMethod = "";
      }

      if (!this.formData.geolocation) {
        hasError = true;
        this.formErrors.geolocation = this.__(
          "labels.vendor_search_form.geolocation_error"
        );
      } else {
        this.formErrors.geolocation = "";
      }

      return !hasError;
    },
    async submitVendorSearch() {
      this.formErrors.vendorsSearch = "";
      if (this.validateVendorForm()) {
        const payload = {
          product_id: this.formData.product.id,
          required_quantity: this.formData.quantity,
          payment_method: this.formData.paymentMethod,
          geolocation: this.formData.geolocation,
          date_of_delivery: moment(this.formData.deliveryDate).format("DD-MM-YYYY")
        };

        try {
          const vendors = await this.$api.vendorSearch(payload);
          this.$router.push({
            path: '/lista-de-agronomia',
            query: payload
          });
        } catch (error) {
          // this.formErrors.vendorsSearch = this.__("labels.vendor_search_form.vendor_list_error");
          this.noVendorsModal = true;
        }
      }
    },
    openLocationPage() {
      // redirect to add location page
      if(this.formData.geolocation == "+") {

        const payload = {
          product_id: this.formData.product.id,
          required_quantity: this.formData.quantity,
          payment_method: this.formData.paymentMethod,
          date_of_delivery: (this.formData.deliveryDate != '') ? moment(this.formData.deliveryDate).format("DD-MM-YYYY") : '',
        };

        this.$router.push({
          path: '/agregar-ubicación',
          query: payload
        });
      }
    },
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
}
</script>

<style lang="scss" scoped>
.title {
  font-weight: 700;
  font-size: 1.4rem;
}
.product-card {
  &__image {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3.5px solid #FFE07B;
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    img {
      width: 100%;
    }
  }
}
.brief-description {
  padding: 0.375rem 0.75rem;
  border: none;
  font-size: 0.9rem;
  margin: 0;
  max-height: 50px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 3px solid #c1c1c1;
  p {
    margin-bottom: 0;
    line-height: 1.43;
    padding-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    &.active {
      font-weight: normal;
      white-space: normal;
    }
  }
  i {
    transition: 0.35s;
    transform-origin: center;
    transform: rotate(180Deg);
    font-size: 0.9rem;
    margin-top: -14px;
    &.active {
      transform: rotate(0Deg);
      margin-top: 1px;
    }
  }
  &.active {
    max-height: none;
  }
}
.input-group {
  .tail.input-group-append {
    z-index: 3;
    position: absolute;
    right: 0;
    .input-group-text {
      background-color: transparent;
      border: none;
      padding: 0 10px;
      font-size: 0.9rem;
      height: 35px;
      width: auto;
      margin: 0;
    }
  }
}
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: .375rem .75rem !important;
}
</style>