<template>
  <div class="bg-white" id="agronomia_product_list">
    <div class="row mb-4">
      <div class="col-12 col-md-12 col-xl-3 mb-2">
        <div class="dataTables_filter">
          <label>
            <input type="text" v-model="dt_table_search" :placeholder="__('labels.user_products_list.write_the_product_to_look_for')">
          </label>
        </div>
      </div>
      <div class="col-12 col-md-12 col-xl-6">
        <div class="row">
          <div class="col-12 col-md-12 col-xl-12"><label class="font-weight-bold">{{ __('labels.user_products_list.also_search_for') }}:</label></div>
        </div>
        <div class="row">
          <div class="col-12 col-md-5 col-xl-5 mb-2">
            <select id="category_id" v-model="dt_category" class="form-control" required v-on:change="dt_subcategory = ''">
              <option value="">{{ __('labels.user_products_list.category') }}...</option>
              <option v-for="category in categories" :key='category.id' :value="category">{{ category.name }}</option>
            </select>
          </div>
          <div class="col-12 col-md-5 col-xl-5 mb-2">
            <select id="subcategory_id" v-model="dt_subcategory" class="form-control" required>
              <option value="">{{ __('labels.user_products_list.subcategory') }}...</option>
              <option v-for="sub_category in dt_category.sub_categories" :key='sub_category.id' :value="sub_category.id">{{ sub_category.name }}</option>
            </select>
          </div>
          <div class="col-12 col-md-2 col-xl-2 mb-">
            <button type="button" class="btn btn-success" v-on:click="reinitTable()">{{ __('labels.user_products_list.search') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-condensed table-default" id="dt_table_products">
            <thead>
              <tr>
                <td align="center" :style="{width: '9px'}">
                  <div class="custom-checkbox">
                    <input type="checkbox" v-model="selectAll" id="select_all_products" class="custom-control-input" v-on:change="selecteAllChanged()" />
                    <label class="custom-control-label" for="select_all_products"></label>
                  </div>
                </td>
                <th class="text-center text-uppercase">{{ __('labels.user_products_list.name') }}<i class="fa ml-2"></i></th>
                <th class="text-center text-uppercase">{{ __('labels.user_products_list.category') }}<i class="fa ml-2"></i></th>
                <th class="text-center text-uppercase">{{ __('labels.user_products_list.active_principle') }}<i class="fa ml-2"></i></th>
                <th class="text-center text-uppercase"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(product) in dt_rows" v-bind:key="product.id">
                <td align="center">
                  <div class="custom-checkbox">
                    <input type="checkbox" :id="`product_${product.id}`" class="custom-control-input" v-model="formData.product_ids" :value="product.id" />
                    <label class="custom-control-label font-weight-bold" :for="`product_${product.id}`"></label>
                  </div>
                </td>
                <th class="text-center">{{ product.name }}</th>
                <td class="text-center">{{ product.category_name }}</td>
                <td class="text-center">{{ product.ingredients }}</td>
                <td class="text-center">
                  <button class="btn-no-style text-success font-weight-bold"  @click="addProduct(product.id)">
                    {{ __('labels.user_products_list.sell_the_product') }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- ADD PRODUCT MODAL -->
    <transition name="fade" mode="out-in">
      <Modal v-if="showAddProductModal" size="xl" @close="toggleAddProductModal">
        <div slot="body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-3">
              <EditAgronomiaProduct :agronomiaId="agronomiaId" :productId="productId" @close="toggleAddProductModal" @reinitAgronomiaProductsTable="reinitAgronomiaProductsTable" ></EditAgronomiaProduct>
            </div>
          </div>
        </div>
      </Modal>
    </transition>
    <!-- END OF ADD PRODUCT MODAL -->

  </div>
</template>
<script>
import Modal from './../../form/modal.vue';
import EditAgronomiaProduct from './Edit_agronomia_product.vue';
export default {
  name: 'AddAgronomiaProductList',
  props: ["agronomiaId"],
  components: { Modal, EditAgronomiaProduct },
  data() {
    return {
      productId: '',
      dt_table: "",
      dt_rows: [],
      dt_table_search: '',
      dt_category: '',
      dt_subcategory: '',
      formData: {
        product_ids: [],
      },
      categories: [],
      selectAll: false,
      showAddProductModal: false,
    }
  },
  async mounted() {
    this.initTable();
    this.categories = await this.$api.getCategories();
  },
  methods: {
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table_products").DataTable({
        order: [[1, "asc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        bInfo : false,
        lengthChange: false,
        pageLength: 10,
        columnDefs: [
          { orderable: false, targets: 0 }
        ],
        language: {
          "url": `${BASE_URL}/public/template/json/datatable/${process.env.MIX_LOCAL_APP_LOCALE}.json`,
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}products`,
          data: {
            category_id: (self.dt_category.length != '')?self.dt_category.id:'',
            subcategory_id: self.dt_subcategory,
            is_active: 1,
            columns: ['products.id', 'products.name', 'product_categories.name', 'products.ingredients', 'products.id'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            self.selectAll = false;
            self.selecteAllChanged();
            return false;
          }
        }
      });
    },
    reinitTable() {
      this.dt_table.destroy();
      this.initTable();
      this.dt_table.search(this.dt_table_search).draw();
    },
    selecteAllChanged()
    {
      this.formData.product_ids = [];
      if(this.selectAll)
      {
        this.dt_rows.map((row, key) => {
          this.formData.product_ids.push(row.id); 
        });
      }
    },
    addProduct(productId)
    {
      this.productId = productId;
      this.showAddProductModal = true;
    },
    toggleAddProductModal()
    {
      this.showAddProductModal = !this.showAddProductModal;
    },
    reinitAgronomiaProductsTable()
    {
      this.showAddProductModal = !this.showAddProductModal;
      this.$emit('reinitAgronomiaProductsTable');
      this.$emit('close');
    }
  }
}
</script>
<style lang="scss">
  #agronomia_product_list 
  {
    & #dt_table_products_filter
    {
      display: none;
    }
    & .dataTables_filter
    {
      & label, input
      {
        width: 100%;
      }
    }
    
    & button
    {
      border-radius: 15px;
      -webkit-box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6);
        -moz-box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6);
              box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.6);
    }

    & .custom-checkbox .custom-control-label::before
    {
      border: 2px solid #d6cfb5 !important;
    }
    & .custom-control-input:checked ~ .custom-control-label::before
    {
      background-color: #d8ceb5;
    }
  }
</style>