<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.add_new_product') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <form @submit.prevent="submitForm()">
        <div class="d-flex align-items-center mb-4 justify-content-end">
          <span class="mr-2"> {{ __('labels.inactive') }} </span>
          <toggle-button v-model="formData.state" :width="65" :height="25" :sync="true" class="mb-0" />
          <span class="ml-2">{{ __('labels.active') }}</span>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="name"><b>{{ __('labels.product_name') }} <sup>*</sup></b></label>
                <input type="text" id="name" v-model="formData.name" class="form-control" required/>
                <p class="form-error" v-if="formErrors.name">{{ formErrors.name }}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="custom_id"><b>{{ __('labels.product_id') }} <sup>*</sup></b></label>
                <input type="text" id="custom_id" v-model="formData.custom_id" class="form-control" required/>
                <p class="form-error" v-if="formErrors.custom_id">{{ formErrors.custom_id }}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="unit_of_measure"><b>{{ __('labels.unit_of_measurement') }} <sup>*</sup></b></label>
                <input type="text" id="unit_of_measure" v-model="formData.unit_of_measure" class="form-control" required/>
                <p class="form-error" v-if="formErrors.unit_of_measure">{{ formErrors.unit_of_measure }}</p>
              </div>
            </div>
    
            <div class="my-3">&nbsp;</div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="category_id"><b>{{ __('labels.category') }} <sup>*</sup></b></label>
                <select id="category_id" v-model="selectedCategory" class="form-control" required v-on:change="formData.subcategory_id = ''">
                  <option value="" class="text-uppercase">{{ __('labels.category') }}</option>
                  <option v-for="category in master.categories" :key='category.id' :value="category">{{ category.name }}</option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="subcategory_id"><b>{{ __('labels.subcategory') }} <sup>*</sup></b></label>
                <select id="subcategory_id" v-model="formData.subcategory_id" class="form-control" required>
                  <option value="" class="text-uppercase">{{ __('labels.subcategory') }}</option>
                  <option v-for="sub_category in selectedCategory.sub_categories" :key='sub_category.id' :value="sub_category.id">{{ sub_category.name }}</option>
                </select>
                <p class="form-error" v-if="formErrors.subcategory_id">{{ formErrors.subcategory_id }}</p>
              </div>
              <!--
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="producto_general"><b>{{ __('labels.producto_general') }} <sup>*</sup></b></label>
                <select id="producto_general" v-model="formData.producto_general_id" class="form-control" required>
                  <option value="" class="text-uppercase">{{ __('labels.producto_general') }}</option>
                  <option v-for="general in master.producto_generals" :key='general.id' :value="general.id">{{ general.name }}</option>
                </select>
                <p class="form-error" v-if="formErrors.producto_general_id">{{ formErrors.producto_general_id }}</p>
              </div>
              -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="producto_general"><b>{{ __('labels.producto_general') }} <sup>*</sup></b></label>
                  <vueSelectAutocomplete
                    class="full-width"
                    searchEndpoint="searchProductoGeneralbyName"
                    v-model="formData.producto_general_id"
                    :placeholder="__('labels.producto_general')"
                    @selectSuggetion="generalSelected"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
            <label for="description"><b>{{ __('labels.product_description') }} <sup>*</sup></b></label>
            <quill-editor v-model="formData.description" :options="editorOption" id="description"></quill-editor>
            <p class="form-error" v-if="formErrors.description">{{ formErrors.description }}</p>
          </div>
        </div>
        <div class="my-3">&nbsp;</div>

        <!-- Attributes -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="brand">
              <b>{{ __('labels.brand') }}</b>
              <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.MARCA'), trigger: 'click hover', html: true}">
                <i class="fas fa-question" />
              </label>
            </label>
            <input type="text" id="brand" v-model="formData.brand.value" class="form-control" required :disabled="!formData.brand.is_applicable"/>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_brand" class="custom-control-input" v-model="formData.brand.is_applicable" v-on:change="changeApplicable('brand')" />
              <label class="custom-control-label text-success" for="attrApplicable_brand">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.brand">{{ formErrors.brand }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="band">
              <b>{{ __('labels.band') }}</b>
              <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.BANDA'), trigger: 'click hover', html: true}">
                <i class="fas fa-question" />
              </label>
            </label>
            <select id="band" v-model="formData.band.value" class="form-control text-uppercase" required :disabled="!formData.band.is_applicable">
              <option value="">{{ __('labels.band') }}</option>
              <option v-for="item in master.bands" :key='item.id' :value="item.id">{{ item.name }}</option>
            </select>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_band" class="custom-control-input" v-model="formData.band.is_applicable" v-on:change="changeApplicable('band')" />
              <label class="custom-control-label text-success" for="attrApplicable_band">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.band">{{ formErrors.band }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="treatments">
              <b>{{ __('labels.treatments') }}</b>
              <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.TRATAMIENTO'), trigger: 'click hover', html: true}">
                <i class="fas fa-question" />
              </label>
            </label>
            <!-- <input type="text" id="treatments" v-model="formData.treatments" class="form-control" required/> -->
            <select id="treatments" v-model="formData.treatments.value" class="form-control text-uppercase" required :disabled="!formData.treatments.is_applicable">
              <option value="">{{ __('labels.treatments') }}</option>
              <option v-for="item in master.treatments" :key='item.id' :value="item.id">{{ item.name }}</option>
            </select>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_treatments" class="custom-control-input" v-model="formData.treatments.is_applicable" v-on:change="changeApplicable('treatments')" />
              <label class="custom-control-label text-success" for="attrApplicable_treatments">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.treatments">{{ formErrors.treatments }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="ingredients">
              <b>{{ __('labels.active_principle') }}</b>
              <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.PRINCIPIO_ACTIVO'), trigger: 'click hover', html: true}">
                <i class="fas fa-question" />
              </label>
            </label>
            <input type="text" id="ingredients" v-model="formData.ingredients.value" class="form-control" required :disabled="!formData.ingredients.is_applicable"/>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_ingredients" class="custom-control-input" v-model="formData.ingredients.is_applicable" v-on:change="changeApplicable('ingredients')" />
              <label class="custom-control-label text-success" for="attrApplicable_ingredients">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.ingredients">{{ formErrors.ingredients }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="attribute_1">
              <b>{{ __('labels.formulation') }}</b>
            </label>
            <input type="text" id="attribute_1" v-model="formData.attribute_1.value" class="form-control" required :disabled="!formData.attribute_1.is_applicable"/>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_attribute_1" class="custom-control-input" v-model="formData.attribute_1.is_applicable" v-on:change="changeApplicable('attribute_1')" />
              <label class="custom-control-label text-success" for="attrApplicable_attribute_1">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.attribute_1">{{ formErrors.attribute_1 }}</p>
          </div>
        </div>
        <div class="my-3">&nbsp;</div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="grade">
              <b>{{ __('labels.grade') }}</b>
              <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.GRADO'), trigger: 'click hover', html: true}">
                <i class="fas fa-question" />
              </label>
            </label>
            <input type="text" id="grade" v-model="formData.grade.value" class="form-control" required :disabled="!formData.grade.is_applicable"/>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_grade" class="custom-control-input" v-model="formData.grade.is_applicable" v-on:change="changeApplicable('grade')" />
              <label class="custom-control-label text-success" for="attrApplicable_grade">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.grade">{{ formErrors.grade }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="diameter">
              <b>{{ __('labels.diameter') }}</b>
              <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.DIAMETRO'), trigger: 'click hover', html: true}">
                <i class="fas fa-question" />
              </label>
            </label>
            <!-- <input type="text" id="diameter" v-model="formData.diameter" class="form-control" required/> -->
            <select id="diameter" v-model="formData.diameter.value" class="form-control text-uppercase" required :disabled="!formData.diameter.is_applicable">
              <option value="">{{ __('labels.diameter') }}</option>
              <option v-for="item in master.diameters" :key='item.id' :value="item.id">{{ item.name }}</option>
            </select>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_diameter" class="custom-control-input" v-model="formData.diameter.is_applicable" v-on:change="changeApplicable('diameter')" />
              <label class="custom-control-label text-success" for="attrApplicable_diameter">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.diameter">{{ formErrors.diameter }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="length">
              <b>{{ __('labels.length') }}</b>
              <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.LARGO'), trigger: 'click hover', html: true}">
                <i class="fas fa-question" />
              </label>
            </label>
            <!-- <input type="text" id="length" v-model="formData.length" class="form-control" required/> -->
            <select id="length" v-model="formData['length'].value" class="form-control text-uppercase" required :disabled="!formData['length'].is_applicable">
              <option value="">{{ __('labels.length') }}</option>
              <option v-for="item in master['lengths']" :key='item.id' :value="item.id">{{ item.name }}</option>
            </select>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_length" class="custom-control-input" v-model="formData['length'].is_applicable" v-on:change="changeApplicable('length')" />
              <label class="custom-control-label text-success" for="attrApplicable_length">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors['length']">{{ formErrors['length'] }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="gasoline_grade">
              <b>{{ __('labels.gasoline_grade') }}</b>
              <label class="tooltip-btn" v-tooltip.auto="{content: __('labels.help_texts.GRADO_DE_NAFTA'), trigger: 'click hover', html: true}">
                <i class="fas fa-question" />
              </label>
            </label>
            <input type="text" id="gasoline_grade" v-model="formData.gasoline_grade.value" class="form-control" required :disabled="!formData.gasoline_grade.is_applicable"/>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_gasoline_grade" class="custom-control-input" v-model="formData.gasoline_grade.is_applicable" v-on:change="changeApplicable('gasoline_grade')" />
              <label class="custom-control-label text-success" for="attrApplicable_gasoline_grade">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.gasoline_grade">{{ formErrors.gasoline_grade }}</p>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="attribute_2">
              <b>{{ __('labels.attributes') }}</b>
            </label>
            <input type="text" id="attribute_2" v-model="formData.attribute_2.value" class="form-control" required :disabled="!formData.attribute_2.is_applicable"/>
            <div class="custom-checkbox mt-2">
              <input type="checkbox" id="attrApplicable_attribute_2" class="custom-control-input" v-model="formData.attribute_2.is_applicable" v-on:change="changeApplicable('attribute_2')" />
              <label class="custom-control-label text-success" for="attrApplicable_attribute_2">{{ __('labels.attribute_applicable') }}</label>
            </div>
            <p class="form-error" v-if="formErrors.attribute_2">{{ formErrors.attribute_2 }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-success btn-lg pull-right">
            {{ __('labels.save') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { quillEditor } from 'vue-quill-editor';
import vueSelectAutocomplete from './../../form/vue-select-autocomplete.vue';
export default {
  props: ["panel"],
  components: { quillEditor, vueSelectAutocomplete },
  data() {
    return {
      master: {
        bands: [],
        categories: [],
        producto_generals: [],
        treatments: [],
        diameters: [],
        lengths: [],
      },
      selectedCategory: '',
      // image: "",
      // image_required: true,
      // preview_url: this.panel.app.BASE_URL + '/public/template/images/default-product.png',
      formData: {
        id: "",
        state: false,
        name: "",
        custom_id: "",
        unit_of_measure: "",
        description: "",
        subcategory_id: "",
        producto_general_id: {},
        // image: "",
        brand: { value: '', is_applicable: false },
        band: { value: '', is_applicable: false },
        treatments: { value: '', is_applicable: false },
        ingredients: { value: '', is_applicable: false },
        attribute_1: { value: '', is_applicable: false },
        grade: { value: '', is_applicable: false },
        diameter: { value: '', is_applicable: false },
        length: { value: '', is_applicable: false },
        gasoline_grade: { value: '', is_applicable: false },
        attribute_2: { value: '', is_applicable: false },
      },
      formErrors: {
        name: "",
        custom_id: "",
        unit_of_measure: "",
        description: "",
        subcategory_id: "",
        producto_general_id: "",
        // image: "",
        brand: "",
        band: "",
        treatments: "",
        ingredients: "",
        attribute_1: "",
        grade: "",
        diameter: "",
        length: "",
        gasoline_grade: "",
        attribute_2: "",
      },
      editorOption: {
        modules: {
          toolbar: [
            [
              'bold', 'italic', 'underline', 'link',
              { 'color': [] }, { 'background': [] },
              { 'align': '' }, { 'align': 'center' }, { 'align': 'right' },
              {'indent': '-1'}, {'indent': '+1'},
              { 'list': 'ordered'}, { 'list': 'bullet' },
              { 'header': [1, 2, 3, 4, 5, 6, false] },
              
              'clean'
            ],
          ],
        }
      }
    };
  },
  created: function() {},
  mounted: async function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initPage();
    try {
      const {bands, diameters, lengths, treatments} = await this.$api.getProductAttributes();
      this.master.bands = bands;
      this.master.diameters = diameters;
      this.master.lengths = lengths;
      this.master.treatments = treatments;
    } catch (error) {
      this.$toaster.error(error);
    }
  },
  methods: {
    generalSelected(item) {
      this.formData.producto_general_id = item;
    },
    async initPage() {
      this.master.categories = await this.$api.getCategories();
      this.master.producto_generals = await this.$api.getProductoGenerals();
      if(this.$route.params.id != undefined)
      {
        try
        {
          const product = await this.$api.getProductDetail({product_id: this.$route.params.id});
          
          this.master.categories.map(row => {
            if(row.id == product.category_id)
            {
              this.selectedCategory = row;
            }
          });

          // this.preview_url = product.image;
          // this.image_required = false;
          
          this.formData = {
            id: product.id,
            state: product.state,
            name: product.name,
            custom_id: product.custom_id,
            unit_of_measure: product.unit_of_measure,
            description: product.description,
            subcategory_id: product.subcategory_id,
            producto_general_id: {id: product.producto_general_id, name: product.producto_general_name},
            // image: "",
            brand: product.brand,
            band: product.band,
            treatments: product.treatments,
            ingredients: product.ingredients,
            attribute_1: product.attribute_1,
            grade: product.grade,
            diameter: product.diameter,
            length: product.length,
            gasoline_grade: product.gasoline_grade,
            attribute_2: product.attribute_2
          };
        }
        catch (error)
        {
          this.$toaster.error(error.message);
          this.$router.push({ path: '/productos'});
        }
      }
    },
    // previewImage(e) {
    //   this.formData.image = e.target.files[0];
    //   this.preview_url = URL.createObjectURL(this.formData.image);
    // },
    submitForm(event) {
      const data = {
        id: this.formData.id,
        state: this.formData.state ? 1 : 0,
        name: this.formData.name,
        custom_id: this.formData.custom_id,
        unit_of_measure: this.formData.unit_of_measure,
        description: this.formData.description,
        subcategory_id: this.formData.subcategory_id,
        producto_general_id: this.formData.producto_general_id.id,
        // image: this.formData.image,
        brand: this.formData.brand.value || '',
        band: this.formData.band.value || '',
        treatments: this.formData.treatments.value || '',
        ingredients: this.formData.ingredients.value || '',
        attribute_1: this.formData.attribute_1.value || '',
        grade: this.formData.grade.value || '',
        diameter: this.formData.diameter.value || '',
        length: this.formData.length.value || '',
        gasoline_grade: this.formData.gasoline_grade.value || '',
        attribute_2: this.formData.attribute_2.value || '',
      };
      this.$api.addAdminProduct(data).then(response => {
        if (response.code == 200)
        {
          this.$toaster.success(response.message);
          this.$router.push({ path: '/productos'});
        }
        else
        {
          this.$toaster.error(response.message);
        }
      });
    },
    changeApplicable(field) {
      this.formData[field].value = '';
    }
  }
};
</script>
<style scoped>
.form-control,
::v-deep .form-control
{
  border-bottom: 3px solid #c9ded2 !important;
  /* margin-bottom: 50px; */
}
.product-img
{
  border: 3px solid #c9ded2;
  border-radius: 10%;
  max-width: 100%;
  height: auto;
  max-height: 200px;
}
.file-selector
{
  min-height: 50px;
  position: relative;
}
.file-selector input, .file-selector label
{
  position: absolute;
  bottom: 0;
}
.file-selector input
{
  opacity: 0;
}
</style>