<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.admin_users') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-success"
          data-toggle="modal"
          data-target="#form_modal"
        ><b>{{ __('labels.add_new_user') }}</b></button>
      </div>
      <div class="mb-4"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card card-default">
            <div class="card-header">{{ __('labels.user_list') }}</div>
            <div class="card-body">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-condensed table-default" id="dt_table">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-center">{{ __('labels.id') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.user') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.name') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.permission') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.state') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.action') }}<i class="fa ml-2"></i></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(single_row, key) in dt_rows" v-bind:key="single_row.id">
                          <td class="text-center">{{ single_row.id }}</td>
                          <td class="text-center">{{ single_row.email }}</td>
                          <td class="text-center">{{ single_row.name }}</td>
                          <td class="text-center">{{ single_row.permission_name }}</td>
                          <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                              <span class="mr-2"> {{ __('labels.inactive') }} </span>
                              <toggle-button class="mb-0" @change="changeUserState(single_row.id, $event, key)" :value="single_row.is_active" :width="65" :height="25" :sync="true"/>
                              <span class="ml-2">{{ __('labels.active') }}</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <button class="btn-no-style" @click="editUser(single_row.id)">
                              {{ __('labels.edit') }}
                              <i
                                class="fa fa-pencil-alt circle bg-dark text-light m-1"
                                aria-hidden="true"
                              ></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <form v-on:submit.prevent="submitForm($event)">
            <div class="modal-header">
              <h5 class="modal-title">{{ __('labels.add_new_user') }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label>{{ __('labels.name_and_surname') }}</label>
                      <input type="text" v-model="form.name" class="form-control" required v-mask="alphaSpaceMask(255)" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label>{{ __('labels.email_address') }}</label>
                      <input
                        type="email"
                        v-model="form.email"
                        class="form-control"
                        autocomplete="off"
                        value
                        required
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label>{{ __('labels.password') }}</label>
                      <input
                        type="password"
                        v-model="form.password"
                        class="form-control"
                        autocomplete="off"
                        value
                        id="form-password"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="d-flex align-items-center mb-5">
                    <span class="mr-2"> {{ __('labels.inactive') }} </span>
                    <toggle-button v-model="form.state" :width="65" :height="25" :sync="true" class="mb-0" />
                    <span class="ml-2">{{ __('labels.active') }}</span>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                      <label>{{ __('labels.permission') }}</label>
                      <select v-model="form.permission_id" class="form-control" required>
                        <option value>{{ __('labels.select_permission') }}</option>
                        <option
                          v-for="permission in permissions"
                          v-bind:key="permission.id"
                          :value="permission.id"
                        >{{ permission.name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">{{ __('labels.save') }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["panel"],
  data() {
    return {
      permissions: [],
      form: {
        id: "",
        name: "",
        email: "",
        password: "",
        state: true,
        permission_id: ""
      },
      dt_table: "",
      dt_rows: []
    };
  },
  created: function() {
    this.fetchPermissions();
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
  },
  methods: {
    alphaSpaceMask(length = 128) {
      var mask = '';
      for (var i = 0; i < length; i++) {
        mask += "S";
      } 
      return mask;
    },
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table").DataTable({
        order: [[0, "asc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        bInfo : false,
        pageLength: 10,
        language: {
          search: "",
          searchPlaceholder: self.__("labels.search"),
          sLengthMenu: self.__("labels.show_dt") + " _MENU_",
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}admin_users`,
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            return false;
          }
        }
      });
    },
    async fetchPermissions() {
      const response = await this.$api.fetchPermissions();
      if (response.code == 200) {
        this.permissions = response.data;
      }
    },
    async submitForm(event) {
      const data = {
        id: this.form.id,
        name: this.form.name,
        email: this.form.email,
        password: this.form.password,
        is_active: this.form.state,
        permission_id: this.form.permission_id
      };

      const response = await this.$api.storeAdmin(data);
      if (response.code == 200)
      {
        this.dt_table.ajax.reload();
        $("#form_modal").modal("hide");
        this.$toaster.success(response.data.message);
        event.target.reset();
        this.form = {
          id: "",
          name: "",
          email: "",
          password: "",
          state: true,
          permission_id: ""
        };
        $("#form-password").attr("required", "required");
      }
      else
      {
        this.$toaster.error(response.message);
      }
    },
    async changeUserState(id, event, key) {
      this.dt_rows[key].is_active = event.value;
      const response = await this.$api.changeAdminUserState({ id: id, state: event.value });
      if (response.code == 200)
      {
        this.$toaster.success(response.message);
      }
      else
      {
        this.$toaster.error(response.message);
      }
          
    },
    async editUser(id) {
      const response = await this.$api.getAdminUser({id: id});
      if (response.code == 200)
      {
        this.form.id = response.data.id;
        this.form.name = response.data.name;
        this.form.email = response.data.email;
        this.form.state = response.data.boolean_state;
        this.form.permission_id = response.data.permission_id;
        $("#form-password").removeAttr("required");
        $("#form_modal").modal("show");
      }
      else
      {
        this.$toaster.error(response.message);
      }
        
    }
  }
};
</script>