<template>
  <div class="card card-default">
    <div class="card-header">{{ __('labels.user_products_list.products_list') }}</div>
    <div class="card-body">
      <div class="row p-1">
        <div class="col-12 col-md-12 col-xl-7 mb-2">
          <div class="dataTables_length">
            <label>{{ __('labels.datatable.to_show') }}
              <select v-model="dt_table_length">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-10 col-md-8 col-xl-3 mb-2">
          <div class="dataTables_filter">
            <label>
              <input type="text" v-model="dt_table_search" :placeholder="__('labels.user_products_list.write_the_product_to_look_for')" v-on:keyup="redrawTable()">
            </label>
          </div>
        </div>
        <div class="col-2 col-md-4 col-xl-2"></div>
      </div>
      <div class="row p-1">
        <div class="col-12 col-md-12 col-laptop-2 col-lg-7 col-xl-7 mb-3">
          <div class="row">
            <div class="col-12">
              <form class="form-inline" @submit.prevent="submitForm()">
                <label class="action_type_container mb-2">
                  {{ __('labels.user_products_list.apply') }}
                  <select v-model="formData.action_type" class="form-control action_type ml-2 mr-2">
                    <option :value="1">{{ __('labels.user_products_list.increase') }}</option>
                    <option :value="2">{{ __('labels.user_products_list.discount') }}</option>
                  </select>
                </label>
                <label class="percentage_container mb-2">
                  {{ __('labels.user_products_list.in_the_price') }}
                  <div class="input-group mx-2">
                    <input type="number" max="100" min="0" v-model="formData.percentage" class="form-control mr-2" />
                    <div class="input-group-text">%</div>
                  </div>
                </label>
                <label class="submit_container mb-1">
                  <button type="submit" class="btn btn-success">{{ __('labels.user_products_list.apply') }}</button>
                </label>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-12" :style="{paddingTop: '1.8rem'}">
              <button class="btn btn-success load-new-product-btn" v-on:click="openAddProductList()">
                {{ __('labels.user_products_list.load_new_product') }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-laptop-2 col-lg-5 col-xs-5 mb-3 agronomia-my-products dt-category-filter">
          <div class="row">
            <div class="col-12">
              <label class="font-weight-bold">
                {{ __('labels.user_products_list.also_search_for') }}:
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 col-xl-9 full-width">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                  <select id="category_id" v-model="dt_category" class="form-control" required v-on:change="dt_subcategory = ''">
                    <option value="">{{ __('labels.user_products_list.category') }}...</option>
                    <option v-for="category in categories" :key='category.id' :value="category">{{ category.name }}</option>
                  </select>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                  <select id="subcategory_id" v-model="dt_subcategory" class="form-control" required>
                    <option value="">{{ __('labels.user_products_list.subcategory') }}...</option>
                    <option v-for="sub_category in dt_category.sub_categories" :key='sub_category.id' :value="sub_category.id">{{ sub_category.name }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-xl-3 full-width mb-2">
              <button type="button" class="btn btn-success" v-on:click="reinitTable()">{{ __('labels.user_products_list.apply') }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="dt-agronomia-products">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-condensed table-default" id="dt_table_agronomia">
              <thead>
                <tr>
                  <td align="center" :style="{width: '9px'}">
                    <div class="custom-checkbox">
                      <input type="checkbox" v-model="selectAll" id="select_all" class="custom-control-input" v-on:change="selecteAllChanged()" />
                      <label class="custom-control-label" for="select_all"></label>
                    </div>
                  </td>
                  <th class="text-uppercase text-center">{{ __('labels.user_products_list.name') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.user_products_list.quantity_in_preset_units') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.user_products_list.price') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.user_products_list.edit') }}<i class="fa ml-2"></i></th>
                  <th class="text-uppercase text-center">{{ __('labels.user_products_list.status') }}<i class="fa ml-2"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product) in dt_rows" v-bind:key="product.id">
                  <td align="center">
                    <div class="custom-checkbox">
                      <input type="checkbox" :id="`product_${product.id}`" class="custom-control-input" v-model="formData.product_ids" :value="product.id" />
                      <label class="custom-control-label font-weight-bold" :for="`product_${product.id}`"></label>
                    </div>
                  </td>
                  <th class="text-center">{{ product.name }}</th>
                  <td class="text-center">{{ product.available_quanity }}</td>
                  <td class="text-center">{{ product.agronomia_price }}</td>
                  <td class="text-center">
                    <button class="btn-no-style" @click="editProduct(product.id)">
                      {{ __('labels.edit') }}
                      <i class="fa fa-pencil-alt circle bg-dark text-light m-1" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td class="text-center">
                    <button class="btn-no-style" :class="{ 'text-success' : product.is_active, 'text-muted': !product.is_active }">
                      <span>{{ (product.is_active)?__('labels.active'):__('labels.inactive') }}</span>
                      <i class="fas fa-lg" :class="{ 'fa-check-circle' : product.is_active, 'fa-times-circle': !product.is_active }"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- ADD PRODUCT LIST MODAL -->
    <transition name="fade" mode="out-in">
      <Modal v-if="showAddProductListModal" size="xl" @close="toggleAddProductListModal">
        <div slot="body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-3">
              <AddAgronomiaProductList :agronomiaId="agronomia_id" @close="toggleAddProductListModal" @reinitAgronomiaProductsTable="reinitTable"></AddAgronomiaProductList>
            </div>
          </div>
        </div>
      </Modal>
    </transition>
    <!-- END OF ADD PRODUCT LIST MODAL -->

    <!-- EDIT PRODUCT MODAL -->
    <transition name="fade" mode="out-in">
      <Modal v-if="showEditProductModal" size="xl" @close="toggleEditProductModal">
        <div slot="body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-3">
              <EditAgronomiaProduct :agronomiaProductId="agronomiaProductId" @close="toggleEditProductModal"></EditAgronomiaProduct>
            </div>
          </div>
        </div>
      </Modal>
    </transition>
    <!-- END OF EDIT PRODUCT MODAL -->
  </div>
</template>
<script>
import Modal from './../../form/modal.vue';
import AddAgronomiaProductList from './Add_agronomia_product_list.vue';
import EditAgronomiaProduct from './Edit_agronomia_product.vue';
export default {
  name: "AgronomiaProducts",
  props: ["agronomia_id"],
  components: { Modal, AddAgronomiaProductList, EditAgronomiaProduct },
  data() {
    return {
      dt_table: "",
      dt_rows: [],
      dt_table_length: 10,
      dt_table_search: '',
      dt_category: '',
      dt_subcategory: '',
      formData: {
        action_type: 1,
        product_ids: [],
        percentage: 0
      },
      categories: [],
      selectAll: false,
      showAddProductListModal: false,
      showEditProductModal: false,
      agronomiaProductId: '',
    }
  },
  async mounted() {
    this.initTable();
    this.categories = await this.$api.getCategories();
  },
  methods: {
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table_agronomia").DataTable({
        order: [[1, "asc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        bInfo : false,
        pageLength: 10,
        columnDefs: [
          { orderable: false, targets: 0 }
        ],
        language: {
          "url": `${BASE_URL}/public/template/json/datatable/${process.env.MIX_LOCAL_APP_LOCALE}.json`,
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}agronomia_products`,
          data: {
            agronomia_id: self.agronomia_id,
            category_id: (self.dt_category.length != '')?self.dt_category.id:'',
            subcategory_id: self.dt_subcategory,
            columns: ['agronomia_products.id', 'products.name', 'agronomia_products.available_quanity', 'agronomia_products.agronomia_price', 'agronomia_products.id', 'agronomia_products.id'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            self.selectAll = false;
            self.selecteAllChanged();
            return false;
          }
        }
      });
    },
    redrawTable()
    {
      this.dt_table.page.len(this.dt_table_length).search(this.dt_table_search).draw();
    },
    reinitTable() {
      this.dt_table.destroy();
      this.initTable();
    },
    selecteAllChanged()
    {
      this.formData.product_ids = [];
      if(this.selectAll) {
        this.dt_rows.map((row, key) => {
          this.formData.product_ids.push(row.id); 
        });
      }
    },
    async submitForm() {
      const data = {
        percentage: this.formData.percentage,
        agronomia_product_ids: this.formData.product_ids,
        action_type: this.formData.action_type
      }
      try
      {
        const result = await this.$api.updateProductPrices(data);
        this.$toaster.success(result.message);
        this.reinitTable();
      }
      catch (error)
      {
        this.$toaster.error(error.message);
      }
    },
    async openAddProductList()
    {
      this.showAddProductListModal = true;
    },
    toggleAddProductListModal()
    {
      this.showAddProductListModal = !this.showAddProductListModal;
    },
    editProduct(agronomiaProductId)
    {
      this.agronomiaProductId = agronomiaProductId;
      this.showEditProductModal = true;
    },
    toggleEditProductModal()
    {
      this.showEditProductModal = !this.showEditProductModal;
    }
  }
};
</script>
<style lang="scss" scoped>
.dataTables_filter
{
  & label {
    width: 100% !important;
    & input
    {
      width: 100% !important;
    }
  }
}
.action_type_container
{
  position: relative;
  &:after
  {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    visibility: visible;
    font-weight: 900;
    position: absolute;
    right: 10px;
    color: rgb(216, 206, 181);
  }
  & .action_type
  {
    width: 100px;
    background: none !important;
    border-bottom: 3px solid rgb(80, 80, 80) !important;
    color: rgb(80,80,80) !important;
    font-weight: 500;
  }
}
.percentage_container
{
  .input-group {
    position: relative;
    input {
      padding-right: 20px;
      width: 70px;
      color: rgb(80,80,80) !important;
      border-bottom: 3px solid rgb(80, 80, 80) !important;
    }
    .input-group-text {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      z-index: 3;
    }
  }
}
.col-laptop-2
{
  @media (max-width: 1290px) {
    min-width: 100% !important;
    width: 100% !important;
  }
}
.full-width
{
  @media (min-width: 1291px) and (max-width: 1780px) {
    min-width: 100% !important;
    width: 100% !important;
  }
}
</style>
<style lang="scss">
  #dt-agronomia-products
  {
    & #dt_table_agronomia_length, #dt_table_agronomia_filter
    {
      display: none;
    }
    & .custom-checkbox .custom-control-label::before
    {
      border: 2px solid #d6cfb5 !important;
    }
    & .custom-control-input:checked ~ .custom-control-label::before
    {
      background-color: #d8ceb5;
    }
    table.dataTable thead
    {
      & .sorting_desc, .sorting_asc, .sorting
      {
        background-image: none;
        & i:before
        {
          content: "\f30c";
          color: #d6cfb5;
        }
        & i:after
        {
          content: "\f309";
          color: #d6cfb5;
        }
      }
      & .sorting_asc i::before
      {
        color: rgb(80, 80, 80);
      }
      & .sorting_desc i::after
      {
        color: rgb(80, 80, 80);
      }
    }
  }
</style>