<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.app_users') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card card-default">
            <div class="card-header">{{ __('labels.user_list') }}</div>
            <!-- TABLE -->
            <div class="card-body">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-condensed table-default" id="dt_table">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-center">{{ __('labels.alta_date') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.user_id') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.user_type') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.state') }}<i class="fa ml-2"></i></th>
                          <th class="text-uppercase text-center">{{ __('labels.action') }}<i class="fa ml-2"></i></th>
                        </tr>
                      </thead>
                      <tbody v-if="dt_rows.length > 0">
                        <tr v-for="(single_row, key) in dt_rows" v-bind:key="single_row.id">
                          <td class="text-center">{{ getDateFormated(single_row.created_at) }}</td>
                          <td class="text-center">{{ single_row.custom_id }}</td>
                          <td class="text-center">{{ single_row.user_type_label }}</td>
                          <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                              <span class="mr-2"> {{ __('labels.inactive') }} </span>
                              <toggle-button class="mb-0" @change="changeUserState(single_row.id, $event, key)" :value="single_row.is_active" :width="65" :height="25" :sync="true"/>
                              <span class="ml-2">{{ __('labels.active') }}</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <button class="btn-no-style" @click="editUser(single_row.id)">
                              {{ __('labels.edit') }}
                              <i class="fa fa-pencil-alt circle bg-dark text-light m-1" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tbody v-else>
                        <tr>
                          <td class="text-center" colspan="5">
                            <div class="p-4 text-center bg-light">
                              <strong>{{ __('labels.no_records_found') }}</strong>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- END OF TABLE -->
          </div>
        </div>
      </div>
    </div>

    <!-- EDIT FORM -->
    <transition name="fade" mode="out-in">
      <Modal v-if="showEditModal" @close="toggleEditUserModal">
        <div slot="header">
          <h6>{{ __('labels.edit_user_data') }}</h6>
        </div>
        <div slot="body">
          <form ref="edit_user_form">

            <!-- HEADER -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label class="mb-0">
                  <b>{{ __('labels.user_id') }}</b>
                </label>
                <p class="text-success h6"> {{ form.custom_id }} </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label class="mb-0">
                  <b>{{ __('labels.user_type') }}</b>
                </label>
                <p class="text-success h6"> {{ __('labels.'+form.user_type_label) }} </p>
              </div>
            </div>
            <!-- END OF HEADER -->

            <!-- VERIFICATION ICON (FOR AGRONOMIA ONLY) -->
            <div class="d-flex align-items-center mt-2"
              v-if="form.user_type_label == 'agronomia' && form.verified">
              <img :src="`${APP_URL}public/template/images/verified-icon.png`" />
              <span class="ml-2 font-weight-bold">{{ __('Usuario verificado') }}</span>
            </div>
            <!-- VERIFICATION ICON (FOR AGRONOMIA ONLY) -->

            <div class="mt-2"></div>

            <!-- ACTIVE / INACTIVE -->
            <div class="d-flex align-items-center">
              <span class="mr-2"> {{ __('labels.inactive') }} </span>
              <toggle-button v-model="form.state" :sync="true" class="mb-0" :width="65" :height="25" />
              <span class="ml-2">{{ __('labels.active') }}</span>
            </div>
            <!-- END OF ACTIVE / INACTIVE -->

            <!-- VERIFICATION ICON (FOR PRODUCER ONLY) -->
            <div class="d-flex align-items-center mt-2"
              v-if="form.user_type_label == 'producer' && form.verified">
              <img :src="`${APP_URL}public/template/images/verified-icon.png`" />
              <span class="ml-2 font-weight-bold">{{ __('Usuario verificado') }}</span>
            </div>
            <!-- VERIFICATION ICON (FOR PRODUCER ONLY) -->

            <div class="mt-4"></div>

            <!-- RENSPA NO. FOR PRODUCER -->
            <div class="form-group" v-if="form.user_type_label == 'producer'">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.renspa_no') }}</strong></label>
              <div class="row">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.renspa_no.edited_value" class="form-control" required v-if="form.renspa_no.isEditing" v-mask="'##.###.#.##########'" />
                  <p v-else class="text-success-dark mb-0">{{ form.renspa_no.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('renspa_no')" v-if="!form.renspa_no.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('renspa_no')" v-if="form.renspa_no.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('renspa_no')" v-if="form.renspa_no.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                  <a href="https://aps2.senasa.gov.ar/registros/faces/publico/personas/tc_productoresagropecuarios.jsp" class="text-success" target="_blank" v-if="!form.renspa_no.isEditing">
                    <u>{{ __('labels.verify') }}</u>
                  </a>
                  <toggle-button v-model="form.verified" :sync="true" class="mb-0 ml-1" :width="65" :height="25" />
                </div>
              </div>
            </div>
            <!-- END OF RENSPA NO. FOR PRODUCER -->

            <!-- BUSINESS NAME -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.business_name') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.business_name.edited_value" class="form-control" required v-if="form.business_name.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ form.business_name.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('business_name')" v-if="!form.business_name.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('business_name')" v-if="form.business_name.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('business_name')" v-if="form.business_name.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF BUSINESS NAME -->

            <!-- FIRST NAME -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.firstname') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.firstname.edited_value" class="form-control" required v-if="form.firstname.isEditing" v-mask="alphaSpaceMask()" />
                  <p v-else class="text-success-dark mb-0">{{ form.firstname.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('firstname')" v-if="!form.firstname.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('firstname')" v-if="form.firstname.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('firstname')" v-if="form.firstname.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF FIRST NAME -->

            <!-- SURNAME -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.surname') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.surname.edited_value" class="form-control" required v-if="form.surname.isEditing" v-mask="alphaSpaceMask()" />
                  <p v-else class="text-success-dark mb-0">{{ form.surname.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('surname')" v-if="!form.surname.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('surname')" v-if="form.surname.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('surname')" v-if="form.surname.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF SURNAME -->

            <!-- CUIT -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.cuit') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.cuit.edited_value" class="form-control" required v-if="form.cuit.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ form.cuit.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('cuit')" v-if="!form.cuit.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('cuit')" v-if="form.cuit.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('cuit')" v-if="form.cuit.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF CUIT -->

            <!-- PROVINCE -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.province') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <select class="form-control" v-model="form.province.edited_value" required v-if="form.province.isEditing">
                    <option :value="province" v-for="province of provinces" v-bind:key="province.id">
                      {{ province.name }}
                    </option>
                  </select>
                  <p v-else class="text-success-dark mb-0">{{ form.province.value.name }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('province')" v-if="!form.province.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('province')" v-if="form.province.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('province')" v-if="form.province.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF PROVINCE -->

            <!-- LOCALITY -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.locality') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <select class="form-control" v-model="form.locality.edited_value" required v-if="form.locality.isEditing">
                    <option :value="locality" v-for="locality of localities" v-bind:key="locality.id">
                      {{ locality.name }}
                    </option>
                  </select>
                  <p v-else class="text-success-dark mb-0">{{ form.locality.value.name }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('locality')" v-if="!form.locality.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('locality')" v-if="form.locality.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('locality')" v-if="form.locality.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF LOCALITY -->

            <!-- LATITUDE -->
            <div class="form-group" v-if="form.user_type_label == 'agronomia'">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.latitude') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.latitude.edited_value" class="form-control" required v-if="form.latitude.isEditing" v-mask="latitudeMask" />
                  <p v-else class="text-success-dark mb-0">{{ form.latitude.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('latitude')" v-if="!form.latitude.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('latitude')" v-if="form.latitude.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('latitude')" v-if="form.latitude.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF LATITUDE -->

            <!-- LONGITUDE -->
            <div class="form-group" v-if="form.user_type_label == 'agronomia'">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.longitude') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.longtitude.edited_value" class="form-control" required v-if="form.longtitude.isEditing" v-mask="longitudeMask"  />
                  <p v-else class="text-success-dark mb-0">{{ form.longtitude.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('longtitude')" v-if="!form.longtitude.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('longtitude')" v-if="form.longtitude.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('longtitude')" v-if="form.longtitude.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF LONGITUDE -->

            <!-- PRODUCER LOCATIONS -->
            <div class="form-group" v-if="form.user_type_label == 'producer'">
              <label class="mb-2"><strong>{{ __('labels.edit_user_form.locations') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-12">
                  <template v-for="(geolocation, key) in form.geolocation">
                    <div class="row">
                      <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group">
                          <input type="text" v-model="form.geolocation[key].edited_name" class="form-control" v-if="form.geolocation[key].isEditing" :placeholder="__('labels.edit_user_form.here_will_be_a_name_that_refers_to_the_first_location')" />
                          <p v-else class="text-success-dark mb-0">{{ form.geolocation[key].name }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 col-md-6 col-xl-6">
                        <div class="form-group">
                          <label class="mb-0">{{ __('labels.edit_user_form.latitude') }}</label>
                          <input type="text" v-model="form.geolocation[key].edited_latitude" class="form-control" v-if="form.geolocation[key].isEditing" v-mask="latitudeMask" />
                          <p v-else class="text-success-dark mb-0">{{ form.geolocation[key].latitude }}</p>
                        </div>
                      </div>
                      <div class="col-6 col-md-6 col-xl-6">
                        <div class="form-group">
                          <label class="mb-0">{{ __('labels.edit_user_form.longitude') }}</label>
                          <input type="text" v-model="form.geolocation[key].edited_longtitude" class="form-control" v-if="form.geolocation[key].isEditing" v-mask="longitudeMask" />
                          <p v-else class="text-success-dark mb-0">{{ form.geolocation[key].longtitude }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-xl-12">
                        <button type="button" class="btn-no-style text-dark pl-0" @click="enableLocationEditMode(key)" v-if="!form.geolocation[key].isEditing">
                          {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn-no-style text-dark pl-0" @click="saveLocationEditMode(key)" v-if="form.geolocation[key].isEditing">
                          <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                        </button>
                        <button type="button" class="btn-no-style text-dark pl-0" @click="cancelLocationEditMode(key)" v-if="form.geolocation[key].isEditing">
                          <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                        </button>
                      </div>
                    </div>
                  </template>
                </div>
                <div class="col-12 mt-2">
                  <button type="button" class="btn btn-success geolocation-btn" v-on:click="addGeolocationField()">
                    {{ __('labels.edit_user_form.add_new_location') }}
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF PRODUCER LOCATIONS -->

            <!-- AGRONOMIA PRODUCTS -->
            <div class="form-group" v-if="form.user_type_label == 'agronomia' && form.verified">
              <label class="mb-3"><strong>{{ __('labels.edit_user_form.products_of_this_agronomy') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-12 mt-2">
                  <button type="button" class="btn btn-success products-btn" v-on:click="openProductList()">
                    {{ __('labels.edit_user_form.products') }}
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF AGRONOMIA PRODUCTS -->

            <!-- AVTAR -->
            <div class="form-group" v-if="form.user_type_label == 'agronomia'">
              <label class="mb-3"><strong>{{ __('labels.edit_user_form.avtar') }}</strong></label>
              <div class="row no-gutters">
                <div class="form-group profile-avtar mr-4" v-for="avtar in avtars" :key='avtar.id'>
                  <input type="radio" name="avtar_id" :id="`avtar_${avtar.id}`" v-model="form.avtar_id" :value="avtar.id" />
                  <label class="profile-avtar__image rounded-circle" :for="`avtar_${avtar.id}`">
                    <img :src="avtar.filepath" :alt="avtar.id" />
                  </label>
                </div>
              </div>
            </div>
            <!-- END OF AVTAR -->

            <!-- PAYMENT METHODS -->
            <div class="form-group" v-if="form.user_type_label == 'agronomia'">
              <label class="mb-2"><strong>{{ __('labels.edit_user_form.payment_methods') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-12">
                  <template v-for="(payment_method, key) in form.payment_methods">
                    <div class="row mt-2" v-if="payment_method.is_allowed == true" :key="payment_method.id">
                      <div class="col-12 col-md-12 col-xl-12">
                        <span class="text-success">{{ payment_method.name }}</span>
                        <button type="button" class="btn-no-style text-danger ml-3" v-on:click="removePaymentMethod(key)">
                          {{ __('labels.edit_user_form.remove') }} <i class="fa fa-trash-alt circle bg-danger text-light"></i>
                        </button>
                      </div>
                    </div>
                  </template>
                  <div class="row mt-2" v-if="PaymentMethodFieldStatus">
                    <div class="col-12 col-md-12 col-xl-12">
                      <div class="form-group input-group payment-method-container">
                        <input type="text" id="payment_method" v-model="payment_method" class="form-control" :placeholder="__('labels.edit_user_form.type_text_to_add_payment_method')" autocomplete="off" list="paymentMethodsList" v-on:input="selectPaymentMethod()"/>
                        <div class="input-group-append">
                          <button type="button" v-on:click="changePaymentMethodField()">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                        <datalist id="paymentMethodsList">
                          <template v-for="payment_method in form.payment_methods">
                            <option v-if="payment_method.is_allowed == false" v-bind:key="`payment_method_${payment_method.id}`">{{payment_method.name}}</option>
                          </template>
                        </datalist>
                      </div>
                      <p class="form-error" v-if="paymentMethodError">{{ paymentMethodError }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <button type="button" class="btn btn-success payment-btn" v-on:click="changePaymentMethodField()">
                    {{ __('labels.edit_user_form.add_another_form_of_payment_method') }}
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF PAYMENT METHODS -->

            <!-- MOBILE -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.mobile') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <div class="row" v-if="form.mobile.isEditing">
                    <div class="col-4">
                      <input type="text" v-model="form.mobile_prefix.edited_value" class="form-control" required v-mask="'####'" />
                    </div>
                    <div class="col-8">
                      <input type="text" v-model="form.mobile.edited_value" class="form-control" required v-mask="'########'" />
                    </div>
                  </div>
                  <p v-else class="text-success-dark mb-0">{{ form.mobile_prefix.value }}-{{ form.mobile.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('mobile')" v-if="!form.mobile.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('mobile')" v-if="form.mobile.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('mobile')" v-if="form.mobile.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF MOBILE -->

            <!-- EMAIL -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.email') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.email.edited_value" class="form-control" required v-if="form.email.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ form.email.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('email')" v-if="!form.email.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('email')" v-if="form.email.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('email')" v-if="form.email.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF MOBILE -->

            <!-- PASSWORD -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('labels.edit_user_form.password') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.password.edited_value" class="form-control" required v-if="form.password.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ (form.password.value)?form.password.value:'********' }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('password')" v-if="!form.password.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('password')" v-if="form.password.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('password')" v-if="form.password.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF PASSWORD -->

            <!-- Worst credit Bureau situation -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('Peor situación Bureau de crédito') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.worst_credit_bureau.edited_value" class="form-control" required v-if="form.worst_credit_bureau.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ form.worst_credit_bureau.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('worst_credit_bureau')" v-if="!form.worst_credit_bureau.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('worst_credit_bureau')" v-if="form.worst_credit_bureau.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('worst_credit_bureau')" v-if="form.worst_credit_bureau.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF Worst credit Bureau situation -->

            <!-- USER SCORE -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('Score') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.user_score.edited_value" class="form-control" required v-if="form.user_score.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ form.user_score.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('user_score')" v-if="!form.user_score.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('user_score')" v-if="form.user_score.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('user_score')" v-if="form.user_score.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF USER SCORE -->

            <!-- No. of bad checks, unpaid - Last. 12 months -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('Cant. cheques sin fondos, no pagados - Últ. 12 meses') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.bad_cheques.edited_value" class="form-control" required v-if="form.bad_cheques.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ form.bad_cheques.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('bad_cheques')" v-if="!form.bad_cheques.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('bad_cheques')" v-if="form.bad_cheques.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('bad_cheques')" v-if="form.bad_cheques.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF No. of bad checks, unpaid - Last. 12 months -->

            <!-- Amount of unpaid employer contributions - Last. 12 months -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('Cant. de aportes patronales impagos -  Últ. 12 meses') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.unpaid_employer_contribution.edited_value" class="form-control" required v-if="form.unpaid_employer_contribution.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ form.unpaid_employer_contribution.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('unpaid_employer_contribution')" v-if="!form.unpaid_employer_contribution.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('unpaid_employer_contribution')" v-if="form.unpaid_employer_contribution.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('unpaid_employer_contribution')" v-if="form.unpaid_employer_contribution.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF Amount of unpaid employer contributions - Last. 12 months -->

            <!-- VAT condition -->
            <div class="form-group">
              <label class="mb-0"><strong>{{ __('Condición en IVA') }}</strong></label>
              <div class="row no-gutters">
                <div class="col-xl-6 mb-1">
                  <input type="text" v-model="form.vat_condition.edited_value" class="form-control" required v-if="form.vat_condition.isEditing" />
                  <p v-else class="text-success-dark mb-0">{{ form.vat_condition.value }}</p>
                </div>
                <div class="col-xl-6 pl-20-rem">
                  <button type="button" class="btn-no-style text-dark" @click="enableEditMode('vat_condition')" v-if="!form.vat_condition.isEditing">
                    {{ __('labels.edit') }} <i class="fa circle bg-dark text-light fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="saveEditMode('vat_condition')" v-if="form.vat_condition.isEditing">
                    <small>{{ __('labels.save') }} <i class="fa circle bg-dark text-light fa-save"></i></small>
                  </button>
                  <button type="button" class="btn-no-style text-dark" @click="cancelEditMode('vat_condition')" v-if="form.vat_condition.isEditing">
                    <small>{{ __('labels.cancel') }} <i class="fa circle bg-dark text-light fa-ban"></i></small>
                  </button>
                </div>
              </div>
            </div>
            <!-- END OF VAT condition -->

          </form>
        </div>
        <div slot="footer">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success" @click="submitForm()">{{ __('labels.save') }}</button>
          </div>
        </div>
      </Modal>
    </transition>
    <!-- END OF EDIT FORM -->

    <!-- AGRONOMIA PRODUCTS -->
    <transition name="fade" mode="out-in">
      <Modal v-if="showProductsModal" size="xl" @close="toggleProductsModal">
        <div slot="body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-3">
              <AgronomiaProducts :agronomia_id="form.id"></AgronomiaProducts>
            </div>
          </div>
        </div>
      </Modal>
    </transition>
    <!-- END OF AGRNOMIA PRODUCTS -->
  </div>
</template>
<script>
import Modal from './../../form/modal.vue';
import AgronomiaProducts from './Agronomia_products.vue';
import moment from 'moment-timezone';
import createNumberMask from 'text-mask-addons/dist/createNumberMask';
const latitudeMask = createNumberMask({
  prefix: '',
  suffix: '',
  includeThousandsSeparator: false,
  allowDecimal: true,
  decimalSymbol: '.',
  decimalLimit: 25,
  integerLimit: 2,
  allowNegative: true,
});
const longitudeMask = createNumberMask({
  prefix: '',
  suffix: '',
  includeThousandsSeparator: false,
  allowDecimal: true,
  decimalSymbol: '.',
  decimalLimit: 25,
  integerLimit: 3,
  allowNegative: true,
});
export default {
  props: ["panel"],
  components: { Modal, AgronomiaProducts },
  data() {
    return {
      APP_URL: process.env.MIX_LOCAL_APP_URL,
      latitudeMask: latitudeMask,
      longitudeMask: longitudeMask,
      avtars: [],
      form: {
        id: "",
        user_type: "",
        state: "",
        verified: false,
        renspa_no: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        business_name: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        firstname: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        surname: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        cuit: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        province: {
          value: {
            id: '',
            name: '',
          },
          edited_value: {
            id: '',
            name: '',
          },
          isEditing: false,
        },
        locality: {
          value: {
            id: '',
            name: '',
          },
          edited_value: {
            id: '',
            name: '',
          },
          isEditing: false,
        },
        latitude: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        longtitude: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        geolocation: [],
        avtar_id: null,
        payment_methods: [],
        mobile_prefix: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        mobile: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        email: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        worst_credit_bureau: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        user_score: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        bad_cheques: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        unpaid_employer_contribution: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        vat_condition: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        password: {
          value: '',
          edited_value: '',
          isEditing: false,
        },
        user_type_label: "",
      },
      dt_table: "",
      dt_rows: [],
      provinces: [],
      localities: [],
      showEditModal: false,
      showProductsModal: false,
      payment_method: '',
      paymentMethodError: '',
      PaymentMethodFieldStatus: false,
    };
  },
  created: function() {
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.getProvince();
    this.getAvtars();
    this.initTable();
  },
  methods: {
    alphaSpaceMask(length = 128) {
      var mask = '';
      for (var i = 0; i < length; i++) {
        mask += "S";
      } 
      return mask;
    },
    getDateFormated(date) {
      return moment(date, 'DD-MM-YYYY HH:mm:ss').format('DD/MM/YYYY');
    },
    initTable() {
      let self = this;
      let language_url = `${process.env.MIX_LOCAL_APP_URL}public/template/json/datatable/${process.env.MIX_LOCAL_APP_LOCALE}.json`;
      self.dt_table = $("#dt_table").DataTable({
        order: [[0, "desc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        pageLength: 10,
        language: {
          "url": language_url,
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}app_users`,
          data: {
            columns: ['users.created_at', 'users.custom_id', 'users.user_type', 'users.is_active', 'users.id'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            return false;
          }
        }
      });
    },
    toggleEditUserModal()
    {
      this.showEditModal = !this.showEditModal;
    },
    async editUser(id)
    {
      try {
        const response = await this.$api.getUserDetail({ id: id });
        this.form = {
          id: response.id,
          custom_id: response.custom_id,
          user_type: response.user_type,
          user_type_label: response.user_type_label,
          state: response.boolean_state,
          verified: (response.verified == 1) ? true : false,
          renspa_no: {
            value: response.renspa_no,
            edited_value: response.renspa_no,
            isEditing: false,
          },
          business_name: {
            value: response.business_name,
            edited_value: response.business_name,
            isEditing: false,
          },
          firstname: {
            value: response.firstname,
            edited_value: response.firstname,
            isEditing: false,
          },
          surname: {
            value: response.surname,
            edited_value: response.surname,
            isEditing: false,
          },
          cuit: {
            value: response.cuit,
            edited_value: response.cuit,
            isEditing: false,
          },
          province: {
            value: {
              id: response.province,
              name: response.province_name,
            },
            edited_value: {
              id: response.province,
              name: response.province_name,
            },
            isEditing: false,
          },
          locality: {
            value: {
              id: response.locality,
              name: response.locality_name,
            },
            edited_value: {
              id: response.locality,
              name: response.locality_name,
            },
            isEditing: false,
          },
          latitude: {
            value: response.latitude,
            edited_value: response.latitude,
            isEditing: false,
          },
          longtitude: {
            value: response.longtitude,
            edited_value: response.longtitude,
            isEditing: false,
          },
          geolocation: [],
          avtar_id: response.avtar_id,
          payment_methods: response.payment_methods,
          mobile_prefix: {
            value: response.mobile_prefix,
            edited_value: response.mobile_prefix,
            isEditing: false,
          },
          mobile: {
            value: response.mobile,
            edited_value: response.mobile,
            isEditing: false,
          },
          email: {
            value: response.email,
            edited_value: response.email,
            isEditing: false,
          },
          worst_credit_bureau: {
            value: response.worst_credit_bureau,
            edited_value: response.worst_credit_bureau,
            isEditing: false,
          },
          user_score: {
            value: response.user_score,
            edited_value: response.user_score,
            isEditing: false,
          },
          bad_cheques: {
            value: response.bad_cheques,
            edited_value: response.bad_cheques,
            isEditing: false,
          },
          unpaid_employer_contribution: {
            value: response.unpaid_employer_contribution,
            edited_value: response.unpaid_employer_contribution,
            isEditing: false,
          },
          vat_condition: {
            value: response.vat_condition,
            edited_value: response.vat_condition,
            isEditing: false,
          },
          password: {
            value: "",
            edited_value: "",
            isEditing: false,
          },
        };

        if(response.user_type == 2)
        {
          response.geolocation.map((row, key) => {
            this.form.geolocation.push({
              id: row.id, 
              name: row.name, 
              edited_name: row.name, 
              latitude: row.latitude, 
              edited_latitude: row.latitude, 
              longtitude: row.longtitude, 
              edited_longtitude: row.longtitude, 
              isEditing: false
            });
          });
        }
        this.getLocalities();
        this.showEditModal = true;
      }
      catch (error) {
        this.$toaster.error(error.message);
        this.showUserDetailModal = true;
      }
    },
    enableEditMode(fieldName)
    {
      this.form[fieldName].isEditing = true;
    },
    saveEditMode(fieldName)
    {
      if(fieldName == 'province')
      {
        if(this.form[fieldName].value != this.form[fieldName].edited_value)
        {
          this.form[fieldName].value = this.form[fieldName].edited_value;
          this.form.locality = {
            value: {
              id: '',
              name: '',
            },
            edited_value: {
              id: '',
              name: '',
            },
            isEditing: false,
          };
          this.getLocalities();
        }
        this.form[fieldName].isEditing = false;
      }
      else if(fieldName == 'locality')
      {
        this.form[fieldName].value = this.form[fieldName].edited_value;
        this.form[fieldName].isEditing = false;
      }
      else if(fieldName == 'renspa_no')
      {
        if(this.form[fieldName].edited_value.trim() !== '' && this.form[fieldName].edited_value.trim().match(/^[0-9]{2}[.][0-9]{3}[.][0-9]{1}[.][0-9]{1,}$/))
        {
          this.form[fieldName].value = this.form[fieldName].edited_value;
          this.form[fieldName].isEditing = false;
        }
      }
      else if(fieldName == 'mobile')
      {
        if (this.form.mobile.edited_value.trim() !== ''
              && this.form.mobile_prefix.edited_value.trim() !== '')
        {
          this.form.mobile.value = this.form.mobile.edited_value;
          this.form.mobile_prefix.value = this.form.mobile_prefix.edited_value;
          this.form.mobile.isEditing = false;
        }
      }
      else
      {
        if (this.form[fieldName].edited_value.trim() !== '')
        {
          this.form[fieldName].value = this.form[fieldName].edited_value;
          this.form[fieldName].isEditing = false;
        }
      }
    },
    cancelEditMode(fieldName)
    {
      this.form[fieldName].edited_value = this.form[fieldName].value;
      if(fieldName == 'mobile')
      {
        this.form.mobile_prefix.edited_value = this.form.mobile_prefix.value;
      }
      this.form[fieldName].isEditing = false;
    },
    async openProductList(id)
    {
      this.showProductsModal = true;
    },
    toggleProductsModal()
    {
      this.showProductsModal = !this.showProductsModal;
    },
    addGeolocationField()
    {
      this.form.geolocation.push({id: '', name: '', edited_name: '', latitude: '', edited_latitude: '', longtitude: '', edited_longtitude: '', isEditing: true});
    },
    enableLocationEditMode(key)
    {
      this.form.geolocation.map((row, index) => {
        if(key == index)
        {
          row.isEditing = true;
          Vue.set(this.form.geolocation, index, row);
        }
      });
    },
    saveLocationEditMode(key)
    {
      this.form.geolocation.map((row, index) => {
        if(key == index)
        {
          if(row.edited_name != '' && row.edited_latitude != '' && row.edited_longtitude != '')
          {
            row.name       = row.edited_name;
            row.latitude   = row.edited_latitude;
            row.longtitude = row.edited_longtitude;
            row.isEditing = false;
            Vue.set(this.form.geolocation, index, row);
          }
        }
      });
    },
    cancelLocationEditMode(key)
    {
      this.form.geolocation.map((row, index) => {
        if(key == index)
        {
          if(row.name != '' && row.latitude != '' && row.longtitude != '')
          {
            row.edited_name       = row.name;
            row.edited_latitude   = row.latitude;
            row.edited_longtitude = row.longtitude;
            row.isEditing = false;
            Vue.set(this.form.geolocation, index, row);
          }
        }
      });
    },
    removePaymentMethod(key)
    {
      let row = this.form.payment_methods[key];
      row.is_allowed = false;
      Vue.set(this.form.payment_methods, key, row);
    },
    selectPaymentMethod()
    {
      this.paymentMethodError = this.__('labels.edit_user_form.please_select_payment_method_from_list');
      this.form.payment_methods.map((row, key) => {
        if(row.name == this.payment_method)
        {
          row.is_allowed = true;
          Vue.set(this.form.payment_methods, key, row);
          this.changePaymentMethodField();
        }
      });
    },
    changePaymentMethodField()
    {
      this.paymentMethodError = '';
      this.payment_method = '';
      this.PaymentMethodFieldStatus = !this.PaymentMethodFieldStatus;
    },
    async getProvince()
    {
      const response = await this.$api.getProvinces();
      this.provinces = response.data;
    },
    async getAvtars()
    {
      const response = await this.$api.getAvatars();
      this.avtars = response;
    },
    async getLocalities()
    {
      const response = await this.$api.getLocalities({province_id: this.form.province.value.id});
      this.localities = response.data;
    },
    async submitForm() {
      const data = {
        id: this.form.id,
        is_active: (this.form.state)?1:0,
        renspa_no: this.form.renspa_no.value,
        verified: (this.form.verified)?1:0,
        business_name: this.form.business_name.value,
        firstname: this.form.firstname.value,
        surname: this.form.surname.value,
        cuit: this.form.cuit.value,
        province: this.form.province.value.id,
        locality: this.form.locality.value.id,
        avtar_id: this.form.avtar_id,
        mobile_prefix: this.form.mobile_prefix.value,
        mobile: this.form.mobile.value,
        email: this.form.email.value,
        worst_credit_bureau: this.form.worst_credit_bureau.value,
        user_score: this.form.user_score.value,
        bad_cheques: this.form.bad_cheques.value,
        unpaid_employer_contribution: this.form.unpaid_employer_contribution.value,
        vat_condition: this.form.vat_condition.value,
        password: this.form.password.value,
      };

      if(this.form.user_type == 1)
      {
        data.latitude        = this.form.latitude.value;
        data.longtitude      = this.form.longtitude.value;
        data.payment_methods = [];
        this.form.payment_methods.map((row, key) => {
          if(row.is_allowed)
          {
            data.payment_methods.push(row.id); 
          }
        });
      }

      if(this.form.user_type == 2)
      {
        data.geolocation = [];
        this.form.geolocation.map((row, key) => {
          data.geolocation.push({id: row.id, name: row.edited_name, latitude: row.edited_latitude, longtitude: row.edited_longtitude}); 
        });
      }

      const response = await this.$api.submitAppUser(data);
      if(response.code == 200)
      {
        this.dt_table.ajax.reload();
        this.$toaster.success(response.message);
        this.showEditModal = false;
      }
      else
      {
        this.$toaster.error(response.message);
      }
    },
    async changeUserState(id, event, key) {
      this.dt_rows[key].is_active = event.value;
      const response = await this.$api.changeAppUserState({ id: id, state: event.value });
      if(response.code == 200)
      {
        this.$toaster.success(response.message);
      }
      else
      {
        this.$toaster.error(response.message);
      }
    },
  }
};
</script>
<style lang="scss" scoped>
.pl-20-rem
{
  padding-left: 0.20rem;
}
::v-deep .modal-body {
  margin-top: 0;
}
.payment-method-container button
{
  border:0px;
  background-color: transparent;
  border-bottom: 3px solid #c9ded2;
}
.form-group {
  &.profile-avtar {
    position: relative;
    input[type=radio] {
      display: block;
      opacity: 0;
      position: absolute;
      left: 0;
    }
    .profile-avtar__image {
      border: 3px solid transparent;
      width: 50px;
      height: 50px;
      overflow: hidden;
      cursor: pointer;
      border: 2px solid #40875a;
      img {
        width: 100%;
      }
    }
    input[type=radio]:checked + .profile-avtar__image{
      box-shadow: 0 0 8px #000;
    }
  }
}
</style>