<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.menu.billing') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-1">
          <b>{{ __("labels.choose_period").toUpperCase() }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3 col-md-3 col-lg-4 col-xl-3 col-xxl-2">
          <label class="mb-1"><b>{{ __("labels.since") }}:</b></label>
          <div class="input-group input-group-success mb-3">
            <datepicker
              input-class="success-datepicker"
              clear-button-icon="fa fa-times"
              format="dd-MM-yyyy"
              v-model="fromDate"
              :clear-button="true"
              wrapperClass="position-relative vue-calendar"
              :bootstrap-styling="true"
              :disabled-dates="{from: getYesterday()}"></datepicker>
            <div class="input-group-append success">
              <span class="input-group-text"><img :src="getCalendarImage()" /></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-4 col-xl-3 col-xxl-2">
          <label class="mb-1"><b>{{ __("labels.until") }}:</b></label>
          <div class="input-group input-group-success mb-3">
            <datepicker 
              input-class="success-datepicker"
              clear-button-icon="fa fa-times"
              format="dd-MM-yyyy"
              v-model="toDate"
              :clear-button="true"
              wrapperClass="position-relative vue-calendar"
              :bootstrap-styling="true"
              :disabled-dates="{from: getYesterday()}"></datepicker>
            <div class="input-group-append success">
              <span class="input-group-text"><img :src="getCalendarImage()" /></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-3 col-xxl-6 pt-sm-4">
          <button type="button" class="btn btn-success search-btn" v-on:click="reinitTable()">
            {{ __('labels.search') }}
          </button>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-3 col-xxl-2 pt-sm-4 text-right">
          <button type="button" class="btn btn-success btn-sm export-btn" v-on:click="exportTable()">
            <b>{{ __('labels.export') }}</b>
          </button>
          <div id="downloadableLink" class="d-none"></div>
        </div>
      </div>
      <div class="my-4"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-condensed table-default" id="dt_table">
              <thead>
                <tr>
                  <th class="text-uppercase text-center">{{ __('labels.billing.id_agronomia') }}</th>
                  <th class="text-uppercase text-center">{{ __('labels.billing.orders_placed') }}</th>
                  <th class="text-uppercase text-center">{{ __('labels.billing.since') }}</th>
                  <th class="text-uppercase text-center">{{ __('labels.billing.until') }}</th>
                  <th class="text-uppercase text-center">{{ __('labels.billing.total_to_bill') }}</th>
                  <th class="text-uppercase text-center">{{ __('labels.billing.to_invoice') }}</th>
                </tr>
              </thead>
              <tbody v-if="dt_rows.length > 0">
                <tr v-for="(dt_row) in dt_rows" v-bind:key="dt_row.id">
                  <td class="text-center">
                    <a href="#" class="text-success agronomia_link" @click.prevent="openAgronomiaDetail(dt_row.agronomia_id)">{{ dt_row.agronomia_custom_id }}</a>
                  </td>
                  <td class="text-center"> <a href="#" class="text-success-dark" @click.prevent="openOrdersModal(dt_row.orders)">{{ dt_row.total_orders }}</a></td>
                  <td class="text-center">{{ filteredFromDate }}</td>
                  <td class="text-center">{{ filteredToDate }}</td>
                  <td class="text-center">{{ dt_row.total_price }} USD</td>
                  <td class="text-center text-success">{{ dt_row.total_commission }} USD</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="6">
                    <div class="p-4 text-center bg-light">
                      <strong>{{ __('labels.admin_no_billing_records_found') }}</strong>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <Modal v-if="orderModalStatus"  @close="closeOrderModal">
        <div slot="header">
          <h6>{{ __('labels.billing.list_of_orders_placed') }}</h6>
        </div>
        <div slot="body">
          <table>
            <tr v-for="(order) in orders" v-bind:key="order.id">
              <td><b>{{ order.custom_order_no }}</b></td>
            </tr>
          </table>
        </div>
      </Modal>

      <!-- USER DETAIL POPUP -->
      <Modal v-if="agronomiaModalStatus" @close="closeAgronomiaModal">
        <div slot="header">
          <h6 class="mb-0">{{ __('labels.billing.user_data') }}</h6>
        </div>
      <div slot="body">
        <div class="row">
          <div class="col">
            <strong> ID de USUARIO </strong><br/>
            <h6 class="text-success-dark"> {{ agronomia.custom_id }} </h6>
          </div>
        </div>
        <div class="my-1">&nbsp;</div>
        <div class="d-flex flex-column">
          <strong>{{ __('labels.billing.business_name') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.business_name }} </p>
          
          <strong>{{ __('labels.billing.firstname') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.firstname }} </p>
          
          <strong>{{ __('labels.billing.surname') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.surname }} </p>
          
          <strong>{{ __('labels.billing.cuit') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.cuit }} </p>
          
          <strong>{{ __('labels.billing.locality') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.locality_name }} </p>
          
          <strong>{{ __('labels.billing.province') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.province_name }} </p>
          
          <strong>{{ __('labels.billing.latitude') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.latitude }} </p>
          
          <strong>{{ __('labels.billing.longitude') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.longtitude }} </p>
          
          <strong>{{ __('labels.billing.mobile') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.mobile_prefix }}-{{ agronomia.mobile }} </p>
          
          <strong>{{ __('labels.billing.email') }}</strong>
          <p class="text-success mb-1"> {{ agronomia.email }} </p>
        </div>
      </div>
      </Modal>
    </transition>
  </div>
</template>
<script>
import Modal from "./../../form/modal";
import moment from 'moment-timezone';
import Datepicker from 'vuejs-datepicker';
export default {
  props: ["panel"],
  components: { Modal, Datepicker },
  data() {
    return {
      fromDate: '',
      toDate: '',
      filteredFromDate: '-',
      filteredToDate: '-',
      agronomiaModalStatus: false,
      agronomia: [],
      orderModalStatus: false,
      order: [],
      dt_table: "",
      dt_rows: [],
    };
  },
  created: function() {},
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
  },
  methods: {
    getYesterday() {
      return new Date(moment());
    },
    getCalendarImage() {
      return `${process.env.MIX_LOCAL_APP_URL}public/template/images/ke_insumos_calendar.png`;
    },
    async openAgronomiaDetail(agronomia_id) {
      const id = agronomia_id;
      this.agronomia = await this.$api.getUserDetail({id: id});
      this.agronomiaModalStatus = true;
    },
    closeAgronomiaModal() {
      this.agronomia = [];
      this.agronomiaModalStatus = false;
    },
    openOrdersModal(orders) {
      this.orders = orders;
      this.orderModalStatus = true;
    },
    closeOrderModal() {
      this.orderModalStatus = false;
    },
    reinitTable() {
      this.filteredFromDate = (this.fromDate)?moment(this.fromDate).format('DD/MM/YYYY'):'-';
      this.filteredToDate = (this.toDate)?moment(this.toDate).format('DD/MM/YYYY'):'-';
      this.dt_table.destroy();
      this.initTable();
    },
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table").DataTable({
        order: [[0, "asc"]],
        ordering: false,
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        searching: false,
        lengthChange: false,
        paging: false,
        pageLength: 10,
        bInfo : false,
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}billing`,
          data: {
            from_date: (self.fromDate)?moment(self.fromDate).format('YYYY-MM-DD'):'',
            to_date: (self.toDate)?moment(self.toDate).format('YYYY-MM-DD'):'',
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            return false;
          }
        }
      });
    },
    async exportTable() {
      try {
        const param = {
          from_date: (this.fromDate)?moment(this.fromDate).format('YYYY-MM-DD'):'',
          to_date: (this.toDate)?moment(this.toDate).format('YYYY-MM-DD'):'',
        };
        const fileLink = await this.$api.exportBillingCSV(param);
        const el = document.getElementById('downloadableLink');
        let linkElement = document.createElement('a')
        linkElement.href = fileLink.link;
        linkElement.download = 'facturación.csv';
        el.appendChild(linkElement);
        linkElement.click();
        linkElement.remove();
      } catch (error) {
        this.$toaster.error(error.message);
      }
    },
  }
};
</script>
<style lang="scss" scoped>
.chat-toggle-btn
{
  border: 0px;
  background-color: transparent;
  color: #d8ceb5;
}
.agronomia_link, .agronomia_link:hover, .agronomia_link:active, .agronomia_link:visited {
  color: #434343 !important;
  text-decoration: underline !important;
  text-decoration-color: #40875b !important;
}
::v-deep .modal-body {
  margin-top: 0;
}

.input-group.input-group-success {
  .input-group-text {
    padding: 0 5px;
    img {
      height: 1.7rem;
    }
  }
}
::v-deep .vdp-datepicker input {
  height: 2.3rem;
}
</style>