<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.dashboard') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-1">
          <b>{{ __("labels.choose_period").toUpperCase() }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xxl-2">
          <label class="mb-1"><strong>{{ __("labels.since") }}:</strong></label>
          <div class="input-group input-group-success mb-3">
            <datepicker
              input-class="success-datepicker"
              clear-button-icon="fa fa-times"
              format="dd-MM-yyyy"
              v-model="fromDate"
              :clear-button="true"
              wrapperClass="position-relative vue-calendar"
              :bootstrap-styling="true"></datepicker>
            <div class="input-group-append success">
              <span class="input-group-text"><img :src="getCalendarImage()" /></span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xxl-2">
          <label class="mb-1"><strong>{{ __("labels.until") }}:</strong></label>
          <div class="input-group input-group-success mb-3">
            <datepicker
              input-class="success-datepicker"
              clear-button-icon="fa fa-times"
              format="dd-MM-yyyy"
              v-model="toDate"
              :clear-button="true"
              wrapperClass="position-relative vue-calendar"
              :bootstrap-styling="true"></datepicker>
            <div class="input-group-append success">
              <span class="input-group-text"><img :src="getCalendarImage()" /></span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 pt-4">
          <button type="button" class="btn btn-success" v-on:click="dashboardSearch()">
            {{ __('labels.search') }}
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
          <!-- BLANK SPACE -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4">
              <div class="dashboard-card">
                <span class="text-success"><b>{{ __("labels.most_selling_products") }}</b></span>
                <div class="text-center pt-5 pb-5" v-if="loading"><spinner variant="success"></spinner></div>
                <div class="table-responsive" v-else>
                  <table class="table table-default table-condensed mt-2">
                    <thead>
                      <tr>
                        <th class="text-left text-uppercase">{{ __('labels.product') }}</th>
                        <th class="text-right text-uppercase">{{ __('labels.quantity') }}</th>
                      </tr>
                    </thead>
                    <tbody v-if="mostSellingProducts.length > 0">
                      <tr v-for="product in mostSellingProducts" v-bind:key="product.id">
                        <td>{{ product.name }}</td>
                        <td align="right">{{ product.ordered_quantity }}</td>
                      </tr>
                    </tbody>
                    <tbody v-else>
                      <tr>
                        <td colspan="2" align="center">{{ __('labels.no_records_found') }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4">
              <div class="dashboard-card">
                <span class="text-success"><b>{{ __("labels.geographical_areas_that_sold_the_most") }}</b></span>
                <div class="text-center pt-5 pb-5" v-if="loading"><spinner variant="success"></spinner></div>
                <div class="table-responsive" v-else>
                  <table class="table table-default table-condensed mt-2">
                    <thead>
                      <tr>
                        <th class="text-left text-uppercase">{{ __('labels.province') }}</th>
                        <th class="text-right text-uppercase">{{ __('labels.quantity') }}</th>
                      </tr>
                    </thead>
                    <tbody v-if="mostSellingProvinces.length > 0">
                      <tr v-for="province in mostSellingProvinces" v-bind:key="province.id">
                        <td>{{ province.province }}</td>
                        <td align="right">{{ province.ordered_quantity }}</td>
                      </tr>
                    </tbody>
                    <tbody v-else>
                      <tr>
                        <td colspan="2" align="center">{{ __('labels.no_records_found') }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4">
              <div class="dashboard-card">
                <span class="text-success"><b>{{ __("labels.best_selling_categories") }}</b></span>
                <div class="text-center pt-5 pb-5" v-if="loading"><spinner variant="success"></spinner></div>
                <div class="table-responsive" v-else>
                  <table class="table table-default table-condensed mt-2">
                    <thead>
                      <tr>
                        <th class="text-left text-uppercase">{{ __('labels.categories') }}</th>
                        <th class="text-right text-uppercase">{{ __('labels.quantity') }}</th>
                      </tr>
                    </thead>
                    <tbody v-if="bestSellingCategories.length > 0">
                      <tr v-for="category in bestSellingCategories" v-bind:key="category.id">
                        <td>{{ category.name }}</td>
                        <td align="right">{{ category.ordered_quantity }}</td>
                      </tr>
                    </tbody>
                    <tbody v-else>
                      <tr>
                        <td colspan="2" align="center">{{ __('labels.no_records_found') }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4">
              <div class="dashboard-card">
                <span class="text-success"><b>{{ __("labels.approved_orders_vs_cancelled_orders") }}</b></span>
                <div class="text-center pt-5 pb-5" v-if="loading"><spinner variant="success"></spinner></div>
                <div class="my-3" v-else>
                  <div class="text-center p-4 bg-white" v-if="approvedVsCancelledchartData[1][1] === 0 && approvedVsCancelledchartData[2][1] === 0">
                    <strong>
                      {{ __('labels.admin_dashboard_chart_empty_text') }}
                    </strong>
                  </div>
                  <div v-else>
                    <GChart
                      type="PieChart"
                      :data="approvedVsCancelledchartData"
                      :options="{
                        chartArea: {height: 400, width: 400},
                        colors:['#4F9267', '#F15F5F'],
                        pieSliceText: 'value-and-percentage',
                        'tooltip' : {
                          trigger: 'none'
                        },
                        legend: { 
                          position : 'left'
                        }
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
          <!-- BLANK SPACE -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Datepicker from 'vuejs-datepicker';
import { GChart } from 'vue-google-charts';

export default {
  components: {
    Datepicker, GChart
  },
  props: ["panel"],
  data() {
    return {
      loading: true,
      fromDate: '',
      toDate: '',
      mostSellingProducts: [],
      mostSellingProvinces: [],
      bestSellingCategories: [],
      approvedVsCancelledchartData: []
    }
  },
  created: function() {
    this.dashboardSearch();
  },
  methods: {
    getCalendarImage() {
      return `${process.env.MIX_LOCAL_APP_URL}public/template/images/ke_insumos_calendar.png`;
    },
    async dashboardSearch() {
      this.loading = true;
      const response = await this.$api.dashboardData();
      this.loading = false;
      if(response.code == 200)
      {
        this.mostSellingProducts = response.data.mostSellingProducts;
        this.mostSellingProvinces = response.data.mostSellingProvinces;
        this.bestSellingCategories = response.data.bestSellingCategories;
        this.approvedVsCancelledchartData = [
          ['Type', 'Count'],
        ];
        
        let pieChartData = response.data.approvedVsCancelledchartData;
        Object.keys(pieChartData).map((key, index) => {
          this.approvedVsCancelledchartData.push([pieChartData[key]['label'], pieChartData[key]['count']]); 
        });
      }
      else
      {
        this.$toaster.error(response.message);
      }
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>
<style lang="scss" scoped>
::v-deep .vdp-datepicker input {
  height: 2.3rem;
}
.input-group.input-group-success {
  .input-group-text {
    padding: 0 5px;
    img {
      height: 1.7rem;
    }
  }
}
</style>