<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.help_questions_and_answers') }}</h1>
      <button type="button" class="btn btn-outline-light" v-on:click="showFormModal()">{{ __('labels.add_a_new_question') }}</button>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive">
            <table class="table table-condensed table-default" id="dt_table">
              <thead>
                <tr>
                  <th class="text-center text-uppercase">{{ __('labels.sequence') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.question') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.reply') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.state') }}</th>
                  <th class="text-center text-uppercase">{{ __('labels.action') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(single_row, key) in dt_rows" v-bind:key="single_row.id">
                  <td align="center">{{ single_row.order_priority }}</td>
                  <td class="td">{{ getHtml(single_row.question, 45) }}</td>
                  <td class="td">{{ getHtml(single_row.reply, 70) }}</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2"> {{ __('labels.inactive') }} </span>
                      <toggle-button @change="changeFAQState(single_row.id, $event, key)" :value="single_row.state" :width="65" :height="25" :sync="true" class="mb-0" />
                      <span class="ml-2">{{ __('labels.active') }}</span>
                    </div>
                  </td>
                  <td>
                    <button class="btn-no-style" @click="editFAQ(single_row.id, key)">
                      {{ __('labels.edit') }}
                      <i
                        class="fa fa-pencil-alt circle bg-dark text-light m-1"
                        aria-hidden="true"
                      ></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="formModalStatus"  @close="closeFormModal" size="lg">
      <div slot="header">
        <h5 class="mb-0">{{ form_title }}</h5>
      </div>
      <div slot="body">
        <form v-on:submit.prevent="submitForm($event)" class="faqForm">
          <div class="row">
            <div class="col-sm-9">
              <div class="form-group">
                <label> <strong>{{ __('labels.question') }}</strong></label>
                <!-- <input type="text" v-model="form.question" class="form-control" required /> -->
                <quill-editor v-model="form.question" :options="editorOption" id="questionEditor" class="quill-editor"></quill-editor>
              </div>
              <div class="my-5"></div>
              <div class="form-group">
                <label> <strong>{{ __('labels.reply') }}</strong></label>
                <!-- <textarea type="text" v-model="form.reply" class="form-control" rows="2" required></textarea> -->
                <quill-editor v-model="form.reply" :options="editorOption" id="replyEditor" class="quill-editor"></quill-editor>
              </div>
            </div>
            <div class="col-sm-3 d-flex flex-column">
              <div class="py-3"></div>
              <div class="py-3"></div>
              <div class="d-flex align-items-center">
                <span class="mr-2"> {{ __('labels.inactive') }} </span>
                <toggle-button v-model="form.state" :width="65" :height="25" :sync="true" class="mb-0" />
                <span class="ml-2">{{ __('labels.active') }}</span>
              </div>
              <div class="my-3"></div>
              <div class="form-group">
                <label><strong>{{ __('labels.sequence') }}</strong></label>
                <input type="number" v-model="form.order_priority" class="form-control order_priority" min="0" required />
              </div>
              <div class="form-group mt-auto ml-auto">
                <button type="submit" class="btn btn-success btn-lg">
                  {{ __('labels.save') }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </Modal>
  </div>
</template>
<script>
import Modal from "./../../form/modal";
import { quillEditor } from 'vue-quill-editor';

export default {
  props: ["panel"],
  components: { Modal, quillEditor },
  data() {
    return {
      form_title: this.__('labels.add_a_new_question'),
      formModalStatus: false,
      form: {
        id: "",
        question: "",
        reply: "",
        state: true,
        order_priority: ""
      },
      dt_table: "",
      dt_rows: [],
      editorOption: {
        modules: {
          toolbar: [
            [
              'bold', 'italic', 'underline', 'link',
              { 'color': [] }, { 'background': [] },
              { 'align': '' }, { 'align': 'center' }, { 'align': 'right' },
              {'indent': '-1'}, {'indent': '+1'},
              { 'list': 'ordered'}, { 'list': 'bullet' },
              { 'header': [1, 2, 3, 4, 5, 6, false] },
              'clean'
            ],
          ],
        }
      }
    };
  },
  created: function() {},
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
  },
  methods: {
    getHtml(text, length) {
      return this.$options.filters.trim(text.replace(/<[^>]*>/g, ''), length);
    },
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table").DataTable({
        order: [[0, "asc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        pageLength: 10,
        language: {
          search: "",
          searchPlaceholder: self.__("labels.search"),
          sLengthMenu: self.__("labels.show_dt") + " _MENU_",
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}faq`,
          data: {
            columns: ['faq.order_priority', 'faq.question', 'faq.is_active', 'faq.id'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            return false;
          }
        }
      });
    },
    validate() {
      if(!this.form.question || !this.form.reply || !this.form.order_priority) {
        return false;
      }
      return true;
    },
    submitForm(event) {
      if (this.validate()) {
        let data = {
          id: this.form.id,
          question: this.form.question,
          reply: this.form.reply,
          is_active: this.form.state,
          order_priority: this.form.order_priority
        };
        
        this.$api.saveFAQ(data).then(response => {
          if (response.code == 200)
          {
            this.dt_table.ajax.reload();
            this.form_title = this.__('labels.add_a_new_question');
            this.form = {
              id: "",
              question: "",
              reply: "",
              state: true,
              order_priority: "",
            };
            this.closeFormModal();
            this.$toaster.success(response.message);
          }
          else
          {
            this.$toaster.error(response.message);
          }
        });
      }
    },
    changeFAQState(id, event, key) {
      this.dt_rows[key].state = event.value;
      let data = {id: id, state: event.value};
      this.$api.changeFAQState(data).then(response => {
        if (response.code == 200)
        {
          this.$toaster.success(response.message);
        }
        else
        {
          this.$toaster.error(response.message);
        }
      });
    },
    editFAQ(id, key) {
      this.form_title = this.__('labels.edit_question');
      this.form = {
        id: this.dt_rows[key].id,
        question: this.dt_rows[key].question,
        reply: this.dt_rows[key].reply,
        state: this.dt_rows[key].state,
        order_priority: this.dt_rows[key].order_priority,
      };
      this.showFormModal();    
    },
    showFormModal() {
      this.formModalStatus = true;
    },
    closeFormModal() {
      this.formModalStatus = false;
    },
  }
};
</script>
<style lang="scss" scoped>
.faqForm {
  .order_priority {
    border: 2px solid #b1e4c5 !important;
    border-radius: 15px !important;
    height: 45px;
  }
}
</style>