<template>
  <form class="form-signin" v-on:submit.prevent="onSubmit">
    <img class="mb-4" :src="`${app.BASE_URL}public/template/images/ke_insumos_logo.png`" alt="ke isumos" >

    <div class="text-danger mb-4">{{ error }}</div>

    <label for="email" class="sr-only">{{ __('labels.email') }}</label>
    <input type="email" class="form-control" autocomplete="email" :placeholder="__('labels.email')" autofocus v-model="email">
    
    <label for="password" class="sr-only">{{ __('labels.password') }}</label>
    <input type="password" class="form-control" :placeholder="__('labels.password')" autocomplete="current-password" v-model="password">
    
    <button type="submit" class="btn btn-lg btn-primary btn-block" name="submit" value="submit">{{ __('labels.sign_in') }}</button>
  </form>
</template>
<script>
export default {
  props: ['app'],
  data() {
    return {
      email: '',
      password: '',
      error: ''
    }
  },
  beforeCreate: function() {
    document.body.className = 'text-center';
  },
  methods: {
    async onSubmit() {
      this.error = '';
      const data = {
        email: this.email,
        password: this.password
      };
      const response = await this.$api.login(data);
      if(response.code == 200)
      {
        localStorage.setItem('user', JSON.stringify(response.user));
        this.app.user = response.user;
        this.$router.push('/');
      }
      else
      {
        this.error = response.message;
      }
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
}
</script>