<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.my_account') }}</h1>
    </div>
    <form class="cusstom__container bg-white" @submit.prevent="submitForm()">

      <!-- START OF FIRST ROW -->
      <div class="row">
        <div class="col-md-10 col-xl-5">
          <div class="row">
            <div class="col-9 col-md-6 col-xl-6">
              <div class="form-group">
                <label class="font-700" for="firstname">{{ __('labels.my_account_form.firstname') }}<sup>*</sup></label>
                <input type="text" id="firstname" v-model="formData.firstname" class="form-control" :placeholder="__('labels.my_account_form.firstname')" readonly="true" />
              </div>
            </div>
            <div class="col-9 col-md-6 col-xl-6">
              <div class="form-group">
                <label class="font-700" for="surname">{{ __('labels.my_account_form.surname') }}<sup>*</sup></label>
                <input type="text" id="surname" v-model="formData.surname" class="form-control" :placeholder="__('labels.my_account_form.surname')" readonly="true" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-xl-5">
          <div class="row">
            <div class="col-9 col-md-6 col-xl-6">
              <div class="form-group">
                <label class="font-700" for="email">{{ __('labels.my_account_form.email') }}<sup>*</sup></label>
                <input type="email" id="email" v-model="formData.email" class="form-control" :placeholder="__('labels.my_account_form.email')" readonly="true" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF FIRST ROW -->

      <!-- START OF SECOND ROW -->
      <div class="row mt-3">
        <div class="col-md-10 col-xl-5">
          <div class="row">
            <div class="col-9 col-md-12 col-xl-12">
              <h6 class="text-uppercase">{{ __('labels.my_account_form.change_password') }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-9 col-md-6 col-xl-6">
              <div class="form-group">
                <input type="password" id="password" v-model="formData.password" class="form-control" :placeholder="__('labels.my_account_form.password')" />
                <p class="form-error" v-if="formErrors.password">{{ formErrors.password }}</p>
              </div>
            </div>
            <div class="col-9 col-md-6 col-xl-6">
              <div class="form-group">
                <input type="password" id="password_confirmation" v-model="formData.password_confirmation" class="form-control" :placeholder="__('labels.my_account_form.confirm_password')" />
                <p class="form-error" v-if="formErrors.password">{{ formErrors.password }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-xl-5 text-right">
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg submit-btn pr-5 pl-5 mt-3">{{ __('labels.save') }}</button>
          </div>
        </div>
      </div>
      <!-- END OF SECOND ROW -->

    </form>
  </div>
</template>
<script>
export default {
  props: ["panel"],
  data() {
    return {
      avtars: [],
      formData: {
        firstname: "",
        surname: "",
        email: "",
        password: "",
        password_confirmation: "",
      },
      formErrors: {
        password: '',
      }
    };
  },
  async created() {
    try
    {
      const profile = await this.$api.getMyProfile();
      this.formData = {
        firstname: profile.firstname,
        surname: profile.surname,
        email: profile.email,
        password: "",
        password_confirmation: "",
      };
    }
    catch (error)
    {
      console.log(error);
    }
  },
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
  methods: {
    async submitForm() {
      const data = {
        password: this.formData.password,
        password_confirmation: this.formData.password_confirmation,
      };
      
      this.formErrors = {
        password: '',
        payment_method: '',
      };

      try
      {
        const response = await this.$api.updateProfile(data);
        localStorage.setItem('user', JSON.stringify(response.data));
        this.panel.user = response.data;
        this.$toaster.success(response.message);
      }
      catch(error)
      {
        this.$toaster.error(error.message);
        const errors = error.errors;
        for (var key in errors)
        {
          this.formErrors[key] = errors[key];
        }
      }
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>
<style lang="scss" scoped>
.form-group label
{
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-left: 0;
  color: rgb(66, 66, 66);
}
.form-group .form-control
{
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-left: 0;
  color: #4f9267;
  border-bottom: 3px solid #c9ded2;
}
.form-group .form-control:hover, .form-group .form-control:focus, .form-group .form-control:required:invalid
{
  border-bottom: 3px solid #c9ded2;
}
.form-group .form-control:disabled, .form-group .form-control[readonly]
{
  background-color: transparent;
}
.submit-btn
{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
</style>