<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.menu.notifications') }}</h1>
      <button type="button" class="btn btn-outline-light" v-on:click="showFormModal()"><b>{{ __('labels.add_a_notification') }}</b></button>
    </div>
    <div class="cusstom__container bg-white">
      <div v-if="notifications.length > 0">
        <div class="dashboard-card mb-4" v-for="noti in notifications" :key="noti.id">
          <p class="d-flex align-items-top">
            <i class="fas fa-lg mt-1" :class="{'fa-times-circle text-danger': noti.message_type === 'danger',
                              'fa-check-circle text-success': noti.message_type === 'success',
                              'fa-exclamation-circle text-brown': noti.message_type === 'info'}" />
            <span class="ml-2 ml-lg-3" :class="{'text-danger': noti.message_type === 'danger', 'text-success': noti.message_type === 'success'}">
              {{noti.message}}
            </span>
          </p>
        </div>
      </div>
      <div v-else>
        <div class="p-4 text-center bg-light">
          <strong>{{ __('labels.no_notification_found') }}</strong>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <Modal v-if="formModalStatus"  @close="closeFormModal">
        <div slot="header">
          <strong>{{ __('labels.send_a_notification') }}</strong>
        </div>
        <div slot="body">
          <form v-on:submit.prevent="submitForm($event)">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                <label><b>{{ __('labels.whom_do_you_want_to_notify') }}</b></label>
                <div class="row">
                  <div class="col">
                    <label class="custom-control custom-radio custom-control-inline">
                      <input type="radio" name="type" class="custom-control-input" v-model="formData.type" value="1" id="agronomia">
                      <label class="custom-control-label" for="agronomia">{{ __('labels.agronomia') }}</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="custom-control custom-radio custom-control-inline">
                      <input type="radio" name="type" class="custom-control-input" v-model="formData.type" value="2" id="productor">
                      <label class="custom-control-label" for="productor">{{ __('labels.producer') }}</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="custom-control custom-radio custom-control-inline">
                      <input type="radio" name="type" class="custom-control-input" v-model="formData.type" value="3" id="to_all">
                      <label class="custom-control-label" for="to_all">{{ __('labels.to_all') }}</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="custom-control custom-radio custom-control-inline">
                      <input type="radio" name="type" class="custom-control-input" v-model="formData.type" value="4" id="to_someone_in_particular">
                      <label class="custom-control-label" for="to_someone_in_particular">{{ __('labels.to_someone_in_particular') }}</label>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="formData.type == '4'">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
                <vueSelectAutocomplete
                  class="admin-notification-user-search-box"
                  searchEndpoint="searchAppUsersbyID"
                  v-model="user"
                  :placeholder="__('labels.search') + '...'"
                  @selectSuggetion="UserSelected"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                <label>{{ __('labels.message') }}</label>
                <textarea type="text" v-model="formData.message" class="form-control success" rows="2" required></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                <button type="submit" class="btn btn-success pull-right">
                  {{ __('labels.send') }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </Modal>
    </transition>
  </div>
</template>
<script>
import Modal from "./../../form/modal";
import vueSelectAutocomplete from "./../../form/vue-select-autocomplete.vue";
export default {
  props: ["panel"],
  components: { Modal, vueSelectAutocomplete },
  data() {
    return {
      formModalStatus: false,
      formData: {
        type: "",
        message: "",
      },
      user: {},
      notifications: [],
    };
  },
  async created() {
    this.getNotifications();
  },
  methods: {
    async getNotifications() {
      try {
        this.notifications = await this.$api.getNotifications();
      } catch (error) {
        this.$toaster.error(error.message);
      }
    },
    UserSelected(user) {
      this.user = user;
    },
    async submitForm(event) {
      const data = {
        type: this.formData.type,
        user_id: (Object.keys(this.user).length > 0 && this.formData.type == '4')?this.user.id:null,
        message: this.formData.message,
      };
      
      this.$api.saveAdminMessage(data).then(response => {
        if (response.code == 200)
        {
          this.getNotifications();
          this.closeFormModal();
          this.formData = {
            type: "",
            message: ""
          };
          this.user = {};
          this.$toaster.success(response.message);
        }
        else
        {
          this.$toaster.error(response.message);
        }
      });
    },
    showFormModal() {
      this.formModalStatus = true;
    },
    closeFormModal() {
      this.formModalStatus = false;
    },
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
  },
};
</script>
<style lang="scss" scoped>
textarea.success
{
  border: 2px solid #c9ded2 !important;
  border-radius: 10px !important;
}
.dashboard-card {
  border-left: none;
  padding: 22px 30px;
  @media (max-width: 576px) {
    padding: 15px;
  }
  p {
    position: relative;
    font-weight: 700;
    margin: 0;
  }
}
.text-brown {
  color: rgb(182, 166, 126);
}
</style>