<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.products') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="d-flex flex-column flex-lg-row justify-content-between">
        <p class="head-text">
          Aqui podras ver todos los productos agregados al sistema de Keinsumos. Recuerda que si un producto NO está aquí, entonces las agronomías no podrán ofrecerlo a sus clientes. Revise el estado de los productos (Si están activos/Inactivo)
        </p>
        <div>
          <router-link class="btn btn-success btn-lg" to="añadir-producto">
            <b>{{ __('labels.add_new_product') }}</b>
          </router-link>
          <label class="tooltip-btn tooltip-big" v-tooltip.auto="{ content: __('labels.help_texts.add_product_admin'), trigger: 'click hover', html: true }">
            <i class="fas fa-question" />
          </label>
        </div>
      </div>
      <div class="my-4"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card card-default">
            <div class="card-header">{{ __('labels.products_list') }}</div>
            <div class="card-body">
              <div class="row p-1">
                <!-- per page -->
                <div class="col-12 col-md-12 col-xl-4 mb-2">
                  <div class="dataTables_length">
                    <label>{{ __('labels.datatable.to_show') }}
                      <select v-model="dt_table_length" v-on:change="redrawTable()">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </label>
                  </div>
                </div>

                <!-- Search box -->
                <div class="col-10 col-md-8 col-xl-3 ml-auto mb-2">
                  <div class="dataTables_filter">
                    <input type="text" v-model="dt_table_search" class="w-100" :placeholder="__('labels.user_products_list.write_the_product_to_look_for')" v-on:keyup="redrawTable()">
                  </div>
                </div>

                <!-- category search -->
                <div class="col-12 col-md-12 col-laptop-2 col-lg-5 col-xl-5 ml-auto dt-category-filter" id="admin_product_list">
                  <div class="row">
                    <div class="col-12"><label class="font-weight-bold">{{ __('labels.user_products_list.also_search_for') }}:</label></div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 col-xl-9 full-width">
                      <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                          <select id="category_id" v-model="dt_category" class="form-control" required v-on:change="dt_subcategory = ''">
                            <option value="">{{ __('labels.user_products_list.category') }}...</option>
                            <option v-for="category in categories" :key='category.id' :value="category">{{ category.name }}</option>
                          </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                          <select id="subcategory_id" v-model="dt_subcategory" class="form-control" required>
                            <option value="">{{ __('labels.user_products_list.subcategory') }}...</option>
                            <option v-for="sub_category in dt_category.sub_categories" :key='sub_category.id' :value="sub_category.id">{{ sub_category.name }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 col-xl-3 full-width mb-2">
                      <button type="button" class="btn btn-success" v-on:click="reinitTable()"><b>{{ __('labels.user_products_list.apply') }}</b></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex mb-4">
                <input type="file" accept=".csv,text/csv,application/csv,text/comma-separated-values" id="uploadCSV" class="uploadCSV" ref="uploadCSV" @change="handleFileUpload()"/>
                <label for="uploadCSV" type="button" class="uploadCSVBtn btn btn-success mr-2"><b>{{ __('labels.import_table_csv') }}</b></label>
                <button type="button" class="btn btn-success" @click="exportProductsCSV()"><b>{{ __('labels.export_table_csv') }}</b></button>
                <div id="downloadableLink" class="d-none"></div>
              </div>

              <!-- table -->
              <div class="row hide-searchbox hide-pagelength">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-condensed table-default" id="dt_table">
                      <thead>
                        <tr>
                          <td align="center" :style="{width: '9px'}">
                            <div class="custom-checkbox">
                              <input type="checkbox" v-model="selectAll" id="select_all" class="custom-control-input" v-on:change="selecteAllChanged()" />
                              <label class="custom-control-label" for="select_all"></label>
                            </div>
                          </td>
                          <th width="20%" class="text-center text-uppercase">{{ __('labels.name') }}<i class="fa ml-2"></i></th>
                          <th width="20%" class="text-center text-uppercase">{{ __('labels.category') }}<i class="fa ml-2"></i></th>
                          <th width="15%" class="text-center text-uppercase">{{ __('labels.subcategory') }}<i class="fa ml-2"></i></th>
                          <th width="10%" class="text-center text-uppercase">{{ __('labels.id') }}<i class="fa ml-2"></i></th>
                          <th width="10%" class="text-center text-uppercase">{{ __('labels.edit') }}<i class="fa ml-2"></i></th>
                          <th width="10%" class="text-center text-uppercase">{{ __('labels.state') }}<i class="fa ml-2"></i></th>
                          <th width="10%" class="text-center text-uppercase">{{ __('labels.delete') }}<i class="fa ml-2"></i></th>
                        </tr>
                      </thead>
                      <tbody v-if="dt_rows.length > 0">
                        <tr v-for="single_row in dt_rows" v-bind:key="single_row.id">
                          <td align="center">
                            <div class="custom-checkbox">
                              <input type="checkbox" :id="`product_${single_row.id}`" class="custom-control-input" v-model="formData.product_ids" :value="single_row.id" />
                              <label class="custom-control-label font-weight-bold" :for="`product_${single_row.id}`"></label>
                            </div>
                          </td>
                          <td class="text-center">{{ single_row.name }}</td>
                          <td class="text-center">{{ single_row.category_name }}</td>
                          <td class="text-center">{{ single_row.subcategory_name }}</td>
                          <td class="text-center">{{ single_row.custom_id }}</td>
                          <td class="text-center">
                            <router-link class="btn-no-style text-black" :to="{ path: 'editar-producto/'+single_row.id }">
                              {{ __('labels.edit') }}
                              <i class="fa fa-pencil-alt circle bg-dark text-light m-1" aria-hidden="true"></i>
                            </router-link>
                          </td>
                          <td class="text-center">
                            <div class="d-flex align-items-center">
                               <button class="btn-no-style" :class="{ 'text-success' : single_row.is_active, 'text-muted': !single_row.is_active }">
                                <span>{{ (single_row.is_active)?__('labels.active'):__('labels.inactive') }}</span>
                                <i class="fas fa-lg" :class="{ 'fa-check-circle' : single_row.is_active, 'fa-times-circle': !single_row.is_active }"></i>
                              </button>
                            </div>
                          </td>
                          <td class="text-center">
                            <button class="btn-no-style text-danger" @click="showDeleteProductModal(single_row.id)">
                              {{ __('labels.delete') }}
                              <i class="fa fa-trash-alt circle bg-danger text-light m-1" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tbody v-else>
                        <tr>
                          <td colspan="8" align="center">
                            <strong>{{ __('labels.no_rows_found') }}</strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <Modal v-if="deleteProductStatus" @close="closeDeleteProductModal">
        <div slot="header">
          <strong>{{ __('labels.delete_product') }}</strong>
        </div>
        <div slot="body">
          {{ __('labels.are_you_sure_you_want_to_delete_this_product') }}
        </div>
        <div slot="footer">
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-secondary" @click="closeDeleteProductModal()">{{ __('labels.frontend.cancel') }}</button>
            <button class="btn btn-success ml-1" @click="deleteProduct()">{{ __('labels.yes') }}</button>
          </div>
        </div>
      </Modal>
    </transition>
  </div>
</template>
<script>
import Modal from "./../../form/modal";
export default {
  props: ["panel"],
  components: {
    Modal
  },
  data() {
    return {
      deleteProductStatus: false,
      deleteProductID: '',
      dt_table: "",
      dt_rows: [],
      dt_category: '',
      dt_subcategory: '',
      categories: [],
      dt_table_search: '',
      dt_table_length: 10,
      selectAll: false,
      formData: {
        product_ids: [],
      },
      productCSVfile: '',
    };
  },
  created: function() {},
  mounted: async function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
    this.categories = await this.$api.getCategories();
  },
  methods: {
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table").DataTable({
        order: [[1, "asc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        bInfo : false,
        pageLength: 10,
        columnDefs: [
          { orderable: false, targets: 0 },
        ],
        language: {
          search: "",
          searchPlaceholder: self.__("labels.search"),
          sLengthMenu: self.__("labels.show_dt") + " _MENU_",
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
          paginate: {
            previous: self.__("labels.previous"),
            next: self.__("labels.next"),
          }
        },
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}products`,
          data: {
            category_id: (self.dt_category.length != '')?self.dt_category.id:'',
            subcategory_id: self.dt_subcategory,
            columns: ['products.id','products.name', 'product_categories.name', 'product_sub_categories.name', 'products.id', 'products.id', 'products.is_active', 'products.id'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            return false;
          }
        }
      });
    },
    showDeleteProductModal(productID) {
      this.deleteProductStatus = true;
      this.deleteProductID = productID;
    },  
    closeDeleteProductModal() {
      this.deleteProductStatus = false;
      this.productID = '';
    },
    async deleteProduct() {
      const response = await this.$api.deleteAdminProduct({id: this.deleteProductID});
      if (response.code == 200)
      {
        this.$toaster.success(response.message);
        this.dt_table.ajax.reload();
        this.closeDeleteProductModal();
      }
      else
      {
        this.$toaster.error(response.message);
      }
    },
    reinitTable() {
      this.dt_table.destroy();
      this.initTable();
    },
    redrawTable() {
      this.dt_table.page.len(this.dt_table_length).search(this.dt_table_search).draw();
    },
    selecteAllChanged() {
      this.formData.product_ids = [];
      if (this.selectAll) {
        this.dt_rows.map((row, key) => {
          this.formData.product_ids.push(row.id); 
        });
      }
    },
    async handleFileUpload() {
      if (this.$refs.uploadCSV.files.length > 0) {
        this.productCSVfile = this.$refs.uploadCSV.files[0];
        let formData = new FormData();
        formData.append('csv_file', this.productCSVfile);
        try {
          const upload = await this.$api.uploadProductCSV(formData);
          this.$toaster.success(upload.data.inserted);
          this.$toaster.info(upload.data.updated);
        } catch (error) {
          this.$toaster.error(error.message);
        }
        this.reinitTable();
        this.productCSVfile = '';
        this.$refs.uploadCSV.value = '';
      }
    },
    async exportProductsCSV() {
      try {
        const fileLink = await this.$api.exportProductCSV({ ids: this.formData.product_ids });

        const el = document.getElementById('downloadableLink');
        let linkElement = document.createElement('a')
        linkElement.href = fileLink.link;
        linkElement.download = 'products.csv';
        el.appendChild(linkElement);
        linkElement.click();
        linkElement.remove();
      } catch (error) {
        this.$toaster.error(error.message);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.uploadCSV {
  display: none;
}
.uploadCSVBtn {
  margin-bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.head-text {
  width: 75%;
  @media (max-width: 991px) {
    width: 100%;
  }
}
</style>