<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.reviews') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="card card-default">
        <div class="card-header">{{ __('labels.reviews_listing') }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="table-responsive">
                <table class="table table-condensed table-default" id="dt_table">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase">{{ __('labels.for') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase">{{ __('labels.from') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase" width="10%">{{ __('labels.order_id') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase">{{ __('labels.date') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase">{{ __('labels.state') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase" width="8%"></th>
                    </tr>
                  </thead>
                  <tbody v-if="dt_rows.length > 0">
                    <template v-for="(single_row, key) in dt_rows">
                      <tr v-bind:key="single_row.id">
                        <td class="text-center">{{ single_row.receiver_custom_id }}</td>
                        <td class="text-center">{{ single_row.sender_custom_id }}</td>
                        <td class="text-center">{{ single_row.custom_order_no }}</td>
                        <td class="text-center">{{ single_row.created_at }}</td>
                        <td class="text-center">{{ single_row.is_approved_lbl }}</td>
                        <td class="text-center">
                          <button type="button" class="toggle-btn" v-on:click="toggleComment(key)">
                            <i class="fa fa-3x" :class="(single_row.comment_toggle)?'fa-caret-down':'fa-caret-up'"></i>
                          </button>
                        </td>
                      </tr>
                      <tr v-if="single_row.comment_toggle" v-bind:key="'comment_'+single_row.id">
                        <td colspan="6">
                          <div class="mb-4">
                            <strong>{{ __('labels.stars') }} : <span class="theme-text">{{ single_row.ratings }} / 5.0</span></strong>
                          </div>
                          <div class="mb-2">
                            <strong>{{ __('labels.comment') }} : <span class="theme-text">{{ single_row.comment }}</span></strong>
                          </div>
                          <div class="mb-1 text-right">
                            <button type="button" class="btn btn-outline-success" v-on:click="changeReviewState(single_row.id, 'delete')">{{ __('labels.remove') }}</button>
                            <button type="button" class="btn btn-danger" v-on:click="changeReviewState(single_row.id, 'close')" v-if="single_row.is_approved == 1">
                              {{ __('labels.close') }}
                            </button>
                            <button type="button" class="btn btn-success" v-on:click="changeReviewState(single_row.id, 'publish')" v-if="single_row.is_approved == 1">
                              {{ __('labels.publish') }}
                            </button>
                          </div>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td align="center" colspan="6">
                        <div class="p-4 text-center bg-light">
                          <strong>{{ __('labels.no_records_found') }}</strong>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["panel"],
  data() {
    return {
      form: {
        id: "",
        question: "",
        reply: "",
        state: true,
        order_priority: ""
      },
      dt_table: "",
      dt_rows: []
    };
  },
  created: function() {},
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
  },
  methods: {
    initTable() {
      var self = this;
      let language_url = `${process.env.MIX_LOCAL_APP_URL}public/template/json/datatable/${process.env.MIX_LOCAL_APP_LOCALE}.json`;
      self.dt_table = $("#dt_table").DataTable({
        order: [[3, "desc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        pageLength: 10,
        language: {
          "url": language_url,
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
        },
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}reviews`,
          data: {
            order_status: 2,
            columns: ['receiver.custom_id', 'sender.custom_id', 'orders.custom_order_no', 'user_reviews.created_at', 'user_reviews.is_approved', 'user_reviews.id'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            self.dt_rows.map(row => row.comment_toggle = false );
            return false;
          }
        }
      });
    },
    toggleComment(key) {
      let row = this.dt_rows[key];
      row.comment_toggle = !row.comment_toggle;
      Vue.set(this.dt_rows, key, row);
    },
    changeReviewState(id, action)
    {
      this.$api.changeReviewState({id: id, action: action}).then(response => {
        if (response.code == 200)
        {
          this.$toaster.success(response.message);
          this.dt_table.ajax.reload();
        }
        else
        {
          this.$toaster.error(response.message);
        }
      });
    },
  }
};
</script>
<style scoped>
.toggle-btn
{
  border: 0px;
  background-color: transparent;
  color: #d8ceb5;
}
</style>