<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.menu.terms_and_conditions') }}</h1>
      <button class="btn btn-outline-light" v-on:click="editTerms()">{{ __('labels.modify_term_text') }}</button>
    </div>

    <div class="cusstom__container bg-white">
      <div class="row mt-lg-3">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button class="btn" :class="{'btn-success': activeTnc === 0, 'btn-outline-secondary': activeTnc !== 0}" @click="activeTnc = 0">Productor</button>
          <button class="btn" :class="{'btn-success': activeTnc === 1, 'btn-outline-secondary': activeTnc !== 1}" @click="activeTnc = 1">Agronomía</button>
          <div class="my-3 my-lg-5"></div>
          <h5>{{ activeTnc === 0 ? 'Productor' : 'Agronomía'}} {{ __('labels.terms_and_conditions') }}</h5>
          <div class="tnc-card">
            <div class="text-center pt-5 pb-5" v-if="loading"><spinner variant="success"></spinner></div>
            <p v-else v-html="origionalContent[activeTnc].content"></p>
          </div>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <Modal v-if="editTermsStatus" transition="expand" size="xl" @close="closeEditModal">
        <div slot="header">
          <h6>{{ __('labels.edit_terms_and_conditions') }} {{ activeTnc === 0 ? 'Productor' : 'Agronomía'}}</h6>
        </div>
        <div slot="body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- <textarea class="form-control success" v-model="inputContent" rows="15"></textarea> -->
              <quill-editor v-model="inputContent" :options="editorOption" id="description"></quill-editor>
            </div>
          </div>
        </div>
        <div slot="footer">
          <button class="btn btn-success" v-on:click="saveTerms()">
            {{ __('labels.save') }}
          </button>
        </div>
      </Modal>
    </transition>
  </div>
</template>
<script>
import Modal from "./../../form/modal";
import { quillEditor } from 'vue-quill-editor';

export default {
  props: ["panel"],
  components: { Modal, quillEditor },
  data() {
    return {
      activeTnc: 1, // 0: Productor, 1: agronomia
      loading: false,
      inputContent: '',
      origionalContent: '',
      editTermsStatus: false,
      editorOption: {
        modules: {
          toolbar: [
            [
              'bold', 'italic', 'underline', 'link',
              { 'color': [] }, { 'background': [] },
              { 'align': '' }, { 'align': 'center' }, { 'align': 'right' },
              {'indent': '-1'}, {'indent': '+1'},
              { 'list': 'ordered'}, { 'list': 'bullet' },
              { 'header': [1, 2, 3, 4, 5, 6, false] },
              
              'clean'
            ],
          ],
        }
      }
    }
  },
  created: function() {
    this.getContent();
  },
  methods: {
    getContent() {
      this.loading = true;
      let self = this;
      this.$api.getTnc().then(response => {
        self.loading = false;
        self.origionalContent = response;
      });
    },
    editTerms() {
      this.editTermsStatus = true;
      this.inputContent = this.origionalContent[this.activeTnc].content;
    },
    saveTerms()
    {
      let self = this;
      this.$api.saveTermsAndConditions({content: this.inputContent, id: this.origionalContent[this.activeTnc].id}).then(response => {
        if (response.code == 200)
        {
          self.closeEditModal();
          this.$toaster.success(response.message);
          self.getContent();
        }
        else
        {
          this.$toaster.error(response);
        }
      });
    },
    closeEditModal()
    {
      this.editTermsStatus = false;
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>