<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.transactions') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="card card-default">
        <div class="card-header">{{ __('labels.transactions_list') }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="table-responsive">
                <table class="table table-condensed table-default" id="dt_table">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase">{{ __('labels.date') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase">{{ __('labels.order_de_number') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase">{{ __('labels.my_orders_list.id_agronomia') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase">{{ __('labels.my_orders_list.id_productor') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase">{{ __('labels.state') }}<i class="fa ml-2"></i></th>
                      <th class="text-center text-uppercase" width="10%">{{ __('labels.chat') }}<i class="fa ml-2"></i></th>
                    </tr>
                  </thead>
                  <tbody v-if="dt_rows.length > 0">
                    <template v-for="(single_row, key) in dt_rows">
                      <tr v-bind:key="single_row.id" :class="{'chat_open': single_row.chat_toggle}">
                        <td class="text-center">{{ getformattedDate(single_row.order_date) }}</td>
                        <td class="text-center">
                          <button type="button" class="btn-no-style text-success" v-on:click="showOrder(key)">
                            {{ single_row.custom_order_no }}
                          </button>
                        </td>
                        <td class="text-center">{{ `${single_row.agronomia_custom_id}` }}</td>
                        <td class="text-center">{{ `${single_row.producer_custom_id}` }}</td>
                        <td class="text-center">
                          {{ single_row.order_status === 1 ? __('labels.admin_pending_for_approval') : single_row.order_status === 2 ? __('labels.approved') : __('labels.rejected') }}
                        </td>
                        <td class="text-center">
                          <div class="d-flex">
                            <div class="d-flex justify-content-center align-items-center">
                              <span class="mr-2"> {{ __('labels.inactive') }} </span>
                              <toggle-button @change="changeChatState(single_row.id, $event, key)" :value="single_row.chat_status_boolean" :width="65" :height="25" :sync="true" class="mb-0" :disabled="single_row.order_status != 2" />
                              <span class="ml-2">{{ __('labels.active') }}</span>
                              <!-- <router-link to="/chat" class="chat-toggle-btn">
                                <i class="fa fa-3x fa-caret-up"></i>
                              </router-link> -->
                            </div>
                            <button type="button" class="chat-toggle-btn" v-on:click="toggleChat(key)">
                              <i class="fa fa-3x" :class="(single_row.chat_toggle)?'fa-caret-down':'fa-caret-up'"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                      <tr v-if="single_row.chat_toggle" v-bind:key="`${single_row.id}_chat`">
                        <td colspan="6">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 chat-screen" id="chatScreen">
                              <div v-if="single_row.chat_data.messages.length === 0" class="text-center py-3">
                                <strong>{{ __('labels.no_records_found') }}</strong>
                              </div>
                              <template v-for="message in single_row.chat_data.messages">
                                <!-- PRODUCTOR's message RIGHT -->
                                <div class="container right" v-if="single_row.agronomia_id == message.sender_id" v-bind:key="`message_${message.id}`">
                                  <p class="darker">
                                    {{ message.text }}
                                  </p>
                                  <!-- <img :src="single_row.chat_data.sender_avtar" alt="Avatar"> -->
                                  <div class="chat-user-detail producer ml-3">
                                    <h6 class="mb-0"> {{ single_row.producer_custom_id }} </h6>
                                    <small>{{ getFormattedDate(message.created_at) }} </small>
                                    <small>{{ getFormattedTime(message.created_at) }} hrs.</small>
                                  </div>
                                </div>
                                <!-- AGRONOMIA's message LEFT -->
                                <div class="container" v-else v-bind:key="`message_${message.id}`">
                                  <!-- <img :src="single_row.chat_data.receiver_avtar" alt="Avatar"> -->
                                  <div class="chat-user-detail agronomia text-success-dark mr-3">
                                    <h6 class="mb-0"> {{ single_row.agronomia_custom_id }} </h6>
                                    <small>{{ getFormattedDate(message.created_at) }} </small>
                                    <small>{{ getFormattedTime(message.created_at) }} hrs.</small>
                                  </div>
                                  <p>
                                    {{ message.text }}
                                  </p>
                                </div>
                              </template>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                      
                  <tbody v-else>
                    <tr>
                      <td colspan="6">
                        <div class="p-4 text-center bg-light">
                          <strong>{{ __('labels.admin_no_transactions_found') }}</strong>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="orderModalStatus"  @close="closeOrderModal">
      <div slot="header">
        <h6 class="text-success">{{ `${modal.order_number}` }}</h6>
      </div>
      <div slot="body">
        <strong> {{ __('labels.product') }} </strong>
        <p class="mb-2">{{ modal.product_name }}</p>
        
        <strong> {{ __('labels.quantity') }} </strong>
        <p class="mb-2">{{ modal.ordered_quantity }} {{ modal.unit_of_measure }}</p>

        <strong> {{ __('labels.date') }} </strong>
        <p class="mb-2">{{ modal.order_date }}</p>

        <strong> {{ __('labels.amount') }} </strong>
        <p class="mb-2">{{ modal.total_price }} USD</p>
      </div>
    </Modal>
  </div>
</template>
<script>
import Modal from "./../../form/modal";
import moment from 'moment-timezone';
export default {
  props: ["panel"],
  components: { Modal },
  data() {
    return {
      orderModalStatus: false,
      modal: {
        order_number: "",
        product_name: "",
        ordered_quantity: "",
        order_date: "",
        total_price: "",
        unit_of_measure: "",
      },
      dt_table: "",
      dt_rows: [],
      user: JSON.parse(localStorage.getItem('user'))
    };
  },
  created: function() {},
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
    
    this.initTable();
    let pusher = new Pusher('7c9bdd9952c4e6f70a14', {
      cluster: 'ap2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');

    channel.bind('order-chat-message-sent', data => this.pusherCallback(data));

    //channel.bind('order-chat-message-read', data => this.pusherCallback(data)); this feature disabled for now
  },
  methods: {
    getFormattedDate(date) {
      return moment(date, 'DD-MM-YYYY HH:mm:ss').format('DD/MM/YYYY');
    },
    getFormattedTime(datetime) {
      return moment(datetime, 'DD-MM-YYYY HH:mm:ss').format('HH:mm');
    },
    initTable() {
      var self = this;
      self.dt_table = $("#dt_table").DataTable({
        order: [[0, "asc"]],
        processing: true,
        serverSide: true,
        bAutoWidth: false,
        pageLength: 10,
        language: {
          search: "",
          searchPlaceholder: self.__("labels.search"),
          sLengthMenu: self.__("labels.show_dt") + " _MENU_",
          info: self.__("labels.showing_page") + " _PAGE_ de" + " _PAGES_",
          infoEmpty: self.__("labels.no_records_found"),
          paginate: {
            previous: self.__("labels.previous"),
            next: self.__("labels.next"),
          }
        },
        ajax: {
          url: `${process.env.MIX_LOCAL_ADMIN_API_URL}orders`,
          data: {
            columns: ['orders.created_at', 'orders.id', 'agronomia.business_name', 'producer.business_name', 'orders.order_status', 'orders.agronomia_chat_status'],
          },
          type: "POST",
          dataType: "json",
          error: function(data) {
            console.log(data.responseText);
          },
          headers: {
            "X-CSRF-TOKEN": document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content")
          },
          dataSrc: function(json) {
            self.dt_rows = json.data;
            self.dt_rows.map(row => {
              row.chat_toggle = false;
              row.chat_data   = [];
              row.chat_status_boolean = (row.master_chat_status == 1)?true:false;
            });
            return false;
          }
        }
      });
    },
    changeChatState(id, event, key) {
      // CHANGE BUTTON STATUS
      let row = this.dt_rows[key];
      row.chat_status_boolean = !row.chat_status_boolean;
      Vue.set(this.dt_rows, key, row);
      
      this.$api.changeChatState({order_id: id}).then(response => {
        if (response.code == 200)
        {
          this.$toaster.success(response.message);
        }
        else
        {
          this.$toaster.error(response.message);
        }
      });
    },
    toggleChat(key) {

      // CHANGE CURRENT ROW TOGGLE STATUS
      // let row = this.dt_rows[key];
      // row.chat_toggle = !row.chat_toggle;

      this.dt_rows.map((mappedRow, mappedKey) => {
        // CLOSE ALL OTHER CHATS
        if (mappedKey != key) {
          mappedRow.chat_toggle = false;
          mappedRow.chat_data = [];
        } else {
          // CHANGE CURRENT ROW TOGGLE STATUS
          mappedRow.chat_toggle = !mappedRow.chat_toggle;
        }
      });

      let row = this.dt_rows[key];
      const agronomia_custom_id = row.agronomia_custom_id;
      const producer_custom_id = row.producer_custom_id;

      if(row.chat_toggle) // IF CURRENT ROW TOGGLE STATUS IS OPEN
      {
        // FETCH CHAT MESSAGES
        this.$api.retriveOrderChatMessages({order_id: this.dt_rows[key].id}).then(response => {
          if(response.code == 200)
          {
            row.chat_data = response.data;
            if (row.chat_data.sender_id === agronomia_custom_id) {
              row.chat_data.sender_user_type = 1;
              row.chat_data.receiver_user_type = 2;
            } else {
              row.chat_data.receiver_user_type = 1;
              row.chat_data.sender_user_type = 2;
            }
            Vue.set(this.dt_rows, key, row);
            this.chatScrollToBottom();
          }
          else
          {
            this.$toaster.error(response.message);
          }
        });
      }
      else // IF CURRENT ROW TOGGLE STATUS IS CLOSED
      {
        row.chat_data = [];
        Vue.set(this.dt_rows, key, row);
      }
    },
    pusherCallback(data) {
      this.dt_rows.map((row, key) => {
        if(row.chat_toggle == true && row.id == data.order_id)
        {
          row.chat_data.messages.push(data);
          Vue.set(this.dt_rows, key, row);
          this.chatScrollToBottom();
        }
      });
    },
    chatScrollToBottom() {
      //WAIT UNTIL CHAT IS SCREEN IS GENERATING
      setTimeout(() => {
        var elem = document.getElementById('chatScreen');
        elem.scrollTop = elem.scrollHeight;
      }, 200);
    },
    getChat_title(order) {
      let text = this.__('labels.chat_title');
      text = text.replace(':producer', `<b>${order.producer_custom_id}</b>`);
      text = text.replace(':order_no', `<b>Nro ${order.id}</b>`);
      return text;
    },
    showOrder(key) {
      this.modal = {
        order_number: this.dt_rows[key].custom_order_no,
        product_name: this.dt_rows[key].product_name,
        ordered_quantity: this.dt_rows[key].ordered_quantity,
        order_date: this.getformattedDate(this.dt_rows[key].order_date),
        total_price: this.dt_rows[key].total_price,
        unit_of_measure: this.dt_rows[key].unit_of_measure,
      };
      this.orderModalStatus = true;
    },
    closeOrderModal()
    {
      this.orderModalStatus = false;
    },
    getformattedDate(date) {
      return moment(date, 'DD-MM-YYYY HH:mm:ss').format('DD/MM/YYYY HH:mm:ss');
    }
  }
};
</script>
<style lang="scss" scoped>
.chat-toggle-btn
{
  border: 0px;
  background-color: transparent;
  color: #d8ceb5;
}
.chat-user-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    small {
      font-weight: 600;
      font-size: 75%;
    }
    &.agronomia {
      color: #40875b
    }
    &.producer {
      color: #83734F;
    }
}
::v-deep .modal-body {
  margin-top: 0;
}
</style>