<template>
  <div>
    <div class="container-fluid bg__for_cantainer">
      <div class="d-none d-lg-flex align-items-center justify-content-between cusstom__header mb-4">
        <h1 class="h3 mb-0 text-white font__custom">&nbsp;</h1>
      </div>
      <div class="cusstom__container" :class="[{'alert-success d-flex justify-content-center align-items-center': orderPlaced}, {'bg-white': !orderPlaced}]">
        <router-link v-if="!orderPlaced && !showCheckout" :to="lastPath" class="btn back-button"><span></span></router-link>
        <div class="my-4 my-sm-0"></div>
        <!-- Showing vendor list -->
        <div v-if="!orderPlaced && !showCheckout">
          <h4 class="d-none d-sm-block text-center text-success-dark title mb-2" >{{ __('labels.vendor_search_list.title') }}</h4>
          
          <p class="d-none d-sm-block subtitle text-center text-success-dark mb-5">{{ producto_general.name }}</p>
          
          <div class="mx-xl-5 px-xl-5 mt-3 mt-sm-0">
            <div class="row">
              <div class="col-6 col-sm-6 col-xl-4 col-xxl-3" v-for="vendor in products" :key="vendor.id">
                <div class="vendor-card">
                  <div class="position-relative">
                    <div class="vendor-card__avatar mb-3">
                      <img :src="vendor.avtar_path" :alt="vendor.avtar_path" />
                    </div>
                    <span class="absolute_verified_icon" v-if="vendor.is_verified">
                      <img :src="`${APP_URL}public/template/images/verified-icon.png`" />
                    </span>
                  </div>
                  <p class="mb-2 text-center">
                    <strong>{{ vendor.locality_name }}, {{ vendor.province_name }}</strong>
                  </p>
                  <p class="text-center">
                    <strong>{{ vendor.product_name }}</strong>
                  </p>
                  <p class="text-center">
                    <strong>{{ __('labels.vendor_search_list.quantity') }}</strong>
                    <small>{{ `${quantity} ${vendor.unit_of_measure}` }}</small>
                  </p>
                  <p class="text-center">
                    <strong>{{ __('labels.vendor_search_list.total_price') }} {{ vendor.total_price }} USD</strong>
                  </p>
                  <p class="text-center">
                    <strong>{{ __('labels.vendor_search_list.delivery_date') }}</strong>
                    <small>{{ getDeliveryDate(vendor.delivery_date) }}</small>
                  </p>

                  <Rating class="my-2" :rating="Number(vendor.rating)" @click.native="getAgronomiaReviews(vendor.id)" />

                  <button
                    class="mt-2 btn btn-success px-4 px-xl-5"
                    @click="selectVendor(vendor)"
                    v-if="user.step_2"
                  >{{ __('labels.vendor_search_list.buy_button') }}</button>

                  <router-link
                    :to="{name: 'complete_registeration', query: {
                      producto_general_id: query.producto_general_id,
                      required_quantity: query.required_quantity,
                      payment_method: query.payment_method,
                      geolocation: query.geolocation,
                      date_of_delivery: query.date_of_delivery,
                      agronomia_id: vendor.agronomia_id,
                      product_id: vendor.product_id,
                    }}"
                    class="mt-2 btn btn-success px-4 px-xl-5"
                    v-else
                    >{{ __('labels.vendor_search_list.buy_button') }}</router-link>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid" v-if="showCheckout && !orderPlaced">
          <h4 class="text-center text-success-dark title mb-4 mb-xl-2" >{{ __('labels.place_order_modal.title') }}</h4>
          <div class="d-none d-sm-block my-sm-4">&nbsp;</div>
          <div class="row flex-column align-items-center">
            <div class="col-sm-12 col-xxl-6">
              <div class="row flex-column flex-sm-row align-items-center align-items-sm-start justify-content-sm-center">
                <div class="col">
                  <div class="d-flex flex-column align-items-center text-center ml-sm-5">
                    <div class="position-relative">
                      <div class="modal-left__avatar mb-3">
                        <img :src="selectedVendor.avtar_path" :alt="selectedVendor.locality_name" />
                      </div>
                      <span class="absolute_verified_icon" v-if="selectedVendor.is_verified" style="bottom: 26px;">
                        <img :src="`${APP_URL}public/template/images/verified-icon.png`" />
                      </span>
                    </div>
                    <strong class="text-success-dark">{{ selectedVendor.locality_name }}, {{ selectedVendor.province_name }}</strong>
                    <Rating class="my-2" :rating="Number(selectedVendor.rating)"  @click.native="getAgronomiaReviews(selectedVendor.id)" />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="modal-right product-detail d-flex flex-column text-center text-sm-left">
                    <p>
                      <strong>{{ selectedVendor.product_name }}</strong>
                    </p>
                    <p>
                      <strong class="text-uppercase">{{ __('labels.vendor_search_list.quantity') }}</strong>
                      <small>{{ `${quantity} ${selectedVendor.unit_of_measure}` }}</small>
                    </p>
                    <p>
                      <strong class="text-uppercase">{{ __('labels.vendor_search_list.delivery_date') }}</strong>
                      <small>{{ selectedVendor.delivery_date }}</small>
                    </p>
                    <p>
                      <strong class="text-uppercase">{{ __('labels.vendor_search_list.total_price') }} {{ selectedVendor.total_price }} USD</strong>
                    </p>
                    <p class="form-inline justify-content-center justify-content-sm-start">
                      <strong class="text-uppercase mr-2">{{ __('labels.vendor_search_list.way_to_pay') }}</strong>
                      <span v-if="changePaymentMethodsVisible" class="d-flex align-items-end">
                        <select class="form-control" v-model="payload.payment_method" style="max-width: 125px">
                          <option :value="item.id" v-for="(item, index) in selectedVendor.payment_methods" :key="index">{{ item.name }}</option>
                        </select>
                        <a href="#" class="text-success ml-2" @click.prevent="savePaymentMethod()">{{ __('labels.save') }}</a>
                      </span>
                      <span v-else> 
                        <small>{{ paymentMethod.name }}</small>
                        <a href="#" class="text-success ml-2" @click.prevent="showPaymentMethods()">{{ __('labels.vendor_search_list.change') }}</a>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="my-4 my-sm-5"></div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-outline-success rounded-pill mr-2" @click="closeVendorModal()" >{{ __('labels.cancel') }}</button>
              <button class="btn btn-success rounded-pill ml-2" @click="placeOrder()" >{{ __('labels.vendor_search_list.place_order') }}</button>
            </div>
          </div>
        </div>

        <!-- If order placed -->
        <div v-if="orderPlaced" class="success-message">
          <h4 class="mb-4"><i class="inverted-exclamation">!</i>{{ __('labels.order_placed.title') }}</h4>
          <p>{{ __('labels.order_placed.para1') }}</p>
          <p>{{ __('labels.order_placed.para2') }}</p>
          <div class="my-4" />
          <router-link
            to="/"
            class="mt-3 btn btn-success rounded-pill"
          >{{ __('labels.order_placed.new_order_btn') }}</router-link>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <Modal v-if="showAgronomiaReviews" @close="showAgronomiaReviews = false">
        <div slot="body">
          <!-- approved and rejected order counts -->
          <div class="orders-count mb-4 font-weight-bold">
            <h6 class="d-flex justify-content-between">
              {{ __('labels.my_reviews.ventas_concretadas') }}: <span class="text-success-dark">{{ agronomiaReviews.approved_orders }}</span>
            </h6>
            <h6 class="d-flex justify-content-between">
              {{ __('labels.my_reviews.ventas_canceladas') }}: <span class="text-success-dark">{{ agronomiaReviews.cancelled_orders }}</span>
            </h6>
          </div>

          <h6>{{ __('labels.my_reviews.comentarios') }} {{ agronomiaReviews.reviews.length > 0 ? `(${agronomiaReviews.reviews.length})` : '' }}:</h6>
          <div class="comments px-2 py-3">
              <p class="my-5 text-center font-weight-bold text-secondary" v-if="agronomiaReviews.reviews.length === 0">
                {{ __('labels.my_reviews.no_comments') }}
              </p>
              <p class="comment" v-for="review in agronomiaReviews.reviews" :key="review.id">
                <q>{{ review.comment }}</q>
                <span class="comment-author text-secondary">
                  - {{ review.user_business_name }}
                </span>
              </p>
          </div>

          <div class="my-4" />
          <div class="d-flex justify-content-between align-items-center">
            <span class="font-weight-bold" style="max-width: 4rem"> <span class="text-uppercase">{{ __('labels.my_reviews.puntaje') }}</span>: {{agronomiaReviews.average_rating}} {{ __('labels.my_reviews.de') }} 5</span>
            <Rating :rating="agronomiaReviews.average_rating" class="Ratings" />
          </div>
        </div>
      </Modal>
    </transition>
  </div>
</template>

<script>
import Vue from 'vue';
import Rating from "./../../../../form/ratings.vue";
import Modal from "./../../../../form/modal.vue";
import moment from 'moment-timezone';

export default {
  name: "vendor_list",
  components: { Rating, Modal },
  data() {
    return {
      APP_URL: process.env.MIX_LOCAL_APP_URL,
      orderPlaced: false,
      showCheckout: false,
      user: {},
      selectedVendor: {},
      products: [],
      payment_methods: [],
      payload: {},
      changePaymentMethodsVisible: false,
      showAgronomiaReviews: false,
      agronomiaReviews: {},
      lastPath: '/',
      producto_general: {},
      query: {
        producto_general_id: '',
        required_quantity: '',
        payment_method: '',
        geolocation: '',
        date_of_delivery: '',
        agronomia_id: '',
        product_id: '',
      },
    };
  },
  beforeCreate: function() {
    document.body.style.backgroundColor = "#fff";
    document.body.style.display = "block";
    document.body.style.paddingTop = "0px";
    document.body.className = "toggled panel";
  },
  async created() {

    // get param
    this.query.producto_general_id = this.$route.query.producto_general_id;
    this.query.required_quantity   = this.$route.query.required_quantity;
    this.query.payment_method      = this.$route.query.payment_method;
    this.query.geolocation         = this.$route.query.geolocation;
    this.query.date_of_delivery    = this.$route.query.date_of_delivery;

    if(this.$route.query.agronomia_id != undefined
        && this.$route.query.agronomia_id != '') {
      this.query.agronomia_id = this.$route.query.agronomia_id;
    }

    if(this.$route.query.product_id != undefined
        && this.$route.query.product_id != '') {
      this.query.product_id = this.$route.query.product_id;
    }

    // get user
    this.user = await this.$api.getMyProfile();

    // set order place as false
    this.orderPlaced = false;

    // get general product
    this.producto_general = await this.$api.producto_general_name(this.query.producto_general_id);

    // prepare payload
    this.payload = {
      producto_general_id: parseInt(this.query.producto_general_id),
      required_quantity:   parseInt(this.query.required_quantity),
      payment_method:      parseInt(this.query.payment_method),
      geolocation:         parseInt(this.query.geolocation),
      date_of_delivery:    this.query.date_of_delivery
    };
    try {

      // get product
      this.products = await this.$api.list_producto_generals(this.payload);

      // get payment methods
      this.payment_methods = await this.$api.getPaymentMethods(); 

      if(this.query.agronomia_id != '' && this.query.product_id != '') {
        this.products.map(vendor => {
          if(vendor.agronomia_id == this.query.agronomia_id
              && vendor.product_id == this.query.product_id)
          {
            this.selectVendor(vendor)
          }
        });
      }

    } catch (error) {
      this.$toaster.error(error.message);
    }
  },
  computed: {
    quantity() {
      return this.payload.required_quantity;
    },
    paymentMethod() {
      const p = this.payment_methods.filter(m => m.id === this.payload.payment_method);
      return p[0];
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.lastPath = from.fullPath;
    });
  },
  methods: {
    setFullPath(path) {
      console.log(path);
    },
    getDeliveryDate(date) {
      return moment(date, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    showPaymentMethods() {
      this.payload.payment_method = this.paymentMethod.id;
      this.changePaymentMethodsVisible = true;
    },
    savePaymentMethod() {
      this.changePaymentMethodsVisible = false;
    },
    newOrder() {
      this.products = [];
      this.orderPlaced = false;
    },
    selectVendor(vendor) {
      this.selectedVendor = vendor;
      
      this.showCheckout = true;
    },
    closeVendorModal() {
      this.selectedVendor = {};
      this.showCheckout = false;
    },
    async placeOrder() {
      const payload = {
        agronomia_id: this.selectedVendor.agronomia_id,
        product_id: this.selectedVendor.product_id,
        required_quantity: this.quantity,
        payment_method: this.paymentMethod.id,
        geolocation: this.$route.query.geolocation,
        date_of_delivery: this.selectedVendor.delivery_date
      };

      try {
        await this.$api.placeOrder(payload);
        this.orderPlaced = true;
      } catch (err) {
        this.$toaster.error(err.message);
      }
    },
    async getAgronomiaReviews(id) {
      try {
        this.agronomiaReviews = await this.$api.getReviewsByUser({user_id: id});
        this.showAgronomiaReviews = true;
      } catch (error) {
        this.$toaster.error(err.message);
      }
    }
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
};
</script>
<style lang="scss" scoped>
.absolute_verified_icon {
  position: absolute;
  bottom: 20px;
  right: 0;
  @media (max-width: 576px) {
    bottom: 10px;
    right: -10px;
  }
}
.alert-success {
  background-color: #e1f1e6;
}
.title {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: -0.5px;
}
.vendor-cards-list {
  max-width: 1170px;
  margin: 0 auto;
}
.vendor-card {
  padding: 20px 22px;
  box-shadow: 0 0px 9px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 30px;
  @media (max-width: 576px) {
    border-radius: 13px;
    padding: 20px 5px;
    margin-bottom: 10px;
  }
  &__avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #36714a;
    @media (max-width: 576px) {
      width: 90px;
      height: 90px;
    }
    img {
      width: 100%;
    }
  }
  p {
    margin-bottom: 0;
    font-size: 0.8rem;
    @media (max-width: 576px) {
      font-size: 0.7rem;
    }
    small {
      font-size: 85%;
    }
  }
}
.modal-left {
  max-width: 210px;
  &__avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #36714a;
    img {
      width: 100%;
    }
  }
  .star {
    margin: 0 3px;
    i {
      font-size: 1.5rem;
    }
  }
}
.modal-right {
  &.product-detail {
    p {
      margin-bottom: 15px;
      @media(max-width: 576px) {
        margin-bottom: 8px;
      }
    }
  }
}
.success-message {
  max-width: 425px;
  color: #434343;
  text-align: center;
  p {
    font-size: 1rem;
  }
}
.btn.rounded-pill {
  border-radius: 50rem !important;
}

/* Agronomia Reviews */
.orders-count {
  width: 300px;
  @media (max-width: 576px) {
    width: 100%;
  }
  & > h6 {
    padding: 18px 0;
    padding-right: 100px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    @media (max-width: 576px) {
      padding-right: 60px;
    }
  }
}
.comments {
  max-height: 250px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  .comment {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-style: italic;
    &:last-of-type {
      border: none;
    }
    &-author {
      display: block;
      margin: 0 6px;
      font-size: 80%;
    }
    q {
      font-size: 0.9rem;
    }
  }
}
::v-deep {
  .star {
    i {
      font-size: 1.8rem;
      @media (max-width: 576px) {
        font-size: 1.2rem;
      }
    }
  }
  .modal-body {
    margin-top: 0;
  }
}
</style>
