<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.search') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <Search_vendor :payment_methods="payment_methods" :geolocations="geolocations" />
    </div>
  </div>
</template>

<script>
import Search_vendor from "./Search_vendor.vue";

export default {
  name: "ProductorDashboard",
  components: {
    Search_vendor
  },
  data() {
    return {
      payment_methods: [],
      geolocations: [],
      vendors: [],
      product: {},
    };
  },
  async created() {
    this.orderPlaced = false;
    try {
      this.payment_methods = await this.$api.getPaymentMethods();
      this.geolocations = await this.$api.getGeolocation();
    } catch (error) {
      console.log(error.message);
    }
  },
  methods: {
    newOrder() {
      this.vendors = [];
      this.product = {};
      this.orderPlaced = false;
    },
    orderPlacedSuccess() {
      this.orderPlaced = true;
    }
  }
};
</script>
<style lang="scss" scoped>
.alert-success {
  background-color: #E1F1E6;
}
</style>
