<template>
  <div>
    <h4 class="text-center text-success-dark title mb-4">
      <i class="inverted-exclamation">!</i>{{ __('labels.vendor_search_form.title') }}
    </h4>
    <div class="row justify-content-center form-wrapper">

      <div class="col-12">
        <form @submit.prevent="submitVendorSearch()" class="mt-5">

          <!-- Product Input -->
          <div class="form-group">
            <div class="input-group">
              <vueSelectAutocomplete
                class="full-width"
                searchEndpoint="searchProductoGenerals"
                v-model="formData.productoGeneral"
                :placeholder="__('labels.vendor_search_form.search_product_placeholder')"
                @selectSuggetion="productoGeneralSelected"
              />
              <div class="input-group-append tail">
                <span class="input-group-text search" id="basic-addon2"><i class="fas fa-search"></i></span>
              </div>
            </div>
            <p class="form-error" v-if="formErrors">{{formErrors.productoGeneral}}</p>
          </div>
          <!-- End of Product Input -->

          <div class="d-inline-block my-3" />

          <p class="text-center subtitle">{{ __('labels.vendor_search_form.subtitle') }}</p>

          <!-- Quantity Input -->
          <div class="form-group">
            <div class="input-group quantity">
              <div class="input-group-append">
                <span class="input-group-text text-success-dark" id="quantity-icon" :style="{backgroundImage: `url('${getImageUrl('public/template/images/ke_insumos_cantidad.png')}')` }" />
              </div>
              <input
                type="number"
                class="form-control"
                :placeholder="__('labels.vendor_search_form.quantity')"
                aria-describedby="quantity-icon"
                v-model="formData.quantity"
                :disabled="!formData.productoGeneral.id"
              />
              <div class="input-group-append tail" v-if="formData.productoGeneral.id">
                <span class="input-group-text">{{ formData.productoGeneral.unit_of_measure }}</span>
              </div>
            </div>
            <p class="form-error" v-if="formErrors.quantity">{{formErrors.quantity}}</p>
          </div>
          <!-- End of Quantity Input -->

          <div class="d-inline-block mb-2" />

          <!-- Delivery Date -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text text-success-dark" id="delivery-date-icon" :style="{backgroundImage: `url('${getImageUrl('public/template/images/ke_insumos_fecha.png')}')` }" />
              </div>
              <datepicker
                inputClass="success-datepicker form-control"
                format="dd-MM-yyyy"
                v-model="formData.deliveryDate"
                :clearButton="true"
                clear-button-icon="fa fa-times"
                wrapperClass="position-relative vue-calendar"
                :bootstrap-styling="true"
                :disabled="!formData.productoGeneral.id"
                :placeholder="__('labels.vendor_search_form.delivery_date_placeholder')"
                :disabled-dates="{to: getYesterday()}"
              ></datepicker>
              <div class="input-group-append tail mr-2" v-if="!formData.deliveryDate">
                <span class="input-group-text"><i class="fas fa-caret-down text-success"></i></span>
              </div>
            </div>
            <p class="form-error" v-if="formErrors.deliveryDate">{{formErrors.deliveryDate}}</p>
          </div>
          <!-- End of Delivery Date -->

          <div class="d-inline-block mb-2" />

          <!-- Payment Methods -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text text-success-dark" id="delivery-date-icon" :style="{backgroundImage: `url('${getImageUrl('public/template/images/ke_insumos_forma-de.png')}')` }" />
              </div>
              <select v-model="formData.paymentMethod" class="form-control text-uppercase hidden__arrow" :disabled="!formData.productoGeneral.id">
                <option value>{{ __('labels.vendor_search_form.payment_method') }}</option>
                <option
                  v-for="method in payment_methods"
                  v-bind:key="method.id"
                  :value="method.id"
                >{{ method.name }}</option>
              </select>
              <div class="input-group-append tail mr-2">
                <span class="input-group-text"><i class="fas fa-caret-down text-success"></i></span>
              </div>
            </div>
            <p class="form-error" v-if="formErrors.paymentMethod">{{formErrors.paymentMethod}}</p>
          </div>
          <!-- End of Payment Methods -->

          <div class="d-inline-block mb-2" />

          <!-- Geo Location -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-append">
                <span
                  class="input-group-text text-success-dark"
                  id="geolocation-icon"
                  :style="{backgroundImage: `url('${getImageUrl('public/template/images/ke_insumos_location-marker.png')}')` }"
                />
              </div>
              <select
               class="form-control text-uppercase hidden__arrow"
               :disabled="!formData.productoGeneral.id"
               v-model="formData.geolocation"
               @change="openLocationPage()">
                <option value="">{{ __('labels.vendor_search_form.i_want_it_in_choose_location') }}</option>
                <template v-if="geolocations.length > 0">
                  <option v-for="geolocation in geolocations" v-bind:key="geolocation.id" :value="geolocation.id">
                    {{ geolocation.name }}
                  </option>
                </template>
                <template v-else>
                  <option value="+">{{ __('labels.vendor_search_form.add_my_first_location') }}</option>
                </template>
              </select>
              <div class="input-group-append tail mr-2">
                <span class="input-group-text"><i class="fas fa-caret-down text-success"></i></span>
              </div>
            </div>
            <p class="form-error" v-if="formErrors.geolocation">{{formErrors.geolocation}}</p>
          </div>
          <!-- End of Geo Location -->

          <div class="d-inline-block mb-2" />

          <!-- Search Button -->
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn rounded-pill btn-success">{{ __('labels.search') }}</button>
          </div>
          <!-- End of Search Button -->

        </form>
      </div>
    </div>

    <!-- NO VENDORS FOUND MODAL -->
    <transition name="fade" mode="out-in">
      <Modal v-if="noVendorsModal">
        <div slot="body">
          <div class="row mb-3" :style="{paddingRight: '5%', paddingLeft: '5%'}">
            <div class="col-md-12 text-center" :style="{fontWeight: 'bold'}">
              {{ __('labels.vendor_search_form.oops_there_are_no_agronomies_that_match_your_search') }}
            </div>
          </div>
          <div class="row mb-2" :style="{paddingRight: '5%', paddingLeft: '5%'}">
            <div class="col-md-12 text-center" :style="{fontWeight: 'bold'}">
              {{ __('labels.vendor_search_form.please_try_again') }}
            </div>
          </div>
          <div class="row" :style="{paddingRight: '5%', paddingLeft: '5%'}">
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-success" v-on:click="closeNoVendorsModal">
                <b>{{ __('labels.vendor_search_form.new_search') }}</b>
              </button>
            </div>
          </div>
        </div>
      </Modal>
    </transition>
    <!-- END OF NO VENDORS FOUND MODAL -->
  </div>
</template>
<script>
import vueSelectAutocomplete from "./../../../../form/vue-select-autocomplete.vue";
import Datepicker from "vuejs-datepicker";
import Modal from "./../../../../form/modal";
import moment from "moment-timezone";
export default {
  name: "Search_vendor",
  components: {
    vueSelectAutocomplete,
    Datepicker,
    Modal
  },
  props: {
    payment_methods: {
      type: Array,
      required: false,
      default: []
    },
    geolocations: {
      type: Array,
      required: false,
      default: function() {
        return [];
      }
    }
  },
  data() {
    return {
      formErrors: {
        productoGeneral: "",
        deliveryDate: "",
        quantity: "",
        paymentMethod: "",
        geolocation: "",
      },
      formData: {
        productoGeneral: {},
        deliveryDate: '',
        quantity: '',
        paymentMethod: '',
        geolocation: '',
      },
      noVendorsModal: false,
    };
  },
  beforeCreate: function() {
    document.body.style.backgroundColor = "#fff";
    document.body.style.display = "block";
    document.body.style.paddingTop = "0px";
    document.body.className = "toggled panel";
  },
  async created() {

    // set form default values from url
    if(this.$route.query.producto_general_id != undefined
        && this.$route.query.producto_general_id != '') {

      const product = await this.$api.producto_general_name(this.$route.query.producto_general_id);
      
      if(product) {
        this.formData.productoGeneral = product;

        if(this.$route.query.required_quantity != undefined
            && this.$route.query.required_quantity != '') {
          this.formData.quantity = this.$route.query.required_quantity;
        }

        if(this.$route.query.payment_method != undefined
            && this.$route.query.payment_method != '') {
          this.formData.paymentMethod = this.$route.query.payment_method;
        }

        if(this.$route.query.date_of_delivery != undefined
            && this.$route.query.date_of_delivery != '') {
          this.formData.deliveryDate = moment(this.$route.query.date_of_delivery, 'DD-MM-YYYY');
        }
      }
    }
  },
  methods: {
    getYesterday() {
      return new Date(moment().subtract(1, 'days'));
    },
    getImageUrl(image) {
      return `${process.env.MIX_LOCAL_APP_URL}${image}`;
    },
    productoGeneralSelected(item) {
      this.formData.productoGeneral = item;
    },
    async submitVendorSearch() {
      if (this.validateVendorForm()) {
        const payload = {
          producto_general_id: this.formData.productoGeneral.id,
          required_quantity: this.formData.quantity,
          payment_method: this.formData.paymentMethod,
          geolocation: this.formData.geolocation,
          date_of_delivery: moment(this.formData.deliveryDate).format("DD-MM-YYYY")
        };

        try {
          const vendors = await this.$api.list_producto_generals(payload);

          if (vendors.length > 0) {
            this.$router.push({
              path: '/lista-de-productos',
              query: payload
            });
          }
        } catch (error) {
          this.noVendorsModal = true;
        }
      }
    },
    validateVendorForm() {
      let hasError = false;
      if (!this.formData.productoGeneral.id) {
        hasError = true;
        this.formErrors.productoGeneral = this.__(
          "labels.vendor_search_form.product_error"
        );
      } else {
        this.formErrors.product = "";
      }

      if (!this.formData.quantity) {
        hasError = true;
        this.formErrors.quantity = this.__(
          "labels.vendor_search_form.quantity_error"
        );
      } else {
        this.formErrors.quantity = "";
      }

      if (!this.formData.deliveryDate) {
        hasError = true;
        this.formErrors.deliveryDate = this.__(
          "labels.vendor_search_form.delivery_date_error"
        );
      } else {
        this.formErrors.deliveryDate = "";
      }

      if (!this.formData.paymentMethod) {
        hasError = true;
        this.formErrors.paymentMethod = this.__(
          "labels.vendor_search_form.payment_method_error"
        );
      } else {
        this.formErrors.paymentMethod = "";
      }

      if (!this.formData.geolocation) {
        hasError = true;
        this.formErrors.geolocation = this.__(
          "labels.vendor_search_form.geolocation_error"
        );
      } else {
        this.formErrors.geolocation = "";
      }

      return !hasError;
    },
    closeNoVendorsModal() {
      this.noVendorsModal = false;
    },
    openLocationPage() {
      // redirect to add location page
      if(this.formData.geolocation == "+") {

        const payload = {
          producto_general_id: this.formData.productoGeneral.id,
          required_quantity: this.formData.quantity,
          payment_method: this.formData.paymentMethod,
          date_of_delivery: (this.formData.deliveryDate != '') ? moment(this.formData.deliveryDate).format("DD-MM-YYYY") : '',
        };

        this.$router.push({
          path: '/agregar-ubicación',
          query: payload
        });
      }
    },
  },

};
</script>
<style lang="scss" scoped>
.title {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: -0.5px;
}
.subtitle {
  font-size: 0.9rem;
  font-weight: 700;
}
.form-wrapper {
  max-width: 350px;
  margin: 0 auto;
}
.form-error {
  padding-left: 45px;
}
.input-group {
  align-items: center;
}
.input-group-text {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0;
  width: 35px;
  height: 35px;
  border: none;
  margin-right: 10px;
}
.input-group {
  .tail.input-group-append {
    z-index: 3;
    position: absolute;
    right: 0;
    .input-group-text {
      font-size: 0.9rem;
      width: auto;
      margin: 0;

      &.search {
        background: #40875a;
        color: #fff;
        width: 28px;
        height: 28px;
        font-size: 0.9rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: .375rem .75rem !important;
}
</style>