<template>
  <div class="app-top-container w-100">
    <div class="app-loading" v-bind:style="{ position: 'absolute', top: '50%', left: '50%' }" v-if="loading">
      <scale-loader></scale-loader>
    </div>
    <template v-else-if="initiated">
      <panel :app="this" v-if="is_panel()"></panel>
      <router-view :app="this" v-else />
    </template>
  </div>
</template>
<script>
import Panel from "./components/Panel.vue";
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
export default {
  name: "app",
  components: {
    "panel": Panel,
    ScaleLoader
  },
  data() {
    return {
      user: false,
      app_name: process.env.MIX_APP_TITLE.replace("_", " "),
      auth_url: typeof ROUTE_FILE === "undefined" ? "app/auth" : "auth",
      app_type: typeof ROUTE_FILE === "undefined" ? "user" : "admin",
      BASE_URL: process.env.MIX_LOCAL_APP_URL,
      locale: 'sp',
      loading: false,
      initiated: false,
      req: axios.create({
        baseUrl: process.env.MIX_LOCAL_API_URL
      })
    };
  },
  mounted: function() {
    this.init();
  },
  methods: {
    is_panel() {
      if(!this.user || this.$route.name == "add_location" || this.$route.name == "complete_registeration")
      {
        return false;
      }
      return true;
    },
    async init() {
      let self = this;
      this.loading = true;

      //CHECK AUTH
      const response = await this.$api.auth();
      this.user = response.data;

      if(!this.user)
      {
        localStorage.removeItem('user');
        if(this.app_type == "admin" && this.$router.currentRoute.path != '/iniciar-sesión')
        {
          this.$router.push("/iniciar-sesión");
        }
        else if(this.auth_url == "user")
        {
          window.location.href = `${process.env.MIX_LOCAL_APP_URL}iniciar-sesión`;
        }
      }
      else
      {
        localStorage.setItem('user', JSON.stringify(this.user));
      }
      this.loading = false;
      this.initiated = true;
    }
  }
};
</script>
<style scoped>
.app-loading
{
  position: absolute;
  transform: translateX(-50%);
}
</style>