<template>
  <div>
    <div id="wrapper">
      <!-- START OF MENUBAR -->
      <ul class="ke__insumos__nav navbar-nav sidebar accordion" id="accordionSidebar">
        
        <!-- Logo for desktop -->
        <router-link class="sidebar-brand d-none d-lg-flex align-items-center justify-content-center" :to="getDashboardRoute()">
          <img class="mb-4" :src="`${app.BASE_URL}public/template/images/ke_insumos_dashboard_logo.png`" alt />
        </router-link>
        
        <!-- close icon for mobile -->
        <button class="d-inline-block d-lg-none close-button btn" @click="toggleMenu()">
          <span></span>
        </button>

        <template v-if="sidebarType == 'menubar'">
          <li v-for="menu of menubar" v-bind:key="menu.id" class="nav-item">
            <span class="nav-link blank" v-if="menu.name == '-'">
              <div></div>
            </span>
            <a href="javascript:;" class="nav-link" v-else-if="menu.name == 'products' && user.user_type == 2" @click.prevent="setSidebarType('categories')">
              <span class="with-icon" :class="menu.icon">{{ __('labels.menu.' + menu.name) }}</span>
            </a>
            <a href="javascript:;" class="nav-link" v-else-if="menu.name == 'leave'" @click.prevent="logout()">
              <span class="with-icon" :class="menu.icon">{{ __('labels.menu.' + menu.name) }}</span>
            </a>
            <a href="javascript:;" class="nav-link d-lg-none" v-else-if="menu.name == 'contacto'" @click.prevent="contacto()">
              <span class="with-icon" :class="menu.icon">{{ __('labels.menu.' + menu.name) }}</span>
            </a>
            <router-link :class="`nav-link ${menu.class}`" :to="{ name: menu.name }" v-else  @click.native="activeMenu(menubar, menu.name)">
              <span class="with-icon" :class="menu.icon">{{ __('labels.menu.' + menu.name) }}</span>
            </router-link>
          </li>
        </template>
        <template v-if="sidebarType == 'categories'">
          <li class="nav-item">
            <a href="javascript:;" class="nav-link" @click.prevent="setSidebarType('menubar')">
              <span class="back___icon">{{ __('labels.menu.back') }}</span>
            </a>
            <template  v-for="(category, index) of categories">
              <a href="javascript:;" class="nav-link active" @click="showMenuSubcategories(index)" v-bind:key="category.id">
                <span class="pl-0">{{ category.name }}</span>
              </a>
            </template>
          </li>
        </template>
        <template v-if="sidebarType == 'sub_categories'">
          <li class="nav-item">
            <a href="javascript:;" class="nav-link" v-on:click.prevent="setSidebarType('categories')">
              <span class="back___icon">{{ __('labels.menu.back') }}</span>
            </a>
            <template  v-for="subCategory of subCategories">
              <router-link class="nav-link active" v-on:click="setSidebarType('menubar')" v-bind:key="subCategory.id" :to="{name: 'products', params: {subcategoryId: subCategory.id} }">
                <span class="pl-0">{{ subCategory.name }}</span>
              </router-link>
            </template>
          </li>
        </template>
      </ul>
      <!-- END OF MENUBAR -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- START OF HEADER -->
        <nav id="topbar" class="navbar navbar-expand topbar static-top shadow" :class="{'showTopbar' : showTopbar}">
          <button to="button" id="sidebarToggleTop" class="btn btn-link d-lg-none" @click="toggleMenu()">
            <span></span>
          </button>

          <router-link class="sidebar-brand d-flex d-lg-none align-items-center justify-content-center" :to="getDashboardRoute()">
            <img :src="`${app.BASE_URL}public/template/images/ke_insumos_logo.png`" alt />
          </router-link>

          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item hide-before-481" v-if="user.user_type !== 3">
              <a class="nav-link" :href="`${app.BASE_URL}quiénes-somos`" target="_blank">{{ __('labels.about_us') }}</a>
            </li>
            <li class="nav-item hide-before-481" v-if="user.user_type !== 3">
              <a class="nav-link" :href="`${app.BASE_URL}contacto`" target="_blank">{{ __('labels.contact') }}</a>
            </li>
            <li class="nav-item hide-before-481" v-if="user.user_type !== 3">
              <router-link class="nav-link" :to="{name: 'faq'}">{{ __('labels.faq') }}</router-link>
            </li>
            <li class="nav-item sign__off">
              <button type="button" class="btn btn-outline-success" v-on:click="logout()">
                {{ __('labels.sign_off') }}
              </button>
            </li>
            <li class="nav-item dropdown no-arrow mx-sm-1">
              <a class="nav-link dropdown-toggle" href="javascript:;" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" v-if="user.avtar_id != null" :src='user.avtar_path' />
                <img class="img-profile rounded-circle no-border" v-else :src='user.avtar_path' />
                <span class="badge badge-danger badge-counter" v-if="unread_notifications > 0"> {{ (unread_notifications > 9)?'9+':unread_notifications }} </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in userDropdown" aria-labelledby="userDropdown">
                <router-link class="dropdown-item" :to="{ name: 'my_account' }">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  {{ __('labels.my_account') }}
                </router-link>
                <router-link class="dropdown-item" :to="{ name: 'notifications' }">
                  <i class="fas fa-bell fa-sm fa-fw mr-2 text-gray-400"></i>
                  {{ __('labels.notifications') }}
                </router-link>
                <a class="dropdown-item show-before-481" :href="`${app.BASE_URL}quiénes-somos`" target="__blank">
                  <i class="fas fa-info fa-sm fa-fw mr-2 text-gray-400"></i>
                  {{ __('labels.about_us') }}
                </a>
                <router-link class="dropdown-item show-before-481" :to="{name: 'faq'}" v-if="user.user_type != 3">
                  <i class="fas fa-question-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                  {{ __('labels.faq') }}
                </router-link>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;"  v-on:click="logout()">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  {{ __('labels.sign_off') }}
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- END OF HEADER -->
        <transition name="fade" mode="out-in">
          <router-view :panel="this" :key="this.$route.fullPath" />
        </transition>
      </div>
    </div>

    <!-- START OF WHATSAPP ICON -->
    <div class="float-sm" v-if="user.user_type != 3">
      <div class="fl-fl float-wa">
        <i class="fab fa-whatsapp"></i>
        <a :href="`https://wa.me/${whatsappNo}`" target="_blank">WhatsApp</a>
      </div>
    </div>
    <!-- END OF WHATSAPP ICON -->

    <!-- Back to top icon -->
    <!-- desktop -->
    <a href="javascript:;" class="btn back-button top d-none d-lg-flex" :class="hideTopIcon" v-scroll-to="{el: '#content-wrapper',container: '.bg__for_cantainer'}">
      <span></span>
    </a>
    <!-- mobile -->
    <a href="javascript:;" class="btn back-button top d-flex d-lg-none" :class="hideTopIcon" v-scroll-to="{el: 'body'}">
      <span></span>
    </a>

    <div class="panel mobile-footer">
      <div class="container">
        <ul>
          <li><a href="javascript:;" @click.prevent="logout()"> <img :src="`${app.BASE_URL}/public/template/images/ic_lgoout_deactive.png`"> </a></li>
          <li><a :href="`https://wa.me/${whatsappNo}`" target="_blank"><img :src="`${app.BASE_URL}/public/template/images/ic_whatsapp_deactive.png`"></a></li>
          <li><router-link to="/ayuda"> <img :src="`${app.BASE_URL}/public/template/images/ic_faqs_deactive.png`"> </router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["app"],
  data() {
    return {
      showTopbar: true,
      user: JSON.parse(localStorage.getItem('user')),
      unread_notifications: 0,
      sidebarType: 'menubar',
      menubar: [],
      categories: [],
      subCategories: [],
      whatsappNo: process.env.MIX_WHATSAPP_NO,
      hideTopIcon: 'hideTopIcon'
    };
  },
  beforeCreate: function() {
    document.body.className = "toggled panel";
  },
  created: function() {
    this.initPanel();
    this.getNotificationCounts();
    setInterval(() => {
      this.getNotificationCounts();
    },10000);
  },
  mounted() {
    if (screen.width < 992) {
      const ContentWrapper = document.getElementById('content-wrapper');
      let lastScrollAmount = 0;
      window.addEventListener('scroll', () => {
        if (window.pageYOffset > 90) {
          if (lastScrollAmount > window.pageYOffset) {
            if (!this.showTopbar) {
              this.showTopbar = true;
            }
          } else {
            if (this.showTopbar) {
              this.showTopbar = false;
            }
          }
        }
        lastScrollAmount = window.pageYOffset;

        if (window.pageYOffset < 15 ) {
          this.hideTopIcon = 'hideTopIcon';
        } else {
          this.hideTopIcon = '';
        }
      });
    } else {
      //  Desktop
      let lastScrollAmount = 0;
      const bg__for_cantainer = document.querySelector('.bg__for_cantainer');
      bg__for_cantainer.addEventListener('scroll', () => {
        if (bg__for_cantainer.scrollTop > 75) {
          if (lastScrollAmount > bg__for_cantainer.scrollTop) {
            this.hideTopIcon = 'hideTopIcon';
          } else {
            this.hideTopIcon = '';
          }
        }
        lastScrollAmount = bg__for_cantainer.scrollTop;
      });
    }

  },
  methods: {
    getDashboardRoute() 
    {
      if(this.user.user_type == 1)
      {
        return { name: 'my_panel' };
      }
      else if(this.user.user_type == 2)
      {
        return { name: 'search' };
      }
      else if(this.user.user_type == 3)
      {
        return { name: 'dashboard' };
      }
    },
    getNotificationCounts()
    {
      if(this.app.is_panel()) {
        this.$api.getNotificationCounts().then((count) => {
          this.unread_notifications = count;
        });
      }
    },
    toggleMenu() {
      const sidebar = document.getElementById('accordionSidebar');
      if(sidebar.classList.contains('active')) {
        sidebar.classList.remove('active');
      } else {
        sidebar.classList.add('active');
      }
    },
    activeMenu(menubar, name)
    {
      menubar.map((menu) => {
        menu.class = (menu.name == name)?'active':'';
      });
    },
    async initPanel() {
      this.menubar = await this.$api.menubar();
      this.categories = await this.$api.getCategories();
    },
    setSidebarType(sidebarType)
    {
      this.sidebarType = sidebarType;
    },
    showMenuSubcategories(index)
    {
      this.subCategories = this.categories[index].sub_categories;
      this.setSidebarType('sub_categories');
    },
    logout() {
      this.app.loading = true;
      this.$api.logout().then(response => {
        this.app.user = false;
        if(this.app.auth_url == 'auth')
        {
          this.$router.push({name: 'admin-login'});
          this.app.loading = false;
        }
        else
        {
          window.location.href = `${process.env.MIX_LOCAL_APP_URL}login`;
        }
      });
    },
    contacto()
    {
      window.location.href = `${process.env.MIX_LOCAL_APP_URL}contacto`;
    },
  }
};
</script>
<style lang="scss" scoped>
.btn-top {
  position: relative;
}
</style>
<style lang="scss">
.tooltip {
  z-index: 100005 !important;
}
</style>