<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container" ref="modalContainer" :class="{'modal-sm': size === 'sm', 'modal-lg': size === 'lg', 'modal-xl': size === 'xl', 'modal-default': size === 'default'}">
          <button class="btn self-close" @click="$emit('close')" v-if="hasCloseListener">
            <i class="fa fa-times"></i>
          </button>
          <div class="modal-header" v-if="$slots.header">
            <slot name="header"></slot>
          </div>

          <div class="modal-body" v-if="$slots.body" :class="{'mb-0': !$slots.footer}">
            <slot name="body"></slot>
          </div>

          <div class="modal-footer" v-if="$slots.footer">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "Modal",
  props: {
    size: {
      type: String,
      required: false,
      default: 'default'
    }
  },
  computed: {
    hasCloseListener(){
      return this.$listeners && this.$listeners.close
    }
  },
  created() {
    document.addEventListener('keyup', (e) => {
      if (e.key === "Escape") { // escape key maps to keycode `27`
        this.$emit('close');
      }
    });
  },
  destroyed() {
    document.removeEventListener('keyup', null);
  }
};
</script>
<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  /*
  display: table-cell;
  vertical-align: middle;
  */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.modal-container {
  position: relative;
  margin: 0px auto;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-default-button {
  float: right;
}
.self-close {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 50% !important;
  padding: 4px;
  font-size: 1.3rem;
  line-height: 1;
  @media (max-width:576px) {
    right: 5px;
    top: 5px;
  }
}

.modal-container .btn.self-close
{
  background-color: #40875b;
  border-radius: 100%;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  padding: 0px;
  color: #fff;
  z-index: 1;
}

.modal-container {
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;

  &.modal-default {
    @media (min-width:576px) {
      max-width: 500px;
    }
  }
  &.modal-sm {
    @media (min-width:576px) {
      max-width: 300px;
    }
  }
  &.modal-lg {
    @media (min-width:992px) {
      max-width: 800px;
    }
  }
  &.modal-xl {
    @media (min-width:1200px) {
      max-width: 1140px;
    }
  }

  &.modal-default,
  &.modal-sm {
    .btn.self-close {
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 1.4rem;
      @media (max-width:576px) {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 1.2rem;
      }
    }
  }
}

.modal-header {
  padding-top: 0px;
  border-bottom: 0px;
  h3 {
    margin-top: 0;
    color: #42b983;
  }
  .close {
    opacity: 1;
    span {
      background-color: #40875b;
      border-radius: 100%;
      padding: 5px 11px 5px 11px;
      color: #fff;
    }
  }
}

.modal-body {
  margin: 20px 0;
  padding: 1rem;
  padding-top: 0px;

  max-height: 60vh;
  overflow: auto;
}

.modal-footer {
  border-top: 0px;
  padding-top: 0;
  padding-bottom: 0;
}

</style>