<template>
  <div>
    <span v-for="index in 5" :key="index" class="star">
      <i :class="getStar(index)"></i>
    </span>
  </div>
</template>
<script>
export default {
  name: "Rating",
  props: {
    rating: {
      type: [Number, String],
      required: true
    }
  },
  created() {},
  methods: {
    getStar(index) {
      if (this.rating - index >= 0) {
        return "fas fa-star";
      } else if (this.rating - index > -1 && this.rating - index < 0) {
        return "fas fa-star-half-alt";
      } else {
        return "far fa-star";
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.star {
  cursor: pointer;
  margin: 0 2px;
  i {
    color: #ffde7d;
    font-size: 1.2rem;
  }
}
</style>