<template>
  <div>
    <input type="text" class="form-control" :placeholder="placeholder" aria-describedby="basic-addon2" autocomplete="off"
      ref="searchTerm"
      id="searchTerm"
      v-debounce:500="searchTerm"
      @input="setSearchTerm($event)"
      :value="search_name"
      @keyup.down="focusNext()"/>
    <ul v-if="is_searching" class="suggession-list">
      <li class="suggession">
        <span class="p-2">{{ __('labels.searching_product') }}</span>
      </li>
    </ul>
    <ul v-else-if="suggessions.length > 0 && showSuggession" class="suggession-list">
      <li v-for="(suggession, index) in suggessions" :key="index" class="suggession">
        <a href="" ref="suggesion"
          class="suggetion-item"
          @keydown.down="focusNext(index, $event)"
          @keydown.up="focusPrev(index, $event)" @click.prevent="selectSuggetion(suggession)">
          {{suggession.name}}
        </a>
      </li>
    </ul>
    <ul v-else-if="showEmptySuggessions" class="suggession-list">
      <li class="suggession">
        <span class="p-2">{{ __('labels.no_products_found') }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'vueSelectAutocomplete',
  data() {
    return {
      is_searching: false,
      search_name: '',
      suggessions: [],
      showSuggession: false,
      showEmptySuggessions: false,
    }
  },
  props: {
    value: {
      type: Object,
      required: false,
      default: () => {}
    },
    searchEndpoint: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: false,
      default: () => ''
    },
    formError: {
      type: String,
      required: false,
      default: () => ''
    }
  },
  watch: {
    value: {
      deep: true,
      handler(newValue){
        this.search_name = newValue.name;
      }
    }
  },
  created() {
    this.search_name = this.value ? this.value.name : '';
    document.addEventListener('click', (e) => {
      if(e.target !== document.querySelector('#searchTerm')) {
        this.hideDropdown();
      }
    });
  },
  methods: {
    setSearchTerm(event) {
      Vue.set(this, 'search_name', event.target.value);
    },
    searchTerm () {
      if (this.search_name.trim().length > 2) {
        this.showEmptySuggessions = false;
        this.is_searching = true;
        this.$api[this.searchEndpoint](this.search_name).then((data) => {
          this.suggessions = data;
          this.showSuggession = true;
          this.is_searching = false;
          document.querySelector('.bg__for_cantainer').style.overflow = 'hidden';
        }).catch(err => {
          document.querySelector('.bg__for_cantainer').style.overflow = 'auto';
          if(err.code === 404) {
            this.showSuggession = false;
            this.showEmptySuggessions = true;
            this.is_searching = false;
          }
        });
      }
      if (this.search_name.trim().length === 0) {
        this.suggessions = [];
        this.showSuggession = false;
        this.is_searching = false;
        this.$emit('selectSuggetion', {});
        document.querySelector('.bg__for_cantainer').style.overflow = 'auto';
      }
    },
    focusPrev(index, e) {
      if (index === 0) {
        this.$refs.searchTerm.focus();
      } else {
        this.$nextTick(() => {
          this.$refs.suggesion[index - 1].focus();
          e.preventDefault();
        });
      }
    },
    focusNext(index, e) {
      if (index === (this.suggessions.length - 1)) {
        return;
      }
      if (typeof index === 'undefined') {
        this.$refs.suggesion[0].focus();
      } else {
        const nextsuggestion = this.$refs.suggesion[index + 1];
        this.$nextTick(() => {
          nextsuggestion.focus();
          e.preventDefault();
        });
      }
    },
    selectSuggetion(suggession) {
      this.search_name = suggession.name;
      this.showSuggession = false;
      this.showEmptySuggessions = false;
      this.$emit('selectSuggetion', suggession);
      document.querySelector('.bg__for_cantainer').style.overflow = 'auto';
    },
    hideDropdown() {
      this.suggessions = [];
      this.showSuggession = false;
      this.showEmptySuggessions = false;
      const selection = document.querySelector('.bg__for_cantainer') !== null;
      if(selection) {
        document.querySelector('.bg__for_cantainer').style.overflow = 'auto';
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.full-width
{
  width: 100%;
  position: relative;
}
.suggession-list {
  position: absolute;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 5px 0;
  margin-bottom: 0;
  background: #fafafa;
  border: 1px solid #c1c1c1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 6;
  max-height: 18rem;
  overflow: auto;
  .suggession {
    a {
      cursor: pointer;
      font-weight: 700;
      padding: 5px 8px;
      display: block;
      color: #000;
      &:hover,
      &:focus {
        background: #f0f0f0;
        text-decoration: none;
      }
    }
  }
}
</style>