<template>
  <div>
    <div id="wrapper">

      <!-- title -->
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-1 d-none d-md-block"></div>
        <div class="col-12 col-md-7">
          <h5 class="text-left">{{ __('Eres nuevo en Ke Insumos, necesitamos que completes por única vez estos 3 simples campos para que puedas disfrutar 100% la plataforma.') }}</h5>
        </div>
        <div class="col-1 d-none d-md-block"></div>
      </div>
      <!-- end of title -->

      <!-- payment methods -->
      <div class="row d-flex justify-content-center mb-3">
        <div class="col-1 steps_container">1</div>
        <div class="col-11 col-md-7">
          <p class="text-left d-flex align-items-center min-h-40">{{ __('Necesitamos que nos digas que formas de pago aceptas. Esta información es útil para que el sistema te vincule con los PRODUCTORES que desean pagar sus pedidos con dicha forma de pago.') }}</p>

          <!-- selected methods -->
          <template v-for="(payment_method, key) in formData.payment_methods">
            <div class="row mt-2 mb-2" v-if="payment_method.is_allowed == true" :key="payment_method.id">
              <div class="col-12  d-flex align-items-left">
                <span class="font-weight-bold">{{ payment_method.name }}</span>
                <button type="button" class="btn-no-style text-danger font-weight-bold ml-3" v-on:click="removePaymentMethod(key)">{{ __('Eliminar') }}<i class="fa fa-trash-alt circle bg-danger text-light ml-1"></i>
                </button>
              </div>
            </div>
          </template>
          <!-- selected methods -->

          <!-- dropdown -->
          <div class="row mt-2" v-if="PaymentMethodFieldStatus">
            <div class="col-12">
              <div class="form-group input-group payment-method-container">
                <input type="text" id="payment_method" v-model="payment_method" class="form-control" :placeholder="__('Escriba el texto para agregrar el método de pago')" autocomplete="off" list="paymentMethodsList" v-on:input="selectPaymentMethod()"/>
                <div class="input-group-append">
                  <button type="button" v-on:click="changePaymentMethodField()">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
                <datalist id="paymentMethodsList">
                  <template v-for="payment_method in formData.payment_methods">
                    <option v-if="payment_method.is_allowed == false" v-bind:key="`payment_method_${payment_method.id}`">{{payment_method.name}}</option>
                  </template>
                </datalist>
              </div>
              <p class="form-error" v-if="formErrors.payment_method"><b>{{ formErrors.payment_method }}</b></p>
            </div>
          </div>
          <!-- end of dropdown -->

          <!-- add button -->
          <div class="row" v-if="!PaymentMethodFieldStatus">
            <div class="col-12 mb-2 d-flex justify-content-start">
              <button type="button" class="btn btn-success payment-btn" v-on:click="changePaymentMethodField()">
                <b>{{ __('Agregrar otra forma de pago') }}</b>
              </button>
            </div>
          </div>
          <!-- end of add button -->
        </div>
        <div class="col-1 d-none d-md-block"></div>
      </div>
      <!-- end of payment methods -->

      <!-- km around -->
      <div class="row d-flex justify-content-center mb-3">
        <div class="col-1 steps_container">2</div>
        <div class="col-11 col-md-7">
          <p class="text-left d-flex align-items-center min-h-40">{{ __('Te pediremos que ingreses los KM (kilómetros) para saber hasta donde quieres oferecer tus productos.') }}</p>
          <div class="row">
            <div class="col-6 mb-2 d-flex justify-content-start">
              <input type="text" :placeholder="__('Ingrese la cantidad de Km a la redonda')" class="form-control" v-model="formData.sales_range_in_km" />
            </div>
          </div>
        </div>
        <div class="col-1 d-none d-md-block"></div>
      </div>
      <!-- km around -->

      <!-- location -->
      <div class="row d-flex justify-content-center">
        <div class="col-1 d-none d-md-block"></div>
        <div class="col-12 col-md-7">
          <h5 class="text-left">{{ __('¡Ya casi estamos!') }}</h5>
          <h6 class="text-left">{{ __('Por último necesitamos que ingreses las coordenadas geográficas.') }}</h6>
        </div>
        <div class="col-1 d-none d-md-block"></div>
      </div>
      <div class="row d-flex justify-content-center mb-3">
        <div class="col-1 steps_container">3</div>
        <div class="col-11 col-md-8">
          <p class="text-left d-flex align-items-center min-h-40">{{ __('Esto es importante para que nosotros te mostremos los usuarios que están dentro de tu zona de venta. Si la sabes, ingresa las coordenadas geográficas. Si no las sabes, puedes utilizar las coordenadas del GPS o usar el Mapa para encontrar tu centro de distribución.') }}
            <br>{{ __('Para usar ubicación por GPS, asegúrate de estar en tu centro de distribución.') }}
            <br>{{ __('Para usar ubicación por MAPA solo tienes que arrastrar el ícono verde al lugar donde se encuentra tu centro de distribución.') }}</p>
          <div class="row mb-3">
            <div class="col-5">
              <input type="text" :placeholder="__('labels.frontend.x_coordinates')" class="form-control" v-model="formData.latitude" @change="changeLatLong()" v-mask="latitudeMask" />
            </div>
            <div class="col-5">
              <input type="text" :placeholder="__('labels.frontend.y_coordinates')" class="form-control" v-model="formData.longitude" @change="changeLatLong()" v-mask="longitudeMask" />
            </div>
          </div>
          <div class="row">
            <div class="col-10 d-flex justify-content-left">
              <span class="custom-control custom-checkbox gps_checkbox custom-control-label-checkbox-wrap pl-0">
                <input type="checkbox" class="custom-control-input" v-model="formData.gps_checkbox" style="width: auto;" @change="gpsCheckboxChanged()" id="gps_checkbox">
                <label class="custom-control-label custom-control-label-checkbox " for="gps_checkbox">{{ __('Utilizar ubicación geográfica del GPS.') }}</label>
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-10 d-flex justify-content-left">
              <span class="custom-control custom-checkbox map_checkbox custom-control-label-checkbox-wrap pl-0">
                <input type="checkbox" class="custom-control-input" v-model="formData.map_checkbox" style="width: auto;" @change="mapCheckboxChanged()" id="map_checkbox">
                <label class="custom-control-label custom-control-label-checkbox " for="map_checkbox">{{ __('Utilizar ubicación en el MAPA') }}</label>
              </span>
            </div>
          </div>
          <div class="row" v-show="formData.map_checkbox">
            <div class="col-10 d-flex justify-content-left">
              <GmapMap ref="mapRef" :zoom="5" :center="{lat: -38.4161,lng: -63.6167}">
                <GmapMarker
                  v-for="(m, index) in markers"
                  :key="index"
                  :ref="`marker${index}`" 
                  :position="m.position"
                  :draggable="true"
                  @dragend="markerDragged"
                  icon="http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                />       
              </GmapMap>
            </div>
          </div>
        </div>
      </div>
      <!-- end of location -->

      <!-- submit button -->
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-9">
          <button type="button" class="btn btn-light btn-lg" id="submit_btn" @click="submitForm()">
            {{ __('Guardar y comenzar las ventas') }}
          </button>
        </div>
      </div>
      <!-- end of submit button -->

    </div>
    <div class="panel mobile-footer">
      <div class="container">
        <ul>
          <li><a href="javascript:;" @click.prevent="logout()"> <img :src="`${app.BASE_URL}/public/template/images/ic_lgoout_deactive.png`"> </a></li>
          <li><a :href="`https://wa.me/${whatsappNo}`" target="_blank"><img :src="`${app.BASE_URL}/public/template/images/ic_whatsapp_deactive.png`"></a></li>
          <li><router-link to="/ayuda"> <img :src="`${app.BASE_URL}/public/template/images/ic_faqs_deactive.png`"> </router-link></li>
        </ul>
      </div>
    </div>

    <!-- close button -->
    <div id="back_to_home">
      <router-link :to="back_route">
        <i class="far fa-times-circle fa-2x"></i>
      </router-link>
    </div>
    <!-- end of close button -->

  </div>
</template>
<script>
import {gmapApi} from 'vue2-google-maps';
import createNumberMask from 'text-mask-addons/dist/createNumberMask';
const latitudeMask = createNumberMask({
  prefix: '',
  suffix: '',
  includeThousandsSeparator: false,
  allowDecimal: true,
  decimalSymbol: '.',
  decimalLimit: 25,
  integerLimit: 2,
  allowNegative: true,
});
const longitudeMask = createNumberMask({
  prefix: '',
  suffix: '',
  includeThousandsSeparator: false,
  allowDecimal: true,
  decimalSymbol: '.',
  decimalLimit: 25,
  integerLimit: 3,
  allowNegative: true,
});
export default {
  props: ['app'],
  data() {
    return {
      formData: {
        payment_methods: [],
        sales_range_in_km: '',
        latitude: '',
        longitude: '',
        gps_checkbox: false,
        map_checkbox: false,
      },
      formErrors: {
        payment_method: '',
      },
      payment_method: '',
      PaymentMethodFieldStatus: false,
      markers: [{position: {lat: -38.4161,lng: -63.6167}}],
      latitudeMask: latitudeMask,
      longitudeMask: longitudeMask,
      redirection_route: {name: 'products'},
      back_route: {name: 'my_products'},
      whatsappNo: process.env.MIX_WHATSAPP_NO,
    }
  },
  beforeCreate: function() {
    document.body.style.backgroundColor = "#40875b";
    document.body.style.display = "block";
    document.body.style.paddingTop = "40px";
    document.body.className = "";
  },
  async created() {

    // get user
    const user = await this.$api.getMyProfile();

    // if user already step 2
    if(user.step_2) {
      this.$router.push(this.redirection_route);
    }

    // set default data
    this.formData.latitude = user.latitude;
    this.formData.longitude = user.longtitude;
    this.formData.payment_methods = user.payment_methods;
  },
  mounted: function() {

    /* google analytics */
    this.$gtag.pageview({
      page_title: this.$route.name,
      page_path: `${this.GtagTrackingPagePath}${this.$route.path}`,
      page_location: this.GtagTrackingPageLocation,
    });
    /* google analytics */
  },
  methods: {
    changePaymentMethodField()
    {
      this.formErrors.payment_method = '';
      this.payment_method = '';
      this.PaymentMethodFieldStatus = !this.PaymentMethodFieldStatus;
    },
    selectPaymentMethod()
    {
      this.formErrors.payment_method = this.__('Por favor, seleccione el método de pago de la lista.');
      this.formData.payment_methods.map((row, key) => {
        if(row.name == this.payment_method)
        {
          row.is_allowed = true;
          Vue.set(this.formData.payment_methods, key, row);
          this.changePaymentMethodField();
        }
      });
    },
    removePaymentMethod(key)
    {
      let row = this.formData.payment_methods[key];
      row.is_allowed = false;
      Vue.set(this.formData.payment_methods, key, row);
    },
    gpsCheckboxChanged() {
      if(this.formData.gps_checkbox) {
        this.formData.map_checkbox = false;

        //do we support geolocation
        if(!("geolocation" in navigator)) {
          this.$toaster.danger('Geolocation is not available.');
          return;
        }

        navigator.geolocation.getCurrentPosition(position => {
          this.formData.latitude = position.coords.latitude;
          this.formData.longitude = position.coords.longitude;
        }, err => {
          this.$toaster.danger(err.message);
        });
      }
    },
    mapCheckboxChanged() {
      if(this.formData.map_checkbox) {
        this.formData.gps_checkbox = false;

        if(this.latitude != '' && this.longitude != '') {
          this.changeLatLong();
        }
      }
    },
    changeLatLong() {

      if(this.formData.latitude != '' && this.formData.longitude != '') {
        this.$refs.mapRef.$mapPromise.then((map) => {
          map.setCenter({
            lat: parseFloat(this.formData.latitude),
            lng: parseFloat(this.formData.longitude)
          });
        });

        this.markers = [{position: {lat: parseFloat(this.formData.latitude),lng: parseFloat(this.formData.longitude)}}]
      }
    },
    markerDragged(location) {
      this.formData.latitude = location.latLng.lat();
      this.formData.longitude = location.latLng.lng();
      this.changeLatLong();
    },
    async submitForm() {

      const payload = {
        latitude: this.formData.latitude,
        longitude: this.formData.longitude,
        sales_range_in_km: this.formData.sales_range_in_km,
        payment_methods: [],
      };

      this.formData.payment_methods.map((row, key) => {
        if(row.is_allowed)
        {
          payload.payment_methods.push(row.id); 
        }
      });

      try {
        const response = await this.$api.registerStep2(payload);
        this.$toaster.success(response);
        this.$router.push(this.redirection_route);
      } catch (error) {
        this.$toaster.error(error);
      }
    },
    logout() {
      this.app.loading = true;
      this.$api.logout().then(response => {
        this.app.user = false;
        if(this.app.auth_url == 'auth')
        {
          this.$router.push({name: 'admin-login'});
          this.app.loading = false;
        }
        else
        {
          window.location.href = `${process.env.MIX_LOCAL_APP_URL}login`;
        }
      });
    },
  },
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=swap');
#wrapper {
  font-family: "Assistant", sans-serif !important;
  padding: 10px 15px 100px 15px;
  background-color: #40875b;
  color: #fff;
  text-align: center;
  display: block;
}
.steps_container {
  text-align: right;
  font-size: 44px;
  line-height: 40px;
  font-weight: bolder;
  padding-right: 0.25rem !important;

}
.min-h-40 {
  min-height: 40px;
}
.payment-btn, .payment-btn:hover {
  background-color: #fff;
  color: #40875b;
}
.input-group-append {
  border-bottom: 3px solid rgba(255,255,255,0.75) !important;
}
.input-group-append button
{
  background-color: transparent;
  border: none;
}
input, input:hover, input:focus {
  padding-left: 0px;
  padding-right: 0px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(255,255,255,0.75) !important;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
}
input::placeholder {
  color: #fff;
  text-transform: none;
  font-weight: 600;
  font-style: italic;
}
.custom-control-label::before {
  background-color: transparent;
}
.custom-checkbox .custom-control-label::before {
  border-color: #fff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: transparent;
  border-color: #fff;
}
.vue-map-container,
.vue-map-container .vue-map {
  min-width: 100%;
  height: 300px;
}
#submit_btn {
  border-radius: 25px !important;
  color: #40875b;
  font-weight: bold;
}
#back_to_home {
  position: absolute;
  top: 25px;
  right: 25px;
}
#back_to_home i {
  opacity: 0.75;
  color: rgba(255, 255, 255, 0.75);
}
</style>