<template>
  <div class="container-fluid bg__for_cantainer">
    <div class="d-lg-flex align-items-center justify-content-between cusstom__header mb-4 pt-4 pt-lg-0">
      <h1 class="h3 mb-0 text-white font__custom">{{ __('labels.start') }}</h1>
    </div>
    <div class="cusstom__container bg-white">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-1">
          <b>{{ __("labels.choose_period").toUpperCase() }}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
          <label class="mb-1"><b>{{ __("labels.since") }}:</b></label>
          <div class="input-group input-group-success mb-3">
            <datepicker
              input-class="success-datepicker"
              clear-button-icon="fa fa-times"
              format="dd-MM-yyyy"
              v-model="fromDate"
              :clear-button="true"
              wrapperClass="position-relative vue-calendar"
              :bootstrap-styling="true"></datepicker>
            <div class="input-group-append success">
              <span class="input-group-text"><img :src="getCalendarImage()" /></span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
          <label class="mb-1"><b>{{ __("labels.until") }}:</b></label>
          <div class="input-group input-group-success mb-3">
            <datepicker
              input-class="success-datepicker"
              clear-button-icon="fa fa-times"
              format="dd-MM-yyyy"
              v-model="toDate"
              :clear-button="true"
              wrapperClass="position-relative vue-calendar"
              :bootstrap-styling="true"></datepicker>
            <div class="input-group-append success">
              <span class="input-group-text"><img :src="getCalendarImage()" /></span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 pt-sm-4">
          <button type="button" class="btn btn-success search-btn" v-on:click="dashboardSearch()">
            {{ __('labels.search') }}
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="d-none d-xl-block col-xl-1 col-xxl-2">
          <!-- BLANK SPACE -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4">
              <div class="dashboard-card">
                <span class="text-success"><b>{{ __("labels.most_selling_products") }}</b></span>
                <div class="text-center pt-5 pb-5" v-if="loading">
                  <beat-loader></beat-loader>
                </div>
                <div class="table-responsive" v-else>
                  <table class="table table-default table-condensed mt-2">
                    <thead>
                      <tr>
                        <th class="text-uppercase" style="text-align: left;">{{ __('labels.product') }}</th>
                        <th class="text-uppercase" style="text-align: right;">{{ __('labels.quantity') }}</th>
                      </tr>
                    </thead>
                    <tbody v-if="mostSellingProducts.length > 0">
                      <tr v-for="product in mostSellingProducts" v-bind:key="product.id">
                        <td>{{ product.name }}</td>
                        <td align="right">{{ product.ordered_quantity }}</td>
                      </tr>
                    </tbody>
                    <tbody v-else>
                      <tr>
                        <td colspan="2" align="center">{{ __('labels.no_records_found') }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4">
              <div class="dashboard-card">
                <span class="text-success"><b>{{ __("labels.geographical_areas_that_sold_the_most") }}</b></span>
                <div class="text-center pt-5 pb-5" v-if="loading">
                  <beat-loader></beat-loader>
                </div>
                <div class="table-responsive" v-else>
                  <table class="table table-default table-condensed mt-2">
                    <thead>
                      <tr>
                        <th class="text-uppercase" style="text-align: left;">{{ __('labels.province') }}</th>
                        <th class="text-uppercase" style="text-align: right;">{{ __('labels.quantity') }}</th>
                      </tr>
                    </thead>
                    <tbody v-if="mostSellingProvinces.length > 0">
                      <tr v-for="province in mostSellingProvinces" v-bind:key="province.id">
                        <td>{{ province.province }}</td>
                        <td align="right">{{ province.ordered_quantity }}</td>
                      </tr>
                    </tbody>
                    <tbody v-else>
                      <tr>
                        <td colspan="2" align="center">{{ __('labels.no_records_found') }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4">
              <div class="dashboard-card">
                <span class="text-success"><b>{{ __("labels.best_selling_categories") }}</b></span>
                <div class="text-center pt-5 pb-5" v-if="loading">
                  <beat-loader></beat-loader>
                </div>
                <div class="table-responsive" v-else>
                  <table class="table table-default table-condensed mt-2">
                    <thead>
                      <tr>
                        <th class="text-uppercase" style="text-align: left;">{{ __('labels.category') }}</th>
                        <th class="text-uppercase" style="text-align: right;">{{ __('labels.quantity') }}</th>
                      </tr>
                    </thead>
                    <tbody v-if="bestSellingCategories.length > 0">
                      <tr v-for="category in bestSellingCategories" v-bind:key="category.id">
                        <td>{{ category.name }}</td>
                        <td align="right">{{ category.ordered_quantity }}</td>
                      </tr>
                    </tbody>
                    <tbody v-else>
                      <tr>
                        <td colspan="2" align="center">{{ __('labels.no_records_found') }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4">
              <div class="dashboard-card">
                <span class="text-success"><b>{{ __("labels.approved_orders_vs_cancelled_orders") }}</b></span>
                <div class="pt-5 pb-5" v-if="loading">
                  <beat-loader></beat-loader>
                </div>
                <div class="pt-3 pb-3" v-else>
                  <div class="text-center p-4 bg-white" v-if="approvedVsCancelledchartData[1][1] === 0 && approvedVsCancelledchartData[2][1] === 0">
                    <strong>
                      {{ __('labels.dashboard_chart_empty_text') }}
                    </strong>
                  </div>
                  <div v-else>
                    <GChart
                      type="PieChart"
                      :data="approvedVsCancelledchartData"
                      :options="{ 
                        chartArea: {height: 400, width: 400},
                        colors:['#4F9267', '#F15F5F'],
                        pieSliceText: 'value-and-percentage',
                        'tooltip' : {
                          trigger: 'none'
                        },
                        legend: { 
                          position : 'left'
                        }
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-xl-block col-xl-1 col-xxl-2">
          <!-- BLANK SPACE -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BeatLoader from 'vue-spinner/src/BeatLoader.vue'
import Datepicker from 'vuejs-datepicker';
import { GChart } from 'vue-google-charts';

export default {
  components: {
    Datepicker, GChart, BeatLoader
  },
  props: ["panel"],
  data() {
    return {
      loading: true,
      fromDate: '',
      toDate: '',
      mostSellingProducts: [],
      mostSellingProvinces: [],
      bestSellingCategories: [],
      approvedVsCancelledchartData: [
        
      ]
    }
  },
  created: function() {
    this.dashboardSearch();
  },
  methods: {
    getCalendarImage() {
      return `${process.env.MIX_LOCAL_APP_URL}public/template/images/ke_insumos_calendar.png`;
    },
    dashboardSearch() {
      this.loading = true;
      this.$api.AgronomiaDashboardData({ fromDate: this.fromDate, toDate: this.toDate }).then(response => {
        this.loading = false;
        if(response.code == 200)
        {
          this.mostSellingProducts = response.data.mostSellingProducts;
          this.mostSellingProvinces = response.data.mostSellingProvinces;
          this.bestSellingCategories = response.data.bestSellingCategories;
          this.approvedVsCancelledchartData = [
            ['Type', 'Count'],
          ];
          
          let pieChartData = response.data.approvedVsCancelledchartData;
          Object.keys(pieChartData).map((key, index) => {
            this.approvedVsCancelledchartData.push([pieChartData[key]['label'], pieChartData[key]['count']]); 
          });
        }
        else
        {
          this.$toaster.error(response.message);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.input-group.input-group-success {
  .input-group-text {
    padding: 0 5px;
    img {
      height: 1.7rem;
    }
  }
}
::v-deep .vdp-datepicker input {
  height: 2.3rem;
}
</style>