<template>
  <div>
    <Modal @close="closeModal()">
      <div slot="header">
        <h6 class="mb-0 ml-0 text-uppercase"><u>{{ __('labels.order_detail_modal.order_detail') }}</u></h6>
      </div>
      <div slot="body">
        <div class="d-flex flex-column mt-2" v-if="order">
          <strong>{{ __('labels.order_detail_modal.date_of_issue') }}</strong>
          <p class="text-success mb-3">{{ getDateOfIssue() }}</p>
          
          <strong>{{ __('labels.order_detail_modal.date_of_delivery') }}</strong>
          <p class="text-success mb-3">{{ getDateOfDelivery() }}</p>
          
          <strong>{{ __('labels.order_detail_modal.product') }}</strong>
          <p class="text-success mb-3">{{ order.product }}</p>
          
          <strong>{{ __('labels.order_detail_modal.quantity') }}</strong>
          <p class="text-success mb-3">{{ order.ordered_quantity }} {{ order.unit_of_measure }}</p>
          
          <strong>{{ __('labels.order_detail_modal.amount_without_tax') }}</strong>
          <p class="text-success mb-3">{{ order.total_price }} USD</p>

          <!-- for agronomia only -->
          <strong v-if="user.user_type == '1'" class="text-uppercase">{{ __('labels.order_detail_modal.producer_id') }}</strong>
          <a href="javascript:;" class="text-success mb-3" @click.prevent="openUserDetail()" v-if="user.user_type == '1'">
            {{ order.producer.custom_id }}
          </a>
          
          <!-- for producer only -->
          <strong v-if="user.user_type == '2'" class="text-uppercase">{{ __('labels.order_detail_modal.agronomia_id') }}</strong>
          <p v-if="user.user_type == '2'" class="text-success mb-3">{{ order.agronomia.custom_id }}</p>
          
          <!-- for producer only -->
          <strong v-if="user.user_type == '2'">{{ __('labels.order_detail_modal.chosen_location') }}</strong>
          <p v-if="user.user_type == '2'" class="text-success mb-3">{{ order.delivery_location }}</p>
          
          <strong>{{ __('labels.order_detail_modal.payment_method') }}</strong>
          <p class="text-success mb-3">{{ order.payment_method }}</p>
        
          <strong>{{ __('labels.order_detail_modal.order_status') }}</strong>
          <!-- only for agronomia -->
          <a href="javascript:;" class="text-muted mb-3" @click.prevent="openOrderAction()" v-if="order.order_status == '1' && user.user_type == '1'">
            <u>{{ __(`labels.order_detail_modal.evaluate`) }}</u>
          </a>
          <!-- only for producer -->
          <p class="text-muted mb-3" v-if="order.order_status == '1' && user.user_type == '2'">
            {{ __(`labels.order_detail_modal.pending`) }}
          </p>
          <p class="text-success mb-3" v-if="order.order_status == '2'">
            {{ __(`labels.order_detail_modal.approved`) }}
            <i class="ml-1 fas fa-lg fa-check-circle" style="vertical-align: middle;"></i>
          </p>
          <!-- only for agronomia -->
          <p class="text-muted mb-3" v-if="order.order_status == '3' && user.user_type == '1'">
            {{ __(`labels.order_detail_modal.rejected`) }}
            <i class="ml-1 fas fa-lg fa-times-circle" style="vertical-align: middle;"></i>
          </p>
          <!-- only for producer -->
          <p class="text-muted mb-3" v-if="order.order_status == '3' && user.user_type == '2'">
            {{ __(`labels.order_detail_modal.cancelled`) }}
            <i class="ml-1 fas fa-lg fa-times-circle" style="vertical-align: middle;"></i>
          </p>
        </div>
        <div v-else>
          <pulse-loader></pulse-loader>
        </div>
      </div>
    </Modal>
    
    <!-- Order Action Model -->
    <OrderAction 
      v-if="showOrderAction"
      :order_id="order.id"
      @close="closeOrderAction()"
      @submit="submitOrderAction()"
    />

    <!-- Producer Detail Modal -->
    <UserDetail 
      v-if="showUserDetail"
      :user_id="order.producer.id"
      @close="closeUserDetail()"
    />
  </div>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import Modal from "./../../../form/modal.vue";
import OrderAction from "./OrderAction.vue";
import UserDetail from "./UserDetail.vue";
import moment from "moment-timezone";
export default {
  props: ['order_id'],
  components: { PulseLoader, Modal, OrderAction, UserDetail },
  data() {
    return {
      order: null,
      showOrderAction: false,
      showUserDetail: false,
    }
  },
  async created() {
    this.getOrder();
  },
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'));
    },
    hasSubmitListener(){
      return this.$listeners && this.$listeners.submit
    }
  },
  methods: {
    openUserDetail() {
      this.showUserDetail = true;
    },
    closeUserDetail() {
      this.showUserDetail = false;
    },
    async getOrder() {
      try {
        this.order = await this.$api.getOrderDetail(this.order_id);
      } catch (error) {
        this.$toaster.error(error.message);
      }
    },
    closeModal() {
      this.$emit('close');
    },
    getDateOfIssue() {
      return moment(this.order.created_at, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YY HH:mm:ss');
    },
    getDateOfDelivery() {
      return moment(this.order.date_of_delivery, 'YYYY-MM-DD').format('DD-MM-YY');
    },
    openOrderAction() {
      this.showOrderAction = true;
    },
    closeOrderAction() {
      this.showOrderAction = false;
    },
    async submitOrderAction() {
  
      this.getOrder();

      if(this.hasSubmitListener) {
        this.$emit('submit');
      }
    },
  },
}
</script>