<template>
  <Modal @close="closeModal()">
    <div slot="header">
      <h6 class="mb-0">{{ __('labels.my_orders_list.confirm_status_text') }}</h6>
    </div>
    <div slot="body" v-if="order">
      <div class="row">
        <div class="col-6">
          <strong> ID de USUARIO </strong>
          <br/>
          <strong class="text-success"> {{ order.producer.custom_id }} </strong>
        </div>
        <div class="col-6">
          <strong> ID del pedido </strong>
          <br/>
          <strong class="text-success"> {{ order.custom_order_no }} </strong>
        </div>
      </div>
      <div class="my-2">&nbsp;</div>
        <div class="d-flex">
        <div class="custom-checkbox mr-5">
          <input type="radio" id="approve" class="custom-control-input" v-model="selectedStatus" :value="2" />
          <label class="custom-control-label" for="approve">{{ __('labels.approve') }}</label>
        </div>
        <div class="custom-checkbox">
          <input type="radio" id="reject" class="custom-control-input" v-model="selectedStatus" :value="3" />
          <label class="custom-control-label" for="reject">{{ __('labels.reject') }}</label>
        </div>
      </div>
    </div>
    <div slot="body" v-else>
      <pulse-loader></pulse-loader>
    </div>
    <div slot="footer" v-if="order">
      <div class="d-flex justify-content-end">
        <button class="btn btn-success btn-lg" @click="submitOrderStatus()">{{ __('labels.my_orders_list.apply') }}</button>
      </div>
    </div>
  </Modal>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import Modal from "./../../../form/modal.vue";
export default {
  props: ['order_id'],
  components: { PulseLoader, Modal },
  data() {
    return {
      order: null,
      selectedStatus: 2,
    }
  },
  async created() {
    this.getOrder();
  },
  computed:{
    hasSubmitListener(){
      return this.$listeners && this.$listeners.submit
    }
  },
  methods: {
    async getOrder() {
      try {
        this.order = await this.$api.getOrderDetail(this.order_id);
      } catch (error) {
        this.$toaster.error(error.message);
      }
    },
    closeModal() {
      this.$emit('close');
    },
    async submitOrderStatus() {
      try {
        const payload = {
          order_id: this.order.id,
          order_status: this.selectedStatus
        }
        const result = await this.$api.changeOrderStatus(payload);
        this.$toaster.success(result.message);
        if(this.hasSubmitListener) {
          this.$emit('submit');
        }
        this.closeModal();
      } catch (error) {
        this.$toaster.error(error.message);
      }
    },
  },
}
</script>