<template>
  <div>
    <Modal @close="closeModal()">
      <div slot="header">
        <h6 class="mb-0 ml-0">{{ __('labels.my_orders_list.user_data') }}</h6>
      </div>
      <div slot="body" v-if="user">
        <div class="row">
          <div class="col-6">
            <strong>ID de USUARIO</strong>
            <h6 class="text-success-dark mt-1"><img :src="`${APP_URL}public/template/images/striped-verified.png`" v-if="user.verified" /> {{ user.custom_id }}</h6>
          </div>
        </div>
        <div class="d-flex flex-column mt-2">
          <div v-if="user.user_type === 2">
            <strong>{{ __('labels.my_account_form.renspa_no') }}</strong>
            <p class="text-success mb-3"> {{ user.renspa_no }} </p>
          </div>

          <strong>{{ __('labels.my_account_form.business_name') }}</strong>
          <p class="text-success mb-3"> {{ user.business_name }} </p>
          
          <strong>{{ __('labels.my_account_form.cuit') }}</strong>
          <p class="text-success mb-3"> {{ user.cuit }} </p>
          
          <strong>{{ __('labels.my_account_form.locality') }}</strong>
          <p class="text-success mb-3"> {{ user.locality_name }}, {{ user.province_name }} </p>
          
          <strong v-if="user.worst_credit_bureau">{{ __('Peor situación Bureau de crédito') }}</strong>
          <p class="text-success mb-3" v-if="user.worst_credit_bureau"> {{ user.worst_credit_bureau }} </p>
          
          <strong v-if="user.user_score">{{ __('Score de Nosis (Rango 0 a 999 mejor valor)') }}</strong>
          <p class="text-success mb-3" v-if="user.user_score"> {{ user.user_score }} </p>
          
          <strong v-if="user.bad_cheques">{{ __('Cant. cheques sin fondos, no pagados - Últ. 12 meses') }}</strong>
          <p class="text-success mb-3" v-if="user.bad_cheques"> {{ user.bad_cheques }} </p>
          
          <strong v-if="user.unpaid_employer_contribution">{{ __('Cant. de aportes patronales impagos -  Últ. 12 meses') }}</strong>
          <p class="text-success mb-3" v-if="user.unpaid_employer_contribution"> {{ user.unpaid_employer_contribution }} </p>
          
          <strong v-if="user.vat_condition">{{ __('Condición en IVA') }}</strong>
          <p class="text-success mb-3" v-if="user.vat_condition"> {{ user.vat_condition }} </p>
        </div>
      </div>
      <div slot="body" v-else>
        <pulse-loader></pulse-loader>
      </div>
    </Modal>
  </div>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import Modal from "./../../../form/modal.vue";
export default {
  props: ['user_id'],
  components: { PulseLoader, Modal },
  data() {
    return {
      APP_URL: process.env.MIX_LOCAL_APP_URL,
      user: null,
    }
  },
  async created() {
    this.getUser();
  },
  methods: {
    async getUser() {
      try {
        this.user = await this.$api.getUserDetail({id: this.user_id});
      } catch (error) {
        this.$toaster.error(error.message);
      }
    },
    closeModal() {
      this.$emit('close');
    },
  },
}
</script>