@import url('../../css/app.css');
@font-face {
    font-family: "Assistant", sans-serif;
    src: url(../fonts/Assistant-Bold.ttf), url(../fonts/Assistant-ExtraBold.ttf),
        url(../fonts/Assistant-ExtraLight.ttf),
        url(../fonts/Assistant-Light.ttf), url(../fonts/Assistant-Regular.ttf),
        url(../fonts/Assistant-SemiBold.ttf);
    font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body {
    font-family: "Assistant", sans-serif;
    color: #434343;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.2;
}
.small, small {
    font-size: 95%;
}
.ke__insumos__nav {
    background-color: #1c1c1c;
}
.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 14px 0px;
}
.ke__insumos__nav li a span.with-icon::before {
  content: "";
  background: url(../images/panel_ke_insumos_icon.png);
  background-repeat: no-repeat;
  background-size: 30px auto;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: -5px;
}
.ke__insumos__nav li a span.home::before {
    background-position: 0px 1px;
}
.ke__insumos__nav li a span.admin_users::before {
    background-position: 0px -47px;
}
.ke__insumos__nav li a span.productos::before {
    background-position: 0px -98px;
}
.ke__insumos__nav li a span.transacciones::before {
    background-position: 0px -147px;
}
.ke__insumos__nav li a span.review::before {
    background-position: 0px -194px;
}
.ke__insumos__nav li a span.users__app::before {
    background-position: 0px -47px;
}
.ke__insumos__nav li a span.notifications::before {
    background-position: 0px -295px;
}
.ke__insumos__nav li a span.billing::before {
    background-position: 0px -345px;
}
.ke__insumos__nav li a span.chat::before {
    background-position: 0px -393px;
}
.ke__insumos__nav li a span.help::before {
    background-position: 0px -440px;
}
.ke__insumos__nav li a span.contacto::before {
    background-position: 0px -728px;
}
.ke__insumos__nav li a span.t_and_c::before {
    background-position: 0px -490px;
}
.ke__insumos__nav li a span.leave::before {
    background-position: 0px -539px;
}
.ke__insumos__nav li a span.my_account::before {
    background-position: 0px -587px;
}
.ke__insumos__nav li a span.my_sales::before {
    background-position: 0px -635px;
}
.ke__insumos__nav li a span.my_orders::before {
    background-position: 0px -685px;
}
.ke__insumos__nav li a span.back___icon::before {
    content: "";
    background: url(../images/ke_insumos_arrow__left.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.ke__insumos__nav li .nav-link.blank {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 40px !important;
    padding-right: 80px !important;
}
.ke__insumos__nav li .nav-link.blank div {
    border-top: 2px solid #a09d8c;
}
.cusstom__container {
    width: 95%;
    margin: 0 auto;
    padding: 35px 50px 50px 50px;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border: 0px solid #000000;
    min-height: 748px;
    position: relative;
}
.cusstom__container.bg-white:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  background: #fff;
  height: 32px;
  z-index: 1;
  border-radius: 20px 20px 0px 0px;
}
.sidebar {
    min-width: 310px !important;
    padding-top: 32px;
    overflow: auto;
    height: 100vh;
}
.panel.mobile-footer{display:none}
@media (min-width: 992px) {
    .sidebar.homepage {
        display: none;
    }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  /* display: none; */
}
/* Hide scrollbar for IE and Edge */
.sidebar {
  /* -ms-overflow-style: none; */
}

.sidebar .sidebar-brand {
  padding: 0;
  height: auto;
}
.sidebar .nav-item {
    padding-left: 24px;
}
.sidebar .nav-item .nav-link {
    width: 100%;
}
.sidebar .nav-item .nav-link span {
    font-size: 14px;
    font-weight: bold;
    color: #a09d8c;
    text-transform: uppercase;
    padding-left: 40px;
    letter-spacing: 0.7px;
    position: relative;
}
.sign__off {
    margin: auto;
}
.sign__off button {
    border: 2px solid #40875a;
    border-radius: 30px;
    padding: 6px 24px;
    font-size: 17px;
    font-weight: bold;
    color: #40875a;
}
@media (max-width: 992px) {
    .sign__off {
        display: none;
    }
    .hide-before-481 {
        display: none;
    }
}
@media (min-width: 481px) {
    .show-before-481 {
        display: none;
    }
}
.topbar .nav-item .nav-link {
    color: #36714a;
}
.inverted-exclamation {
    vertical-align: sub;
    font-style: normal;
    transform: rotate(180deg);
    display: inline-block;
}
.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
    height: 3rem;
    width: 3rem;
    border: 2px solid #36714a;
    -webkit-box-shadow: 0px 3px 8px rgba(68, 68, 68, 0.6);
    -moz-box-shadow: 0px 3px 8px rgba(68, 68, 68, 0.6);
    box-shadow: 0px 3px 8px rgba(68, 68, 68, 0.6);
}
.sidebar .nav-item .nav-link .img-profile.no-border,
.topbar .nav-item .nav-link .img-profile.no-border {
    border: none;
}
.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(1);
    transform-origin: top right;
    right: 6px;
    top: 12px;
    width: 18px;
    padding: 10px;
    height: 18px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: bolder;
}

@media (max-width: 991px) {
    .sidebar .nav-item .nav-link .badge-counter,
    .topbar .nav-item .nav-link .badge-counter {
        right: -5px;
        top: 0;
    }
}

.badge-counter {
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapper #content-wrapper {
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.bg__for_cantainer {
    background-image: url(../images/dashboard_back_img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 33px;
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
}
.font__custom {
    font-size: 35px;
    font-weight: bold;
}
.topbar {
    height: 75px;
}
.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    /* padding: 0rem; */
}

.fl-fl {
    background-color: #55cd6c;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 155px;
    position: fixed;
    right: -95px;
    z-index: 1000;
    font-size: 10px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border: 0px solid #000000;
}

.fab {
    font-size: 35px;
    color: #fff;
    padding: 10px 0;
    width: 40px;
    margin-right: 5px;
}

.fl-fl:hover {
    right: 0;
}

.fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px !important;
    vertical-align: top !important;
}

.float-wa {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.25);
    box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.25);
}
.header-wrap .btn-outline-primary {
    color: #40875a;
    padding: 7px 28px 7px 28px;
    border-radius: 12px;
    border-color: #40875a;
    margin-right: 5px;
    margin-left: 5px;
}
.header-wrap .btn-outline-primary:hover {
    color: #fff;
    background-color: #40875a;
    border-color: #40875a;
}
.header-wrap .btn-outline-primary.fill-bg {
    color: #fff;
    background-color: #40875a;
    border-color: #40875a;
}

/* Floating Social Media Bar Style Ends Here */

@media (max-width: 991px) {
    .header-wrap {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .header-wrap a img {
        max-width: 200px;
    }
    .header-wrap .btn-outline-primary {
        padding: 7px 17px 7px 17px;
    }
}

@media (max-width: 767px) {
    a.header-logo {
        padding-bottom: 0 !important;
    }
    .header-wrap nav a {
        padding: 0 5px !important;
    }
    .header-wrap .btn-outline-primary {
        margin-bottom: 5px;
    }
}

/* Floating Social Media Bar Style Ends Here */
@media screen and (min-width: 360px) and (max-width: 563px) {
    .topbar .nav-item .nav-link {
        height: 4.375rem;
        display: flex;
        align-items: center;
        padding: 8px;
    }
}
@media screen and (min-width: 320px) and (max-width: 360px) {
    .topbar .nav-item .nav-link {
        height: 4.375rem;
        display: flex;
        align-items: center;
        padding: 0.1rem;
    }
}
.ke__insumos_heading {
    width: 95%;
    padding-right: 33px;
    padding-left: 33px;
}

@media screen and (min-width: 992px) {
    .sidebar.toggled {
        overflow: auto;
        width: 23.8rem !important;
        height: 100vh;
    }

    .sidebar.toggled .nav-item .nav-link {
        width: 100%;
        text-align: left;
        padding: 19px 0px;
    }

    .sidebar.toggled .nav-item .nav-link span {
        font-size: 16px;
        font-weight: bold;
        color: #a09d8c;
        text-transform: uppercase;
        padding-left: 51px;
        letter-spacing: 0.7px;
        display: inline;
    }
}

.btn-rounded {
    border-radius: 15px;
}

.pull-right {
    float: right !important;
}

.card-default {
    text-align: left;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: calc(0.35rem - -10px);
}
.card-header:first-child {
    border-radius: calc(0.35rem - -10px) calc(0.35rem - -10px) 0 0;
    padding: 1rem 1.25rem;
}
.card-default .card-header {
    background-color: rgb(216, 206, 181);
    color: #434341;
    font-weight: bold;
}

.table-default {
    border-bottom: 2px solid rgb(214, 207, 181) !important;
    border-collapse: collapse !important;
    margin-bottom: 10px !important;
}

.table-default thead {
    background-color: rgb(246, 245, 240);
}

.table-default th:first-child,
.table-default td:first-child {
    border-left: 2px solid rgb(214, 207, 181);
}

.table-default th:last-child,
.table-default td:last-child {
    border-right: 2px solid rgb(214, 207, 181);
}

.table-default th,
.table-default td,
.table-default tr {
    border-top: 2px solid rgb(214, 207, 181);
    border-bottom: 2px solid rgb(214, 207, 181) !important;
}

.table-condensed th,
.table-condensed td {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.table-default tbody tr:last-child th,
.table-default tbody tr:last-child td {
    border-bottom: 4px solid rgb(214, 207, 181) !important;
}

.btn-no-style {
    background-color: transparent;
    border: 0px;
    box-shadow: none !important;
    border-radius: 0px;
}
.btn-no-style:focus {
    outline: none;
}

.text-black {
    color: #5a5c69 !important;
}

.bg-black {
    background-color: #000000;
    color: #fff;
}

.bg-danger {
    color: #fff;
}

.circle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 0.7rem;
}

.dataTables_paginate .previous,
.dataTables_paginate .next {
    display: none !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    text-align: left;
}

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        text-align: left;
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: rgb(66, 135, 90) !important;
    padding: 0;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    padding-left: 4px;
    padding-right: 4px;
}

.dataTables_paginate a {
    background-color: transparent !important;
    color: rgb(66, 135, 90) !important;
    border-radius: 50px !important;
    margin: 1px !important;
    font-weight: 700;
    font-size: 16px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled):hover {
    background: rgb(66, 135, 90) !important;
    border: 1px solid rgb(66, 135, 90) !important;
    color: #fff !important;
    border-radius: 50px !important;
    margin: 1px !important;
}

.v-switch-core {
    border-radius: 8px !important;
    /* width: 100px !important;
  height: 32px !important;
  border-radius: 15px !important; */
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.4);
}
.vue-js-switch.toggled .v-switch-core {
    background-color: rgb(64, 135, 91) !important;
}

body.panel
{
  height: 100%;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  display: unset;
  overflow: hidden;
}

.cusstom__header
{
  width: 95%;
  margin: 0 auto;
}

.cusstom__header {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 39px !important;
}

.table {
    color: #434343;
}
.panel textarea.form-control {
    border: 0px;
    border-bottom: 3px solid #c1c1c1;
    border-radius: 0px;
}

.panel input.form-control,
.panel select.form-control {
    border: 0px;
    border-bottom: 3px solid #c1c1c1;
    border-radius: 0px;
    height: 36px;
    font-size: 0.9rem;
}
.panel input.form-control.text-success-dark,
.panel select.form-control.text-success-dark {
    border-bottom-color: #36714a;
}
.panel input.form-control:hover,
.panel input.form-control:focus,
.panel input.form-control:required:invalid,
.panel select.form-control:focus,
.panel textarea.form-control:hover,
.panel textarea.form-control:focus,
.panel textarea.form-control:required:invalid {
    border: 0px;
    border-bottom: 3px solid #c1c1c1;
    border-radius: 0px;
    box-shadow: none;
    outline: 0 none;
}

.panel select.form-control,
.panel select.form-control:invalid,
select.form-control:-moz-ui-invalid {
    border: 0px;
    border-bottom: 3px solid #c1c1c1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url("../images/small-down-arrow-icon-15593.png");
    background-repeat: no-repeat;
    background-size: 16px 17px;
    background-position: right 0px;
}
select.hidden__arrow { background: none !important; }
select.hidden__arrow:disabled { background-color: #fbfbfb !important }

.panel input.form-control:focus:required:invalid,
.panel textarea.form-control:focus:required:invalid {
    border-bottom: 3px solid #dd0a0ac2;
}


.input-group .vdp-datepicker {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0px;
    display: block;
}
.table td,
.table th {
    vertical-align: middle;
}

.input-group.input-group-success .vdp-datepicker input {
    width: 100%;
    border: 1px solid rgb(177, 220, 190);
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}

.input-group-append.success .input-group-text {
    background-color: #40875a;
    color: #fff;
}

.dashboard-card {
    padding: 10px;
    -moz-box-shadow: 0px 0px 20px #ccc;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 10px;
    border-left: 10px solid rgb(214, 207, 181);
    border-right: 10px solid rgb(214, 207, 181);
    height: 100%;
}

.tnc-card {
    padding: 25px;
    -moz-box-shadow: 1px 0px 8px #ccc;
    -webkit-box-shadow: 1px 0px 8px #ccc;
    box-shadow: 1px 0px 8px #ccc;
    border-radius: 10px;
}

.tnc-card p {
    white-space: break-spaces;
    text-align: justify;
}

.vdp-datepicker__clear-button {
    width: 10%;
}

.position-relative {
    position: relative;
}

.vue-calendar .vdp-datepicker__clear-button {
    top: 8px;
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
}
.vue-calendar .vdp-datepicker__clear-button .input-group-text {
    background: none;
    border: none;
}

.btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem !important;
    font-size: 0.9rem;
}
.text-success-dark {
    color: #36714a;
}
.form-error {
    font-size: 0.8rem;
    color: #e74a3b;
}
.dataTables_filter input {
    border: 0px;
    border-bottom: 3px solid rgb(80, 80, 80);
}
.dataTables_length label {
    color: rgb(80, 80, 80);
}
.dataTables_length select {
    width: 50px;
    padding-left: 5px;
    padding-right: 10px;
    border: 0px;
    border-bottom: 3px solid rgb(80, 80, 80);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url("../images/dt_double_arrows.png");
    background-repeat: no-repeat;
    background-size: 10px 15px;
    background-position: center right;
}
.tooltip {
    opacity: 1;
}
.tooltip-btn {
    padding: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 0.8rem;
    background-color: #365671;
    line-height: 2;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    margin-bottom: 0;
}
.tooltip-big {
    width: 38px;
    height: 38px;
    font-size: 1.2rem;
    line-height: 38px;
    background-color: #365671;
}
.tooltip .tooltip-inner {
    background-color: #365671 !important;
    color: #fff !important;
    border-radius: 5px !important;
    max-width: 370px;
}
.tooltip .tooltip-arrow {
    border-color: #365671 !important;
}

.sidebar .nav-link.router-link-exact-active::after {
    content: "";
    background: url(../images/ke_insumos_arrow__right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 14px;
}

 
@media (max-width: 991px) {
    .topbar #sidebarToggleTop,
    .topbar #sidebarToggleTop:hover {
        background-color: #b4dcc1;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #b4dcc1;
        border-radius: 50% !important;
        padding: 0;
    }
    .topbar #sidebarToggleTop span {
        position: relative;
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        content: '';
        top: 0;
        display: block;
    }
    .topbar #sidebarToggleTop span:before,
    .topbar #sidebarToggleTop span:after {
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        content: '';
        left: 0;
    }
    .topbar #sidebarToggleTop span:before {
        top: -7px;
        transition: 0.5s;
    }
    .topbar #sidebarToggleTop span:after {
        top: 7px;
    }
    
    .sidebar {
      display: block;
      position: fixed;
      top: 0;
      left: -100vw;
      width: 100vw !important;
      min-width: auto;
      height: 100vh;
      overflow: auto;
      z-index: 10000;
      /* transform: translateX(-100%); */
      /* -webkit-transform: translateX(-100%); */
      -webkit-transition: 0.3s ease-out;
      transition: 0.3s ease-out;
      background: #40875B;
      padding-top: 50px;
    }
    .sidebar.active {
        left: 0;
      /* transform: translateX(0); */
      /* -webkit-transform: translateX(0); */
    }
    .sidebar .nav-item {
      padding-left: 45px;
    }
    .sidebar .nav-item .nav-link {
      padding: 16px 0px;
    }
    .sidebar .nav-item .nav-link span {
      color: #fff;
      font-size: 16px;
    }
    .sidebar .nav-item .nav-link span.back___icon:before {
      left: -10px;
      top: -10px !important;
      background-color: rgba(255, 255, 255, 0.6);
      background-position: center;
      border-radius: 50%;
      top: 10px;
      width: 40px;
      height: 40px;
    }

    .sidebar .close-button {
      width: 40px !important;
      height: 40px !important;
      background: rgba(255, 255, 255, 0.6);
      box-shadow: none;
      border-radius: 50% !important;
      padding: 0;
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 1;
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
    .sidebar .close-button span {
        position: relative;
        width: 25px;
        height: 2px;
        background-color: transparent;
        content: '';
        display: block;
    }
    .sidebar .close-button span:before,
    .sidebar .close-button span:after {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        content: '';
        top: 0;
        left: 0;
    }
    .sidebar .close-button span:before {
        transform: rotate(-45deg);
    }
    .sidebar .close-button span:after {
        transform: rotate(45deg);
    }

    .sidebar.homepage .nav-item .nav-link span {
        padding-left: 0;
    }
    .sidebar.homepage hr {
        border-top: 2px solid #fff;
        width: 60%;
        margin: 15px 0;
    }

    .ke__insumos__nav li .nav-link.blank {
      padding-right: 100px !important;
    }
    .ke__insumos__nav li .nav-link.blank div {
      border-color: #fff;
    }
    .ke__insumos__nav li a span.with-icon::before {
      background-image: url(../images/panel_ke_insumos_icon_white.png);
    }
    .topbar .sidebar-brand img{
      width: 150px;
    }
    .sidebar .nav-link.router-link-exact-active::after {
        background-image: url(../images/ke_insumos_arrow_right_white.png);
    }
    .ke__insumos__nav li a span.back___icon::before {
        background-image: url(../images/ke_insumos_arrow_left_white.png);
    }
}

textarea.form-control.success {
    border-color: rgb(179, 220, 190);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.custom-checkbox .custom-control-label {
    padding-left: 25px;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}
.custom-checkbox .custom-control-label:before {
    margin-right: 0.25rem;
    left: 0;
    top: 0.05rem;
    border-color: #666666;
}

.custom-checkbox
    .custom-control-input:focus:not(:checked)
    ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem #66666640;
}

.custom-checkbox .custom-control-label:after {
    left: 0;
    top: 0.05rem;
}
.custom-checkbox .custom-control-label.text-success:before {
    border-color: #40875b;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #40875b;
    border-color: #40875b;
}

.custom-checkbox
    .custom-control-input:indeterminate
    ~ .custom-control-label::before,
.custom-checkbox
    .custom-control-input:indeterminate
    ~ .custom-control-label::after {
    background: none;
    border-color: #40875b;
}

a.dropdown-item.text-success-dark:hover {
    color: #36714a;
}
a.dropdown-item.text-danger:hover {
    color: #e74a3b;
}
a.dropdown-item:active {
    background: #f8f9fc;
}
.theme-text {
    color: rgb(197, 191, 175);
}
.table-responsive .table {
    width: 99.5% !important;
}

.chat-screen {
    max-height: 400px;
    overflow-y: auto;
}

/* Chat containers */
.chat-screen .container {
    /* background-color: #fff; */
    padding: 10px;
    max-width: 85%;
    display: flex;
    align-items: center;
    margin: 0;
}

/* Style images */
.chat-screen .container img {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #40875a;
    box-shadow: 0px 3px 4px 0px rgb(173, 173, 173);
}

.chat-screen .container p {
    margin: 2px 0;
    padding: 20px 33px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #dad1ba;
    border-radius: 15px;
    flex: 1;
    font-size: 1.2rem;
    background: #fff;
}
.chat-screen p.darker {
    border-color: rgb(214, 207, 181);
    background-color: rgb(244, 241, 234);
    border-width: 2px;
}
.chat-screen .container.right {
    margin-left: auto;
}
.chat-screen .container.right img {
    margin-left: 10px;
    margin-right: 0;
}

.table-default tr.chat_open,
.table-default tr.chat_open td {
    border-bottom: none !important;
    /* border: none !important; */
    background: #fbfbfb;
}
.table-default tr.chat_open + tr,
.table-default tr.chat_open + tr td {
    border-top: none !important;
    background: #fbfbfb;
    /* border: none !important; */
}

.chat-input .form-control:disabled,
.chat-input .form-control[readonly] {
    background-color: transparent !important;
}

.chat-input .form-control:disabled::placeholder,
.chat-input .form-control[readonly]::placeholder {
    color: #e74a3b !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.userDropdown .dropdown-item.active,
.dropdown-item:active {
    color: #2e2f37;
}

.font-700 {
    font-weight: 700;
}

.agronomia-my-products select,
#agronomia_product_list select,
#admin_product_list select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background:url('../images/down-arrow-grey.png') !important;
	background-repeat:no-repeat !important;
	background-size:16px 17px !important;
  background-position:right center !important;
  border-bottom: 3px solid rgb(80, 80, 80) !important;
  color: rgb(80, 80, 80) !important;
}

.table.dataTable thead th, table.dataTable thead td
{
  padding: 8px 10px;
}

.cusstom__container.bg-white,
.cusstom__container.alert-success {
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
}

.form-control[readonly] {
  background-color: #fbfbfb;
}
.form-control:disabled {
  background-color: #fbfbfb;
}
.vdp-datepicker input { background-color: transparent !important; }
.vdp-datepicker input:disabled { background-color: #fbfbfb !important; }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: uppercase;
    font-size: 0.9rem;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: uppercase;
    font-size: 0.8rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
    text-transform: uppercase;
    font-size: 0.8rem;
}

.sticky-footer {
    padding: 0.3rem 0 !important;
    background-color: #dfddde;
    text-align: center;
    height: 70px;
}
.sticky-footer .container {
    max-width: 95%;
}
.sticky-footer .container .row {
    align-items: center;
}
.sticky-footer .container div:nth-child(1) {
    text-align: left;
}
.sticky-footer .container div:nth-child(2) {
  text-align: right;
}

.ql-container {
  overflow: hidden;
}
.ql-editor.ql-blank:before {
  display: none;
}
.sticky-footer
{
  padding: 0.3rem 0 !important;
  background-color: #dfddde;
  text-align: center;
}
.sticky-footer .container
{
  max-width: 95%;
}
.sticky-footer .container .row
{
  align-items: center;
}
.sticky-footer .container div:nth-child(1) {
  text-align: left;
}
.sticky-footer .container div:nth-child(2) {
  text-align: right;
}

/* DATATABLE HEADER SORTING ICON */
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting
{
  background-image: none;
}
table.dataTable thead .sorting_desc i:before,
table.dataTable thead .sorting_asc i:before,
table.dataTable thead .sorting i:before
{
  content: "\f30c";
  color: #d6cfb5;
}
table.dataTable thead .sorting_desc i:after,
table.dataTable thead .sorting_asc i:after,
table.dataTable thead .sorting i:after
{
  content: "\f309";
  color: #d6cfb5;
}
table.dataTable thead .sorting_asc i:before
{
  color: rgb(80, 80, 80);
}
table.dataTable thead .sorting_desc i:after
{
  color: rgb(80, 80, 80);
}
/* DATATABLE HEADER SORTING ICON */

.hide-searchbox #dt_table_filter
{
  display: none;
}
.hide-pagelength #dt_table_length
{
  display: none;
}
.table-default .custom-checkbox .custom-control-label::before
{
  border: 2px solid #d6cfb5 !important;
}
.table-default .custom-control-input:checked ~ .custom-control-label::before
{
  background-color: #d8ceb5;
}

.tnc-content {
    line-height: 2;
    font-size: 0.95rem;
}

.custom-footer
{
  display: block;
  width: 100%;
  float: left;
  background-color: rgba(128, 128, 128, 0.55);
  position: absolute;
  bottom: 0;
}

.custom-footer .container
{
  max-width: 1111px;
  width: 100%;
  padding: 0;
}

.custom-footer .footer-wrap
{
  align-items: center;
  padding: 15px 0px;
  width: 100%;
}

.custom-footer .footer-part
{
  width: 50%;
}

.custom-footer .footer-part p
{
  margin-bottom: 0;
  font-weight: 700;
  color:#36322f;
  font-size: 15px;
}

.custom-footer .footer-part .footer-logo-content
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.v-toaster {
    z-index: 10002 !important;
}
.custom-footer .footer-part .footer-logo-content p
{
  padding-right: 10px;
}

.footer-bottom-container
{
  padding-bottom: 142px !important;
}

@media(max-width:991px)
{
  .custom-footer .footer-part
  {
    width:100%;
  }
  .custom-footer .footer-part .footer-logo-content
  {
    justify-content: center;
  }
  .custom-footer .footer-part
  {
    text-align: center;
    padding:5px 0;
  }
}

@media(max-width:767px){
  .custom-footer .footer-part .footer-logo-content
  {
    flex-direction: column;
  }
  .custom-footer .footer-part .footer-logo-content p 
  {
    padding-bottom: 10px;
  }
}

.custom-control-input:checked ~ .custom-control-label::before 
{
  border-color: #40875b;
  background-color: #40875b;
}

.quill-editor .ql-container.ql-snow {
    border: 2px solid #b1e4c5 !important;
    border-radius: 15px;
}
.quill-editor .ql-toolbar.ql-snow {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.quill-editor .ql-toolbar.ql-snow .ql-stroke {
    stroke: #919191;
}
#description .ql-editor {
    min-height:150px;
    background: #f2f2f2;
}
#questionEditor .ql-editor {
    min-height:100px;
}
#replyEditor .ql-editor {
    min-height:150px;
}


.admin-notification-user-search-box
{
  border: 2px solid rgb(214, 207, 181) !important;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}
.admin-notification-user-search-box input
{
  border: none !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}

a.back-button {
    border: none;
    height: 40px;
    width: 40px;
    background-color: #b4dcc1;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
}
a.back-button span {
    height: 2px;
    background-color: #ffffff;
    width: 19px;
    position: relative;
}
a.back-button span:before,
a.back-button span:after {
    position: absolute;
    width: 11px;
    height: 2px;
    background-color: #ffffff;
    content: '';
    top: 0px;
    left: 1px;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left;
}
a.back-button span:before {
    -webkit-transform: rotate(-45Deg);
    -moz-transform: rotate(-45Deg);
    transform: rotate(-45Deg);
}
a.btn.back-button span:after {
    -webkit-transform: rotate(45Deg);
    -moz-transform: rotate(45Deg);
    transform: rotate(45Deg);
}
a.btn.back-button.top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: #FFDF72;
    z-index: 9;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
    transition: opacity 0.35s;
}
a.btn.back-button.top.back-button.hideTopIcon {
    opacity: 0;
}

@media (min-width: 992px)  {
    a.btn.back-button.top {
        bottom: 40px;
        right: 60px;
        height: 45px;
        width: 45px;
    }
}

@media (max-width: 992px) {
    a.btn.back-button {
        top: 5px;
    }
    a.btn.back-button.top {
        top: auto;
        
    }
}


@media (max-width: 991px) {
    .cusstom__header {
        margin-bottom: 24px !important;
        text-align: center;
    }
    .topbar {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 999;
      background: #000;
      left: 0;
      height: 90px;
      -webkit-transition: transform 0.15s;
      transition: transform 0.15s;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      transform: translateY(-100%);
      justify-content: space-between;
    }
    .topbar .sidebar-brand img {
        width: auto;
        height: 65px;
    }
    .topbar .nav-item .nav-link {
        display: flex;
        align-items: center;
        padding: 0;
        border: 2px solid #40875b;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        /* overflow: hidden; */
        background: #fff;
    }
    .sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
        width: 100%;
        height: auto;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .topbar.showTopbar {
      transform: translateY(0);
    }
    body.panel {
        display: block;
        overflow: auto;
        padding: 0;
    }
    .bg__for_cantainer {
      height: unset;
      overflow: unset;
      margin-top: 90px;
      margin-bottom: 68px;
      padding-top: 0;
      padding-bottom: 0;
    }
    #wrapper #content-wrapper {
      height: unset;
      overflow: unset;
    }
    .sticky-footer {
        height: auto;
        font-size: 0.7rem;
        padding: 0.4rem 0 !important;
    }
    .sticky-footer .container {
        max-width: none;
    }
    .sticky-footer .container div:nth-child(1),
    .sticky-footer .container div:nth-child(2) {
        text-align: center;
    }
    .sticky-footer .container div:nth-child(2) img {
        width: 60px;
        margin-left: 5px;
    }
    .cusstom__container {
        width: 100%;
        padding: 30px 15px 75px;
        min-height: 100vh;
    }
    .cusstom__container.bg-white:before {
        display: none;
    }

    .cusstom__container .container,
    .cusstom__container .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .cusstom__container .row {
        margin-right: -5px;
        margin-left: -5px;
    }
    .cusstom__container [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
    .sidebar {
        padding-top: 75px;
    }
    .sidebar .nav-link.router-link-exact-active::after {
        right: 50px;
    }


    .panel.mobile-footer {
        border-top: 1px solid rgba(168, 177, 171, 0.47);
        padding: 14px 0px 15px;
        display: block;
        position: fixed;
        bottom: 0;
        background: #fafafa;
        width: 100%;
        z-index: 9999;
    }
    .panel.mobile-footer ul {
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .panel.mobile-footer ul li {
        display: inline-block;
    }
    .panel.mobile-footer ul a {
        display: inline-block;
    }
    .panel.mobile-footer ul li:first-child a {
        margin-left: 0;
    }
    .panel.mobile-footer ul li img {
        max-width: 40px;
    }

    .float-sm {
        display: none;
    }
}

@media (max-width: 576px) {
    body.panel, .btn {
        font-size: 0.75rem
    }
    .cusstom__container {
        padding: 30px 10px 75px;
    }
    .vue-calendar .vdp-datepicker__calendar {
        width: 275px;
        /* bottom: 100%; */
    }
    .circle {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 0.5rem;
    }
    
    .cusstom__header .font__custom {
        font-size: 1.5rem;
    }
    .cusstom__header .btn.btn-outline-light {
        margin-top: 1rem;
        background: #40875b;
    }
}
.accordion__title-text, .accordion__value
{
  text-align: initial;
}
.ql-align-center
{
  text-align: center;
}
.ql-align-right
{
  text-align: right;
}