/*banner section start*/
.banner_part-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;background-position:0px -205px;}
.banner-left-part{width:50%;padding:40px 0px 52px 0px;max-width:500px;margin-left:auto;margin-right:52px;}
.banner-right-part{width:50%;z-index:0;background-color:rgba(38,38,38,75%);margin-left:133px;margin:263px 0px 140px 0px;}
h1.banner_before{font-size:60px;color:white;z-index:0;font-family:"Assistant",sans-serif;font-weight:500;position:relative;}
h1.banner_before::before{content:'';width:80px;height:3px;position:absolute;bottom:-17px;left:4px;background-color:white;}
.banner_content{padding:33px 0px 24px 35px;max-width:460px;width:100%;}
.banner_content p{font-size:30px;color:#fff;line-height:36px;}
.banner_part-wrap:before{position:absolute;content:'';height:100%;width:100%;top:0;right:0;left:0;background:linear-gradient(to bottom,rgba(88,88,88,0.62) 0%,rgba(0,0,0,72%) 100%)}
@media only screen and (max-width:1440px){
  .banner-left-part{width:50%;padding:10px 0px 101px 0px;max-width:500px;margin-left:auto;margin-right:64px;}
}
@media only screen and (max-width:1280px){
  .banner-left-part{width:50%;padding:10px 0px 101px 0px;max-width:500px;margin-left:auto;margin-right:7px;}
}
@media only screen and (max-width:1024px){
  .banner-left-part{width:50%;padding:10px 0px 101px 0px;max-width:451px;margin-left:auto;margin-right:0px;}
}
@media only screen and (max-width:980px){
  .banner-left-part{width:100%;padding:0;max-width:100%;margin-left:0;margin-right:0px;}
  .banner_part-wrap{padding:106px 43px 45px 38px;align-items:flex-start;flex-direction:column;}
  .banner-right-part{width:100%;z-index:0;background-color:rgba(38,38,38,75%);margin-left:0;margin:30px 0px 0px 0px;}
}
@media only screen and (max-width:576px){
  .mobile-content.home-mobile-content h1{font-size:20px;line-height:22px;font-weight:900;text-align:center;font-weight:700;color:#fff;font-family:'Assistant',light;}
  .banner_mobile_views{width:100%;position:relative;}
  .banner_part-wrap{padding:0;align-items:center;flex-direction:column;}
  .banner_part-wrap::before{background:transparent;}
  .banner_part-wrap{background-image:none!important;}
  h1.banner_before{color:#3e885b!important;font-size:25px!important;text-align:left!important;}
  h1.banner_before::before{bottom:-15px;left:0;background-color:#3e885b;}
  .banner-left-part{padding:25px 0px 24px 19px;}
  .banner-right-part{width:100%;z-index:0;background-color:rgba(38,38,38,85%);margin-left:0;margin:8px 0px 0px 0px;}
  .banner_content{padding:22px 0px 9px 19px;}
  .banner_content p{font-size:20px;color:#fff;line-height:24px;}
}

/*banner section end*/

/* cards info section start*/
.cards-info-section{position:relative;background-color:#ececec;padding-top:32px;padding-bottom:122px;}
.cards-info-section::before{content:'';position:absolute;content:'';position:absolute;background:url(../images/desktop_nuestra_solucion_shape_top.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;background-repeat:no-repeat;top:-120px;width:100%;height:121px;background-position:center;background-size:cover;}
.img-wrap{padding-bottom:43px;}
.contact-part h4{padding-bottom:9px;font-family:'Montserrat',sans-serif;color:#008a59;letter-spacing:1px;}
.contact-part p{font-size:14px;color:#262626;font-family:"Assistant",sans-serif;padding-left:30px;padding-right:30px;padding-bottom:36px;}

/* cards info section end*/
.new_flex{
  display: flex;
flex-direction: row;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 100%;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
position: relative;
background-position: 0px -205px;
overflow: auto;
}

/* celular app section start */
.celular_app{position:relative;}
.celular_app::before{content:'';position:absolute;background:url(../images/desktop_nuestra_solucion_shape_bottm.png);background-position-x:0%;background-position-y:0%;background-size:auto;background-repeat:no-repeat;top:-98px;width:100%;height:182px;background-position:center;background-size:cover;z-index:0;}
h4.banner_before{font-size:25px;color:#008a59;z-index:0;font-family:'Montserrat',sans-serif;font-weight:500;position:relative;}
h4.banner_before::before{content:'';width:80px;height:3px;position:absolute;bottom:-17px;left:0;background-color:#008a59;}
.celular_app_content{}
.celular_app_content p{font-size:22px;line-height:24px;color:#262626;font-family:"Assistant",sans-serif;padding-bottom:43px;padding-top:60px;}
.celular_app h5{color:#008a59;font-size:20px;font-family:"Assistant",sans-serif;font-weight:500;}
.otras_ventajas_son_list{position:relative;margin-top:36px;}
.otras_ventajas_son_list li.check_list::before{content:'';width:29px;height:29px;position:absolute;top:0;left:-24px;background:url(../images/checklist.png);}
.otras_ventajas_son_list li{font-size:14px;font-family:"Assistant",sans-serif;color:#262626;letter-spacing:.5px;list-style-type:none;padding-left:51px;position:relative;padding-bottom:29px;}
.celular_app_right_content{background:url(../images/desktop_nuestra_solucion_03.jpg);max-width:unset;background-repeat:no-repeat;background-size:cover;}
.celular_app_right{position:relative;background-color:transparent;margin:54px 0px 101px 0px;}
.banner_content.celular_app_right_content img{margin-top:-250px;}
.otras_ventajas_sub_list{position:relative;margin-top:19px;margin-left:-4px;}
.otras_ventajas_sub_list li.redio_list::before{content:'';width:15px;height:15px;position:absolute;top:4px;left:-24px;background:url(../images/redio_btn.png);}
.otras_ventajas_sub_list li{font-size:14px;font-family:"Assistant",sans-serif;color:#262626;letter-spacing:.5px;list-style-type:none;padding-left:0;position:relative;padding-bottom:29px;}
@media only screen and (max-width:980px){
  .cards-info-section::before{content:'';position:absolute;display:none!important;}
  .celular_app::before{content:'';position:absolute;display:none!important;}
  .cards-info-section{position:relative;background-color:#ececec;padding-top:45px;padding-bottom:0;}
  .celular_app{position:relative;padding-top:38px;padding-left:0;padding-right:0;}
  .celular_app_right_content{display:flex;justify-content:center;}
  .celular_app_right{margin-top:204px;}
  .row.cards-info-wrap{position:relative;margin:0 auto;}
  .banner-left-part.celular_app_content{padding-left:30px;padding-right:30px;padding:42px 0px 24px 19px;}

/*.img-wrap img{width:138px;}*/}

/* celular app section end */

/* btn btn section start */
.cta_btn_contnet{display:flex;flex-wrap:wrap;flex-direction:row;align-items:center;justify-content:center;width:100%;margin:0 auto;max-width:963px;}
.cta_btn{padding-bottom:32px;padding-top:40px;background:url(../images/cta_btn.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;}
.cta_btn_title{width:30%;padding-right:18px;}
.banner-btn-grp.cta_btn_parent{width:33%;max-width:100%;}
.banner-btn-grp.cta_btn_parent a{width:175px;height:53px;background:#000;border-radius:30px;display:flex;align-items:center;color:#fff;text-decoration:none;border:0px solid #fff;padding-left:8px;justify-content:center;margin-right:16px;}
.cta_btn_title h4{font-size:35px;color:#fff;font-family:"Assistant",sans-serif;font-weight:600;}
.banner-btn-grp.cta_btn_parent{width:43%;max-width:100%;display:flex;justify-content:flex-start;}
.banner-btn-grp.cta_btn_parent{margin-top:0px;}
.cta_btn_parent .icon-wrap{margin-left:-7px;margin-right:7px;width:26px;}
@media only screen and (max-width:980px){
  .cta_btn_contnet{flex-direction:column;}
  .cta_btn_title h4{font-size:22px;text-align:center;}
  .banner-btn-grp.cta_btn_parent{width:100%;max-width:100%;display:flex;justify-content:center;padding-top:19px;}
  .celular_app_right{margin:54px 0px 0px 0px;}
  .mbt_mobile{margin-top:130px;}
  .celular_app{padding:0px 0px 0px 0px;}
  .cta_btn_title{width:100%;padding-right:18px;}
}
@media only screen and (max-width:381px){
  .banner-btn-grp.cta_btn_parent{justify-content:space-around;}
  .banner-btn-grp.cta_btn_parent a{margin-right:0px;}
}
@media only screen and (max-width:360px){
  .plataforma_web_content_img img{width:315px;max-width:100%;}
  .banner-btn-grp.cta_btn_parent{justify-content:space-between;padding-right:10px;padding-left:10px;}
  .banner-btn-grp.cta_btn_parent a{width:160px;margin-right:0;}
}

/* btn btn section end */

/*plataforma web start*/

.plataforma_web{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;padding-top:66px;}
.plataforma_web_content{width:47%;margin-right:57px;background:url(../images/desktop_nuestra_solucion_05.jpg);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;background-repeat:no-repeat;background-size:cover;background-position:right bottom;text-align:right;}
.plataforma_web_content_text{max-width:500px;width:50%;z-index:0;position:relative;background-color:transparent;margin:54px 0px 101px 0px;}
.plataforma_web_content_text p{font-size:22px;line-height:24px;color:#262626;font-family:"Assistant",sans-serif;padding-bottom:23px;padding-top:60px;}
.plataforma_web_content_img{margin-top:-58px;position:relative;margin-bottom:286px;margin-right:40px;}
.plataforma_web_content_text h5{color:#008a59;font-size:20px;font-family:"Assistant",sans-serif;font-weight:500;}
footer{padding-top:12px;padding-bottom:9px;background-color:#dfdede!important;}
@media only screen and (max-width:1050px){
  .plataforma_web_content{margin-right:30px;width:43%;}
}
@media only screen and (max-width:980px){
  .plataforma_web{padding-top:0;flex-direction:column-reverse;}
  .plataforma_web_content{width:43%;}
  .plataforma_web_content_text{max-width:100%;width:100%;z-index:0;position:relative;background-color:transparent;margin:16px 0px 38px 0px;padding:25px 0px 0px 19px;}
  .plataforma_web_content{width:100%;text-align:center;margin-right:0;}
  .plataforma_web_content_img{margin-top:-82px;position:relative;margin-bottom:82px;margin-right:0;}
  .otras_ventajas_son_list li{font-size:14px;font-family:"Assistant",sans-serif;color:#262626;letter-spacing:.5px;list-style-type:none;padding-left:30px;position:relative;padding-bottom:29px;padding-right:28px;}
  .redio_list{padding-left:0px!important;}
  .otras_ventajas_sub_list li.redio_list::before{left:-29px;}
}

/*plataforma web end*/

/*desktop propuesta de valor agronomias page start*/

/*banner section start*/
.propuesta_title{padding:0 0px 177px 0px;max-width:520px;}
.propuesta_title h1{font-size:50px;}

/*banner section end*/

/*cards-info-section start */

.custom__max-width{max-width:20%;}
.desktop_propuesta_de_valor_agronomias .container{max-width:1329px;width:100%;padding:0;}
section.cards-info-section.desktop_propuesta_de_valor_agronomias.animatedParent {
    padding-bottom: 90px;
}
.mayores_ingresos img{height:122px;}
.custom__max-width .contact-part p{font-size:14px;color:#262626;font-family:"Assistant",sans-serif;padding-left:15px;padding-right:15px;padding-bottom:36px;}

/*cards-info-section end */

/* ofrecemos_video  start */
.ofrecemos_video{padding:113px 0px 105px 0px;}
.ofrecemos_content h5{color:#262626;font-size:30px;font-family:"Assistant",sans-serif;font-weight:500;padding-left:33px;padding-top:9px;}
.ofrecemos_video_thumbnail a.full-click-wrap img{width:100%;border-radius:0px;box-shadow:0px 0px 0px 0px #79787d00;height:335px;object-fit:cover;max-width:476px;}
.ofrecemos_video_thumbnail a.full-click-wrap:before{position:absolute;top:0;left:0;right:0;bottom:0;border-radius:0px!important;background:rgba(0,0,0,0.42);content:'';height:335px;max-width:476px;}
.ofrecemos_video_thumbnail a.full-click-wrap{position:relative;display:block;height:335px;object-fit:cover;max-width:476px;}
.ofrecemos_content{width:400px;max-width:100%;position:relative;}
.ofrecemos_content:before{position:absolute;top:0;left:0;background:#2da628;content:'';height:177px;width:3px;}
.ofrecemos_video_thumbnail{display:flex;justify-content:flex-end;}
@media only screen and (min-width:992px) and (max-width:1140px){
  .propuesta_title{padding:0 0px 177px 30px;max-width:504px;}
}
@media only screen and (max-width:991px){
  .ofrecemos_content{width:476px;}
  .ofrecemos_content_display{display:flex;justify-content:center;padding-top:37px;}
  .align-items-center{align-items:center!important;flex-direction:column-reverse;}
  .ofrecemos_video_thumbnail{display:flex;justify-content:center;}
  .mayor_eficiencia img{height:122px;width:114px;}
  .transformación_digital img{height:114px;width:117px;}
  .mejor_informacion img{height:122px;width:122px;}
  .campanas_comerciales img{height:119px;width:121px;}
  .transformacion_digital img{height:119px;width:113px;}
  .mayores_ingresos img{height:114px;width:117px;}
  .propuesta_title{padding:21px 20px 30px 20px;max-width:504px;}
  .propuesta_title h1{font-size:40px;}
  .custom__max-width{max-width:none;}
  .banner_part-wrap.celular_app.ofrecemos_video{padding-right:20px;padding-left:20px;}
}
@media only screen and (max-width:576px){
  .propuesta_title h1{font-size:40px;font-weight:600;}

  /* .ofrecemos_video_thumbnail {
     display: flex;
     justify-content: unset;
  }*/}
  @media only screen and (max-width:360px){
    .cta_btn_parent .icon-wrap{margin-left:-7px;margin-right:7px;width:18px;}
    .icon-wrap img{width:88%!important;object-fit:contain;}
    .banner-btn-grp.cta_btn_parent a{width:149px;margin-right:0;}
  }

  /* ofrecemos_video  end */

  /*desktop propuesta de valor agronomias page end */

  /*desktop_propuesta_de_valor_productores page start */
  h4.productores_card_title{font-size:22.27px;font-family:'Montserrat',sans-serif;}

  /* cards-info-section start */
  .valor_productores_pt .img-wrap{padding-bottom:27px;}
  .col-xl-4.col-lg-4.col-md-4.col-sm-4.col-12.text-center.valor_productores_pt{margin-bottom:43px;}
  @media only screen and (max-width:576px){
    .col-xl-4.col-lg-4.col-md-4.col-sm-4.col-12.text-center.valor_productores_pt{margin-bottom:42px;}
  }

  /* cards-info-section end */

  /* desktop_quienes_somos page start */
  .mt_p{margin-top:-275px;}
  .desktop_quienes_somos_banner::before{position:absolute;content:'';height:100%;width:100%;top:0;right:0;left:0;background:linear-gradient(to bottom,rgba(88,88,88,0) 0%,rgba(0,0,0,0) 100%);}
  .desktop_quienes_somos_banner{background-position:bottom;background-size:cover;padding-bottom:208px;}
  .desktop_quienes_somos{position:relative;background-color:#fff;padding-top:32px;padding-bottom:0;}
  .desktop_quienes_somos .container{background-color:#f3f3f3;padding-left:64px;padding-right:64px;padding-top:79px;padding-bottom:79px;margin: 0 auto;
width: 100%;}
  @media only screen and (max-width:991px){
    .desktop_quienes_somos_banner .propuesta_title{padding:0 0px 177px 30px;max-width:504px;}
    .desktop_quienes_somos .container{background-color:#f3f3f3;padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:79px;}
  }
  @media only screen and (max-width:980px){
    .desktop_quienes_somos_banner .propuesta_title{padding:0px 0px 15px 30px;max-width:504px;}
    .desktop_quienes_somos_banner .banner-right-part{width:100%;z-index:0;background-color:rgba(38,38,38,75%);margin-left:0;margin:30px 0px 83px 0px;}
    @media only screen and (max-width:576px){
      .desktop_quienes_somos_banner .propuesta_title{padding:19px 0px 15px 20px;}
      .mt_p{margin-top:-322px;}
    }
}
    /* desktop_quienes_somos_second section start  */
   .desktop_quienes_somos_second {
    margin: 0 auto;
}
     .bagr_gro{
      position: relative;
      padding: 0px 0px 103px 0px;
     }
    .bagr_gro::before{
      position:absolute;content:'';
      background-color: #f3f3f3;
padding-left: 64px;
padding-right: 64px;
padding-top: 79px;
padding-bottom: 79px;
max-width: 1111px;
width: 100%;
margin: 0 auto;
z-index: 0;
left: 0;
right: 0;
top: -44px;
height: 95%
    }
    .desktop_quienes_somos_content{
      width: 485px;
max-width: 100%;
position: relative;
    }
     .desktop_quienes_somos_content h5{
    color: #262626;
font-size: 30px;
font-family: "Assistant",sans-serif;
font-weight: 500;
padding-right:  33px;
padding-top: 9px;
    }
 .desktop_quienes_somos_content::before{
  position: absolute;
top: 0;
right: 0;
background: #2da628;
content: '';
height: 177px;
width: 3px;
    }
.cd-main-header.fixed-top.bg-color-light-dark.logo_mobile_views {
    position: absolute;
}
.custom_pp {
  padding-right: 50px;
}
 @media only screen and (max-width:991px){
.custom_pp {
  padding-right: 0px;
  text-align: center;
}
.desktop_quienes_somos_content {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 37px;
}
.mobile_p1{
padding-left: 30px !important;
padding-right: 30px !important;}
}


     /* desktop_quienes_somos_second section end  */
 
/* desktop_quienes_somos_thard start*/
.desktop_quienes_somos_thard{
  background:url(../images/desktop_quienes_somos_04.png);
  background-repeat: no-repeat;
background-size: cover;
background-position: top;
height: 553px;
   }

  .desktop_quienes_somos_thard .ofrecemos_video_thumbnail {
    display: flex;
    justify-content: center;
}
.desktop_quienes_somos_thard.bagr_gro::before {
   
    z-index: -1;
   
}
.desktop_quienes_somos_thard .container {
  
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 0;
    padding-bottom: 79px;
    margin: 0 auto;
    width: 100%;
}
.desktop_quienes_somos_thard .mt_p {
    margin-top: -112px;
}
.desktop_quienes_somos_thard .ofrecemos_content_display {
  padding-top: 225px ;
}
.desktop_quienes_somos_thard .ofrecemos_content h5 {
    color: #fff;
    font-size: 38.61px;
    text-transform: uppercase;
 
}

.desktop_quienes_somos_thard .ofrecemos_content::before {
  
    background: #fff;
   
}
.desktop_quienes_somos_thard .ofrecemos_content {
    width: 461px;
    max-width: 100%;
    position: relative;
}

 @media only screen and (max-width:991px){ 
.row.align-items-center.d-flexingss {
    display: flex;
    flex-direction: revert;
    width: 100%;
    flex-wrap: nowrap;
  
    align-items: unset !important;
}
}

 @media only screen and (max-width:757px){ 
  .desktop_quienes_somos_thard .mt_p {
   padding-top: 15px;
    padding-left: 30px;
   
}
  .desktop_quienes_somos_thard .container {
    padding-left: 0;
    padding-right: 0;
   
}
  .desktop_quienes_somos_thard .ofrecemos_content_display {
    padding-top: 231px;
}
  .desktop_quienes_somos_thard .ofrecemos_content h5 {
    color: #fff;
    font-size: 25.61px;
    text-transform: uppercase;
   
}
.row.align-items-center.d-flexingss {
    display: flex;
    flex-direction: revert;
    width: 100%;
    flex-wrap: nowrap;
  
    align-items: unset !important;
}
}

 @media only screen and (max-width:495px){

  .desktop_quienes_somos_thard .ofrecemos_content h5 {
    color: #fff;
    font-size: 22.61px;
    text-transform: uppercase;
}
 .desktop_quienes_somos_thard .ofrecemos_content_display {
    padding-top: 198px;
} 

}

 @media only screen and (max-width:435px){
  .desktop_quienes_somos_thard {
   
    height: 400px;
}
   .d-flexingss .ofrecemos_content::before {
  
    height: 115px;
    width: 3px;
}

  .desktop_quienes_somos_thard .ofrecemos_content h5 {
    font-size: 20px;
}
 .desktop_quienes_somos_thard .ofrecemos_content_display {
    padding-top: 172px;
} 

}


 @media only screen and (max-width:385px){
  .d-flexingss .ofrecemos_content h5 {
    
    font-size: 30px;
    font-family: "Assistant",sans-serif;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 9px;
}
  .desktop_quienes_somos_thard {
   
    height: 300px;
}
   .d-flexingss .ofrecemos_content::before {
  
    height: 90px;
    width: 3px;
}

  .desktop_quienes_somos_thard .ofrecemos_content h5 {
    font-size: 15px;
}
 .desktop_quienes_somos_thard .ofrecemos_content_display {
    padding-top: 122px;
} 

}

/* desktop_quienes_somos_thard end*/
  /* desktop_quienes_somos_fith stsart */
  .desktop_quienes_somos_fith{
    position: relative;
  }
  .desktop_quienes_somos_fith::before {

    content: '';
    position: absolute;width: 100%;
    height: 100%;
    background-color: #b7b7b7;
    z-index: -999;
  }
  .somos_fith{   
  display: flex;
justify-content: flex-end;
padding-right: 65px;
  }
  .desktop_quienes_somos_fith .ofrecemos_video_thumbnail {
    display: flex;
    justify-content: flex-end;
    z-index: -9;
    padding-top: 172px;
}
.desktop_quienes_somos_fith .ofrecemos_content {
    width: 427px;
    max-width: 100%;
    position: relative;
    margin-top: 212px;
    margin-bottom: 16px;
}
.desktop_quienes_somos_fith .ofrecemos_content h5{
   color: #fff;
font-size: 30px;
font-family: "Assistant",sans-serif;
font-weight: 500;
padding-left: 33px;
padding-top: 9px;
}
.desktop_quienes_somos_fith .ofrecemos_content p{
   color: #fff;
font-size: 18px;
font-family: "Assistant",sans-serif;
padding-left: 33px;


}
.desktop_quienes_somos_fith .ofrecemos_content::before {
    position: absolute;
    top:10px;
    left: 0;
    background: #fff;
    content: '';
    height: 200px;
    width: 3px;
}
.desktop_quienes_somos_fith .ofrecemos_video_thumbnail {
    display: flex;
    justify-content: flex-start;
  background:url(../images/bg1.jpg);
  background-repeat: no-repeat;
background-size: cover;
background-position: 100% -216%;

}
.desktop_quienes_somos_fith .spacing{
  width: 100%;
height: 100%;
padding: 174px;
}
.desktop_quienes_somos_fith .align-items-center {
    align-items: center !important;
    position: relative  !important;
    margin: 0  !important;
}

 @media only screen and (max-width:1024px){
  .somos_fith {
    display: flex;
    justify-content: end;
    padding-right: 23px;
    padding-left: auto;
    position: relative;
}
}

 @media only screen and (max-width:991px){
  .desktop_quienes_somos_fith .ofrecemos_content::before {
    position: absolute;
    top: 8px;
    left: 0;
    background: #fff;
    content: '';
    height: 128px;
    width: 3px;
}
  .desktop_quienes_somos_fith .ofrecemos_content {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-top: 35px;
    margin-bottom: 24px;
}
  .d-flexingss-mobil{
   display: flex !important;
flex-direction: column-reverse !important;
  }
  .somos_fith {
    display: flex;
    justify-content: end;
    padding-right: 30px;
padding-left: 30px;
    padding-left: auto;
    position: relative;
}

 }

 @media only screen and (max-width:768px){
  .desktop_quienes_somos_fith .ofrecemos_video_thumbnail {
   
    padding-top: 237px;
}
  .desktop_quienes_somos_fith .ofrecemos_video_thumbnail {
   
    background-position: 1% 64%;
}
 }

 @media only screen and (max-width:576px){
  .desktop_quienes_somos_thard .mt_p {
    padding-top: 46px;
  
}

.desktop_quienes_somos_content h5 {
  
    font-size: 20px;
   
}
.ofrecemos_content h5 {
  
    font-size: 20px;
}

  .desktop_quienes_somos_thard {
  
    height: 465px;
}
  .desktop_quienes_somos_fith .spacing {
    width: 100%;
    height: 100%;
    padding: 166px;
}

  .desktop_quienes_somos_fith .ofrecemos_video_thumbnail {
   
    padding-top: 0px;
} .desktop_quienes_somos_fith .ofrecemos_video_thumbnail {
    background-position: center;
    margin-top: 155px;
}
.desktop_quienes_somos_fith .ofrecemos_content::before {
    position: absolute;
    top: 8px;
    left: 0;
    background: #fff;
    content: '';
    height: 241px;
    width: 3px;
}
 }


 @media only screen and (max-width:385px){
  .desktop_quienes_somos_thard {
    height: 342px;
}
.desktop_quienes_somos_thard .ofrecemos_content {
   
    margin-top: 33px;
}
.desktop_quienes_somos_content h5 {
  
    font-size: 20px;
   
}
.ofrecemos_content h5 {
  
    font-size: 20px;
}
 }

  /* desktop_quienes_somos_fith end */

   /* desktop_quienes_somos_last1 start */
   .desktop_quienes_somos_last1{
     position: relative;
     }
.desktop_quienes_somos_last1::before {
   
    content: '';
    position: absolute;width: 100%;
    height: 100%;
    background-color: #b7b7b7;
    z-index: -999;
}
  .desktop_quienes_somos_last1 .ofrecemos_video_thumbnail {
    display: flex;
    justify-content: flex-start;

  background:url(../images/desktop_quienes_somos_s.jpg);
  background-repeat: no-repeat;
background-size: cover;

}
.spacing{
  width: 100%;
height: 100%;
padding: 174px;
}
 .desktop_quienes_somos_last1 .somos_fith {
    display: flex;
    justify-content: flex-start;
    padding-right: 65px;
}
.desktop_quienes_somos_last1 .ofrecemos_content h5 {
    color: #fff;
    font-size: 30px;
    font-family: "Assistant",sans-serif;
    font-weight: 500;
    padding-left: 33px;
    padding-top: 9px;
}

.desktop_quienes_somos_last1 .ofrecemos_content  {
   
padding-left: 62px;
}
.desktop_quienes_somos_last1 .ofrecemos_content p {
    color: #fff;
    font-size: 18px;
    font-family: "Assistant",sans-serif;
    padding-left: 33px;
}
.desktop_quienes_somos_last1 .ofrecemos_content::before {
    position: absolute;
    top: 14px;
    left: 54px;
    background: #fff;
    content: '';
    height: 242px;
    width: 3px;
}
.desktop_quienes_somos_last1 .ofrecemos_content {
    width: 550px;
    max-width: 100%;
    position: relative;
}
.desktop_quienes_somos_last1 .align-items-center {
    align-items: center !important;
    position: relative  !important;
    margin: 0  !important;
}


 @media only screen and (max-width:991px){
  .desktop_quienes_somos_last1 .ofrecemos_content {
    width: 100%;
    max-width: 100%;
    position: relative;
 
}
  
 .desktop_quienes_somos_last1 .d-flexingss-mobil{
   display: flex !important;
flex-direction: column !important;
  }
  .desktop_quienes_somos_last1 .ofrecemos_content {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-top: 35px;
    margin-bottom: 24px;
}
.desktop_quienes_somos_last1 .ofrecemos_content::before {
    position: absolute;
    top: 14px;
    left: 0;
    background: #fff;
    content: '';
    height: 175px;
    width: 3px;
}
.desktop_quienes_somos_last1 .ofrecemos_content {
    padding-left: 0;
}
}

 @media only screen and (max-width:576px){
  .spacing {
    width: 100%;
    height: 100%;
    padding: 85px;
}
.desktop_quienes_somos_last1 .ofrecemos_content::before {
    position: absolute;
    top: 14px;
    left: 0;
    background: #fff;
    content: '';
    height: 300px;
    width: 3px;
} 
}

   /* desktop_quienes_somos_last1 end */
  
 
  /* desktop_quienes_somos end */



