@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
*/:root { --blue: #2684FF; --indigo: #6e00ff; --purple: #510FA8; --pink: #f074ad; --red: #FF5630; --orange: #FFAB00; --yellow: #ffcc00; --green: #36B37E; --teal: #00B8D9; --cyan: #4bd6e5; --white: #FFF; --gray: #C0CCDA; --gray-dark: #3C4858; --primary: #6e00ff; --secondary: #EFF2F7; --success: #36B37E; --info: #00B8D9; --warning: #FFAB00; --danger: #FF5630; --light: #EFF2F7; --dark: #273444; --neutral: #FFF; --white: #FFF; --breakpoint-xs: 0; --breakpoint-sm: 576px; --breakpoint-md: 768px; --breakpoint-lg: 992px; --breakpoint-xl: 1200px; font-family: 'Montserrat', sans-serif; font-family: 'Montserrat Alternates', sans-serif; font-family: 'Lato', sans-serif; }
*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }
html { font-family: 'Montserrat', sans-serif; font-family: 'Montserrat Alternates', sans-serif; font-family: 'Lato', sans-serif; line-height: 1.15; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(31, 45, 61, 0); }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
body { margin: 0; font-family: 'Montserrat', sans-serif; font-family: 'Montserrat Alternates', sans-serif; font-family: 'Lato', sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.7; color: #8492A6; text-align: left; background-color: #FFF; }
.container { max-width: 1200px; }
[tabindex="-1"]:focus { outline: 0 !important; }
hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; overflow: visible; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0.5rem; }
p { margin-top: 0; margin-bottom: 1rem; }
abbr[title], abbr[data-original-title] { text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted; cursor: help; border-bottom: 0; -webkit-text-decoration-skip-ink: none; text-decoration-skip-ink: none; }
address { margin-bottom: 1rem; font-style: normal; line-height: inherit; }
ol, ul, dl { margin-top: 0; margin-bottom: 1rem; }
ol ol, ul ul, ol ul, ul ol { margin-bottom: 0; }
dt { font-weight: 600; }
dd { margin-bottom: 0.5rem; margin-left: 0; }
blockquote { margin: 0 0 1rem; }
b, strong { font-weight: 700; }
small { font-size: 80%; }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
a { color: #6e00ff; text-decoration: none; background-color: transparent; }
a:hover { color: #4d00b3; text-decoration: none; }
a:not([href]):not([tabindex]) { color: inherit; text-decoration: none; }
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus { color: inherit; text-decoration: none; }
a:not([href]):not([tabindex]):focus { outline: 0; }
pre, code, kbd, samp { font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; font-size: 1em; }
pre { margin-top: 0; margin-bottom: 1rem; overflow: auto; }
figure { margin: 0 0 1rem; }
img { vertical-align: middle; border-style: none; }
svg { overflow: hidden; vertical-align: middle; }
table { border-collapse: collapse; }
caption { padding-top: 1rem; padding-bottom: 1rem; color: #8492A6; text-align: left; caption-side: bottom; }
th { text-align: inherit; }
label { display: inline-block; margin-bottom: 0.5rem; }
button { border-radius: 0; }
button:focus { outline: 1px dotted; outline: 5px auto -webkit-focus-ring-color; }
input, button, select, optgroup, textarea { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; }
button, input { overflow: visible; }
button, select { text-transform: none; }
select { word-wrap: normal; }
button, [type=button], [type=reset], [type=submit] { -webkit-appearance: button; }
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) { cursor: pointer; }
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner { padding: 0; border-style: none; }
input[type=radio], input[type=checkbox] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }
input[type=date], input[type=time], input[type=datetime-local], input[type=month] { -webkit-appearance: listbox; }
textarea { overflow: auto; resize: vertical; }
fieldset { min-width: 0; padding: 0; margin: 0; border: 0; }
legend { display: block; width: 100%; max-width: 100%; padding: 0; margin-bottom: 0.5rem; font-size: 1.5rem; line-height: inherit; color: inherit; white-space: normal; }
@media (max-width:1200px) {
  legend { font-size: calc(1.275rem + 0.3vw); }
}
progress { vertical-align: baseline; }
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button { height: auto; }
[type=search] { outline-offset: -2px; -webkit-appearance: none; }
[type=search]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { font: inherit; -webkit-appearance: button; }
output { display: inline-block; }
summary { display: list-item; cursor: pointer; }
template { display: none; }
[hidden] { display: none !important; }


/*comman-css*/
.section-title{margin-bottom:40px;text-align: center;}
.section-title h2{text-align: center;font-family: 'Montserrat', sans-serif;letter-spacing: 0;color: #008A59;opacity: 1;font-size:45px;line-height:55px;padding-bottom:35px;position:relative;display:inline-block;}
.section-title h2:after{position:absolute;left:50%;transform:translateX(-50%);content: '';width: 57px;height: 4px;color: #21AF5F;background-color: #21AF5F;bottom:0}


.banner_overlay { background-image: url(../images/safsa.png); }
.banner_overlay img { width: 100%; }
/*header_top_line start*/
nav.navbar.navbar-expand-lg.navbar-light.p-0 {
    padding-top: 16px !important;
}
.header_top_line .form-inline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.header_top_line{
  position: relative;
  padding: 15px 0px 18px 0px;
}
.header_top_line:before { content: ''; width: 100%; height: 4px; position: absolute; bottom:0; display: block; background-color: #F6FFB8; }
a.navbar-brand {
   width: 201.33px;
}
.for_mobile{
  display: none;
}
.header_login{

}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(78 115 223 / 0%);
    outline: none;
    border: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2653d400;
    border-color: #244ec900;
}
.header_login .btn-outline-primary {
    color: #4e73df;
    border-color: #ffffff;
    border-radius: 0px;
    outline: none;
}
.header_login a.btn.btn-outline-primary{
 color: white;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;   
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
     outline: none;
  border-color: #ffffff;
}
.header_login .btn-primary {
  color: #2EA526;
    background-color: #ffffff;
    border-radius: 0px;
    border-color: #ffffff;
   font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;   
    font-family: 'Montserrat', sans-serif;
    padding-left: 22px;
    padding-right: 22px;
     margin-left: 22px;
      outline: none;
}

.header_login .btn-primary:hover {
  color: #ffffff;
    background-color: transparent;
    border-radius: 0px;
    border-color: #ffffff;
   font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;   
    font-family: 'Montserrat', sans-serif;
    padding-left: 22px;
    padding-right: 22px;
     margin-left: 22px;
      outline: none;
     
       border-color: #ffffff;
}
.header_login a.btn.btn-outline-primary:hover {

    color: #2EA526;
    background-color: #ffffff;
    border-color: #ffffff;
    outline: none;
    
}

@media(max-width:1121px){
   .header_login a.btn.btn-outline-primary:hover {
   
    padding-left: 10px;
    padding-right: 10px;
  
}
  .header_login a.btn.btn-outline-primary {
   
    padding-left: 10px;
    padding-right: 10px;
  
}
 .header_login .btn-primary:hover {
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
   
}
  .header_login .btn-primary {
  
    padding-left: 15px;
    padding-right: 15px;
   
}
.navbar-light .navbar-nav .nav-link{
   
    padding-right: 12px !important;
}

  .header_login .btn-primary {
   
    margin-left: 10px;
    
}
a.navbar-brand img {
    width: 160.33px !important;
}
}

@media(max-width:1046px){
  .navbar-brand {
  
    margin-right: 0;
   
}
   .header_login a.btn.btn-outline-primary:hover {
   
   padding-left: 6px;
padding-right: 6px;
  
}
  .header_login a.btn.btn-outline-primary {

   padding-left: 6px;
padding-right: 6px;
  
}
 .header_login .btn-primary:hover {
   margin-left: 4px;
padding-left: 11px;
padding-right: 11px;
   
}
  .header_login .btn-primary {
  margin-left: 4px;
padding-left: 11px;
padding-right: 11px;
   
}
.navbar-light .navbar-nav .nav-link{
   
    padding-right: 7px !important;
}

  .header_login .btn-primary {
   
    margin-left: 8px;
    
}
a.navbar-brand img {
    width: 160.33px !important;
}

}
@media(max-width:991px){
  .form-inline {
   
    padding-left: 8px;
}
  .header_login {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    margin-top: 46px;
    width: 320px;
    margin-bottom: 60px;
    margin: 0 auto;
}

 .header_login .btn-primary:hover {
   margin-left: 0px;
padding-left: 11px;
padding-right: 11px;
   
}
  .header_login a.btn.btn-outline-primary {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.header_login .btn-primary {
    margin-left: 0;
}
  .header_login {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    padding-top: 20px;
}
  .social_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    align-items: center;
    margin: 0;
        margin-left: 0px;
}
  nav.navbar.navbar-expand-lg.navbar-light.p-0 {
    padding-top: 2px !important;
}
  .for_mobile{
  display: block;
}
  .header_top_line{
    display: none;
  }
}

@media(max-width:575px){
  .form-inline {
   
    justify-content: flex-start !important;
}
  .header_login {
   
    justify-content: flex-start !important;
   
   
    margin: 0 !important;
}
}

/*header_top_line end*/
header { padding: 0px 0px 0px 0px;position: absolute;width: 100%;z-index: 1;}
.navbar-light .navbar-nav .nav-link { text-align: center; font-family: 'Montserrat', sans-serif; letter-spacing: 1.6px; color: #FFFFFF; text-transform: uppercase; padding-right: 22px; }
.zindex { z-index: 99 }
.mobile-logo{display:none}
.desktop-logo{display:block;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link { font: Regular 16px/19px Montserrat; letter-spacing: 1.6px; color: #FFFFFF; text-transform: uppercase; }
.get_download_app { }
.ke_insumos_android { background-color: #000000; padding-top: 12px; padding-bottom: 11px; padding-right: 21px; padding-left: 50px; border-radius: 100px; border: none; font-weight: bold; font-size: 20px; position: relative; font-weight: 500; margin-right: 16px; }
.get_download_app a.ke_insumos_android:before { width: 20px; height: 20px; content: ''; background-image: url(../images/ke_insumos_android.png); background-repeat: no-repeat; z-index: 999; position: absolute; left: 25px; top: 17px; }
.ke_insumos_iOS { background-color: #000000; padding-top: 12px; padding-bottom: 11px; padding-right: 23px; padding-left:47px; border-radius: 100px; border: none; font-weight: bold; font-size: 20px; position: relative; font-weight: 500; }
.get_download_app a.ke_insumos_iOS:before { width: 20px; height: 20px; content: ''; background-image: url(../images/ke_insumos_iOS.png); background-repeat: no-repeat; z-index: 999; position: absolute; left: 25px; top: 17px; }

.cp_hero { padding-top: 34px; }
.hero_bg { background-image: url(../images/web_bg.png); background-repeat: no-repeat; background-size: cover; background-position: 0% 50%; padding-top:128px; padding-bottom:130px;position:relative;float: left;width: 100%;}
.hero_bg:after{ content: ''; position: absolute; bottom: -205px; left: 0; width: 100%; z-index: 2; height: 412px; overflow: hidden; background-color: #fff; transform: skewY(168deg);}
.hero_text h1 { color: #fff; font-family: 'Montserrat', sans-serif; font-size: 52px; line-height: 63px; position: relative; padding-bottom: 42px; }
h1.title_line:after { content: ''; width: 57px; height: 4px; color: #4BFF6F; background-color: #4BFF6F; position: absolute; bottom: 0; left: 0; }
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { color: #fff; }
.hero_text p { font-family: 'Lato', sans-serif; color: #fff; font-size: 18px; line-height: 28px; padding: 32px 0px 26px 0px; }
/*.social_bar:before { content: ''; width: 1px; background-color: white; position: relative; left: -17px; height: 35px; }*/
.social_bar { display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 0; }
.social_bar li { display: inline-block; padding: 0px 10px 0px 10px; }
.social_bar .ke_insumos_insta a { width: 25px; height: 20px; background-image: url(../images/ke_insumos_insta.png); background-repeat: no-repeat; display: block; }
.social_bar .ke_insumos_facebook a { width: 25px; height: 20px; background-image: url(../images/ke_insumos_facebook.png); background-repeat: no-repeat; display: block; }
.social_bar .ke_insumos_twitter a { width: 25px; height: 20px; background-image: url(../images/ke_insumos_twitter.png); background-repeat: no-repeat; display: block; }
.hero_bg #characteristics-section a span { position: absolute; top: 0; left: 50%; width: 24px; height: 24px; margin-left: -12px; border-left: 1px solid #fff; border-bottom: 1px solid #fff; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); box-sizing: border-box; }
.scroll-bottom{position:absolute;bottom:150px;left:50%;transform:translateX(-50%);z-index:3}
.scroll-bottom  span { position: absolute; top: 0; left: 50%; width:38px; height: 38px; margin-left: -12px; border-left: 3px solid #3D3D3D; border-bottom: 3px solid #3D3D3D; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); box-sizing: border-box;-webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;box-sizing: border-box;}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/*characteristics-section*/

section.characteristics-section { float: left; width: 100%;position: relative;z-index: 2; }
.characteristics-wrap{padding:0 0 130px 0px;justify-content: center;}
.characteristics-part{margin-bottom:40px;text-align:center;}
.icon-wrap{margin-bottom:40px;height:90px}
.icon-wrap img {object-fit: contain;}
.characteristics-part p {padding:5px 10px 0px;color:#3D3D3D}
.characteristics-part h3 { letter-spacing: 0; color: #008A59; opacity: 1;font-family: 'Montserrat', sans-serif; font-size:24px; line-height:29px; font-weight:400}

/*know-more-section*/
.know-more-section { width: 100%; float: left; position: relative; background-position: top; background-repeat: no-repeat; background-size: cover; padding: 338px 0px 300px; z-index: 0; }
.know-more-section:before{ content: ''; position: absolute; top:-185px; left: 0; width: 100%; z-index:-1; height: 490px; overflow: hidden; background-color: #fff; transform: skewY(169deg);}
.know-more-section-content{position: relative;top: -416px;}
.video-wrap{text-align:center;}
.video-wrap .video{max-width:867px;width:100%;display:block;margin: 0 auto;}
.video-wrap .video img{max-width:867px;width:100%;-webkit-box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.25);
box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.25);}

/*inquiry-section*/

.inquiry-form-wrap{background:#fff;max-width:557px;margin:0 auto;padding:40px 36px}
.inquiry-form .section-title h2{color:#fff;font-size:36px;line-height:44px;margin-bottom:20px;display:block;}
.inquiry-form .section-title h2:after{background:#fff}
.inquiry-form .section-title { margin-bottom: 58px;}
.inquiry-form .section-title p{color:#fff;font-size:18px;}
.inquiry-form input[type="text"], .inquiry-form input[type="email"], .inquiry-form textarea.form-control{border:0;border-bottom:1px solid #D8D8D8;border-radius:0;padding-left:0;resize: none;} 
.inquiry-form form.needs-validation label { color: #3D3D3D; font-size: 16px; font-weight: bold;margin-bottom: 0;}
.inquiry-form ::placeholder { color: #D9D9D9 !important; font-size: 18px; }
.inquiry-form .form-btn-wrap .btn-primary { background: #73F55F 0% 0% no-repeat padding-box; border-radius: 43px; color: #3D3D3D; text-transform: uppercase; font-weight: bold; padding: 17px 43px;border-color:transparent;margin-top: 17px;}
.inquiry-form .form-btn-wrap .btn-primary.focus, .btn-primary:focus {box-shadow: none;}
.inquiry-form .form-control:focus{box-shadow:none;}
.download-wrap{padding:100px 0px;text-align:center;}
.download-wrap h4{font-size:32px;line-height:42px;margin-bottom:40px;color:#fff;font-family:'Montserrat', sans-serif}
.inquiry-form { background-repeat: no-repeat; background-size: cover; float: left; width: 100%; margin-top: -478px; position: relative; z-index: 4; padding-top: 125px; }
.inquiry-form-full-wrap {margin-top: -312px;}
.bottom-mockups-wrap {margin-top: -285px;}
.email-wrap a{color:#73F55F;color: #73F55F;padding-right:25px;}
.email-wrap{position:relative;font-size: 16px;font-weight: 600;}
.email-wrap:after { content: ''; width: 1px; background-color: #73F55F; position: absolute; right: 3px; height: 35px;top: -7px;}
.social-wrap .social_bar:before{display:none}
.social-wrap { display: flex;flex-wrap: wrap;}
.social-wrap h6{margin-bottom:0}
ul.social_bar { margin-left: 0; padding-left: 0; }

/*footer-section*/

footer{background:#000;padding:60px 0px 40px 0;float: left;width: 100%;margin-top: -5px;}
.footer-wrap { display: flex; justify-content: space-between; flex-wrap: wrap;align-items: center;}
.footer-wrap .social_bar .ke_insumos_insta a { width: 25px; height: 20px; background-image: url(../images/insta.png); background-repeat: no-repeat; display: block; }
.footer-wrap .social_bar .ke_insumos_facebook a { width: 25px; height: 20px; background-image: url(../images/fb.png); background-repeat: no-repeat; display: block; }
.footer-wrap .social_bar .ke_insumos_twitter a { width: 25px; height: 20px; background-image: url(../images/twitter.png); background-repeat: no-repeat; display: block; }

.back-to-top-wrap { z-index: 9; width: 50px; bottom: 0; height: 50px; border-radius: 50%; background:#31ac2b; display: flex; align-items: center; justify-content: center; position: fixed; bottom: 40px; right: 20px; cursor: pointer; text-align: center; line-height: 49px; }
a.back-to-top { color: #fff; font-size: 25px; }

/*responsive-media*/

/*lending-page-2*/

section.hero_bg .inquiry-form-wrap { width: 100%; max-width: 414px;box-shadow: 0px 3px 24px #0000001F;}
section.hero_bg .inquiry-form-wrap input[type="text"], section.hero_bg .inquiry-form-wrap input[type="email"], section.hero_bg .inquiry-form-wrap textarea.form-control{border:0;border-bottom:1px solid #D8D8D8;border-radius:0;padding-left:0;resize: none;} 
section.hero_bg .inquiry-form-wrap form.needs-validation label { color: #3D3D3D; font-size: 16px; font-weight: bold;margin-bottom: 0;}
section.hero_bg .inquiry-form-wrap ::placeholder { color: #D9D9D9 !important; font-size: 18px; }
section.hero_bg .inquiry-form-wrap .form-btn-wrap .btn-primary { background: #73F55F 0% 0% no-repeat padding-box; border-radius: 43px; color: #3D3D3D; text-transform: uppercase; font-weight: bold; padding: 17px 43px;border-color:transparent;margin-top: 17px;font-weight: 800;}
section.hero_bg .inquiry-form-wrap .form-btn-wrap .btn-primary.focus, section.hero_bg .inquiry-form-wrap .btn-primary:focus {box-shadow: none;outline:none;}
section.hero_bg .inquiry-form-wrap .form-control:focus{box-shadow:none;}
section.hero_bg .inquiry-form-wrap button.btn.btn-primary:focus {box-shadow: none !important;}
h3.form-title { text-align: center; font-size: 26px; line-height: 32px; letter-spacing: 0; color: #188714; text-transform: uppercase; margin-bottom: 40px; font-weight: 300;font-family: 'Montserrat', sans-serif;}
section.hero_bg .inquiry-form-wrap {padding-top: 30px;margin-top: 34px;}
.hero-form-section{padding-bottom: 189px;}
.contactor { border-radius: 43px; color: #3D3D3D; text-transform: uppercase; font-weight: bold; padding: 17px 41px; border-color: transparent; margin-top: 17px; background: #73F55F 0% 0% no-repeat padding-box; display: inline-block;font-weight: 800;}
.contactor:hover {color: #3D3D3D;}
.bottom-mockups { display: flex; justify-content: space-around; align-items: flex-end;position:relative;top:-65px; }

.fl-fl {
  background-color: #55cd6c;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 155px;
  position: fixed;
  right: -95px;
  z-index: 1000;
  font-size: 10px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border: 0px solid #000000;
}

.fab {
  font-size: 35px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-right: 5px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
}

.float-wa {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.25);
  box-shadow: -2px 1px 7px 0px rgba(0,0,0,0.25);
}

@media(max-width:1440px){
  .hero_bg{background-position: 100% 50%;}
  .know-more-section{background-position: 100%;}
}

@media(max-width:1199px){
  .hero_bg{background-position: 50% 50%;}
  .know-more-section{background-position: 100%;}
}

@media(max-width:991px){
  
 header {padding: 10px 0px 0px 0px;background: #fff;}
.section-title h2 { font-size: 35px; line-height: 45px; padding-bottom: 25px;}
.hero_text p {padding: 15px 0px;}
.hero_text h1 { font-size: 30px; line-height: 41px; padding-bottom: 20px; }
.ke_insumos_android{padding-right: 17px;padding-left: 48px;margin-right: 8px;}

.mobile-logo{display:block;}
.desktop-logo{display:none;}
.navbar-toggler{ border: 0 !important;padding-right: 0;}
button:focus{outline:none}
.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon { background-image: none; position: relative; width: 34px; height: 3px; background-color: #1D9125; content: ''; top: 0; display: block;}
.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon:after { position: absolute; width: 34px; height: 3px; background-color: #1D9125; content: ''; top: -10px; left: 0; transition: 0.5s;transform: unset;}
.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon:before { position: absolute; width: 24px; height: 3px; background-color: #1D9125; content: ''; top: 10px; left: 0; transition: 0.5s;transform: unset;}

.navbar-light .navbar-toggler .navbar-toggler-icon{position:relative;width:34px;height:3px;background-color:#ffffff;content:'';top:-6px;display:block;background:transparent;cursor:pointer;}
.navbar-light .navbar-toggler .navbar-toggler-icon:before{position:absolute;width:34px;height:3px;background-color:#1D9125;content:'';top:7px;left:0;transform: rotate(-45deg);transition:0.5s}
.navbar-light .navbar-toggler .navbar-toggler-icon:after{position:absolute;width:34px;height:3px;background-color:#1D9125;content:'';top:7px;left:0;transform: rotate(45deg);transition:0.5s}
.navbar-collapse.collapse.show { position: absolute; top: 53px; background: #3C3C3C; width: 100%; left: 0; height:100vh;transition: linear 0.3s;padding-top: 12px; height: calc(100vh - 50px); margin-bottom: 100px; overflow: auto;}
body.mobile-open { overflow: hidden !important; }
body.mobile-open header { height: 100vh;position:relative;}
header .container{padding:0}
nav.navbar { padding: 0 15px !important; }
.social_bar .ke_insumos_insta a {background:none;}
.social_bar .ke_insumos_facebook a {background:none;}
.social_bar .ke_insumos_twitter a {background:none;}

body.mobile-open .social_bar .ke_insumos_insta a { width: 46px; height: 46px; background-image: url(../images/insta_color.png); background-repeat: no-repeat; display: block;background-size: contain; }
body.mobile-open .social_bar .ke_insumos_facebook a { width: 46px; height: 46px; background-image: url(../images/fb_color.png); background-repeat: no-repeat; display: block;background-size: contain; }
body.mobile-open .social_bar .ke_insumos_twitter a { width: 46px; height: 46px; background-image: url(../images/twitter_color.png); background-repeat: no-repeat; display: block;background-size: contain; }
.navbar-light .navbar-nav .nav-link {padding-right: 0;}
.navbar-light .navbar-nav .nav-link { font-size: 22px; text-align: left; margin:24px 30px 10px; border-bottom: 1px solid #7DFF86;padding-bottom: 25px;margin-bottom: 10px; }
.mobile-remove{display:none}
.form-inline { margin-top: 35px !important; margin-left:0px; border-left: 0; width: 100%; display: flex; padding-bottom: 45px; justify-content: center;}
.bottom-mockups{top:0;}

}

@media(max-width:767px){
a.scroll-bottom {display: none;}
header { padding: 0px 0px 0px 0px; background: #fff; }
.mo-img img {display: none !important;}
.hero_text h1 {font-size: 30px;line-height: 37px;text-align:center;padding-bottom:50px;font-weight: 300;}
h1.title_line:after{left:50%;transform:translateX(-50%);}
.cp_hero {padding-top:34px;}
.hero_text p {text-align:center;}
.footer-wrap { display: flex; justify-content: center;flex-direction:column;}
ul.social_bar {padding-left: 0;}
.hero_bg:after{height:266px}
.hero_bg{padding-bottom:137px;padding-top:120px}
a.btn.btn-primary.ke_insumos_android { font-size: 18px; margin-right: 10px;margin-bottom:10px}
a.btn.btn-primary.ke_insumos_iOS { font-size: 18px; padding-right: 19px; padding-left: 41px;margin-bottom:10px}
.get_download_app a.ke_insumos_iOS:before { left: 17px;}
.hero_bg {background-position: 28% 81px;top:-27px;}
section.characteristics-section{padding-top:20px}
.section-title h2{padding-bottom:27px}
.section-title {margin-bottom: 30px}
.icon-wrap {margin-bottom: 38px;}
.characteristics-part p {padding: 10px 0px 0px;}
.inquiry-form .section-title h2 { color: #fff; font-size: 28px; line-height: 34px; margin-bottom: 20px; }
.know-more-section:before{height:268px}
.characteristics-wrap {padding: 0 0 96px 0px;}
.know-more-section-content .section-title { margin-bottom: 40px; }
.inquiry-form-full-wrap {margin-top: -290px;}
.know-more-section { background-position: 74% -110px; }
.inquiry-form .section-title {margin-bottom: 35px;}
.inquiry-form-wrap {padding: 30px 5px;}
.inquiry-form{margin-top: -520px;}
.video-wrap .video{display: block;margin-bottom: 50px;}
.download-wrap {padding: 65px 0px;}
.download-wrap h4 {font-size: 28px;line-height: 34px;}
.social-wrap {flex-wrap: wrap;align-items: center;justify-content: center;flex-direction: column;}
h6.email-wrap { margin:25px 0px; }
.email-wrap:after { display: none;}
.email-wrap a {padding: 0;}
footer {background: #000;padding: 60px 0px 62px 0;}
.footer-wrap .social_bar .ke_insumos_insta a {width: 23px;height: 23px;background-image: url(../images/ke-insumos-insta-big.png);background-repeat: no-repeat;display: block;background-size: contain;}
.footer-wrap .social_bar .ke_insumos_facebook a {width: 13px;height: 23px;background-image: url(../images/ke-insumos-fb-big.png);background-repeat: no-repeat;display: block;background-size: contain;}
.footer-wrap .social_bar .ke_insumos_twitter a {width: 27px;height: 22px;background-image: url(../images/ke-insumos-twitter-big.png);background-repeat: no-repeat;display: block;background-size: contain;}
.social_bar li{padding: 0px 13px 0px 13px;}
.get_download_app {text-align: center;width: 100%;}
.bottom-mockups{flex-wrap:wrap;}
section.hero_bg .inquiry-form-wrap{margin-top:63px}
h3.form-title{font-weight:400}
section.hero_bg.hero-form-section {background-position: 30% 20px;top: -27px;}
.mo-img {padding: 0 7px;}
section.hero_bg.hero-form-section:after {height: 234px;bottom:-50px}
section.hero_bg.hero-form-section{padding-bottom:50px}
.mo-mockup-img{display:none}
.landing-second-knowmore{padding: 338px 0px 150px;}
.landing-second-inquiry-form {margin-top: -350px;}
.bottom-mockups-wrap{margin-top:-312px}
.bottom-mockups {padding-top: 143px;}
.bottom-mockups-wrap  .section-title {margin-bottom: 0;}
.landing-second-knowmore {background-position: 78% -47px;}
}

@media(max-width:576px){
  .fl-fl {
    width: 145px;
    right: -95px;
  }
  .fab {
    padding: 7px 0;
    width: 36px;
  }
}

@media(max-width:320px){
.hero_text h1 {font-size: 27px;padding-bottom:35px;}
a.btn.btn-primary.ke_insumos_android {margin-right: 0;margin-bottom: 10px;}
.inquiry-form .section-title h2 { color: #fff; font-size: 24px; line-height: 31px; margin-bottom: 20px; }
.bottom-mockups {padding-top: 0;}

}
