/* -------------------------------- 

Primary style

-------------------------------- */
.scroller{width:300px;height:100px;scrollbar-color:#1D1D1D  #1D1D1D;overflow-y:auto;scrollbar-width:thin;border-bottom:4px solid transparent;border-radius:30px;border-top:4px solid transparent;}
header .custom-btn{padding:9px 15px}
.mmenu__socialicon{display:none;}
li.has-children h6{margin-bottom:0;}
.nav__btn.custom-btn-grp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 18px;
}
a.btn.btn-outline-primary.text-white.outline2{
   height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
}
.custom-btn-grp1 a.btn.btn-outline-primary.fill-bg {
    background: #3e885b;
    color: #ffffff;
    margin-left: 9px;
    padding: 0px 37px;
    font-family: "Assistant";
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:1169px){
  a.outline2 {
    font-weight: bold !important;
    font-size: 16px !important;
    letter-spacing: 0.4px !important;
    font-family: "Assistant" !important;
  }
  .custom-btn-grp1 a.fill-bg {
    font-weight: bold !important;
    font-size: 16px !important;
    letter-spacing: 0.4px !important;
    font-family: "Assistant" !important;
  }
  a.outline2 b {
    font-weight: bold;
  }
  .custom-btn-grp1 a.fill-bg b {
    font-weight: bold;
  }
  .hide-in-mobile-menu { display: none !important; }
  li.has-children h6{margin-bottom:18px;}
  .social__menu__mobile li:first-child:after{content:'';position:absolute;width:40px;height:40px;background:url(images/all-icon.png);background-repeat:no-repeat;left:0;top:0;background-position:-286px -214px;}
  .social__menu__mobile li:nth-child(2):after{content:'';position:absolute;width:40px;height:40px;background:url(images/all-icon.png);background-repeat:no-repeat;left:0;top:0;background-position:-356px -214px;}
  .social__menu__mobile li:last-child:after{content:'';position:absolute;width:40px;height:40px;background:url(images/all-icon.png);background-repeat:no-repeat;left:0;top:0;background-position:-426px -214px;}
  body.nav-on-left.overflow-hidden{overflow:hidden;}
  .cd-header-buttons .small-btn{background-color:#48BAFF;}
  .cd-nav-item h6{color:#999999;}
  .has-children h6{color:#999999;}
  ul.nav-is-visible{-webkit-animation-name:mymove; /* Safari 4.0 - 8.0 */-webkit-animation-duration:0.5s; /* Safari 4.0 - 8.0 */animation-name:mymove;animation-duration:0.5s;}

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove{
    from{right:200px;}
    to{right:0px;}
  }
  @keyframes mymove{
    from{right:200px;}
    to{right:0px;}
  }
  .cd-primary-nav{-webkit-animation-name:moveout; /* Safari 4.0 - 8.0 */-webkit-animation-duration:0.3s; /* Safari 4.0 - 8.0 */animation-name:moveout;animation-duration:0.3s;}

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes moveout{
    from{right:0px;}
    to{right:200px;}
  }
  @keyframes moveout{
    from{right:0px;}
    to{right:200px;}
  }
}
a{text-decoration:none;}
img{  /*ke images responsive */
max-width:100%;}
input{font-family:'Poppins',sans-serif;font-size:1.6rem;}
input[type="search"]::-ms-clear{  /* removes close icon - IE */
display:none;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{display:none;}
.container__header{width:1240px;max-width:100%;margin:0 auto;position:absolute;right:0;left:0;top:0;}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-main-content,.cd-main-header{  /* Force Hardware Acceleration in WebKit */
-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);will-change:transform;}
.social__menu__mobile{display:none;}
.cd-main-content,.cd-main-header{ /* position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;*/}
  .cd-secondary-nav .has-children:last-child{margin-bottom:65px;}
  .cd-secondary-nav{background-repeat:no-repeat!important;background-size:cover!important;overflow-x:hidden;}
  .cd-nav-icons{background-image:url(images/img_service_bg.png)!important;background-repeat:no-repeat!important;background-size:cover!important;}
  .button__posi{position:relative;width:95%;margin:0 auto;}
  .button__posi__fix{  /*position: absolute;
      right: 0;
      top: 0;*/}
    .cd-nav-icons{padding-left:40px!important;padding-bottom:10px!important;}
    .cd-nav-icons a.cd-nav-item{padding:11px 0 0 41px!important;}
    .cd-nav-icons .cd-nav-item p{color:var(--color-grey);font-size:12px;width:80%;padding-top:7px;line-height:18px;}
    .cd-primary-nav .cd-nav-icons .cd-nav-item{white-space:inherit!important;}
    .cd-nav-icons .see-all{margin-top:12px!important;}
    .mega__menu__btn{width:158px;height:40px;padding:0 0em;color:#1D1D1D;text-align:center;}
    @media only screen and (max-width:1169px){
      .cd-main-content.nav-is-visible,.cd-main-header.nav-is-visible{-webkit-transform:translateX(0px);-moz-transform:translateX(0px);-ms-transform:translateX(0px);-o-transform:translateX(0px);   /*  -o-transform: translateX(-260px);*/transform:translateX(0px);}
      .nav-on-left .cd-main-content.nav-is-visible,.nav-on-left .cd-main-header.nav-is-visible{-webkit-transform:translateX(0px);-moz-transform:translateX(0px);   /* -moz-transform: translateX(260px);*/-ms-transform:translateX(0px);-o-transform:translateX(0px);transform:translateX(0px);}
    }
    .cd-main-header{height:0px;background:var(--color-light-dark);z-index:999;}
    .nav-is-fixed .cd-main-header{  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
    position:fixed;top:0;left:0;width:100%;}
    @media only screen and (min-width:1170px){
      .cd-main-header{height:67px;z-index:999;background-color:rgba(28,28,28,70%);position:fixed;}
      .container__header{width:1400px;max-width:100%;margin:0 auto;position:absolute;right:0;left:0;top:0;}
      .cd-main-header::after{clear:both;content:"";display:table;}
    }
    .cd-logo{position:absolute;top:12px;z-index:999;left:15px;}
    .cd-logo img{display:block;}
    @media only screen and (max-width:1169px){
      .nav-on-left .cd-logo{left:auto;right:5%;}
      .cd-primary-nav .see-all a{color:#1d1d1d;line-height:27px;padding:6px;font-size:15px;width:153px;}
    }
    @media only screen and (min-width:1170px){
      .cd-logo{left:0;}
    }
    .cd-header-buttons{position:absolute;display:inline-block;top:3px;right:5%;}
    .cd-header-buttons li{position:absolute;right:0;top:15px;display:flex;}
    @media only screen and (max-width:1169px){
      .nav-on-left .cd-header-buttons{right:auto;left:5%;}
      .cd-header-buttons .custom-btn{background-color:#48BAFF;}
    }
    .nav-on-left .cd-header-buttons li{float:right;}
  }
  @media only screen and (min-width:625px) and (max-width:1169px){
    .cd-header-buttons li{position:absolute;right:0;top:17px!important;display:block;}
    .cd-primary-nav{height:auto;position:absolute;float:right;overflow:visible;background:0 0;padding-left:150px;}
  }
  @media only screen and (min-width:1170px) and (max-width:1200px){
    .cd-primary-nav{position:static;height:auto;width:100%;float:right;overflow:visible;background:transparent;}
    .cd-primary-nav > li{float:left;margin-left:10px!important;}
    .cd-primary-nav .cd-secondary-nav,.cd-primary-nav .cd-nav-gallery,.cd-primary-nav .cd-nav-icons{position:fixed;top:80px;right:0;padding-left:41px;padding-top:0px;padding-bottom:10px;margin-top:11px;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);-webkit-transition:opacity .3s 0s,visibility 0s 0s;-moz-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s;left: 455px!important;}
  }
   @media only screen and (max-width:1280px){.custom-btn-grp1 a.btn.btn-outline-primary.fill-bg {   
    padding: 6px 20px 6px 20px !important;
  
}
.custom-btn-grp1 a.btn.btn-outline-primary.text-white.outline2 {
    padding: 6px 18px 6px 18px !important;
  
}
.cd-primary-nav .cd-secondary-nav, .cd-primary-nav .cd-nav-gallery, .cd-primary-nav .cd-nav-icons, .cd-primary-nav .cd-nav-solutions {
  right: -13px !important;
  left: -81px  !important;
   
}


}
  @media only screen and (max-width:1200px){
    .cd-primary-nav .cd-secondary-nav, .cd-primary-nav .cd-nav-gallery, .cd-primary-nav .cd-nav-icons, .cd-primary-nav .cd-nav-solutions {
  right: -186px !important;
   
}
    .custom-btn-grp1 a.btn.btn-outline-primary.fill-bg {   
    padding: 6px 20px 6px 20px !important;
  
}
.custom-btn-grp1 a.btn.btn-outline-primary.text-white.outline2 {
    padding: 6px 18px 6px 18px !important;
  
}
  }
  @media only screen and (min-width:1170px){
    .cd-header-buttons{right:0;z-index:20;display:flex;align-items:center;justify-content:center;top:8px;}
  }
  .cd-search-trigger,.cd-nav-trigger{position:absolute;display:block;width:60px;height:60px;overflow:hidden;white-space:nowrap;  /* hide text */color:transparent;z-index:99999999;top:-9px;}
  .cd-search-trigger::before,.cd-search-trigger::after{  /* search icon */
  content:'';position:absolute;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s;  /* Force Hardware Acceleration in WebKit */-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;}
  .cd-search-trigger::before{  /* lens */
  top:11px;left:11px;width:18px;height:18px;border-radius:50%;border:3px solid #2e3233;}
  .cd-search-trigger::after{  /* handle */
  height:3px;width:8px;background:#2e3233;bottom:14px;right:11px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
  .cd-search-trigger span{  /* container for the X icon */
  position:absolute;height:100%;width:100%;top:0;left:0;}
  .cd-search-trigger span::before,.cd-search-trigger span::after{  /* close icon */
  content:'';position:absolute;display:inline-block;height:3px;width:22px;top:50%;margin-top:-2px;left:50%;margin-left:-11px;background:#2e3233;opacity:0;  /* Force Hardware Acceleration in WebKit */-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:opacity 0.3s,-webkit-transform 0.3s;-moz-transition:opacity 0.3s,-moz-transform 0.3s;transition:opacity 0.3s,transform 0.3s;}
  .cd-search-trigger span::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
  .cd-search-trigger span::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
  .cd-search-trigger.search-is-visible::before,.cd-search-trigger.search-is-visible::after{  /* hide search icon */
  opacity:0;}
  .cd-search-trigger.search-is-visible span::before,.cd-search-trigger.search-is-visible span::after{  /* show close icon */
  opacity:1;}
  .cd-search-trigger.search-is-visible span::before{-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg);}
  .cd-search-trigger.search-is-visible span::after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
  .cd-nav-trigger span,.cd-nav-trigger span::before,.cd-nav-trigger span::after{  /* hamburger icon in CSS */
  position:absolute;display:inline-block;height:3px;width:24px;background:#FFF;}
  .cd-nav-trigger span{  /* line in the center */
  position:absolute;top:50%;right:10px;margin-top:-2px;-webkit-transition:background 0.3s 0.3s;-moz-transition:background 0.3s 0.3s;transition:background 0.3s 0.3s;}
  .cd-nav-trigger span::before,.cd-nav-trigger span::after{  /* other 2 lines */
  content:'';right:0;  /* Force Hardware Acceleration in WebKit */-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform-origin:0% 50%;-moz-transform-origin:0% 50%;-ms-transform-origin:0% 50%;-o-transform-origin:0% 50%;transform-origin:0% 50%;-webkit-transition:-webkit-transform 0.3s 0.3s;-moz-transition:-moz-transform 0.3s 0.3s;transition:transform 0.3s 0.3s;}
  .cd-nav-trigger span::before {
    top: -7px;
}
 .nav-is-visible .cd-nav-trigger span::before {
    top: -5px;
}
 .cd-nav-trigger span::after {
    top: 7px;
}
 .nav-is-visible .cd-nav-trigger span::after {
    top: 7.1px;
}
  .cd-nav-trigger.nav-is-visible span{  /* hide line in the center */
  background:rgba(46,50,51,0);}
  .cd-nav-trigger.nav-is-visible span::before,.cd-nav-trigger.nav-is-visible span::after{  /* keep visible other 2 lines */
  background:#FFF;}
  .cd-nav-trigger.nav-is-visible span::before{-webkit-transform:translateX(4px) translateY(-3px) rotate(45deg);-moz-transform:translateX(4px) translateY(-3px) rotate(45deg);-ms-transform:translateX(4px) translateY(-3px) rotate(45deg);-o-transform:translateX(4px) translateY(-3px) rotate(45deg);transform:translateX(4px) translateY(-3px) rotate(45deg);}
  .cd-nav-trigger.nav-is-visible span::after{-webkit-transform:translateX(4px) translateY(2px) rotate(-45deg);-moz-transform:translateX(4px) translateY(2px) rotate(-45deg);-ms-transform:translateX(4px) translateY(2px) rotate(-45deg);-o-transform:translateX(4px) translateY(2px) rotate(-45deg);transform:translateX(4px) translateY(2px) rotate(-45deg);}
  @media only screen and (min-width:1170px){
    .cd-nav-trigger{display:none;}
  }
  .cd-primary-nav,.cd-primary-nav ul{position:fixed;top:0;right:0;height:120%;background:#2e3233;overflow:auto;-webkit-overflow-scrolling:touch;z-index:1;  /* Force Hardware Acceleration in WebKit */-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform 0.3s;-moz-transition:-moz-transform 0.3s;transition:transform 0.3s;}
  .cd-primary-nav a,.cd-primary-nav ul a{display:block; /* height: 43px;*/line-height:40px;  /* padding: 0 20px; */color:#ffffff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);will-change:transform,opacity;-webkit-transition:-webkit-transform 0.3s,opacity 0.3s;-moz-transition:-moz-transform 0.3s,opacity 0.3s;transition:transform 0.3s,opacity 0.3s;}
  .cd-primary-nav.is-hidden,.cd-primary-nav ul.is-hidden{  /* secondary navigations hidden by default */
  -webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%);}
  .cd-primary-nav.moves-out > li > a,.cd-primary-nav ul.moves-out > li > a{  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  -webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%);opacity:0;}
  @media only screen and (max-width:1169px){
    .nav-on-left .cd-primary-nav,.nav-on-left .cd-primary-nav ul{right:auto;left:0;}
  }
  .cd-primary-nav .see-all a{  /* different style for the See all button on mobile and tablet */
  color:#1d1d1d;line-height:25px;}
  .cd-primary-nav .cd-nav-gallery .cd-nav-item,.cd-primary-nav .cd-nav-icons .cd-nav-item{  /* items with picture (or icon) and title */
  height:80px;line-height:80px;}
  .cd-primary-nav .cd-nav-gallery .cd-nav-item h3,.cd-primary-nav .cd-nav-icons .cd-nav-item h3{overflow:hidden;text-overflow:ellipsis;}
  .cd-primary-nav .cd-nav-gallery .cd-nav-item{padding-left:90px;}
  .cd-primary-nav .cd-nav-gallery .cd-nav-item img{position:absolute;display:block;height:40px;width:auto;left:20px;top:50%;margin-top:-20px;}
  .cd-primary-nav .cd-nav-icons .cd-nav-item{padding-left:75px;}
  .cd-primary-nav .cd-nav-icons .cd-nav-item p{display:none;}
  @media only screen and (max-width:1169px){
    .cd-primary-nav{    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility:hidden;-webkit-transition:visibility 0s 0.3s;-moz-transition:visibility 0s 0.3s;transition:visibility 0s 0.3s;}
    .cd-primary-nav.nav-is-visible{visibility:visible;-webkit-transition:visibility 0s 0s;-moz-transition:visibility 0s 0s;transition:visibility 0s 0s;}
  }
  @media only screen and (min-width:1170px){
    .cd-primary-nav{height:auto;position:absolute;   /* width: 100%;*/float:right;overflow:visible;background:transparent;display:flex;align-items:center;justify-content:flex-end;}
    .cd-primary-nav::after{clear:both;content:"";display:table;}
    .cd-primary-nav.moves-out > li > a{    /* reset mobile style */
    -webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);opacity:1;}
    .cd-primary-nav ul{position:static;background:transparent;overflow:visible;z-index:3;}
    .cd-primary-nav ul.is-hidden{    /* reset mobile style */
    -webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);}
    .cd-primary-nav ul.moves-out > li > a{    /* reset mobile style */
    -webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);opacity:1;}
    .cd-primary-nav > li{float:left;margin-left:1em;list-style-type: none;}
    .cd-primary-nav > li > a{    font-family: 'Assistant',light;
    text-transform: none;    /* main navigation buttons style */
    position:relative;display:inline-block;height:67px;line-height:67px;padding:0 12px;color:#fff;overflow:visible;border-bottom:none;-webkit-transition:color 0.3s,box-shadow 0.3s;-moz-transition:color 0.3s,box-shadow 0.3s;transition:color 0.3s,box-shadow 0.3s;font-size:16px;font-weight:400;letter-spacing:0;}
    .cd-primary-nav > li > a:hover{color:#fff; text-decoration: none;}
    .cd-primary-nav > li > a.selected{color:#fff; text-decoration: none;}
    .cd-primary-nav .go-back,.cd-primary-nav .see-all{display:none;}
    ul .cd-nav-solutions{padding-left:9px!important;padding-top:11px!important;padding-bottom:52px!important;margin-top:11px!important;}
    .cd-primary-nav .cd-secondary-nav,.cd-primary-nav .cd-nav-gallery,.cd-primary-nav .cd-nav-icons,.cd-primary-nav .cd-nav-solutions{    /* dropdown menu style */
    position:fixed;top:69px;right:0;left:-121px;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);-webkit-transition:opacity .3s 0s,visibility 0s 0s;-moz-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s;width: 100%; max-width: 198px;
margin: 0 auto;
background-color: rgba(28,28,28,70%);

padding-top: 10px;
padding-bottom: 0px;
padding-right: 14px;
padding-left: 14px;
list-style-type: none;height: auto;
}
    .cd-primary-nav .cd-secondary-nav::after,.cd-primary-nav .cd-nav-gallery::after,.cd-primary-nav .cd-nav-icons::after,.cd-primary-nav .cd-nav-solutions::after{clear:both;content:"";display:table;}
    .cd-primary-nav .cd-secondary-nav.is-hidden,.cd-primary-nav .cd-nav-gallery.is-hidden,.cd-primary-nav .cd-nav-icons.is-hidden,.cd-nav-solutions.is-hidden{opacity:0;visibility:hidden;-webkit-transition:opacity .3s 0s,visibility 0s .3s;-moz-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s;}
    .cd-primary-nav .cd-secondary-nav > .see-all,.cd-primary-nav .cd-nav-gallery > .see-all,.cd-primary-nav .cd-nav-icons > .see-all{    /* this is the BIG See all button at the bottom of the dropdown menu */
    display:flex;height:auto;width:93%;overflow:hidden;margin:0;padding:0;justify-content:space-between;align-items:center;}
    .cd-primary-nav .cd-nav-solutions{background:url(images/menu-ser-ba.png),#1D1D1D!important;background-repeat:no-repeat!important;background-size:contain!important;}
    .cd-primary-nav .cd-nav-solutions li{width:50%;float:left;}
    .cd-primary-nav .cd-nav-solutions li ul{padding-top:5px;height:443px!important;overflow-y:scroll!important;}
    .cd-primary-nav .cd-nav-solutions li ul li{width:100%;}
    .cd-primary-nav .cd-nav-solutions li ul li a{font-size:16px;color:#999999;line-height:40px;}
    .cd-primary-nav .cd-nav-solutions li ul li a:hover,a .cd-nav-item:active{font-size:16px;color:#EE9A02;}
    .solutions__call__li{width:413.5px!important;height:443px!important;position:relative;}
    .solution__pos{position:absolute;bottom:0;}
    .solution__pos h4{line-height:36px;margin-bottom:4px;}
    .solution__pos p{margin-bottom:18px;}
    .mega__menu__contant{width:71.9%;padding-top:0px;}
    .mega__menu__contant h4{margin-bottom:7px;}
    .mega__menu__contant p{padding-bottom:30px;font-size:14px;}
    .cd-primary-nav .cd-secondary-nav > .see-all a,.cd-primary-nav .cd-nav-gallery > .see-all a,.cd-primary-nav .cd-nav-icons > .see-all a{line-height:19px;height:auto;color:#1d1d1d;}
    .cd-primary-nav .cd-secondary-nav > .see-all a:hover,.cd-primary-nav .cd-nav-gallery > .see-all a:hover,.cd-primary-nav .cd-nav-icons > .see-all a:hover{color:#1d1d1d;}
    .cd-primary-nav .cd-secondary-nav > li{    /* change the height according to your needs - you can even set height: auto */

      /* here you set the number of columns - use width percentage */
    width:100%;float:left;overflow:hidden;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;
    }
  /* .li_wrap {background-color:rgba(28,28,28,70%);
    padding-left: 14px;
    list-style-type: none;
    padding-top: 14px;
    padding-bottom: 1px;
    padding-right: 14px;
}*/
    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2){    /* +2 because we have 2 list items with display:none */
    margin-right:0;border-right:none;}
    .cd-primary-nav .cd-secondary-nav > li > a{    color: #f3f3f3;
   
    font-family: 'Assistant',light;
    font-size: 16px;
    line-height: 30px;}
    .mobile__icon{background-image:url(images/ic_mobile_apps.png)!important;width:22px;height:20px;background-repeat:no-repeat;display:flex;align-items:center;}
    .mobile__icon h6{padding-left:30px;}
    .web__icon{background-image:url(images/ic_web_dev.png)!important;width:22px;height:20px;background-repeat:no-repeat;display:flex;align-items:center;background-position:0px;}
    .web__icon h6{padding-left:30px;}
    .int__icon{background-image:url(images/ic_internet_marketing.png)!important;width:22px;height:20px;background-repeat:no-repeat;display:flex;align-items:center;background-position:0px;}
    .int__icon h6{padding-left:30px;}
    .ecoom__icon{background-image:url(images/ic_ecommerce.png)!important;width:22px;height:20px;background-repeat:no-repeat;display:flex;align-items:center;background-position:0px;}
    .ecoom__icon h6{padding-left:30px;}
    .design__icon{background-image:url(images/ic_design.png)!important;width:22px;height:20px;background-repeat:no-repeat;display:flex;align-items:center;background-position:0px;}
    .design__icon h6{padding-left:30px;}
    .CMS__icon{background-image:url(images/ic_cms_dev.png)!important;width:22px;height:20px;background-repeat:no-repeat;display:flex;align-items:center;background-position:0px;}
    .CMS__icon h6{padding-left:30px;}
    .cd-primary-nav .cd-secondary-nav a.cont-btn{display:inline-block;padding:10px 15px;height:auto;}
    .cd-primary-nav .cd-secondary-nav a{text-transform: uppercase;line-height:30px;padding:0 0% 0 0;border-bottom:none;font-size:16px;margin-bottom: 10px;font-family: 'Assistant',light;}
    .cd-primary-nav .cd-secondary-nav a:hover{color:#fff; text-decoration: none;}
    .cd-primary-nav .cd-secondary-nav ul{    /* Force Hardware Acceleration in WebKit */
    -webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);list-style-type: none;padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;}
    .cd-primary-nav .cd-secondary-nav ul ul{    /* tertiary navigation */
    position:absolute;top:0;left:0;height:100%;width:100%;}
    .cd-primary-nav .cd-secondary-nav ul ul.is-hidden{-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%);}
    .cd-primary-nav .cd-secondary-nav ul ul .go-back{display:block;}
    .cd-primary-nav .cd-secondary-nav ul ul .go-back a{color:transparent;}
    .cd-primary-nav .cd-secondary-nav ul ul .see-all{display:block;}
    .cd-primary-nav .cd-secondary-nav .moves-out > li > a{    /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
    -webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%);}
    .cd-primary-nav .cd-nav-gallery li{    /* set here number of columns - use width percentage */
    width:22%;float:left;margin:0 4% 40px 0;}
    .cd-primary-nav .cd-nav-gallery li:nth-child(4n+2){    /* +2 because we have two additional list items with display:none */
    margin-right:0;}
    .cd-primary-nav .cd-nav-gallery .cd-nav-item{border-bottom:none;padding:0;height:auto;line-height:1.2;}
    .cd-primary-nav .cd-nav-gallery .cd-nav-item img{position:static;margin-top:0;height:auto;width:100%;margin-bottom:.6em;}
    .cd-primary-nav .cd-nav-gallery .cd-nav-item h3{padding:0 .4em;}
    .cd-primary-nav .cd-nav-icons li{    /* set here number of columns - use width percentage */
    width:50%;float:left;   /* margin: 0 2% 20px 0;*/}
    .cd-primary-nav .cd-nav-icons li:nth-child(3n+2){    /* +2 because we have two additional list items with display:none */
    margin-right:0;}
    .cd-primary-nav .cd-nav-icons .cd-nav-item{border-bottom:none;height:90px;line-height:1.2;padding:24px 0 0 85px;position:relative;}
    .cd-primary-nav .cd-nav-icons .cd-nav-item:hover{}
    .cd-primary-nav .cd-nav-icons .cd-nav-item h3{}
    .cd-primary-nav .cd-nav-icons .cd-nav-item p{display:block;}
    .cd-primary-nav .cd-nav-icons .cd-nav-item::before{left:0px;}
  }
  .has-children > a,.go-back a{position:relative;}
  

a.nav_next_arrow::after{
   content:'';position:absolute;top:30%;margin-top:-1px;display:inline-block;height:2px;width:10px;
  background-image:url(../images/desktop_propues_donw_arro.png)!important;width: 6px;
height: 6px; background-repeat:no-repeat !important;
}
a.nav_back_arrow{
  position: relative;
}
a.nav_back_arrow::after{
   content:'';position:absolute;top:30px;top:0;display:inline-block;height:2px;width:10px;
  background-image:url(../images/mobile_menu_03.png)!important;width: 45px;  left: 144px;
    height: 45px; background-repeat:no-repeat !important;
}
.nav_back_arrow::before {
    content: '';
    position: absolute;
   
    top: 18%;
    display: inline-block;
    height: 2px;
    width: 10px;  
    width: 70px;
    height: 31px;
    background-color: #40875b;
}

.nav_back_arrow {   
    height: 50px;
  
}
.go-back {
    margin-top: 30px;
    margin-bottom: 28px;
}


.cd-secondary-nav .go-back  {
padding: 0;
}
 /* .has-children > a::before,.go-back a::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}*/
 /* .has-children > a::after,.go-back a::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}*/
  @media only screen and (min-width:1170px){
    .has-children > a::before,.has-children > a::after,.go-back a::before,.go-back a::after{background:#c9cbc4;}
    .has-children > a:hover::before,.has-children > a:hover::after,.go-back a:hover::before,.go-back a:hover::after{background:var(--color-lamon);}
  }
  .has-children > a{padding-right:40px;}
  .has-children > a::before,.has-children > a::after{  /* arrow goes on the right side - children navigation */
  right:20px;background:transparent;-webkit-transform-origin:9px 50%;-moz-transform-origin:9px 50%;-ms-transform-origin:9px 50%;-o-transform-origin:9px 50%;transform-origin:9px 50%;}
  .cd-primary-nav .go-back a{padding-left:40px;}
  .cd-primary-nav .go-back a::before,.cd-primary-nav .go-back a::after{  /* arrow goes on the left side - go back button */
  left:30px;-webkit-transform-origin:1px 50%;-moz-transform-origin:1px 50%;-ms-transform-origin:1px 50%;-o-transform-origin:1px 50%;transform-origin:1px 50%;}
  @media only screen and (min-width:1170px){
    .has-children > a::before,.has-children > a::after{right:15%;}
    .cd-primary-nav > .has-children > a{    /* main navigation arrows on larger devices */
    padding-right:30px!important;}
   /* .cd-primary-nav > .has-children > a::before,.cd-primary-nav > .has-children > a::after{width:9px;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;background:#c9cbc4;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:width 0.3s,-webkit-transform 0.3s;-moz-transition:width 0.3s,-moz-transform 0.3s;transition:width 0.3s,transform 0.3s;}*/
    .cd-primary-nav > .has-children > a::before{right:12px;}
    .cd-primary-nav > .has-children > a::after{right:18px;top: 31px;}
    .cd-primary-nav > .has-children > a.selected::before,.cd-primary-nav > .has-children > a.selected::after{width:6px;}
   /* .cd-primary-nav > .has-children > a.selected::before{-webkit-transform:translateX(5px) rotate(-45deg);-moz-transform:translateX(5px) rotate(-45deg);-ms-transform:translateX(5px) rotate(-45deg);-o-transform:translateX(5px) rotate(-45deg);transform:translateX(5px) rotate(-45deg);}*/
    /*.cd-primary-nav > .has-children > a.selected::after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}*/
    .cd-secondary-nav > .has-children > a::before,.cd-secondary-nav > .has-children > a::after{    /* remove arrows on secondary nav titles */
    display:none;}
    .cd-primary-nav .go-back a{/*padding-left:20px;*/}
    .cd-primary-nav .go-back a::before,.cd-primary-nav .go-back a::after{left:1px;}
  }
  .cd-search{position:absolute;height:50px;width:100%;top:50px;left:0;z-index:3;opacity:0;visibility:hidden;-webkit-transition:opacity .3s 0s,visibility 0s .3s;-moz-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s;}
  .cd-search form{height:100%;width:100%;}
  .cd-search input{border-radius:0;border:none;background:#ffffff;height:100%;width:100%;padding:0 5%;box-shadow:inset 0 1px 0 #e2e3df,0 3px 6px rgba(0,0,0,0.05);-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;}
  .cd-search input::-webkit-input-placeholder{color:#c9cbc4;}
  .cd-search input::-moz-placeholder{color:#c9cbc4;}
  .cd-search input:-moz-placeholder{color:#c9cbc4;}
  .cd-search input:-ms-input-placeholder{color:#c9cbc4;}
  .cd-search input:focus{outline:none;}
  .cd-search.is-visible{opacity:1;visibility:visible;-webkit-transition:opacity .3s 0s,visibility 0s 0s;-moz-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s;}
  .nav-is-fixed .cd-search{position:fixed;}
  @media only screen and (min-width:1170px){
    .cd-search{height:120px;top:80px;}
    .cd-search input{padding:0 2em;font-size:3.2rem;font-weight:300;}
  }
  .cd-overlay{  /* shadow layer visible when navigation is active */
  position:fixed;z-index:2;height:100%;width:100%;top:0;left:0;cursor:pointer;visibility:hidden;opacity:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:opacity 0.3s 0s,visibility 0s 0.3s,-webkit-transform 0.3s 0s;-moz-transition:opacity 0.3s 0s,visibility 0s 0.3s,-moz-transform 0.3s 0s;transition:opacity 0.3s 0s,visibility 0s 0.3s,transform 0.3s 0s;}
  /*.cd-overlay.is-visible{opacity:1;visibility:visible;-webkit-transition:opacity 0.3s 0s,visibility 0s 0s,-webkit-transform 0.3s 0s;-moz-transition:opacity 0.3s 0s,visibility 0s 0s,-moz-transform 0.3s 0s;transition:opacity 0.3s 0s,visibility 0s 0s,transform 0.3s 0s;}*/
  @media only screen and (max-width:1169px){
    .cd-secondary-nav li {
padding-left: 14px;
}
.nav__btn.custom-btn-grp.custom-btn-grp1 {
    padding: 0;
    margin: 0;
}.custom-btn-grp1 a.btn.btn-outline-primary.text-white.outline2 {
    padding: 0 !important;
}
a.nav_next_arrow::after{
   content:'';position:absolute;top:9%;margin-top:-1px;display:inline-block;height:2px;width:10px;
  background-image:url(../images/nav_next_arrow.png)!important;width: 32px;
height: 28px; background-repeat:no-repeat !important;
}
a.nav_back_arrow::after{
   content:'';position:absolute;top:30%;top:0;display:inline-block;height:2px;width:10px;
  background-image:url(../images/mobile_menu_03.png)!important;width: 45px;
    height: 45px; background-repeat:no-repeat !important;
}
.cd-nav-trigger {
  
    border: none;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b4dcc1;
   
    border-radius: 50%;
   position: absolute;
top: 12px;right: -22px;
}
    .cd-overlay.is-visible{-webkit-transform:translateX(-260px);-moz-transform:translateX(-260px);-ms-transform:translateX(-260px);-o-transform:translateX(-260px);transform:translateX(-260px);}
    .nav-on-left .cd-overlay.is-visible{-webkit-transform:translateX(260px);-moz-transform:translateX(260px);-ms-transform:translateX(260px);-o-transform:translateX(260px);transform:translateX(260px);}
    .cd-overlay.is-visible.search-is-visible,.nav-on-left .cd-overlay.is-visible.search-is-visible{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);}
    .social__menu__mobile{display:block;position:relative;top:20px;    /* padding-left: 15px; */}
    .social__menu__mobile{display:block;position:relative;top:55px;    /* padding-left: 15px; */}
    li.social__ico{display:flex;align-items:center;padding-left:35px;margin-bottom:10px;position:relative;}
    .social__ico a{font-size:18px!important;color:#fff!important;font-weight:normal!important;}
    .social__ico img{width:36px;max-width:100%;}
    ul#cd-primary-nav{z-index:999;padding-top:7px;overflow-x:hidden;height:100vh;width: 100%;}
    .cd-primary-nav,.cd-primary-nav ul{width: 100%;background-repeat:no-repeat;background-size:contain;padding-left:25px;background-color: #40875B;
    list-style-type: none;}
    .cd-primary-nav .cd-nav-solutions li ul{margin-top:38px;}
    .cd-primary-nav .cd-nav-gallery .cd-nav-item,.cd-primary-nav .cd-nav-icons .cd-nav-item{height:40px;line-height:30px;margin-top:0;}
    .cd-nav-icons a.cd-nav-item{padding:10px 0 0 41px!important;}
    .cd-primary-nav .cd-secondary-nav > li > a {
    color: #f3f3f3;
    font-family: 'Assistant',light;
    font-size: 16px;
    line-height: 30px;
      font-weight: bold;
      margin-bottom: 31px;
}
    .cd-primary-nav a,.cd-primary-nav ul a{font-size: 16px;
      line-height: 18px;
    font-weight: bold;
font-family: "Assistant", sans-serif;
    color: #ffffff;
    text-decoration: none;}
    .cd-primary-nav .go-back a{padding-left:40px;left:-15px;}
    .social__ico a{font-size:16px;font-weight:normal;color:#fff;padding-left:20px;}
    .custom__font li.go-back a{font-size:20px!important;font-weight:bold!important;color:#999999!important;}
    .cd-nav-solutions li ul li a{font-size:16px;color:#999999;font-weight:bold;}
    .has-children .before__child ul li a{font-size:16px;color:#999999;font-weight:bold;}
    .see-all{padding-left:20px;padding-right:20px;}
    .mega__menu__contant{margin-top:30px;margin-bottom:30px;}
    .cd-nav-icons{padding-left:25px!important;}
    .cd-nav-icons .see-all{padding-left:0px;padding-right:0px;}
    .cd-primary-nav .cd-secondary-nav, .cd-primary-nav .cd-nav-gallery, .cd-primary-nav .cd-nav-icons, .cd-primary-nav .cd-nav-solutions {
    left: 0 !important;
}
.cd-primary-nav li {
  margin-bottom: 36px;
}
  }

  /* -------------------------------- 

  support for no js 

  -------------------------------- */
  .no-js .cd-primary-nav{position:relative;height:auto;width:100%;overflow:visible;visibility:visible;z-index:2;}
  .no-js .cd-search{position:relative;top:0;opacity:1;visibility:visible;}

.close_mo_nav {
    display: none;
  
}
/*.close_mo_nav a.cd-nav-trigger.nav-is-visible {
    position: absolute;
    right: 0;
}*/
  @media only screen and (min-width:1170px){
    .no-js .cd-primary-nav{position:absolute;z-index:3;display:inline-block;width:auto;top:0;right:150px;padding:0;}
    .no-js .nav-is-fixed .cd-primary-nav{position:fixed;}
  }

  @media only screen and (max-width:1169px){
    .cd-primary-nav, .cd-primary-nav ul {
  
    height: 100vh;
}
    .cd-primary-nav a, .cd-primary-nav ul a {
   padding-bottom: 9px;
    text-transform: uppercase;
}
    .nav__btn.custom-btn-grp.custom-btn-grp1:before {
    content: '';
    width: 100px;
    background-color: aliceblue;
    height: 2px;
}
    .nav__btn.custom-btn-grp.custom-btn-grp1 a {
    padding: 0;
}
.custom-btn-grp1 a.btn.btn-outline-primary.fill-bg {
    padding: 0 !important;
        margin-left: 0 !important;
}
    .nav__btn.custom-btn-grp .btn {
    padding: 6px 28px 6px 29px;
    border-radius: 12px;
    letter-spacing: 0.4px;
    border: 0px solid #3e885b;
    font-family: "Assistant";
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    padding: 0;
}
    .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0;
}
   .nav__btn.custom-btn-grp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}

.close_mo_nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
/*.close_mo_nav a.cd-nav-trigger.nav-is-visible {
    position: absolute;
    right: 0;
}*/
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width:320px) and (max-device-width:624px){
    .cd-header-buttons{position:absolute;right:0px;top:8px;}
    .cd-header-buttons li{position:absolute!important;right:75px;top:10px;display:block!important;}
    ul#cd-primary-nav{    z-index: 999;
    padding-top: 20px;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;}
    .cd-primary-nav,.cd-primary-nav ul{height:calc(100vh - 80px);}
  }
  @media only screen and (min-device-width:320px) and (max-device-width:740px){


    .cd-header-buttons .small-btn{width:131px!important;height:31px!important;font-size:14px!important;padding:0 0em!important;background-color:#48BAFF!important;position:absolute!important;right:0!important;top:8px!important;line-height:31px;text-align:center;}
    .cd-main-header.fixed-top.bg-color-light-dark.nav-is-visible{background-color:#1D1D1D;}
    .cd-secondary-nav .is-hidden{margin-top:0px;}
    .cd-primary-nav .is-fixed nav-is-visible .cd-secondary-nav .is-hidden{margin-top:85px;}
    .cd-primary-nav,.cd-primary-nav ul{background-color: #40875B;
    list-style-type: none;}
    .cd-primary-nav a,.cd-primary-nav ul a{border-bottom:none;font-size: 16px;
    color: #ffffff;
    text-decoration: none;}
    .cd-primary-nav a,.cd-primary-nav ul a::active{color:#EE9A02;}
    li.see-all{padding-left:15px;padding-right:15px;width:100%;}
    .cd-primary-nav,.cd-primary-nav ul{background-color: #40875B;
    list-style-type: none; height:auto;}
    .cd-primary-nav .cd-nav-icons .cd-nav-item::before{top:65%;}
    .cd-primary-nav,.cd-primary-nav ul{overflow:scroll;overflow-x:hidden;}
    .mega__menu__contant h4{margin-bottom:10px;}
    .mega__menu__contant{margin-bottom:30px;}
    .cd-main-content.nav-is-visible,.cd-main-header.nav-is-visible{-webkit-transform:translateX(0px)!important;-moz-transform:translateX(0px)!important;-ms-transform:translateX(0px)!important;-o-transform:translateX(0px)!important;transform:translateX(0px)!important;}
     .cd-primary-nav, .cd-primary-nav ul {
  
    height: 100vh;
}
    .cd-primary-nav.nav-is-visible{visibility:visible;-webkit-transition:visibility 0s 0s;-moz-transition:visibility 0s 0s;transition:visibility 0px 0s;overflow:hidden;}
    .cd-secondary-nav{margin-top:0px!important;}
    .cd-nav-icons{padding-left:15px!important;margin-top:0px!important;}
    .cd-primary-nav .cd-nav-gallery .cd-nav-item,.cd-primary-nav .cd-nav-icons .cd-nav-item{height:50px;line-height:20px;}
    .cd-nav-icons a.cd-nav-item{padding:10px 0 0 41px!important;}
    .cd-main-header.fixed-top.bg-color-light-dark{height:88px;padding:0;z-index:999;}
    .navbar{z-index:999;}
    .cd-search-trigger,.cd-nav-trigger{top:-5px;}
    .cd-primary-nav .see-all a{color:#1d1d1d;}
    .social__menu__mobile{display:block;position:relative;top:20px;padding-left:0;}
    li.social__ico{display:flex;align-items:center;margin-bottom:15px;}
    .social__ico a{font-size:16px;color:#fff;font-weight:normal;padding-left:20px;}
    .social__ico img{height:min-content;}
     .nav-is-visible .cd-logo{
      display: none;
    }
    ul#cd-primary-nav {
    z-index: 1;
    padding-top: 7px;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    padding: 87px 36px;
}
.cd-main-header.fixed-top.bg-color-light-dark.nav-is-visible {
    display: block;
    z-index: 999999999999997;
    background-color: transparent;
    height: 0;
}
  }
  @media only screen and  (max-device-width:320px){
    .cd-header-buttons{position:absolute;display:inline-block;top:3px;right:-7%;}
  }
  a.cd-nav-item.item-1:after{content:'';position:absolute;left:0;top:10px;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-152px -360px;}
  a.cd-nav-item.item-2:after{content:'';position:absolute;left:0;top:10px;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-503px -290px;}
  a.cd-nav-item.item-3:after{content:'';position:absolute;left:0;top:10px;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-362px -360px;}
  a.cd-nav-item.item-4:after{content:'';position:absolute;left:0;top:10px;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-81px -360px;}
  a.cd-nav-item.item-5:after{content:'';position:absolute;left:0;top:10px;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-11px -360px;}
  a.cd-nav-item.item-6:after{content:'';position:absolute;left:0;top:10px;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-222px -360px;}
  a.cd-nav-item.item-7:after{content:'';position:absolute;left:0;top:10px;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-290px -360px;}
  a.cd-nav-item.item-8:after{content:'';position:absolute;left:0;top:10px;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-431px -360px;}
  .cd-secondary-nav a.cd-nav-item{padding:0 0 0 41px!important;}
  .cd-secondary-nav .has-children a h6.item-1:before{content:'';position:absolute;left:0;top:0;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-152px -360px;}
  .cd-secondary-nav .has-children a h6.item-2:before{content:'';position:absolute;left:0;top:0;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-363px -360px;}
  .cd-secondary-nav .has-children a h6.item-3:before{content:'';position:absolute;left:0;top:0;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-503px -290px;}
  .cd-secondary-nav .has-children a h6.item-4:before{content:'';position:absolute;left:0;top:0;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-13px -360px;}
  .cd-secondary-nav .has-children a h6.item-5:before{content:'';position:absolute;left:0;top:0;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-82px -360px;}
  .cd-secondary-nav .has-children a h6.item-6:before{content:'';position:absolute;left:0;top:0;background:url(images/all-icon.png);background-repeat:no-repeat;width:30px;height:30px;background-position:-221px -360px;}
  @media only screen and  (max-width:991px){
    .cd-primary-nav a,.cd-primary-nav ul a{margin-top:10px;padding-bottom: 9px;}
  }
  @media only screen and (min-width:375px) and (max-width:1169px){
    .nav-is-visible .cd-logo{
      display: none;
    }
    ul#cd-primary-nav {
    z-index: 1;
    padding-top: 7px;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    padding: 87px 36px;
}
    .custom-btn-grp1 a.btn.btn-outline-primary.text-white.outline2 {
    padding: 0 !important; margin-top: 43px;
}
.custom-btn-grp a.btn.btn-outline-primary.fill-bg {
   
    margin-top: 28px;
}
    .nav__btn.custom-btn-grp.custom-btn-grp1 {
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

    /*mmenu__socialicon start*/
    .mmenu__socialicon{margin-left:5px;margin-right:8px;display:flex;flex-direction:row;position:relative;justify-content:center;margin-top:100px;}
    .mmenu__socialicon a{width:27px;height:27px;float:left;margin-right:18px;}
    .mmenu__socialicon a.fab_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:0px 0px;width:27px;height:27px;}
    .mmenu__socialicon a.twitter_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:-47px 0px;width:27px;height:27px;}
    .mmenu__socialicon a.insta_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:-92px 0px;width:27px;height:27px;}
    .mmenu__socialicon a.link_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:-139px 0px;width:27px;height:27px;}
    .mmenu__socialicon a.pin_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:-185px 0px;width:27px;height:27px;}
  }
  @media only screen and (min-width:320px) and (max-width:374px){

    /*mmenu__socialicon start*/
    .mmenu__socialicon{margin-left:5px;margin-right:8px;display:flex;flex-direction:row;position:relative;justify-content:center;margin-top:30px;}
    .mmenu__socialicon a{width:27px;height:27px;float:left;  /*margin-left: 5px;*/margin-right:18px;}
    .mmenu__socialicon a.fab_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:0px 0px;width:27px;height:27px;}
    .mmenu__socialicon a.twitter_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:-46px 0px;width:27px;height:27px;}
    .mmenu__socialicon a.insta_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:-92px 0px;width:27px;height:27px;}
    .mmenu__socialicon a.link_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:-138px 0px;width:27px;height:27px;}
    .mmenu__socialicon a.pin_class::before{content:'';position:absolute;background:url(images/m_ic_social_sprite.png);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-repeat:no-repeat;background-position:-185px 0px;width:27px;height:27px;}
  }

  /*mmenu__socialicon end*/
  @media only screen and (min-width:320px) and (max-width:767px){

    ul.custom-hight{height:100%}
  }
  @media only screen and (min-width:320px) and (max-width:576px){
    .logo_mobile_views .cd-logo{
display: none;
    }
    .cd-main-header.fixed-top.bg-color-light-dark {
  
    display: block;
    position: absolute;
}
.cd-nav-trigger {
    position: absolute;
    right: 0;
    left: 44px;
top: 64px;
padding: 0;
border: none;
height: 45px;
width: 45px;
display: flex;
align-items: center;
justify-content: center;
background-color: #b4dcc1;
left: 40px;
border-radius: 50%;
position: absolute;
left: 61px;
}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 24px;
    background: #FFF;
}
.cd-header-buttons {
    position: relative;
    right: 0px;
    top: 0;
}
.nav-is-visible .cd-header-buttons {
    right: 0px;
    top: 0;
    position: absolute;
}
.nav-is-visible .cd-nav-trigger {
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
}
  }
  @media only screen and (min-width:320px) and (max-width:375px){
    .mmenu__socialicon{margin-top:55px;}
  }
   @media only screen and (max-width:375px){
    .mmenu__socialicon{margin-top:55px;}

  .nav__btn.custom-btn-grp.custom-btn-grp1 {
    padding: 0;
    margin: 0;
        margin-top: 0px;
    margin-top: 40px;
}
.custom-btn-grp a.btn.btn-outline-primary.fill-bg {
    margin-top: 28px;
}
.custom-btn-grp1 a.btn.btn-outline-primary.text-white.outline2 {

    padding: 0 !important;
    margin-top: 43px;

}
 ul#cd-primary-nav {
    z-index: 1;
    padding-top: 7px;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    padding: 74px 36px;
}
  }

@media only screen and (max-width: 1169px) {
  .d-none-1170 { display: none; }
}