body, html {
  padding: 0;
  margin: 0;
  background: #e1f1e6; 
}

.wrapper {
  position: relative;
  max-width: 1080px;
  margin: 50px auto;
}

.wizard {
  
  margin: 0 auto;
}
.wizard__header {
  position: relative;
  color: #FFF;
  padding: 50px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  height: 100px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wizard__header-content {
  position: absolute;
  width: 100%;
  padding: 0 50px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.wizard__header-content img {
  height: 60px;
}

.wizard__title {
  font-size: 22px;
  line-height: 2rem;
  font-weight: bold;
  margin: 0;
  color: #434343;
}
.wizard__subheading {  
  margin: 0;
  font-size: 22px;
  font-weight: 100;  
  color: #434343;
}
.wizard__subheading span {
  font-weight: 600;
}
.wizard__steps {
  position: absolute; 
  left: 0;
  width: 100%;
  top: 142px;
  z-index: 10;
}
.wizard__footer {
  padding: 0 50px 50px;
  border-radius: 5px;
  display: flex;
    justify-content: center;
}

.wizard__congrats-message {  
    text-align: center;
    position: relative; 
    left: 0;  
    bottom: 0;   
    padding: 30px;
    right: 0;
}/*
.wizard.completed .wizard__content {
  animation: gettingOut 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}
.wizard.completed .wizard__congrats-message {
  animation: fadeIn 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}
*/
.wizard.completed .wizard__congrats-message .btn-primary.disabled, .btn-primary:disabled{
    background-color: #bdc5c0;
    border:none;
    border-radius: 15px; 
}
.line {
  position: absolute;
  top: 17px;
  left: 50%;
  z-index: -1;
  height: 3px;
  transition: all 0.5s ease;
}
.line.-start {
  left: 0%;
  background: #40875a;
  width: 50%;
}
.line.-end {
  left: 50%;
  background: #5094de;
  width: 50%;
}
.line.-background {
  background: #c3c3c3;
  width: 100%;
}
.line.-progress {
  background: #3e885b;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}
.line.-in-progress {
  transform: scaleX(1);
}

.panels {
  position: relative;
  overflow: hidden;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s all;
  padding: 100px 50px 50px 50px;
}
.panel__header {
  margin-bottom: 30px;
}
.panel__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
.panel__subheading {
  font-size: .9rem;
  line-height: 1.2rem;
  margin: 0;
}
.panel.movingOutBackward {
  transform: translateX(-1065px);
}
.panel.movingOutFoward {
  transform: translateX(1085px);
}
.panel.movingIn {
  transform: translateX(0);
}

.steps {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  color: #fff;
}

.step {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}
.step__content {
  position: relative;
  z-index: 2;
}
.step__number {
    font-size: 1.3rem;
    color: #676767;
    background: #b3dcc0;
    font-weight: 800;
    width: 35px;
    height: 35px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 50%; 
    transition: opacity .5s;
    opacity: 1;
    z-index: 5;

}
.step__number__1{
  font-size: 1.3rem;
    color: #676767;
    background: #3e885b;
    font-weight: 800;
    width: 35px;
    height: 35px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 50%; 
    transition: opacity .5s;
    opacity: 1;
    z-index: 5;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(125,125,125,0.4); 
    box-shadow: 0px 5px 8px 0px rgba(125,125,125,0.4);
}
.step.-completed .step__number {
    font-size: 1.3rem;
    color: #676767;
    background: #3e885b;
    font-weight: 800;
    width: 35px;
    height: 35px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    transition: opacity .5s;
    opacity: 1;
    z-index: 5;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(125,125,125,0.4); 
    box-shadow: 0px 5px 8px 0px rgba(125,125,125,0.4);
}
.step.-completed .checkmark {
  z-index: 0;
  animation: fill .4s ease-in-out forwards,  scale .3s ease-in-out .6s both;
}
.step.-completed .checkmark__check {
  animation: stroke .5s linear .4s forwards;
}
.step.-completed .line {
  transform: scaleX(1);
}
.step:last-child .line {
  width: 50%;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #75b2f5;
  z-index: -1;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 8;
  stroke-miterlimit: 10;
  stroke: #5094de;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  stroke: #FFF;
  stroke-width: 5;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    background: #3e885b;
    color: #FFF;
    padding: 10px 15px;
    border: none;
    outline: none;
    display: inline-block;
    transition: all .3s;
    display: flex;
    width: 35px;
    border-radius: 100px;
    height: 35px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 10px;
    display: -webkit-flex;
    padding: 0;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    outline: none;
} 

.button:hover {
  background: #3e885b;
}
.button.previous {
  margin-right: 5px;
}
.button .next:before {
  content: '';
  position: absolute;
  background-image: url("..images/ke_insumos_arrow__right.png");

}

.button.disabled {
  background: #c3c3c3;
  cursor: default;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  50% {
    transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
  }
  100% {
    transform: scale3d(0);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #75b2f5;
  }
}
@keyframes gettingOut {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-200%);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}