body {
  font-family: 'Assistant', sans-serif;
}
.site-header {
background-color:rgba(0, 0, 0, 0.39);

}
.site-header a {
color: #999;
transition: ease-in-out color .15s;
}
.site-header a:hover {
color: #fff;
text-decoration: none;
}
.header_bg{
background: url(../images/ke_insumos_banner_img.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.overflow-hidden { overflow: hidden; }
.custom__hight{  
min-height: 579px;
}
.iniciar__sesion{
top: -100px;
}
.iniciar__sesion {
top: -130px;
  
}
.iniciar__sesion .card{
border-radius: 30px;
padding: 25px 50px 10px 50px;
}
.mb__custom{

margin-bottom: 53px;
}
.iniciar__sesion h1{
font-size: 30px;
font-weight: bold;
text-align: center;
color: #f15f5e;
margin-bottom: 40px;
}

.iniciar__sesion .form-group a { 
color: #40875a;
text-decoration: none;
font-size: 18px;
font-weight: 600;
font-style: italic;
text-decoration: underline;
}/*
.iniciar__sesion .form-group a:after { 
  content: '';
  border-bottom: 1px solid #40875a;  
  position: relative;
  display: inline-block;
  bottom: 20px;
  z-index: 9999;  
  width: 100%;
  height: auto;

}*/
.iniciar__sesion  .btn{
  color: #40875a;
  padding: 10px 35px 10px 35px;
  border-radius: 21px ;
  border-color: #40875a;
  margin-right: 10px;
  margin-left: 10px;
 margin-bottom: 35px;


}

.iniciar__sesion  .btn-primary {

  padding: 10px 50px 10px 50px;
}
  
 .iniciar__sesion .btn-outline-primary:hover {
  color: #fff;
  background-color: #40875a;
  border-color: #40875a;
}

.iniciar__sesion .btn-primary {
  color: #fff;
  background-color: #40875a;
  border-color: #40875a;
}
.iniciar__sesion .btn-primary:hover {
  color: #40875a;
  background-color: transparent;
  border-color: #40875a;
}

.iniciar__sesion .form-group input
{ border: none;
border-radius: unset;
border-bottom: 3px solid #c1c1c1;
}

.iniciar__sesion .form-control:-ms-input-placeholder {
color: #434343;
 font-size: 20px;
 text-align: center;
}

.iniciar__sesion .form-control:-ms-input-placeholder {
color: #434343;
 font-size: 20px;
 text-align: center;
}
.iniciar__sesion .form-control::-webkit-input-placeholder {
color: #434343;
 font-size: 20px;
 text-align: center;
}
input[type="text"] {
  text-align:center;
}

.iniciar__sesion .form-control:focus { 
  background-color: #fff;
  border-bottom: 3px solid #c1c1c1;
  outline: none;
  box-shadow:unset;
 
  outline: none !important;
}

.custom__hight { padding: 150px 0px !important; min-height: auto; }

/*registration-card*/
.cutom__card__rig{
        top: -140px;
      }
    .cutom__card__rig .card {
      background-color: #d8edde;
      border-radius: 20px;
      text-align: center;
    }
     .cutom__card__rig .card-body {
    padding: 40px 25px 35px 25px;
    }
     .cutom__card__rig .card h1 {
       font-size: 25px;
       color: #434343;
        padding-top: 20px;
    }
     .cutom__card__rig .card  h2{
       font-size: 18px;
      color: #434343;
      font-weight: 100;
      line-height: 26px;
    }
    .cutom__card__rig a {
    text-decoration: none;
    }
    .cutom__card__rig  .card-body img {
      height: 80px;
      width: auto;
    }
    .cutom__card__rig {
  padding-bottom: 140px !important;
}


.btn-outline-primary.focus, .btn-outline-primary:focus {box-shadow: none;}
.iniciar__sesion.registration-wrap h1 { font-size: 18px; font-weight: bold; text-align: center; color: #434343; margin-bottom: 30px;margin-top:15px;}
.iniciar__sesion.registration-wrap .card{border-radius:10px}
img.registeration_icon {max-width: 95px; max-height: 70px;}  
.iniciar__sesion.registration-wrap .custom-control-input:checked~.custom-control-label::before { color: #fff; border-color: #40875a; background-color: #40875a; }
.iniciar__sesion.registration-wrap .custom-checkbox {max-width: 100%;margin:0 auto;margin-bottom: 35px; margin: 0px !important;}
.iniciar__sesion.registration-wrap label.custom-control-label {color: #434343; font-size: 11px;}
.iniciar__sesion.registration-wrap label.custom-control-label a {font-size: 11px;}
.iniciar__sesion.registration-wrap .btn-primary {padding: 9px 68px 9px 68px;margin-right: 0;}
.iniciar__sesion.registration-wrap .btn{padding:9px 53px 9px 53px;margin: 0 10px 35px 0;}
.registration-card {max-width: 560px !important;flex:unset;}


.iniciar__sesion.registration-wrap .placeholder-danger::placeholder
{
  color: #f15f5e;
  font-size: 13px;
}
.iniciar__sesion.registration-wrap .placeholder-danger::-ms-input-placeholder
{
  color: #f15f5e;
  font-size: 13px;
}
.iniciar__sesion.registration-wrap .placeholder-danger::-webkit-input-placeholder
{
  color: #f15f5e;
  font-size: 13px;
}
.iniciar__sesion.registration-wrap .placeholder-danger::-moz-placeholder
{
  color: #f15f5e;
  font-size: 13px;
}

/*registration-step*/
.registration-process .step__number, .registration-process .step.-completed .step__number {height: 30px;width: 30px;}
.registration-process .line{top:15px;}
fieldset .form-group input { border: 0; background: none; border-bottom: 3px solid #c1c1c1; border-radius: 0; max-width: 70%; margin: 0 auto;outline:none;}
fieldset .form-group input.form-control:focus { color: #6e707e; background-color: transparent;outline: 0; box-shadow:none;border-color:#c1c1c1}
.panel{width:100%}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {border-color: #40875a;}
.custom-control-input:focus~.custom-control-label::before {box-shadow:none;}

.iniciar__sesion h1 { font-size: 27px; letter-spacing: -1px; color: #f15f5e; font-family: "Assistant"; font-weight: 700;}
.iniciar__sesion .form-group a { font-size: 16px; letter-spacing: 0px; line-height: 1.43; color: #40875a;font-weight: 600; text-align: center; }
.btn-lg { font-size: 24px; letter-spacing: 0px; line-height: 24px; font-family: "Assistant"; font-weight: 500;}
.login-form .card.shadow-sm {width: 624px;margin: 0 auto;}
.login-form .btn:active:focus{box-shadow:none !important}
.login-form .btn:active{border-color:#3e885b !important;}
.login-form .btn:active{background-color:#3e885b !important;}
.login-form .btn{padding: 12px 44px 12px 44px;border-radius: 16px !important;box-shadow: none;}
.login-form  .form-group.form-check.registration-link label {font-style: italic;}


/*Responsive MediaQuery*/

@media(max-width:1199px){

.registration-card-custom {max-width: 280px;flex: unset;}
}

@media(max-width:992px){

.cutom__card__rig {padding-bottom: 0px !important;}

}

@media(max-width:767px){
.banner-form-wrap .custom__hight {padding: 110px 0px !important;}
.iniciar__sesion .card {border-radius: 30px;padding:0;}
.iniciar__sesion h1{margin-bottom:8px;font-size: 25px;}
.iniciar__sesion ::placeholder {font-size: 16px !important;}
.iniciar__sesion .form-group {margin-bottom: 5px;padding-left: 0;padding: 5px 0px;}
.iniciar__sesion .form-group input{border-bottom:1px solid #c1c1c1}
.iniciar__sesion .form-control:focus{border-bottom:1px solid #c1c1c1}
.iniciar__sesion .btn { display: inline-block; padding: 6px 20px !important; font-size: 16px; margin: 0; }
.form-group.form-check.registration-link { margin: 10px 0px 0px; padding-bottom: 0; }
.iniciar__sesion.iniciar__sesion {padding: 0 18px;}
.registration-card-custom {margin-bottom: 30px !important;}
.iniciar__sesion.registration-wrap h1{margin-bottom:20px}
.iniciar__sesion.registration-wrap .custom-checkbox{margin-bottom:15px;}
.iniciar__sesion.registration-wrap button{padding: 6px 29px !important; margin-bottom:10px}
.wizard__title {font-size: 17px;line-height: 25px;}
h1.wizard__title { font-size: 18px; line-height: 24px; padding-top: 10px; }
p.wizard__subheading { font-size: 16px; padding: 10px 0; }
.wizard__content .wizard__header-content { padding:0}
.registration-process .step__number, .registration-process .step.-completed .step__number {height: 15px; width: 15px;}
.registration-process .line {top: 6px;}
.wizard__content .panel{padding:85px 0px 50px 0px}
header.panel__header h2.panel__title {font-size: 21px;padding-bottom: 10px;}
.wizard__content .wizard__footer { padding: 0 50px 15px;}
div#wizard .btn-group-lg>.btn, .btn-lg { padding: 12px 18px; font-size: 17px; line-height: 25px; }
div#wizard .wizard__congrats-message { padding: 0; margin-bottom: 25px; }
.login-form .card.shadow-sm {width: auto;}
.iniciar__sesion.iniciar__sesion{padding:0}

}
@media(max-width:576px){

}


.pull-left
{
  float: left;
}
