.container-fluid{max-width:1554px;width: 100%;}
body {height: 100%;  } 
.container{max-width:1111px;width:100%; padding: 0;}
.banner-form-wrap { height: 100%; width: 100%; float: left; position:relative;top:0}
.comman-background { background-repeat: no-repeat; background-size: cover; background-position: 10% 100%; }
header { position: fixed; width: 100%; top: 0; z-index: 99; }
.banner-wrap{padding-top:190px;position:relative;}
.banner-wrap h1 {
  color: #fff;
  font-family: 'Assistant',light;
  font-weight: 200;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 0px;
}
.custom-btn-grp .btn-outline-primary {border-color: #3e885b;}
.custom-btn-grp .btn-outline-primary:hover { color: #fff; background-color: #3e885b; border-color: #3e885b; }
.custom-btn-grp a.btn.btn-outline-primary.fill-bg {background: #3e885b;color: #ffffff;margin-left: 7px;padding: 6px 37px;font-family: "Assistant";font-weight: 300;font-style: normal;font-size: 17px;
}
.nav__btn.custom-btn-grp .btn {padding:6px 28px 6px 29px; border-radius: 12px;letter-spacing: 0.4px;border: 2px solid #3e885b;font-family: "Assistant";font-weight: 300;font-style: normal;font-size: 17px;}
.custom-btn-grp .btn-outline-primary:active:focus{box-shadow:none !important}
.custom-btn-grp .btn-outline-primary:active{border-color:#3e885b !important;}
.custom-btn-grp .btn-outline-primary:active{background-color:#3e885b !important;}
header nav { font-weight: 300; }
header .site-header {background-color: rgba(0, 0, 0, 0.7);}

.banner-form-wrap{position:relative;padding-bottom:140px}
.banner-form-wrap:before { position: absolute; content: ''; height: 100%; width: 100%;background: linear-gradient(to bottom, rgba(88, 88, 88, 0.62) 0%,rgba(0, 0, 0, 0.86) 100%);}
.banner-btn-grp{display:flex;flex-wrap:wrap;max-width:326px;width: 100%;justify-content: space-between;margin-top: 20px;}
.banner-btn-grp a{width:155px;height:54px;background: #000;border-radius:8px;display:flex;align-items:center;color:#fff;text-decoration: none;border: 1px solid #fff;}
.icon-wrap { margin-left: 13px; margin-right: 6px; width: 26px; }
.icon-wrap img { width: 100%; object-fit: contain;}
.sm-txt {font-style: normal;font-weight:300;font-size: 14px;line-height: 17px;}
.big-txt{font-style: normal;font-weight: normal;font-size: 20px;line-height: 17px;padding-bottom:4px}
.banner-btn-grp a span{display:block;}
a.full-click-wrap img {width: 100%;border-radius: 20px;box-shadow:0px 0px 3px 2px #79787d;height:268px;object-fit:cover;}
a.full-click-wrap { position: relative; display:block; }
a.full-click-wrap i { position: absolute; left: 50%; transform: translate(-50%, -50%); top: 50%; color: red;font-size: 46px;color:#ef5f5e}
.banner-video-wrap {padding-top:110px}
/*.banner-content{margin-left:100px}*/
.video-part{padding: 8px;}
.video-part h3{font-size: 20px;font-weight: 600;color:#d3d3d3;text-align: center;margin-bottom: 12px;}
a.full-click-wrap:before { position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius:20px; background: rgba(0, 0, 0, 0.42); content: ''; }
footer{display:block;width:100%;float:left;background-color:rgba(128, 128, 128, 0.55);}
footer .footer-logo-content{display:flex;flex-wrap:wrap;align-items:center;justify-content: flex-end;}
.footer-wrap { align-items: center; padding: 6px 15px;width: 100%; }
footer .footer-logo-content p {padding-right: 10px;}
.footer-logo-content img { height: 25px; }
.footer-wrap p{margin-bottom: 0;font-weight: 700;color:#36322f;font-size:15px}
.footer-part{width:50%;}
.mobile-content{display:none}
.mobile-footer{display:none}
.desktop-content h1 {color: #fff; text-align: center; position: absolute; margin: auto; left: 0; right: 0; top: 40%;}

/*login-page*/
.banner-form-wrap.login-banner.header_bg { padding-bottom:420px; }
.banner-form-wrap.login-banner:before {background: none;}
.form-group.form-check.registration-link { font-size: 20px; letter-spacing: 0px; line-height: 46px; color: #949494; font-weight: 600; text-align: center; }
.iniciar__sesion .form-group.registration-link a{font-size: 20px;}

/*contact page*/
.banner-form-wrap.contact-banner.header_bg { padding-bottom: 420px; }
.banner-form-wrap.contact-banner:before {background: none;}
.contact-banner .mobile-heading{display:none;}

/*register-page*/
.register-cards.cutom__card__rig .card h1 { font-size:30px;}
.register-cards.cutom__card__rig .card h2 { font-size: 20px; color: #434343; font-family: "Assistant"; font-weight: 600; text-align: center; }
.register-form-card.iniciar__sesion.registration-wrap h1{font-size:20px;letter-spacing:normal;}
.custom-checkbox.text-left.custom-checkbox-select label {display: inline;font-weight: 600;font-size: 12px;}
.iniciar__sesion.registration-wrap .custom-checkbox label.custom-control-label a{font-size: 12px;}
.register-form-card .btn:active {background-color: #3e885b !important;}
.register-form-card .btn-primary.focus, .register-form-card .btn-primary:focus{box-shadow:none}
.register-form-card .btn{box-shadow:none}
.register-form-card.iniciar__sesion.registration-wrap  .btn {padding: 12px 44px 12px 44px;margin: 0 10px 35px 0;}
.success-section {float: left;width: 100%;background-color:#fff}
.success-section .footer-bottom-container {padding-top: 0px !important;}
.success-section .wizard__header-content { font-size: 21px; letter-spacing: 0px; color: #434343; font-family: "Assistant"; 
font-weight: 400; text-align: center;border-radius: 10px;margin-top: -123px;position: relative;box-shadow:0 0.125rem 0.95rem 0 rgba(58, 59, 69, 0.2) !important;background: #fff; padding: 114px 0 90px;}
.custom-success-btn{font-size: 23px; letter-spacing: 0px; line-height: 23px; color: #ffffff; font-family: "Assistant"; font-weight: 500; padding: 17px 55px; border-radius: 25px !important;margin-top:35px}
.success-content-wrap {max-width: 425px;padding-top: 15px;}
.success-section .wizard__header-content img { height: 80px; width: 150px; object-fit: contain; }
.multi-form-section{width:100%;float:left;background-color:#fff}
.multi-form-wrap { margin-top: -120px; background: #fff; position: relative; padding-top: 90px;max-width: 700px;margin:0 auto}
.multi-form-wrap h1.wizard__title { font-size: 20px; letter-spacing: 0px; color: #434343; font-family: "Assistant"; font-weight: 700; text-align: center; }
.multi-form-section .container { box-shadow: 0 0.125rem 0.95rem 0 rgba(58, 59, 69, 0.2); margin-top: -120px; background: #fff; position: relative;border-radius: 10px;}
.multi-form-section p.wizard__subheading { font-size: 20px; letter-spacing: 0px; color: #434343; font-family: "Assistant"; font-weight: 400; text-align: center; }
.multi-form-section .form-register .steps { margin-bottom: 70px; }
button.btn.btn-success.multi-form-btn { padding: 19px 59px; font-size: 25px; letter-spacing: 1px; line-height: 25px; font-weight: 500; border: 0; border-radius: 25px !important;}
.multi-form-section .wizard-v1-content .wizard-form {width: 100%;padding: 15px 25px 50px 25px;}
.multi-form-section .actions ul li.disabled{display:none}
.multi-form-section .inner .form-row .form-holder input, .inner .form-row .form-holder select{padding:4px}
.multi-form-section .wizard__header-content img { height: 60px; width: 150px; object-fit: contain; }
.custom-control.custom-radio.custom-control-inline.first-radio {margin-left: -18px;}
.actions ul li a{padding: 5px 20px;}
button.btn.btn-primary.btn-lg.reset-btn {padding:15px 25px !important;}
.position-relative.register-form-card { float: left; width: 100%; }
.footer-bottom-container {float: left;width: 100%;}
.success-section > .footer-bottom-container {width: auto;float: none;}
.footer-part i {font-style: normal;}
.success-section.page-404-content .success-content-wrap { margin: 0 auto;padding-top:0}
.success-section.page-404-content .success-content-wrap h1{font-size: 35px;letter-spacing: -1px;color: #40875a;font-weight: 700;}
.success-section.page-404-content .success-content-wrap h4 { font-size: 35px; letter-spacing: -1px; color: #55cd6c;font-weight: 300;text-transform: uppercase;padding-top: 10px;}
.success-section.page-404-content .success-content-wrap img { width: 277px; height: 246px; object-fit: contain;margin-bottom: 35px;}
.success-section.page-404-content .success-content-wrap h4{margin-bottom: 36px;}
.success-section.page-404-content .success-content-wrap { font-size: 20px; letter-spacing: 0px; color: #55cd6c;font-weight: 300; text-align: center;max-width: 445px;}
.success-section.page-404-content .wizard__header-content{border-radius:20px;padding-top:99px;margin-top: -170px;}
.success-section.page-404-content .wizard__header-content a{color: #55cd6c;text-transform:uppercase;text-decoration:underline;}
.custom-footer .footer-wrap{padding: 6px;margin:0}

.accordian-title {background-color: #fff;padding: 10px 0px;cursor: pointer; text-align: initial; font-size: initial;}
.accordian-title h2{margin:0; font-size:16px; font-weight:300; text-transform:none; line-height:26px;position:relative;transition: all 500ms ease 0s;padding-right:40px}
.accordian-title h2:after { content: ''; right: 10px;top:0; position: absolute; width: 0; height: 0; border-left: 9px solid transparent; border-right: 9px solid transparent; border-bottom: 17px solid #d7ceb5;transition:0.5s}
.accordian-title.active h2:after {transform: rotate(180deg);transition:0.5s}
.accordian {margin-bottom: 10px;}
.accordian-text p{ margin: 0 0 0px 0; line-height: 30px;color: #444343; font-size: 15px;text-align: left;padding-bottom: 10px;}
.accordian-text {display: none; text-align: initial; font-size: initial;}
.faq-section .success-content-wrap { max-width: 799px; padding-top: 15px; margin: 0 auto; }
.contact-section .success-content-wrap { max-width: 799px; padding-top: 15px; margin: 0 auto; }
.accordian-content-wrap { border: 2px solid #d7ceb5; border-bottom: 0; padding: 0 10px;}
.accordian-content-wrap:last-child { border: 2px solid #d7ceb5; }

.success-section.faq-section .wizard__header-content { padding-top: 30px; }
.success-section.faq-section .wizard__header-content h1 { font-size: 35px; letter-spacing: 1px; line-height: 57px; color:#444343; font-weight: 700;text-align:center;margin-bottom:20px}
.success-section.contact-section .wizard__header-content { padding: 0px; padding-top: 30px; }
.success-section.contact-section .wizard__header-content h1 { font-size: 35px; letter-spacing: 1px; line-height: 57px; color:#444343; font-weight: 700;text-align:center;margin-bottom:20px}
.terms-and-condition-wrap.iniciar__sesion.registration-wrap h1 { font-size: 30px; letter-spacing: -1px; color: #434343; font-family: "Assistant"; font-weight: 700; margin-bottom:35px; }
.terms-and-condition-wrap .tnc-content { font-size: 18px; letter-spacing: 0px; line-height: 37px; color: #434343; font-family: "Assistant"; font-weight: 400;    padding-bottom: 50px;}
.terms-and-condition-wrap .card img { width: 83px; height: 83px; position: fixed; right: 19%; bottom: 20%; }
.terms-and-condition-wrap.footer-bottom-container {padding-bottom: 0 !important;}
.success-section.faq-section.about-us-page-content .container {max-width: 1350px;}
.success-section.contact-section .container {max-width: 1350px;}

.about-us-wrap{display:flex;flex-wrap:wrap;}
.about-us-wrap-content { width: 60%; padding-bottom: 50px; text-align: left; font-size: 14px; letter-spacing: 0px; color: #2c2f31; font-weight: 300;padding-right: 40px;line-height: 17px;}
.about-video{width:40%;}
.about-us-page-content .success-content-wrap {max-width: 100%;padding:40px}
.contact-section .success-content-wrap {max-width: 100%; padding:40px; padding-top: 0px; padding-bottom: 0px;}
.success-section.faq-section.about-us-page-content .wizard__header-content h1 { font-size: 27px; letter-spacing: -1px; color: #40875a;font-weight: 700; text-align: left;margin-bottom: 0;}
.contact-section h2 { font-size: 27px; letter-spacing: -1px; color: #40875a;font-weight: 700; text-align: left;margin-bottom: 10px;}
.contact-section h3 { font-size: 20px; letter-spacing: 0px; color: #434343;font-weight: 700; text-align: left;margin-bottom: 0;}
.success-section.about-us-page-content .wizard__header-content img { width: 100%; height: auto; }
.about-us-page-content .video-part{padding:0}
.about-us-page-content a.full-click-wrap:before{display:none}
.about-us-page-content a.full-click-wrap img { border-radius: 0; box-shadow: none; }

.contact-section input, .contact-section textarea {text-align: left; border: none; background-color: #eee; border-radius: 0px; border-bottom: 2px solid #c4c4c4; }
.contact-section .alert.alert-danger {text-align: left; font-size: 14px !important; }
.contact-section .alert.alert-success {text-align: left; font-size: 14px !important; }

#register_form .form-control { text-align: center; }
#register_form .form-control::placeholder { text-transform: none; }
#register_form .input-group .form-control { text-align: center; padding-left: 45px; font-size: 1rem !important; color: #6e707e !important; }
#register_form .input-group-text { background-color: transparent; border: none; border-bottom: 3px solid #c1c1c1; border-radius: 0px; min-width: 40px; }
#register_form button.input-group-text:focus { outline: none; }
#register_form #cuit-error { display: none !important; }
#register_form .select2-container .select2-selection--single { height: 38px; }
#register_form .select2-container--default .select2-selection--single .select2-selection__placeholder { font-size: 16px; color: #858796; padding-left: 10px; line-height: 2; }
#register_form .select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #3e885b transparent transparent transparent; border-width: 10px 6px 0 6px; margin-left: -10px; }
#register_form .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #3e885b transparent; border-width: 0 6px 10px 6px; margin-left: -10px; }
#register_form .select2-selection { background-color: transparent !important; border: none !important; border-bottom: 3px solid #c1c1c1 !important; border-radius: 0 !important; }
.success-section .wizard__header-content.register__success { text-align: center; }
.register__success .custom-success-btn { border-radius: 20px !important; }
#register_form #mobile_prefix::placeholder { font-style: italic; }
#register_form #mobile::placeholder { font-style: italic; }
.register__section .btn-outline-primary { text-decoration: none !important; font-style: normal !important; font-size: 24px !important; line-height: 24px !important; font-weight: 500 !important; }

.desktop-menu .menu-icon-wrap{ padding: 0; border:none; height:45px; width:45px; display:flex;align-items:center; justify-content:center; background-color:#b4dcc1; left: 40px; border-radius: 50%;position:absolute; left:56px; top: 56px; }  
.desktop-menu .menu-icon-wrap.dropdown-toggle::after {display:none}
.desktop-menu .menu-icon-wrap span{ position:relative; width:25px; height:2px; background-color:#ffffff;content:''; top:0; display:block;}
.desktop-menu .menu-icon-wrap span:before{ position:absolute; width:25px; height:2px; background-color:#ffffff; content:''; top:-7px; left:0px; transition:0.5s}
.desktop-menu .menu-icon-wrap span:after{position:absolute; width:25px; height:2px; background-color:#ffffff; content:''; top:7px; left:0px; transition:0.5s}
.desktop-menu.back-btn .menu-icon-wrap span:before {width: 10px;top: -3px; left: -1px;transform: rotate(133deg);}
.desktop-menu.back-btn .menu-icon-wrap span:after {width: 10px; top: 3px; left: -1px; transform: rotate(-133deg); }
.desktop-menu.back-btn .menu-icon-wrap span{width: 22px;}


@media(max-width:1600px)
{
  .banner-form-wrap{padding-bottom:50px}
  .terms-and-condition-wrap .card img { right: 13%;}
}

@media(max-width:1440px){
  .banner-wrap {padding-top: 142px;}
  .banner-video-wrap {padding-top: 95px;} 
  .terms-and-condition-wrap .card img { right:9%;}  
  .success-section.faq-section.about-us-page-content .container{max-width:992px}
  .success-section.contact-section .container{max-width:992px}
}


@media(max-width:1311px){
.video-part h3 { line-height: 1.5em; height: 3em; width: 100%; }
 .terms-and-condition-wrap .card img { right:5%;}  
 .success-section.faq-section.about-us-page-content .container {max-width: 700px;}  
 .success-section.contact-section .container {max-width: 700px;}


}
@media(max-width:1130px){
  .banner-wrap {padding-top: 142px;padding-left: 15px; padding-right: 15px;}
  .success-section .container, .multi-form-section .container {max-width: 500px;}
  .multi-form-wrap{border-radius:10px}
  button.btn.btn-success.multi-form-btn {padding: 14px 16px;font-size: 18px;}
.success-section.page-404-content .success-content-wrap h1 { font-size: 27px; }
.success-section.page-404-content .success-content-wrap h4 { font-size: 26px; padding-top: 0; margin-bottom: 23px; }
.success-section.page-404-content .wizard__header-content { padding-top: 50px; }
.success-section.page-404-content .success-content-wrap img { height: 150px; }
.success-section.faq-section .container {max-width:950px;}
.success-section.contact-section .container {max-width:950px;}
.terms-and-condition-wrap .card img { right:2%;} 

}

@media(max-width:1200px){
.terms-and-condition-wrap .card img { right:2%;width:50px;height:50px} 

@media(max-width:1169px){
  .desktop-menu { display: none; }
  .desktop-menu.back-btn { display: none; }
}
  
@media(max-width:1024px){
  .banner-wrap h1{font-size:30px;line-height:40px}
  a.full-click-wrap img{height:225px}
  
}
@media(max-width:991px){

  .banner-form-wrap{height:100%}
  .video-part {margin-bottom: 25px;}
  .header-wrap {padding-left: 15px !important;padding-right: 15px !important;}
  .banner-wrap h1 br{display:none}
  .footer-part{width:100%;}
  footer .footer-logo-content {justify-content: center;}
  .footer-part {text-align: center;padding:5px 0}
  .success-section.faq-section .container {max-width:680px;}
  .faq-section .success-content-wrap {max-width:500px;}
  .faq-section.about-us-page-content .success-content-wrap {max-width: 100%;}
  .success-section.contact-section .container {max-width:680px;}
  .contact-section .success-content-wrap {max-width:500px;}
  .contact-section .success-content-wrap {max-width: 100%;}
  .about-us-wrap-content { width: 100%; }
  .about-video { width: 100%; }

}
@media(max-width:767px){
  .banner-content {margin-left: 0px;}
  .nav__btn.custom-btn-grp .btn {padding: 6px 17px 6px 17px;}
  .custom-btn-grp a.btn.btn-outline-primary.fill-bg{padding:6px 25px}
  .banner-wrap {padding-top: 185px; padding-left: 15px;padding-right: 15px;}
  .banner-wrap h1 { font-size: 27px; line-height: 33px; }
  .banner-btn-grp a {margin-bottom: 10px;}
  .banner-video-wrap { padding-top: 58px; }
  .comman-background{background-position: 70% 100%;}
  .banner-form-wrap{padding-bottom:20px}
  header .site-header {background-color: rgba(0, 0, 0, 1);}
  .header-wrap a img {max-width: 155px;}
  nav.my-2.my-md-0.mr-md-3 {margin: 5px 0px !important;}
  .footer-logo-content { flex-direction: column; }
  .footer-logo-content p { padding-bottom: 10px; }
  .banner-btn-grp{ margin: 0 auto;padding-top: 20px;}
  .success-section.page-404-content .wizard__header-content{margin-bottom:50px}
  .success-section.faq-section .wizard__header-content {margin-bottom: 50px;}
  .success-section.faq-section .container {max-width: 500px;}
  .faq-section .success-content-wrap {max-width: 460px;}
  .success-section.contact-section .wizard__header-content {margin-bottom: 50px;}
  .success-section.contact-section .container {max-width: 500px;}
  .contact-section .success-content-wrap {max-width: 460px;}
  .terms-and-condition-wrap.iniciar__sesion.registration-wrap .card {margin-bottom: 50px;}
  .contact-section input, .contact-section textarea { text-align: center; }
  #register_form .input-group .form-control { padding-left: 85px; }
  #register_form .input-group-text { border-bottom: 1px solid #c1c1c1; border-radius: 0px; height: 38px; min-width: 80px; }
}

@media(max-width:576px){
  .banner-video-wrap .video-part:last-child {width: 100% !important;max-width: 100%;flex: 0 0 100%;padding:0}
  header {display: none;}
  .banner-btn-grp {display: none;}
  .banner-form-wrap.comman-background {background-image: none !important;}  
  .banner-form-wrap:before {display: none;}
  .banner-wrap h1 { font-size:20px; line-height: 22px; font-weight: 900; text-align: center;font-weight: 700;}
  a.full-click-wrap i{font-size:30px}
  a.full-click-wrap img {height: 188px;}
  .banner-video-wrap .video-part:first-child { padding-left: 0; }
  .banner-video-wrap .video-part:nth-child(2) { padding-right: 0;}
  .banner-video-wrap .video-part:nth-child(2) img{object-position: right; }
  .video-part h3{height:auto;text-align: center;color: #f1605f;font-size: 16px;line-height:22px;}
  .contact-banner .mobile-heading { display: block; position: absolute; bottom: 60px; left: 0; right: 0; margin: auto;}
  .contact-banner .mobile-heading h1 { text-align: center; color: #3e885b; font-size: 24px;}
  .mobile-content{display:block;}
  .desktop-content{display:none;}
  .mobile-content{background-size:cover;background-repeat:no-repeat;background-position:center;padding-top: 75px;padding-bottom:140px;}
  .banner-content{display:none;}
  .banner-wrap {padding:0;}
  .mobile-banner-logo img { max-width: 130px; }
  .mobile-banner-logo { text-align: center;margin-bottom: 13px;}
  .banner-wrap .mobile-content h1 br{display:block;}
  .banner-video-wrap {padding-top: 10px;}
  a.full-click-wrap img{border-radius:8px;box-shadow: 0px 0px 2px 1px #79787d;}
  a.full-click-wrap:before{border-radius:8px;}
  .video-part{margin-bottom:15px}  
  .banner-form-wrap {padding-bottom:70px;}
  .mobile-footer{display:block} 
  .mobile-footer ul a {  display: inline-block;}
  .mobile-footer ul li { display: inline-block;padding:0 25px}
  .mobile-footer ul li img {max-width: 40px;}
  .mobile-footer ul { margin: 0; padding: 0px 15px; text-align: center;display:flex;justify-content:center;}
  .mobile-footer ul li:first-child a { margin-left: 0; }
  .mobile-footer ul li:last-child a { margin-right: 0; }
  .mobile-footer{border-top:1.5px solid rgba(168, 177, 171, 0.47);padding:15px 0px 15px}
  .mobile-footer { display: block; position: fixed; bottom: 0; background:#fafafa; width: 100%;z-index:9;}
  a.full-click-wrap:before{background: rgba(0, 0, 0, 0.6);}
  .fl-fl.float-wa {display: none;}
  .banner-video-wrap .video-part:last-child h3 {font-size: 16px;}
  .mobile-menu { z-index: 1; position: relative; }
  .mobile-menu .menu-icon-wrap{padding: 0; border:none;height:45px;width:45px;display:flex;align-items:center;justify-content:center;background-color:#b4dcc1;left: 40px;border-radius: 50%;position:absolute;left:40px}  
  .mobile-menu .menu-icon-wrap.dropdown-toggle::after {display:none}
  .mobile-menu .dropdown-menu{width: calc(100vw - 60px)}
  .mobile-menu .dropdown-menu .dropdown-item img{width: 20px; margin-right: 5px;}
  .mobile-menu .menu-icon-wrap span{position:relative;width:25px;height:2px;background-color:#ffffff;content:'';top:0;display:block;}
  .mobile-menu .menu-icon-wrap span:before{position:absolute;width:25px;height:2px;background-color:#ffffff;content:'';top:-7px;left:0px;transition:0.5s}
  .mobile-menu .menu-icon-wrap span:after{position:absolute;width:25px;height:2px;background-color:#ffffff;content:'';top:7px;left:0px;transition:0.5s}
  .banner-form-wrap.login-banner.header_bg {background: none;padding-bottom: 0;}
  .banner-form-wrap.login-banner.header_bg .mobile-menu .menu-icon-wrap {display: none;}
  .banner-form-wrap.contact-banner.header_bg {background: #e1f1e6; padding-bottom: 0;}
  .banner-form-wrap.contact-banner.header_bg .mobile-menu .menu-icon-wrap {display: none;}
  .position-relative.login-form.iniciar__sesion {position: unset !important;top: 0;}
  .position-relative.login-form{float:left;width:100%}
  .login-banner .mobile-content h1 { display: none;}
  .login-banner .mobile-content{padding:45px 0px 200px;margin-bottom:100px}
  .login-banner .mobile-banner-logo {position: relative;top: 60px;}
  .contact-banner .mobile-content{padding:45px 0px 200px;margin-bottom:100px}
  .contact-banner .mobile-banner-logo {position: relative;top: 60px;}
  .login-form .card.shadow-sm {width: auto;margin: 0 25px;box-shadow: 0 0rem 0.4rem 0 rgba(58, 59, 69, 0.3) !important;}
  .login-form.iniciar__sesion h1 {margin-bottom: 8px;font-size: 18px;}   
  .form-group.form-check label {margin-bottom: 0;}   
  .login-form .form-group.form-check.registration-link{font-size:15px;line-height:25px;margin-top: 0;}
  .login-form.iniciar__sesion .form-group.registration-link a {font-size: 15px;}
  .login-form.iniciar__sesion .form-group{margin-bottom:0}
  .login-form a.btn.btn-outline-primary.btn-lg, .login-form .btn.btn-primary.btn-lg {width: 126px;font-size: 15px;font-weight: 600;border-radius: 13px !important;}
  .login-form.iniciar__sesion .card {border-radius: 15px;}
  .register-cards .registration-card-custom {max-width: 50%;flex: 0 0 50%;}
  .register-cards.cutom__card__rig .card h2 {font-size: 13px;line-height:16px;}
  .register-cards.cutom__card__rig .card h1 {font-size: 17px;text-transform: uppercase;letter-spacing: -0.5px;}
  .register-cards cutom__card__rig .card-body img { height: 50px; width: auto;}
  .registration-card-wrap {padding: 135px 15px 0 15px;}
  .register-cards.cutom__card__rig .card h1{padding-top: 10px; margin-bottom: 5px;}
  .register-cards.cutom__card__rig .card-body img { height: 65px; width: auto; }
  .register-cards.cutom__card__rig .card-body {padding: 25px;}
  .register-cards .registration-card-custom { max-width: calc(50% - 16px); flex: 0 0 50%; padding: 0; margin: 0 8px; background: #d8edde; border-radius: 15px; box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important; }
  .register-cards .shadow-sm { box-shadow: none !important;}
  .register-form-card a.btn.btn-outline-primary.btn-lg, .btn.btn-primary.btn-lg { width: 140px; font-size: 15px; font-weight: 600; border-radius: 13px !important; }
  .register-form-card.iniciar__sesion{position:unset !important;background: #e8f4ec;}
  .banner-form-wrap.login-banner.register-form.header_bg {background: #e8f4ec;}
  .register-form-card.iniciar__sesion.registration-wrap .card{background: #e8f4ec;    box-shadow: none !important;border: 0;}
  .register-form-card.iniciar__sesion .form-control{background-color: #e8f4ec;}
  .footer-bottom-container {padding-bottom: 0px !important;}
  .banner-form-wrap.login-banner.register-form.header_bg .mobile-menu .menu-icon-wrap{display:flex;margin-top: 50px;}
   
  .banner-form-wrap.login-banner.header_bg .mobile-menu .menu-icon-wrap{display:flex;margin-top: 50px;}
  .banner-form-wrap.contact-banner.header_bg .mobile-menu .menu-icon-wrap{display:flex;margin-top: 50px;}
  .mobile-menu.back-btn .menu-icon-wrap span:before {width: 10px;top: -3px; left: -1px;transform: rotate(133deg);}
  .mobile-menu.back-btn .menu-icon-wrap span:after {width: 10px; top: 3px; left: -1px; transform: rotate(-133deg); }
  .mobile-menu.back-btn .menu-icon-wrap span{width: 22px;}

  .login-banner.register-form .mobile-content{margin-bottom:30px}
  .register-form-card .card-body.text-center {max-width: 348px;margin: 0 auto;}
   .register-form-card  img.registeration_icon{max-height: 62px;}
  .register-form-card.iniciar__sesion.registration-wrap h1 {font-size: 17px;margin-top: 3px;}
  .custom-checkbox.text-left.custom-checkbox-select label{line-height:5px; vertical-align: unset;}
  .success-section{background-color: #e1f1e6;}
  .success-section .wizard__header-content {margin-top:-50px;padding: 50px 15px;font-size: 14px;line-height: 22px;}
  .success-section .container {max-width: 320px;}
  .success-section .wizard__header-content img {height: 50px;width: 140px;}
  .custom-success-btn {font-size: 18px;padding: 13px 44px;}
  .success-content-wrap{padding-top:0}
  .custom-success-btn{margin-top:12px}
  .multi-form-section .container{margin-top:-60px}
  .form-register .steps li::before{left:12px !important}
  .multi-form-section .container {box-shadow: none;}
  .multi-form-section, .multi-form-wrap{background: #e1f1e6}
  .multi-form-wrap{margin-top:0;padding-top:0}
  .multi-form-section .wizard__header-content img {height: 40PX;}
  .multi-form-wrap h1.wizard__title { font-size: 15px;}
  .multi-form-section p.wizard__subheading {font-size: 14px;padding:0}
  .multi-form-section .form-register .steps {margin-bottom: 0;}  
  .multi-form-section .wizard__header-content {margin-bottom: 20px;}
  button.btn.btn-success.multi-form-btn { padding: 10px 35px; font-size: 18px; border-radius: 15px !important; }
  ul li.active a img { -webkit-filter: invert(30%) grayscale(100%) brightness(70%) contrast(4); filter: invert(30%) grayscale(100%) brightness(70%) contrast(4); }
  .multi-form-section  .actions ul li{height: 28px;width: 28px;}
  .multi-form-section  .actions ul li a i {font-size: 21px;}
  .multi-form-section .custom-control.custom-radio.custom-control-inline.first-radio { width: 100%; margin: 0; padding: 0; }
  .multi-form-section .custom-control.custom-radio.custom-control-inline.first-radio + div { width: 100%; margin: 0; padding: 0; }
  .multi-form-section .custom-control.custom-radio.custom-control-inline.first-radio {margin-top: 40px;}
  .multi-form-section .custom-checkbox .custom-control-label:before{border-color: #b3dcc0;}
  .mobile-footer li.active a { height: 60px; width: 60px; border: 1px solid #c7c5c5; border-radius: 100%; display: flex; align-items: center; justify-content: center; }
  .mobile-footer li.active {position: relative;margin-top:-24px}
  .mobile-footer li.active:before { z-index: -1; position: absolute; background-image: url("../images/bottom_navigation.png"); content: ''; background-size: contain; height: 20px; width: 75px; background-repeat: no-repeat; left: 54%; transform: translate(-50%); top: -10px; }
  .mobile-footer li.active span { position: absolute; bottom: -14px; font-size: 12px; color: #000; background: #fafafa; font-weight: 700; letter-spacing: -1px; left: 50%; transform: translate(-50%);width:150px}  
  .mobile-footer li span { display: none; }
  .mobile-footer li.active span { display: block; }
  span.custom-control.custom-checkbox.gps_checkbox.custom-control-label-checkbox-wrap { padding-left: 0; }
  label.custom-control-label.custom-control-label-checkbox { padding-left: 0; }
  section.position-relative.terms-and-condition-wrap {top: -50px;}
  .terms-and-condition-wrap .my-1 {display: none;}
  .terms-and-condition-wrap .shadow-sm {box-shadow: none !important;}
  .reset_password_wrap{width:100%;float:left;}
  .reset_password_wrap.iniciar__sesion {top: -60px;}
  .reset_password_wrap .reset-btn{width:210px !important}
  button.btn.btn-primary.btn-lg.reset-btn {padding: 10px 12px !important;}
  .custom-login-pb {padding-bottom:60px !important;}
  .footer-wrap.row {padding-bottom: 84px; margin: 0;}
  .footer-part {padding: 0;}
  .custom-footer{position:unset !important;}
  footer p.mobile-none { display: none; }
  footer i { display: none; }
  .success-section.page-404-content .wizard__header-content{margin-top:-80px;box-shadow: none !important;line-height:26px;}
 .success-section.page-404-content {background: none;}
  .success-section.page-404-content .wizard__header-content {margin-bottom: 0;}
  .success-section.faq-section .container {max-width: 390px;}
  .success-section.faq-section {background-color: #ffffff;}
  .success-section.contact-section .container {max-width: 390px;}
  .success-section.contact-section {background-color: #e1f1e6;}
  .accordian-text p { margin: 0 0 0px 0; line-height: 26px; color: #444343; font-size: 14px;}
  .accordian-title.active h2 { font-size: 14px; line-height: 24px; }
  .accordian-title h2 { font-size: 14px; line-height: 21px; }
  .success-section.faq-section .wizard__header-content {padding-top: 0px;}
  .success-section.faq-section .wizard__header-content h1 {font-size: 30px;line-height: 40px;}
  .success-section.faq-section .wizard__header-content { padding-top: 15px; }
  .contact-section .wizard__header-content {padding-top: 10px;}
  .contact-section .wizard__header-content h2 {font-size: 24px; line-height: 40px; text-align: center;}
  .contact-section .wizard__header-content h3 {font-size: 14px; text-align: center;}
  .terms-and-condition-wrap.iniciar__sesion.registration-wrap .card{border:0px;}
  section.position-relative.terms-and-condition-wrap {top:0px;margin-top:-93px}
  .terms-and-condition-wrap.iniciar__sesion.registration-wrap h1 {font-size: 22px;margin-bottom:25px}
  .terms-and-condition-wrap .tnc-content { font-size: 16px; letter-spacing: 0px; line-height: 30px;}
  .banner-form-wrap.login-banner.header_bg.term-con-section { background: #e8f4ec; }
  section.position-relative.terms-and-condition-wrap { background: #e8f4ec;padding-top: 0 !important;}
  section.position-relative.terms-and-condition-wrap .card { background: #e8f4ec; }
  .terms-and-condition-wrap.iniciar__sesion.registration-wrap .card {margin-bottom: 23px;}
  .terms-and-condition-wrap .tnc-content {padding-bottom: 0;}
  .youtube-homepage-iframe { width: 100%; }
  .login-banner.about-us-page-banner .mobile-content h1 { color: #ffff; font-size: 21px; text-align: center; padding-top: 50px; }
  .login-banner.about-us-page-banner .mobile-content { padding: 21px 0px 66px; }
  .login-banner.about-us-page-banner  .mobile-content h1{padding-top:60px;display:block;}
  .about-us-page-content .success-content-wrap{padding:15px;}
  .success-section.about-us-page-content .wizard__header-content {box-shadow: none !important;}
  .success-section.faq-section.about-us-page-content .wizard__header-content h1 {font-size: 21px;}
  .success-section.contact-section.about-us-page-content .wizard__header-content h1 {font-size: 21px;}
  .about-us-wrap-content {line-height: 21px;}
  .success-section.faq-section.about-us-page-content .wizard__header-content{margin-bottom:0}
  .success-section.contact-section.about-us-page-content .wizard__header-content{margin-bottom:0}
  .about-us-wrap-content{padding-right:0px;padding-bottom: 30px;}
  .success-section.faq-section.about-us-page-content { margin-top: -50px;}
  .success-section.contact-section.about-us-page-content { margin-top: -50px;}
  .success-section .wizard__header-content.register__success { background: transparent; box-shadow: none !important; }
  #register_form .select2-selection { border-bottom: 1px solid #c1c1c1 !important; }
}

@media(max-width:480px){
  .mobile-content{padding-bottom:60px;}
  .video-part h3{font-size: 13px;line-height: 16px;}
  .login-banner .mobile-content {padding: 45px 0px 150px;margin-bottom: 100px;}
}
@media(max-width:414px){
   .login-banner .mobile-content {padding:21px 0px 116px;}
   button.btn.btn-success.multi-form-btn {padding: 10px 18px;font-size: 18px;}
  .login-banner.about-us-page-banner .mobile-content h1 {padding-left: 5px;padding-right: 5px;}
}

@media(max-width:410px){
 .success-section.faq-section .container {max-width:350px;}
 .success-section.contact-section .container {max-width:350px;}
}

@media(max-width:374px){
  .login-form .card-body {padding: 10px;}
  .login-form .card.shadow-sm{margin:0}
  .register-cards.cutom__card__rig .card-body {padding: 10px;}
  .registration-card-wrap {padding: 135px 4px 0 4px;}
  .register-form-card .card-body.text-center{padding:10px}
  .success-section .container {max-width: 290px;}
  .mobile-menu .menu-icon-wrap{left: 22px;}
  .success-section.faq-section .container {max-width: 297px;}
  .success-section.contact-section .container {max-width: 297px;}
}

@media(max-width:320px){
.header-wrap { text-align: center; }
.register-form-card.iniciar__sesion.registration-wrap .btn{margin: 0 3px 33px 0;}
.register-form-card a.btn.btn-outline-primary.btn-lg, .btn.btn-primary.btn-lg { width: 131px;}
.mobile-footer ul li {padding: 0 22px;}
button.btn.btn-success.multi-form-btn{padding: 10px 20px;font-size: 16px;}

}

@media screen and (max-width: 455px){ #rc-imageselect, .g-recaptcha { transform:scale(0.71); -webkit-transform:scale(0.71); transform-origin:0 0; -webkit-transform-origin:0 0; }}

.release-page { background-color: #e5e5e5; }
@media screen and (max-width: 767px) {
  .release-page header { display: block; }
  .release-page header .site-header {background-color: rgba(0, 0, 0, 0.7); }
}
.release-page .content.container-fluid { margin-top: 85px; }
@media screen and (max-width: 767px) { .release-page .content.container-fluid { margin-top: 120px; } }
.release-page a.go-to-home { color: #595959; }
.release-page a.go-to-home:hover { text-decoration: none; }
.release-page .release-notes-card { min-height: 748px; -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1); border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
.release-page h1 { font-size: 2rem; margin-bottom: 1.5rem; margin-top: 0; }
.release-page h2 { font-weight: normal; font-size: 2.5rem; }
.release-page h3 { font-weight: 600; font-size: 1.5rem; margin-bottom: 1.5rem; }
.release-page #versionTabContent p { font-weight: bold; text-align: justify; }
.release-page #accordion .card { border-left: none; border-right: none; border-top: none; border-radius: 0px; }
.release-page #accordion .card:first-child { border-top: 1px solid #e3e6f0; }
.release-page #accordion .card .card-header { background: #fff; border-radius: 0px; border: none; }
.release-page #accordion .card .card-header[aria-expanded=true] { background: #efeeef; }
.release-page #accordion .card .card-header h5 { font-weight: 400; }
.release-page #accordion .card .card-body .nav-tabs { border: none; }
.release-page #accordion .card .card-body .nav-tabs a { color: #434343; font-weight: bold; border: none; }
.release-page #accordion .card .card-body .nav-tabs a.active { color: #40875b; }
.faq-section .accordian-title strong { font-weight: 700; color: #000; }