body {
	margin:  0;
	    background: #e1f1e6;
}
.page-content {
	width: 100%;
	margin:  0 auto;

}

.wizard-v1-content .wizard-form {
	width: 100%;
	padding: 15px 25px;
}
.wizard-form .wizard-header h3 {
	color: #333;
	font-size: 36px;
	font-weight: 800;
	margin: 0;
}
.wizard-form .wizard-header p {
	color: #666;
	font-size: 16px;
	font-weight: 600;
	margin: 6px 0 26px;
}
.form-register .steps {
	margin-bottom: 33px;
}
.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    list-style: none;
   
}
.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    position: relative;
    padding-bottom: 3px;
    padding-top: 0;
    display: flex;
    width: 100%;
    
}
.form-register .steps li:last-child {
	padding-right: 0;
}
.form-register .steps li .current-info {
	display: none;
}
.form-register .steps li::before {
	position: absolute;
    content: "";
    background: #b3dcc0;
    width: 100%;
    height: 3px;
    top: 48%;
    left: 5%;
}
::-webkit-input-placeholder {
    color: #00FF7F;
      background: transparent;
}
input-placeholder {
    color: #00FF7F;
      background: transparent;
}
.form-control:focus {
    color: none;
    background-color: none;
    border-color: none;
    outline: none;
    box-shadow: none;
}
.error{
  padding-top: 10px;
 	font-size:14px;
 	width: 100%;
  
    color: red !important; 
 	}
 	.error:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
 clip: auto;
    animation: auto;
}
.form-register .steps li:last-child::before {
	content: none;
}
/*.form-register .steps li.current::after {
	position: absolute;
	content: "";
	width: 45px;
	height: 3px;
	background: #ccc;
	top: 100%;
	left: 25%;
}*/
.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a .title {
	text-align: center;
}
.form-register .steps li a .title span {
	display: block;
	font-size: 16px;
}
.form-register .steps li a .title .step-icon {    
   font-size: 1.3rem;
    color: #676767;
    background: #b3dcc0;
    font-weight: 800;
    width: 35px;
    height: 35px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    transition: opacity .5s;
    opacity: 1;
    z-index: 5;
    position: relative
;}
.form-register .steps li a .step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.wizard__header-content{
	display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    margin-bottom: 26px;
}
.wizard__header-content img{
height: 60px;
}
.wizard__title {
    font-size: 22px;
    line-height: 2rem;
    font-weight: bold;
    margin: 0;
    color: #434343;
}
.wizard__subheading {
    margin: 0;
    font-size: 22px;
    font-weight: 100;
    color: #434343;
}


.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon,
.form-register .steps .done::before,
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
    background: #3e885b;
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon {
	box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    background: #3e885b;
}
.form-register .steps li a .step-number {
	color: #666;
	font-weight: 400;
    padding: 17px 0 8px;
}
.form-register .steps li a .step-text {
	color: #333;
	font-weight: 600;
	padding-bottom: 8px;
}
.form-register .content h2 {
	display: none;
}
.inner .form-row {
    display: flex;
    margin: 0 -13px;
    position: relative;
}
.inner .form-row.form-row-2 {
	width: 80.6%;
}
.inner .form-row .form-holder {
    width: 50%;
    padding: 0 13px;
    margin-bottom: 10px;
    position: relative;
}
.inner .form-row .form-holder.form-holder-2 {
	width: 100%;
	position: relative;
}
.inner .form-row .form-holder.form-holder-3 {
    width: 100%;
}
.inner .form-row .form-holder label {
	font-size: 16px;
	font-weight: 500;
	color: #c3c3c3;
	padding-bottom: 11px;
	display: block;
}
.inner .form-row .form-holder input,
.inner .form-row .form-holder select {
    width: 100%;
    padding: 13px 25px;
    border: none;
    border-bottom:3px solid #c1c1c1;
    border-radius: 0px;
        background-color: transparent;
}

.inner .form-row .form-holder input::placeholder {
    color: #c1c1c1;
    font-size: 15px;
}
.inner .form-row .form-holder input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #c1c1c1;;
   font-size: 15px;
}
.inner .form-row .form-holder input::-ms-input-placeholder { /* Microsoft Edge */
   color: #c1c1c1;
   font-size: 15px;
}
.inner .form-row .form-holder select option {
	background: #fff;
	color: #000;
}
.inner .form-row .form-holder.form-holder-2 .select-btn {
    top: 27%;
    right: 6.5%;
}
.inner .form-row .form-holder .ui-datepicker-trigger {
    background: transparent;
    border: none;
    color: #666;
    font-size: 19px;
    position: absolute;
    cursor: pointer;
    right: 10.5%;
    top: 27.5%;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.inner h3 {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin: 0 0 11px;
}
.inner .form-row.table-responsive {
    border: none;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 24px 26px 31px;
    margin:  0;
    margin-bottom: 22px;
    background: #2f8be0;
}
.inner .table-responsive .table {
	width: 100%;
}
.inner .table-responsive tbody {
	text-align: left;
}
.inner .table-responsive tr.space-row > td,
.inner .table-responsive tr.space-row > th {
	padding-bottom: 18px;
}
.inner .table-responsive tbody th {
	color: rgba(255,255,255,0.6);
	font-size: 16px;
	font-weight: 400;
}
.inner .table-responsive tbody td {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.actions ul {
	list-style: none;
	padding-left: 0;
    margin: 15px 0 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions ul li:first-child {
  margin-right: 30px;
}
.actions ul li.disabled {
	opacity: 0;
}
.actions ul li {
	padding: 0;
    border: none;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    display: inline-flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #3e885b;
  
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.actions ul li:hover {
	background: #3e885b;
}
.actions ul li a {
	color: #fff;
	text-decoration: none;
    padding: 5px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions ul li a i {
	font-size: 25px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.wizard-v1-content {
		margin: 0px 0px;
	}
	.form-register .content {
	    padding: 32px 75px 23px 75px;
	}
}
}
@media screen and (max-width: 991px) {
	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
	.inner .form-row.form-row-2 {
		width: 100%;
	}
	.inner .form-row .form-holder {
		padding: 0;
		width: 100%;
	}
	.inner .form-row .form-holder .ui-datepicker-trigger {
		right:  5%;
	}
	.inner .form-row .form-holder .select-btn {
		right: 6%;
	}
}
@media screen and (max-width: 767px){
.form-register .steps li a .title .step-icon { 
    width: 25px;
    height: 25px;  
}
}
@media screen and (max-width: 575px) {
    .form-register .steps li a .title .step-icon { 
    width: 25px;
    height: 25px;  
}
	.wizard-v1-content .wizard-form {	   
	    width: 100%;
	}
    .wizard-v1-content .wizard-form{
        padding: 0px 0px;
        width: 100%;
display: flex;
justify-content: center;
align-items: center;
    }
	.form-register .content {
	    padding: 32px 30px 0px 30px;
	}
	.form-register .steps li, .form-register .steps li.current {
		padding-right: 5px;
	}
	.form-register .steps li::before {
		width: 100%;
        top: 40%;
        left: 60%;
	}
    .form-register .steps ul{
      width: 100%;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
right: 0;
left: 0;
margin-left: -20px;
    }
	.form-register .steps li.current::after {
		left: 28%;
	}
	.inner .form-row .form-holder .ui-datepicker-trigger {
		right: 0;
	}
	.inner .form-row .form-holder .select-btn {
		right: 6.5%;
	}
	.inner .table-responsive tr.space-row,
	.inner .table-responsive tbody th {
	    display: block;
	}
	.inner .table-responsive tr.space-row > th {
		padding-bottom: 10px;
	}
	.inner .table-responsive tr.space-row > td {
		padding-bottom: 30px;
	}
	
} 

.gps_checkbox .custom-control-input:checked ~ .custom-control-label::before
{
  background-color: #3e885b;
  border-color: #3e885b;
}

.custom-control-input:checked ~ .custom-control-label::before
{
  background-color: #3e885b;
  border-color: #3e885b;
}

.gps_checkbox .custom-control-label::before
{
  position: relative;
  top: 2px;
  left: -3px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.gps_checkbox .custom-control-label::after
{
  content: none;
}

.map_checkbox .custom-control-input:checked ~ .custom-control-label::before
{
  background-color: #3e885b;
  border-color: #3e885b;
}

.custom-control-input:checked ~ .custom-control-label::before
{
  background-color: #3e885b;
  border-color: #3e885b;
}

.map_checkbox .custom-control-label::before
{
  position: relative;
  top: 2px;
  left: -3px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.map_checkbox .custom-control-label::after
{
  content: none;
}